<main class="dialog-wrapper" *ngIf="(auth.user | async) as user">
  <div class="close-section mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> Back
    </button>
  </div>
  
  <form [formGroup]="appointmentForm">
    <h3>{{ 'pages.booking.form.plan_appointment' | translate }}
      <ng-container *ngIf="!user.roles.admin || !user.roles.specialist">
        {{ 'global.words.with' | translate }} {{data.specialist.firstName}}
      </ng-container>
    </h3>
    <p class="card-text">
      {{ 'pages.booking.form.suitable_time' | translate }}
    </p>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>{{ 'pages.booking.form.describe_meeting' | translate }}</mat-label>
      <input type="text" matInput formControlName="eventTitle" placeholder="Write a title" />
      <mat-error class="input-error" *ngIf="!appointmentForm['controls'].eventTitle.dirty && appointmentForm['controls'].eventTitle.touched">
        {{ 'global.errors.required' | translate }}
      </mat-error>
    </mat-form-field>


    <div class="chip-area"  *ngIf="user.roles.specialist || user.roles.admin">
      <p class="secondary-chip">
        <i class="fa__icon fas fa-user-tie"></i>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-select matInput formControlName="clientID" autocomplete="off"
            placeholder="{{ 'pages.booking.form.pick_user' | translate }}"  
            panelClass="dropdown-regular">
            <mat-option *ngFor="let client of clients" [value]="client.uid">{{client.displayName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p class="secondary-chip" *ngIf="user.roles.admin">
        <i class="fa__icon fas fa-user-ninja"></i>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-select matInput autocomplete="off" panelClass="dropdown-regular"
            placeholder="{{ 'pages.booking.form.pick_specialist' | translate }}"
            formControlName="specialistID">
            <mat-option *ngFor="let specialist of specialists" [value]="specialist.specialistID">
              {{specialist.firstName}} {{specialist.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>

    <div class="color-pickers" *ngIf="user.roles.specialist || user.roles.admin">
      <mat-form-field appearance="standard" floatLabel="always" class="color-picker-field" *ngIf="standardColorPrimary">
        <mat-label>{{ 'pages.booking.form.pick_primary_color' | translate }}</mat-label>
        <input
          matInput
          type="color"
          formControlName="selectedColorPrimary"
          [(value)]="standardColorPrimary"
        />
      </mat-form-field>
      <mat-form-field appearance="standard" floatLabel="always" class="color-picker-field" *ngIf="standardColorSecondary">
        <mat-label>{{ 'pages.booking.form.pick_secondary_color' | translate }}</mat-label>
        <input
          matInput
          type="color"
          formControlName="selectedColorSecondary"
          [(value)]="standardColorSecondary"
        />
      </mat-form-field>
    </div>

    <div class="add-date-time-container start-date">
      <h5>
        {{ 'pages.booking.form.start_date_time' | translate }}
      </h5>

      <div class="content-container" [class.no-date]="!hasStartDate">
        <mat-form-field class="date-picker" appearance="standard" floatLabel="always"
          *ngIf="!hasStartDate">
          <mat-label>{{ 'global.form.pick_date' | translate }}</mat-label>
          <input matInput formControlName="startTime" [matDatepicker]="datePickerOne"
          placeholder="MM/DD/YYYY (eg. 26/03/2019)">
          <mat-datepicker-toggle [for]="datePickerOne"></mat-datepicker-toggle>
          <mat-datepicker #datePickerOne></mat-datepicker>
        </mat-form-field>

        <h3 class="date" *ngIf="hasStartDate">
          <ng-container *ngIf="start">
            {{ start.startDay }} {{ start.startMonth }} {{ start.startYear }}
          </ng-container>
        </h3>

        <div class="time" *ngIf="!hasStartDate">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'events.hour' | translate }}</mat-label>
            <input type="number" matInput formControlName="startHour" placeholder="06" />
          </mat-form-field>
          <span class="not-mobile">:</span>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'events.minutes' | translate }}</mat-label>
            <input type="number" matInput formControlName="startMinutes" placeholder="30" />
          </mat-form-field>
        </div>

        <h3 class="date" *ngIf="hasStartDate">
          <i class="fa__icon far fa-clock"></i>
          <ng-container *ngIf="start">
            {{ start.startHours }} {{ start.startMinutes }}
          </ng-container>
        </h3>
      </div>
    </div>

    <div class="add-date-time-container" *ngIf="user.roles.admin ||  user.roles.specialist">
      <h5>{{ 'pages.booking.form.end_date_time' | translate }}</h5>

      <div class="content-container" [class.no-date]="!hasEndDate">
        <mat-form-field class="date-picker" appearance="standard" floatLabel="always" *ngIf="!hasEndDate">
          <mat-label>{{ 'global.form.pick_date' | translate }}</mat-label>
          <input matInput formControlName="startTime" [matDatepicker]="datePickerOne"
          placeholder="MM/DD/YYYY (eg. 26/03/2019)">
          <mat-datepicker-toggle [for]="datePickerOne"></mat-datepicker-toggle>
          <mat-datepicker #datePickerOne></mat-datepicker>
        </mat-form-field>

        <h3 class="date" *ngIf="hasEndDate">
          <ng-container *ngIf="end">{{ end.endDay }} {{ end.endMonth }} {{ end.endYear }}</ng-container>
        </h3>

        <div class="time" *ngIf="!hasEndDate">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'events.hour' | translate }}</mat-label>
            <input type="number" matInput formControlName="startHour" placeholder="06" />
          </mat-form-field>
          <span class="not-mobile">:</span>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'events.minutes' | translate }}</mat-label>
            <input type="number" matInput formControlName="startMinutes" placeholder="30" />
          </mat-form-field>
        </div>

        <h3 class="date" *ngIf="hasEndDate">
          <i class="fa__icon far fa-clock"></i>
          <ng-container *ngIf="end">{{ end.endHours }} {{ end.endMinutes }}</ng-container>
        </h3>

      </div>

    </div>

    <div class="add-date-time-container" *ngIf="user.roles.client && !user.roles.specialist && !user.roles.admin ">
      <h5>{{ 'pages.booking.form.end_date_time' | translate }}</h5>

      <div class="content-container">

        <h3 class="date" *ngIf="hasEndDate">
          {{ end.endDay }} {{ end.endMonth }} {{ end.endYear }}
        </h3>
        <h3 class="date" *ngIf="hasEndDate">
          <i class="fa__icon far fa-clock"></i>
          {{ end.endHours }} {{ end.endMinutes }}
        </h3>
      </div>
    </div>

    <div class="meeting-place-picker">
      <h5>{{ 'pages.booking.form.taking_place_how' | translate }}</h5>
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-select matInput placeholder="{{ 'pages.booking.form.online_real' | translate }}"
        (selectionChange)="toggleContext()" formControlName="appointmentContext" autocomplete="off" 
        panelClass="dropdown-regular" required>
          <mat-option value="faceToFace">
            {{ 'pages.booking.f2f.title' | translate }}
          </mat-option>
          <mat-option value="onlineAppointment">
            {{ 'pages.booking.online.title' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ng-container *ngIf="faceToFace | async">
      <div class="location-card">
        <img src="./../../../../assets/img/icons/maps.svg">
        <div class="address">
          <h3>Jirón Arturo García Salazar 306</h3>
          <p>Santiago de Surco. Lima, Perú</p>
        </div>
        <a class="text-link" href="https://goo.gl/maps/uDT69eiTkWytHyfa8" target="_blank">
          <span class="not-mobile">
            {{ 'pages.booking.buttons.open_in_maps' | translate }}
          </span>
          <i class="mobile fas fa-external-link-alt"></i>
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="onlineAppointment | async">
      <div class="meeting-place-picker">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-select matInput placeholder="How would you like to be contacted?"
          (selectionChange)="toggleContactMethod()" formControlName="contactMethod"
            autocomplete="off" panelClass="dropdown-regular" required>
            <mat-option value="whatsApp"><i class="fa__icon fab fa-whatsapp"></i> 
              {{ 'global.social.whatsapp' | translate }}</mat-option>
            <mat-option value="skype"><i class="fa__icon fab fa-skype"></i> 
              {{ 'global.social.skype' | translate }}</mat-option>
            <mat-option value="phone"><i class="fa__icon fas fa-phone"></i> 
              {{ 'pages.booking.signup.only_peru_phone' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <ng-container *ngIf="whatsApp | async">
        <div class="multiple-input online-phone">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Code</mat-label>
            <mat-select matInput placeholder="+1"
            panelClass="dropdown-area-code" formControlName="wappAreaCode" autocomplete="off" required>
              <mat-option *ngFor="let code of areaCodes" value="{{code.dial_code}}" class="dial-code">
                <img 
                src="./../../../../assets/img/icons/flags/{{code.name.toString().split(' ').join('-').replace(',', '').split('.').join('').split('(').join('').split(')').join('').toLowerCase() }}.svg">
                <div class="country-content">
                  <span class="country-content__title">{{code.name}}</span>
                  <span class="country-content__code">{{code.dial_code}}</span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.form.phone_number' | translate }}</mat-label>
            <input type="number" formControlName="wappRest" matInput
              placeholder="123456789" autocomplete="off" >
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container *ngIf="skype | async">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.booking.form.skype_name' | translate }}</mat-label>
          <input type="text" matInput formControlName="skypeName"
            placeholder="{{ 'pages.booking.online.skype_name' | translate }}" />
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="onlinePhone | async">
        <div class="multiple-input">
          <mat-form-field class="fixed-value" appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.form.area_code' | translate }}</mat-label>
            <input type="text" matInput formControlName="phoneAreaCode" [value]="'+51'" readonly
              autofocus="off" autocomplete="off" maxlength="3">
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.form.phone_number' | translate }}</mat-label>
            <input type="number" formControlName="phoneRest" matInput
              placeholder="123456789" autocomplete="off" >
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>

  </form>

  <section class="btn-area-one">
    <button type="submit" class="dialog-button" (click)="getSpecialist()"
    [disabled]="addButtonDisabled()"
    [class.disabled]="addButtonDisabled()"
    [mat-dialog-close]="appointmentForm.valid ? true : false">
      {{ 'global.buttons.done' | translate }}
    </button>
  </section>
</main>
