<div class="thread-container">
  <div>
      <section class="photo-container">
        <!-- <div class="photo" [style.backgroundImage]="'url('+ thread.avatar +')'"></div> -->
        <img class="photo" *ngIf="isCreator" matListAvatar [src]="thread.creator.creatorPhoto || '//:0'">
        <img class="photo" *ngIf="!isCreator" matListAvatar [src]="thread.target.targetPhoto || '//:0'">
      </section>
      <section class="thread-info">
        <h5 *ngIf="isCreator">{{thread.creator.creatorName}}</h5>
        <h5 *ngIf="!isCreator">{{thread.target.targetName}}</h5>
        <p class="card-text">{{thread.lastMessage}}</p>
      </section>
      
      <!-- <p mat-line>{{thread.lastMessage}}</p> -->
      <!-- <button mat-icon-button (click)="delete(thread.id)">
        <mat-icon>delete</mat-icon>
      </button> -->
    
  </div>
</div>