<mat-card class="dropzone upload-image-card form-card"
  appDropZone
  (hovered)="toggleHover($event)"
  (dropped)="startUpload($event)"
  [class.hovering]="isHovering"
>
  <div class="file">
    <label class="file-label">
      <input type="file" (change)="startUpload($event.target.files)">

      <div class="file-cta">
        <span class="file-icon">
          <i class="fa__icon fas fa-edit"></i>
        </span>
        <span class="file-label text-link">
          <ng-container *ngIf="!downloadURL && !isLoading">
            {{ 'file_upload.edit_photo' | translate }}
          </ng-container>
          <ng-container *ngIf="downloadURL && !isLoading">
            {{ 'file_upload.choose_another' | translate }}
          </ng-container>
          <ng-container *ngIf="isLoading">
            {{ 'file_upload.uploading' | translate }}
          </ng-container>
        </span>
      </div>
    </label>
  </div>
</mat-card>
