<mat-card class="list-item-card" *ngIf="!detailOpen && client">
  <section class="profile-photo" *ngIf="client.photoURL" [style.backgroundImage]="'url('+ client.photoURL +')'">
  </section>
  <section class="profile-photo no-photo" *ngIf="!client.photoURL">
    <p>
      <i class="far fa-sad-cry"></i> <br>
      No Photo Yet
    </p>
  </section>
  <section class="middle">
    <div class="title">
        <h2>{{client.displayName}}</h2>
        <div class="dividing-circle"></div>
        <p class="location" *ngIf="client.basicData">{{client.basicData.country}} - 
          <ng-container *ngIf="client.roles.admin">
            Admin<ng-container *ngIf="client.roles.specialist || client.roles.member">, </ng-container>
          </ng-container>
          <ng-container *ngIf="client.roles.specialist">Specialist<ng-container *ngIf="client.roles.member">, </ng-container>
          </ng-container>
          <ng-container *ngIf="client.roles.member">Client</ng-container>
        </p>
    </div>

    <div class="quick-info">
      <p class="speciality-title">client ID: {{client.uid}}</p>
      <p class="description" *ngIf="client.basicData">
        <span>Goal</span><br>
        <ng-container *ngIf="client.basicData.mainGoal">{{client.basicData.mainGoal}}</ng-container>
        <ng-container *ngIf="!client.basicData.mainGoal">No goal yet...</ng-container>
      </p>
      <div class="btn-container">
        <button class="btn-icon-right__animated" (click)="linkToChild(client)">
          More info
        </button>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
      <ul class="contact-menu">
        <li>
          <i class="far fa-envelope"></i>
          <a class="text-link" href="mailto:{{client.email}}">
            Email
          </a>
        </li>
        <li>
          <i class="fas fa-mobile-alt"></i>
          <a class="text-link" *ngIf="client.basicData" href="tel:{{client.basicData.phoneNumber}}">
            Call
          </a>
        </li>
        <li>
          <i class="far fa-comment-alt"></i>
          <a class="text-link" *ngIf="client.basicData" href="tel:{{client.basicData.phoneNumber}}">
            Chat
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="actions">
    <button type="button" (click)="deleteClientDialog(client)">
      <i class="fas fa-trash"></i>
    </button>
    <button (click)="editClient(client)">
      <i class="fas fa-edit"></i>
    </button>
  </section>

</mat-card>
