@import './../../../../assets/scss/master';
@import './../../../../assets/scss/mixins';

.fic-detail-container {
    &__basic-data {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        @include respond-down($sm) {
            flex-flow: column-reverse nowrap;
        }

        h3 {
            margin: 0 0 1.5em;
        }

        .form-field {
            box-sizing: border-box;
            display: flex;
            flex-flow: column nowrap;
            margin: .5em auto !important;
            width: 60%;

            @include respond-down($sm) {
                margin: 0.5em 0 !important;
                width: 100%;
            }

            .label {
                font-weight: $bold;
                margin: 2px 10px 10px;
                width: 70%;
            }

            .text-field {
                background-color: $light-grey;
                border: 1.5px solid $middle-grey;
                box-sizing: border-box;
                padding: 1em;
                width: 80%;

                @include respond-down($sm) {
                    width: 100%;
                }
            }
        }

        .quick-info {
            margin-top: 1.75em;
            width: 40%;

            @include respond-down($sm) {
                margin-top: 0;
                margin-bottom: 1.75em;
                width: 100%;
            }

            ul {
                width: 100%;

                li {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    margin: 5px 0;

                    .fa__icon, .svg-inline--fa, svg {
                        color: $secondary-color;
                        font-size: 20px;
                        margin: 2px 1.5em 0 0;
                        width: 20px;
                    }

                    .card-text {
                        font-size: 18px;
                        text-align: left;
                        margin: 0;
                    }
                }
            }
        }
    }

}