<main class="dialog-wrapper">
  <div class="close-section mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> {{ 'global.buttons.back' | translate }}
    </button>
  </div>

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="signUpForm">
      <form [formGroup]="signUpForm">
      <ng-template matStepLabel>
        {{ 'pages.client.form.general_info' | translate }}
      </ng-template>
      <h3>👩‍🦰 {{ 'pages.client.form.account_settings' | translate }}</h3>
      <p class="card-text">
        {{ 'pages.client.form.account_settings_detail' | translate }}
      </p>
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>
          {{ 'pages.client.form.email_as_user' | translate }}
        </mat-label>
        <input type="text" matInput [class.active]="!email.valid && email.touched"
          placeholder="{{ 'pages.client.form.client_email' | translate }}"
          formControlName="email" autofocus autocomplete="off" required>
        <mat-error class="input-error" *ngIf="!email.dirty">
          {{ 'global.errors.required' | translate }}
        </mat-error>
        <mat-error class="input-error" *ngIf="!email.valid && email.dirty">
          {{ 'global.errors.email_invalid' | translate }}
          
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>{{ 'pages.client.form.type_pass' | translate }}</mat-label>
        <input class="form-input" type="password" matInput required
        placeholder="{{ 'pages.client.form.safe_warning' | translate }}" autocomplete="new-password"
        [type]="hide ? 'password' : 'text'" formControlName="password"
        [class.active]="!password.valid && password.touched">
        <mat-error class="input-error" *ngIf="!password.dirty">
          {{ 'global.errors.required' | translate }}
        </mat-error>
        <mat-error class="input-error" *ngIf="password.errors?.minlength">
          {{ 'global.form.errors.not_enough_chars' | translate }}
        </mat-error>
        <mat-error class="input-error" *ngIf="password.errors?.maxlength">
          {{ 'global.form.errors.too_much_chars' | translate }}
        </mat-error>
      </mat-form-field>

      </form>
      <section class="btn-area-one">
        <button class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>
    <mat-step [stepControl]="personalForm">
      <form [formGroup]="personalForm">
      <ng-template matStepLabel>{{ 'pages.client.form.personal' | translate }}</ng-template>
      <h3>📖 {{ 'pages.client.form.important_info' | translate }}</h3>
      <p class="card-text">
        {{ 'pages.client.form.personal_intro' | translate }}
      </p>
  
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>{{ 'global.form.first_name' | translate }}</mat-label>
        <input type="text" matInput formControlName="firstName"
        placeholder="{{ 'pages.client.form.first_name' | translate }}" autofocus="none">
        <mat-error class="input-error" *ngIf="!personalForm['controls'].firstName.valid">
          {{ 'global.errors.required' | translate }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>{{ 'global.form.last_name' | translate }}</mat-label>
        <input type="text" matInput formControlName="lastName"
        placeholder="{{ 'pages.client.form.last_name' | translate }}" autocomplete="off">
        <mat-error class="input-error" *ngIf="!personalForm['controls'].lastName.valid">
          {{ 'global.errors.required' | translate }}
        </mat-error>
      </mat-form-field>

      </form>
      <section class="btn-area">
        <button class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button class="dialog-button" (click)="userSignup()"
        [disabled]="!signUpForm.valid || !personalForm.valid"
        [class.disabled]="!signUpForm.valid || !personalForm.valid"
        mat-dialog-close>
          {{ 'global.buttons.done' | translate }}
        </button>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
</main>
