<main class="dialog-wrapper">
  <div class="close-section  mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> {{ 'global.buttons.back' | translate }}
    </button>
  </div>
  
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="personalForm">
      <form [formGroup]="personalForm">
        <ng-template matStepLabel>{{ 'global.words.info' | translate }}</ng-template>
        <h3>🗂️ {{ 'pages.package.form.package_info' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.package.form.package_info_detail' | translate }}
        </p>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.package.general.package_id' | translate }}</mat-label>
          <input type="number" matInput name="title" formControlName="packageID"
            placeholder="{{ 'global.form.always_number' | translate }}"
            autocomplete="new-password">
          <mat-hint *ngIf="!personalForm['controls'].packageID.dirty">
            {{ 'pages.package.form.already_taken' | translate }}
          </mat-hint>
          <mat-error class="input-error" *ngIf="!personalForm['controls'].packageID.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.package.form.package_title' | translate }}</mat-label>
          <input type="text" matInput name="title" formControlName="packageTitle"
            placeholder="{{ 'pages.package.form.package_title_ph' | translate }}" autofocus="none">
          <mat-error class="input-error" *ngIf="!personalForm['controls'].packageTitle.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="aboutForm">
      <form [formGroup]="aboutForm">
        <ng-template matStepLabel>{{ 'global.words.about' | translate }}</ng-template>
        <h3>🤷 {{ 'pages.package.form.about' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.package.form.about_detail' | translate }}
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.package.form.short_desc' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="packageDescription"
            placeholder="{{ 'pages.package.form.short_desc_ph' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off">
          </textarea>
          <mat-error class="input-error"
            *ngIf="!aboutForm['controls'].packageDescription.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="timeForm">
      <form [formGroup]="timeForm">
        <ng-template matStepLabel>
          {{ 'global.words.duration' | translate }}
        </ng-template>
        <h3>🕰️ {{ 'pages.package.form.amount_of_time' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.package.form.amount_time_desc' | translate }}
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.package.form.how_long_valid' | translate }}</mat-label>
          <input type="number" matInput formControlName="packageDuration"
            placeholder="{{ 'pages.package.form.amount_weeks' | translate }}"
            autofocus="off" maxlength="3" autocomplete="off">
          <mat-error class="input-error" *ngIf="!timeForm['controls'].packageDuration.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="priceForm">
      <form [formGroup]="priceForm">
        <ng-template matStepLabel>{{ 'global.words.price' | translate }}</ng-template>
        <h3>🔖 {{ 'global.words.price' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.package.form.price_intro' | translate }}
        </p>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>$$$$$</mat-label>
          <input type="number" matInput formControlName="packagePrice"
            placeholder="{{ 'global.words.price' | translate }} USD" autofocus="off"
            autocomplete="off">
          <mat-error class="input-error"
            *ngIf="!priceForm['controls'].packagePrice.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="extrasForm">
      <form [formGroup]="extrasForm">
        <ng-template matStepLabel>{{ 'pages.package.form.extras' | translate }}</ng-template>
        <h3>🥂 {{ 'pages.package.general.benefits' | translate }}</h3>
        <p class="intro-text">
          {{ 'pages.package.form.extras_detail' | translate }}
        </p>
        <div class="add-form-field-container" formArrayName="benefitArr">
          <section class="dynamic-form-field-container" *ngFor="let benefit of benefitForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>
                {{ 'pages.package.form.add_benefits' | translate }}
              </mat-label>
              <input matInput formControlName="benefitValue" autocomplete="off"
                placeholder="{{ 'pages.package.form.package_pros' | translate }}"
                required>
              <mat-error class="input-error" *ngIf="!benefitValue.valid && extrasForm.touched">
                {{ 'global.errors.required' | translate }}
              </mat-error>
            </mat-form-field>
            <div class="btn-area">
              <button type="button" mat-icon-button type="button" class="delete-btn"
                (click)="deleteBenefit(i)">
                <i class="fa__icon fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>

        <button type="button" class="add-form-field" (click)="addBenefit()">
          <i class="fa__icon fa fa-plus"></i>
          {{ 'pages.package.buttons.add_benefit' | translate }}
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="submit" class="dialog-button" (click)="addPackage()"
          [disabled]="!personalForm.valid || !aboutForm.valid || !timeForm.valid || !priceForm.valid || !extrasForm.valid"
          [class.disabled]="!personalForm.valid || !aboutForm.valid || !timeForm.valid || !priceForm.valid || !extrasForm.valid"
          mat-dialog-close>
          {{ 'global.buttons.done' | translate }}
        </button>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
</main>
