@import '_master';

section.step-wrapper {
    justify-content: flex-start;
    padding: 2em 0 100px;
    height: auto;
    box-sizing: border-box;
}

section.slider-nav-container {
    position: absolute;
    top: 45%;
    height: 10vh;
    width: 68vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .control-btn {
        position: relative;
        height: 2em;
        width: 2em;
        font-size: 38px;

        svg {
            margin: 0 0 2px 3px;
        }
    }
}

app-specialist-item {
    width: 80%;
    height: auto;
    margin: 2em auto;
}

.specialist-container {
    overflow: hidden;

    .package-slider {
        overflow: scroll!important;
    }

    .specialist-item {
        width: 70%;
        margin: 0 10% 0 14%;
        height: 1000px;
    }
}