@import './../../../../assets/scss/_master.scss';

.choice-wrapper {
    @extend %flex-row-center;
    width: 90%;
    margin: 3em auto;

    .choice-icon-btn {
        @extend %flex-column-center;
        width: 200px;
        height: 200px;
        background: #fff;
        box-shadow: $card-shadow;

        &:first-child {
            margin-right: 4em;
        }

        ::ng-deep svg {
            font-size: 48px;
        }

        h4 {
            margin-top: 20px;
        }

        &:hover, &:focus, &:active {
            transition: transform 300ms ease-in-out;
            transform: scale(1.05);
        }
    }
}

.btn-area {
    .disabled {
        background: $light-grey!important;
        ::ng-deep svg {
            color: $grey;
        }
        &:hover {
            background: $light-grey;
            color: $grey;
            cursor: initial;
        }
    }
}

app-online-appointment, app-face-to-face-appointment {
    width: 60%;
    margin: 2em auto;
}

@media only screen and (max-width: 768px) {
    app-online-appointment, app-face-to-face-appointment {
        width: 80%;
        margin: 2em auto;
    }
}


.step-wrapper {
    padding: 3em 1em;
    height: auto;
    @include respond-down($sm) {
        padding: 3em 0 1em;
        overflow-y: auto;
    }

    &.success {
        height: 100vh;
    }

    app-signup-booking {
        width: 100%;
    }
}