@import './../../../assets/scss/_master.scss';

div.message-container {
    width: 100%;
    height: auto;
    display: flex;


    &:first-child {
        margin-top: 20px;
    }

    img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 50%;
    }

    div#message {
        animation: slide-up-appear .5s ease-in-out;
        display: flex;
        justify-content: flex-start;

        &:last-child {
            margin-bottom: 1em;
        }

        p {
            word-wrap: break-word;
        }

        mat-card {
            box-shadow: $card-shadow;
        }
    }

    @for $i from 1 through 10 {
        #message:nth-child(#{$i}) {
            -webkit-animation-delay:(#{$i*0.25s}); 
            animation-delay:(#{$i*0.25s}); 
        }
    }

    .inbound {
        flex-direction: row;
        width: 100%;
        mat-card {   
            max-width: 80%;
            height: auto;          
            background: lighten($primary-color, 5%);
            p {
                color: #fff;
            }
        }

        img {
            margin-right: 15px;
            margin-left: 0;
        }
    }
    
    .outbound {
        flex-direction: row-reverse;
        width: 100%;
        mat-card {        
            max-width: 80%;
            height: auto;  
            background: #fff;
            p {
                color: $text-black;
            }
        }

        img {
            margin-right: 0;
            margin-left: 15px;
        }
    }
}

