@import './../../../assets/scss/_master.scss';

div.message-container {
    width: 100%;
    height: auto;
    display: flex;


    &:first-child {
        margin-top: 20px;
    }

    img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 50%;
    }

    div#message {
        display: flex;
        justify-content: flex-start;
        &:last-child {
            margin-bottom: 1em;
        }

        p {
            word-wrap: break-word;
        }

        mat-card {
            box-shadow: $card-shadow;
        }
    }

    .inbound {
        flex-direction: row;
        width: 100%;
        mat-card {   
            max-width: 80%;
            height: auto;          
            background: lighten($primary-color, 5%);
            p {
                color: #fff;
            }
        }

        img {
            margin-right: 15px;
            margin-left: 0;
        }
    }
    
    .outbound {
        flex-direction: row-reverse;
        width: 100%;
        mat-card {        
            max-width: 80%;
            height: auto;  
            background: #fff;
            p {
                color: $text-black;
            }
        }

        img {
            margin-right: 0;
            margin-left: 15px;
        }
    }
}

