@import './../../../assets/scss/_master.scss';
@import './../../../assets/scss/_forms.scss';

// Form Style Reset

input, textarea {
    background: transparent;
    border: 0px;
    outline: 0;
    width: 100%;
    font-family: $main-font;
    margin: 0;
    padding: 0;
}

// General

p {
    white-space: normal;
}

h5 {
    &.purple {
        color: $secondary-color;
    }
}

main.specialist-edit-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0!important;
    margin-top: 0;

    .action-toolbar-top {

        button.icon-button {
            position: inherit;
        }
    
    }
}

section.specialist-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;

    div.profile-picture {
        width: 40%;
        height: 380px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    .image-uploader {
        @extend %flex-center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        span  {
            font-size: 18px;
            font-weight: $semi-bold;
            font-family: $main-font;
            text-align: center;
        }
    }

    ::ng-deep mat-select {
        width: 75%;

        .mat-select-placeholder {
            font-size: 15px;
            font-weight: $extra-bold;
            color: $text-black;
        }

        .mat-select-value-text {
            font-size: 15px;
            font-weight: $extra-bold;
            color: $text-black;
        }
    }

    div.quick-info {
        @extend %flex-center;
        flex-flow: column wrap;
        width: 50%;
        padding: 1em 2em;
        position: relative;

        p {
            margin-top: 0.5em;
        }

        .timezone {
            @extend %flex-center;
            position: absolute;
            right: 2em;
            top: 0.5em;
            border: 3px solid $middle-grey;
            border-radius: 50px;
            width: auto;
            height: 15px;
            padding:  1em 2em;
            box-sizing: border-box;

            @include respond-down($sm) {
                position: unset!important;
            }
        }

        .top, .bottom {
            display: flex;
            height: 50%;
            width: 100%;
        }

        mat-select {
            width: 200px;
        }

        .top {
            flex-flow: column wrap;

            div.display-name {
                display: flex;
                flex-flow: row nowrap;
                width: 50%;
                margin: 0;
                @include respond-down($sm) {
                    width: 100%;
                }
            }

            input {
                width: 50%;
                &.h2 {
                    letter-spacing: 2px;
                    margin-bottom: 5px;
                    font-size: 24px;
                    font-weight: $bold;
                    color: #312E2C;
                }

                &.h5 {
                    width: 80%;
                }
                &.speciality {
                    width: 70%;
                }
            }

            .speciality {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: flex-start;
                margin-top: 0.5em;

                p {
                    margin: 0 5px 0 0;
                    font-size: 16px
                }

                input {
                    letter-spacing: 1px;
                    font-size: 16px;
                    width: 100%;
                }
            }

            div.icon-fact-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 1rem 0 1.5rem;

                .fact {
                    width: 40%;
                    padding-bottom: 1vh;

                    ::ng-deep svg {
                        width: 10%;
                        font-size: 20px;
                        padding-right: 8%;
                        margin-right: 8%;
                        color: $grey;
                        border-right: 1px solid $border-color;
                    }

                    input {
                        margin: 0;
                        padding: 0;
                        font-family: $main-font;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-weight: $semi-bold;
                        text-transform: capitalize;
                        color: $grey;
                    }
                }
            }
        }

        .bottom {
            flex-flow: row nowrap;
            border-top: 1px solid $border-color;
            padding-top: 2.5em;

            p.tab {
                @extend %flex-center;
                flex-flow: column wrap;
                text-align: center;
                width: 50%;

                span, input {
                    font-family: $main-font;
                    color: $primary-color;
                    font-size: 48px;
                    font-weight: $extra-bold;
                    text-align:center;
                }

                input {
                    @extend %flex-center;
                    flex-flow: row nowrap;
                    width: 60%;
                    margin: 6px auto 3px;
                    padding: 0 0 0 12px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

section.about {
    width: 100%;
    box-sizing: border-box;
    margin: 2em 0;
    padding: 1.5em 2em;
    background: #fff;
    box-shadow: $card-shadow;

    textarea {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.6;
        color: $text-black;
        margin: 1em auto;
        height: auto;
        min-width: 100%;
        max-width: 100%;
    }
}

section.contact-language {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;

    >div {
        padding-left: 2em;

        h5 {
            margin-bottom: 2vh;
        }
    }

    div.contact-info {
        width: 50%;
        @include respond-down($sm) {
            width: 100%;
        }

        ul.contact-menu {
            li {
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 10px;

                ::ng-deep svg {
                    @extend %flex-center;
                    width: 20px;
                    height: 20px;
                    color: $grey;
                    margin-right: 1em;
                    margin-top: 3px;
                }
                input {
                    font-size: 18px;
                    font-weight: $regular;
                    color: $grey;
                    letter-spacing: 1px;
                }
            }
        }
    }

    div.languages {
        width: 50%;
    }


}

section.reviews-opened {
    padding-left: 2em;
    width: calc(100% + 4em);

    h5 {
        padding-left: 2em;
    }
}

div.review-container {
    width: auto;
    height: auto;
    padding: 1em 0;
    margin-left: -2em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    mat-card.review-item {
        flex: 0 0 auto;
        height: 100%;
        width: 400px;
        margin: 0.5em 2em;
        padding: 1.5em 1em;
        box-sizing: border-box;
        box-shadow: $card-shadow;

        &:first-child {
            margin-left: 2em;
        }

        p {
            white-space: normal;
            width: 100%;
        }
    }

    div.placeholder {
        width: 15px;
        height: 30px;
        visibility: hidden;
    }
}

section.btn-area {
    padding-left: 3em;

    button.text-link {
        margin: 1em 0;
        ::ng-deep svg {
            font-size: 12px;
            margin-left: 5px;
        }     
    }
}