<!-- <ng-container *ngIf="specialist"> -->
  <main class="specialist-wrapper">
      
    <section class="action-toolbar-top" *ngIf="editShow">
        <div class="left">
          <button class="icon-button" (click)="goBack()">
              <i class="fa__icon fas fa-arrow-left"></i>
          </button>
        </div>
        <div class="right">  
          <button class="icon-button" (click)="editSpecialist()">
            <i class="fa__icon fas fa-check"></i>
          </button>
  
        </div>
      </section>

      <form [formGroup]="editSpecialistForm" *ngIf="editShow">
        <section class="specialist-header">
          <div class="profile-picture">
            <div class="image-uploader" *ngIf="!downloadURL" [style.backgroundImage]="'url('+ specialist.photoURL +')'">
              <span *ngIf="!specialist.photoURL">No Photo Yet</span>
              <app-file-upload-button (imageEvent)="receiveDownloadURL($event)"></app-file-upload-button>
            </div>
            <div class="image-uploader" *ngIf="downloadURL" [style.backgroundImage]="'url('+ downloadURL +')'">
              <app-file-upload-button [url]="url" (imageEvent)="receiveDownloadURL($event)"></app-file-upload-button>
            </div>
          </div>
          <div class="quick-info">
            
            <p class="timezone">
                <mat-select matInput placeholder="Which timezone is he/she in?" [(value)]="selectedTimezone" 
                panelClass="dropdown-regular" formControlName="timeZone" autocomplete="off" required name="timeZone"
                >
                  <mat-option *ngFor="let timezone of timezones | async" [value]="timezone.gmtValue"> {{timezone.city}}, {{timezone.country}} / {{timezone.gmtValue}}</mat-option>
                </mat-select>
            </p>
            <div class="top">
              <div class="display-name">
                <input class="h2" name="firstName" formControlName="firstName">
                <input class="h2" name="lastName" maxlength="12" formControlName="lastName">
              </div>
<!-- 
            <h2>{{specialist.firstName}} {{specialist.lastName}}</h2>
            <h5>{{specialist.position}}</h5> -->
            <input class="h5" name="position" formControlName="position">

            <div class="speciality">
              <p class="card-text">Speciality:</p>
              <input class="card-text text-field" name="speciality" formControlName="speciality">
            </div>
            <div class="icon-fact-container">
              <div class="fact">
                <i class="fa__icon fas fa-globe-americas"></i> 
                <!-- <span>{{specialist.country}}</span> -->
                <input placeholder="Country" class="text-field" name="country" formControlName="country">
              </div>
              <div class="fact">
                <i class="fa__icon fas fa-city"></i>
                <!-- <span>{{specialist.city}} </span> -->
                <input placeholder="City" class="text-field" name="city" formControlName="city">
              </div>
            </div>
            <!-- <p>Speciality: {{specialist.speciality}}</p> -->
            </div>
            <div class="bottom">
              <p class="tab">
                <input class="stat" type="number" name="patientsTotal" maxlength="5" formControlName="patientsTotal">  
                <!-- <span>{{specialist.patientsTotal}}</span> -->
                  Clients or Patients
              </p>
              <p class="tab">
                  <input class="stat" type="number" name="yearsOfExperience" maxlength="2" formControlName="yearsOfExperience">
                  <!-- <span>{{specialist.yearsOfExperience}} </span> -->
                  Years of experience
              </p>
            </div>
          </div>
        </section>
  
        <section class="about">  
          <h5>About {{specialist.firstName}}</h5>
          <textarea matInput matTextareaAutosize formControlName="description"></textarea>
        </section>
  
        <section class="contact-language">
          <div class="contact-info">
            <h5 class="purple">Contact Info</h5>
            <ul class="contact-menu">
              <li>
                <i class="fa__icon far fa-envelope"></i>
                <input type="contact-item" name="email" formControlName="email">
                <!-- <a class="text-link" href="mailto:{{specialist.email}}">
                  {{specialist.email}}
                </a> -->
              </li>
              <li>
                <i class="fa__icon fas fa-mobile-alt"></i>
                <input type="contact-item" name="phoneNumber" formControlName="phoneNumber">
                <!-- <a class="text-link" href="tel:{{specialist.phoneNumber}}">
                  {{specialist.phoneNumber}}
                </a> -->
              </li>
            </ul>
          </div>
          <div class="languages" *ngIf="arraysEnabled">
            <h5 class="purple">Languages</h5>
            <ul>
              <li *ngFor="let language of specialist.languages"><strong>{{language.languageValue}}</strong> - {{language.languageLevel}}</li>
            </ul>
          </div>
        </section>
      </form>
      </main>
  
  
  <!-- </ng-container> -->
    
  <ng-container *ngIf="!specialist">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  