@import './../../../assets/scss/master';
@import './../../../assets/scss/dialogs';
@import './../../../assets/scss/animations';

main.add-measurement-wrapper {
    position: relative;

    .close-section {
        &.mobile {
            position: absolute;
            left: 20px;
            top: 100px;
            z-index: 13;

            .close-btn {
                ::ng-deep svg {
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
        }
    }

    mat-horizontal-stepper {
        padding: 0 0 75px;
        position: relative;
        height: 100%;
        min-height: 71vh;

        .mat-horizontal-stepper-header {
            justify-content: center;
            height: 75px;
            width: 40%;

            &:hover {
                &::after {
                    content: '';
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background: $primary-color;
                    left: 0;
                    right: 0;
                    transition: height 0.3s ease-in-out;
                }
            }
        }

        .mat-horizontal-stepper-header-container {
            padding: 0 3em;
            position: sticky;
            top: 0;
            background: #fff;
            height: 75px;
            z-index: 15;
            box-shadow: $toolbar-shadow;

            @include respond-down($sm) {
                padding: 0;
            }

            .mat-step-icon {
                display:  none;
            }
        }

        .mat-stepper-horizontal-line {
            border-top-width: 0;
            border-top-style: none;
            border: none;
        }

        .mat-horizontal-content-container {
            padding: 0;
            margin: 0;
        }

        .mat-step-label {
            font-size: 20px!important;
            font-weight: $bold!important;
            letter-spacing: 0.5px;
            color: $grey!important;

            &-selected {
                color: $primary-color!important;

                &::after {
                    content: '';
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background: $primary-color;
                    left: 0;
                    right: 0;
                    transition: height 0.3s ease-in-out;
                }
            }
        }
    }

    form {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 3em 4em 1em;
        width: 100%;

        @include respond-down($sm) {
            flex-flow: row nowrap;
            padding: 0 16px 30px;
        }

        &.weight-form {
            padding: 90px 16px 1em;
            width: 180px;
            position: absolute;

            @include respond-down($sm) {
                padding: 0 16px;
                position: relative;
                margin: 60px 0 0;
                justify-content: flex-start;
                width: 100%;
            }

            .form-wrapper {
                position: absolute;
                left: 160px;
                top: 35px;
                z-index: 14;

                @include  respond-down($sm) {
                    position: unset;
                    width: 75%;

                    input {
                        width: 69% !important;
                    }
                }
            }
        }

        .body-img {
            animation: 0.6s bounce-appear;
            left: calc(50% - 295px);
            position: absolute;
            width: 590px;
            top: 25px;
            pointer-events: none;

            @include respond-down($sm) {
                display: none;
            }
        }

        .form-wrapper {
            align-items: flex-end;
            display: flex;
            flex-flow: column nowrap;
            width: calc((100%/2) - 100px);

            @include respond-down($sm) {
                width: 45%;
            }

            &:last-child {
                align-items: center;
            }

            .form-field-container {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: -15px;


                @include respond-down($sm) {
                    width: 100%;
                }

                mat-form-field {
                    @include respond-down($sm) {
                        right: unset !important;
                        left: unset !important;
                        top: unset !important;
                        width: 100%;
                    }

                    input {
                        width: 40px;

                        @include respond-down($sm) {
                            width: 50px;
                            margin-top: 10px;
                        }
                    }
                    
                    span.input-unit {
                        padding: 10px 0;
                        margin-top: -10px;
                        position: relative;
                        font-size: 14px;
                        font-weight: $bold;
                        letter-spacing: 1px;
                        left: 10px;
                        text-transform: uppercase;
                        top: -9px;
                    }
                }
            }

            &.left {
                .form-field-container {
                    justify-content: flex-end;
                }


                .head {
                    mat-form-field {
                        right: -105px;
                    }
                }

                .arms-relaxed {
                    mat-form-field {
                        right: -85px;
                        top: -10px;
                    }
                }

                .thorax {
                    mat-form-field {
                        right: -55px;
                        top: -20px;
                    }
                }

                .hip {
                    mat-form-field {
                        right: -25px;
                        top: -42px;
                    }
                }

                .wrist {
                    mat-form-field {
                        right: -60px;
                        top: -50px;
                    }
                }

                .thigh-mid {
                    mat-form-field {
                        right: -85px;
                        top: -60px;
                    }
                }

                .ankle {
                    mat-form-field {
                        right: -105px;
                        top: -60px;
                    }
                }
            }

            &.right {
                .neck {
                    mat-form-field {
                        left: -85px;
                    }
                }
                
                .arms-flexed {
                    mat-form-field {
                        left: -40px;
                    }
                }
                
                .waist {
                    mat-form-field {
                        left: -25px;
                        top: -10px;
                    }
                }

                .forearm{
                    mat-form-field {
                        top: -20px;
                        left: -25px;
                    }
                }

                .thigh-max{
                    mat-form-field {
                        top: -10px;
                        left: -60px;
                    }
                }
                
                .calf {
                    mat-form-field {
                        left: -60px;
                        top: 5px;
                    }
                }
            }
        }

        &.skinfold-form {
            min-height: 620px;

            @include respond-down($sm) {
                min-height: 515px;
            }

            .form-wrapper {
                &.left {
                    .triceps {
                        mat-form-field {
                            right: -105px;
                            top: 20px;
                        }
                    }
                    
                    .subescapular {
                        mat-form-field  {
                            right: -80px;
                            top: 15px;
                        }
                    }

                    .biceps {
                        mat-form-field  {
                            right: -60px;
                            top: 10px;
                        }
                    }
                    
                    .cresta-iliaca {
                        mat-form-field  {
                            right: -40px;
                            top: 5px;
                        }
                    }
                }

                &.right {
                    .supraespinal {
                        mat-form-field {
                            top: 20px;
                            left: -70px;
                        }
                    }

                    .abdominal {
                        mat-form-field {
                            top: 60px;
                            left: -50px;
                        }
                    }

                    .frontal-thigh {
                        mat-form-field {
                            left: -40px;
                            top: 90px;
                        }
                    }
                
                    .skinfold-calf {
                        mat-form-field {
                            top: 140px;
                            left: -90px;
                        }
                    }
                }

            }
        }
    }

    .btn-area-one {
        @extend %flex-center;
        border-top: 1px solid $light-grey;
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 75px;
        background: #fff;
        z-index: 20;

        button {
            @extend %flex-center;
            height: 75px;
            width: 100%;

            &:hover {
                background-color: $light-grey;
            }
        }
    }
}