<main class="add-measurement-wrapper">
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="perimeterForm">
      <div class="close-section mobile">
        <button class="text-link close-btn" (click)="closeDialog()" type="button">
          <i class="mobile fas fa-arrow-left"></i> Back
        </button>
      </div>
      <form [formGroup]="weightForm" class="weight-form">
        <div class="form-wrapper">
          <div class="form-field-container weight">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Weight</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="weight" autofocus autocomplete="off" >
              <span class="input-unit">kg</span>
            </mat-form-field>
          </div>
        </div>
      </form>

      <form [formGroup]="perimeterForm">
        <ng-template matStepLabel>Perimeters</ng-template>

        <!--  Left side -->
        <div class="form-wrapper left">

          <div class="form-field-container head">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Head</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="head" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>          

          <div class="form-field-container arms-relaxed">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Arm relaxed</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="armRelaxed" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container thorax">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Thorax</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="thorax" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container hip">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Hip</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="hip" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container wrist">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Wrist</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="wrist" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container thigh-mid">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Thigh Mid</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="thighMid" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container ankle">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Ankle</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="ankle" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

        </div>

        <img src="./../../../assets/img/body-muscle-front.png" class="body-img not-mobile">

        <!-- Right side -->
        <div class="form-wrapper right">
    
          <div class="form-field-container neck">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Neck</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="neck" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container arms-flexed">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Arm flexed</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="armFlexed" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container waist">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Waist</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="waist" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container forearm">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Forearm</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="forearm" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container thigh-max">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Thigh Max</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="thighMax" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>
    
          <div class="form-field-container calf">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Calf</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="calf" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>
  
        </div>

      </form>

      <section class="btn-area-one">
        <button class="dialog-button" (click)="addMeasurements()" [disabled]="!perimeterForm.valid || !skinfoldForm.valid"
        [class.disabled]="!perimeterForm.valid || !skinfoldForm.valid" mat-dialog-close>
          Done
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="skinfoldForm">
      <div class="close-section mobile">
        <button class="text-link close-btn" (click)="closeDialog()" type="button">
          <i class="mobile fas fa-arrow-left"></i> Back
        </button>
      </div>

      <form [formGroup]="skinfoldForm" class='skinfold-form'>
        <ng-template matStepLabel>Skinfolds</ng-template>

        <!--  Left side -->
        <div class="form-wrapper left">
          <div class="form-field-container triceps">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Triceps</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="triceps" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>
          
          <div class="form-field-container subescapular">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Subescapular</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="subescapular" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container biceps">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Biceps</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="biceps" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container cresta-iliaca">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Cresta Iliaca </mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="crestaIliaca" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>
        </div>

        <img src="./../../../assets/img/body-muscle-front.png" class="body-img not-mobile">

        <!--  right -->
        <div class="form-wrapper right">
          <div class="form-field-container supraespinal">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Supraespinal</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="supraespinal" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container abdominal">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Abdominal</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="abdominal" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container frontal-thigh">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Frontal thigh</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="frontalThigh" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>

          <div class="form-field-container skinfold-calf">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Calf</mat-label>
              <input type="number" min="0" matInput placeholder="1" formControlName="skinfoldCalf" autofocus autocomplete="off" >
              <span class="input-unit">cm</span>
            </mat-form-field>
          </div>
        </div>
  
      </form>    

      <section class="btn-area-one">
        <button class="dialog-button" (click)="addMeasurements()" [disabled]="!perimeterForm.valid || !skinfoldForm.valid"
        [class.disabled]="!perimeterForm.valid || !skinfoldForm.valid" mat-dialog-close>
          Done
        </button>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
</main>
  