// Increase height animation

@keyframes increase-height {
    0% {
        max-height: 0px;
    }
    1% {
        height: auto;
    }
    100% {
        max-height: 500px;
    }
}


@keyframes right-left-right {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 10px;
    }
    100% {
        margin-left: 0;
    }
}