@import './_master.scss';
@import './_animations.scss';


::ng-deep .mat-step-header-ripple .mat-ripple {
    background: transparent!important;
    border: $light-border!important;
}

::ng-deep .mat-dialog-container {

    .mat-horizontal-content-container {
        padding: 0;
    }
}

::ng-deep .cdk-overlay-pane {
    overflow-y: auto;
}

main.dialog-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    mat-horizontal-stepper {
        width: 100%;
        height: 100%;
        section.btn-area {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 70px;

            button {
                background: transparent;
                border: $light-border;
                width: 50%;

                &:hover, &:focus {
                    background: darken($light-grey, 5%);
                }

                &.disabled {
                    cursor: standard;
                    color: $middle-grey;

                    &:hover, &:focus {
                        background: transparent;
                        cursor: initial;
                    }
                }
            }
        }
    }
    
    section.btn-area-one {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 70px;

        button {
            background: transparent;
            border: $light-border;
            width: 100%;

            &:hover, &:focus {
                background: darken($light-grey, 5%);
            }

            &.disabled {
                cursor: standard;
                color: $middle-grey;

                &:hover, &:focus {
                    background: transparent;
                    cursor: initial;
                }
            }
        }
    }
}

@keyframes slide-up {

}

.confirm-dialog {
    @include respond-down($sm) {
        animation: fly-in-from-bottom 0.4s;
        min-width: 100vw!important;
        max-width: 100vw!important;
        position: fixed!important;
        bottom: 0;

        .mat-dialog-container {
            border-radius: 0;
        }
    }
}