@import './_master.scss';

 .btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .btn-icon-left {
        margin-right: 4em;
    }
}

.btn-disabled {
    background: $light-grey;
    border: 2px solid $light-grey;

    svg {
        color: $grey;
    }

    &:hover, &:focus {
        svg {
            color: $grey;
        }
    }
}

.button-card {
    margin: 0 2em;
    padding: 0!important;
}

::ng-deep .big-label {
    font-size: 22px;
    font-family:  $main-font;
    font-weight: $semi-bold;

    .mat-placeholder-required {
        display: none!important;
    }
}

// Mat Styles

::ng-deep mat-form-field {
    .mat-input-element {
        font-style: $main-font;
        font-size: 18px;
        letter-spacing: 1px;
        color: $text-black;
    }
}

::ng-deep .radio-form-field {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    
    mat-radio-group {
        display: flex;
        flex-flow: column nowrap;
    }
}