@import './_master.scss';

.dynamic-form-field-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100px;
    margin: 2em 0;

    div.number-id {
        @extend %flex-center;
        width: 10%;
        border: $light-border;
        background: darken($light-grey, 5%);

        h1 {
            margin: 0;
            padding: 0;
            font-size: 22px;
            font-weight: $extra-bold;
            color: $primary-color;
        }
    }

    mat-form-field.mat-form-field {
        width: 80%;
        border-top: $light-border;
        border-bottom: $light-border;
        padding: 5px 30px 5px 20px;

        &.language-name {
            border-right: $light-border;
        }

        .mat-error {
            margin-top: 1.2em;
        }
    }

    div.btn-area {
        @extend %flex-center;
        width: 10%;
        max-height: 100px;
        border-radius: 0;
        border: $light-border;
        transition: all 300ms ease-in-out;
        .fa__icon, .svg-inline--fa, svg {
            margin: 0;
            padding: 0;
        }

        &:hover, &:focus {
            background: darken($light-grey, 5%);
            cursor: pointer; 
            
            .fa__icon, .svg-inline--fa, svg {
                transition: transform 300ms ease-in-out;
                transform: scale(1.1);
            }
        }
    }

}

.btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .btn-icon-left {
        margin-right: 4em;
    }
}

.btn-disabled {
    background: $light-grey;
    border: 2px solid $light-grey;

    .fa__icon, .svg-inline--fa, svg {
        color: $grey;
    }

    &:hover, &:focus {
        .fa__icon, .svg-inline--fa, svg {
            color: $grey;
        }
    }
}

.button-card {
    margin: 0 2em;
    padding: 0!important;
}

::ng-deep .big-label {
    font-size: 22px;
    font-family:  $main-font;
    font-weight: $semi-bold;

    .mat-placeholder-required {
        display: none!important;
    }
}

// Mat Styles

::ng-deep mat-form-field {
    .mat-input-element {
        font-style: $main-font;
        font-size: 18px;
        letter-spacing: 1px;
        color: $text-black;
    }
}

::ng-deep .radio-form-field {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    
    mat-radio-group {
        display: flex;
        flex-flow: column nowrap;
    }
}

// ::ng-deep .cdk-overlay-pane, .cdk-overlay-pane {
//     box-shadow: $card-shadow;
// }

::ng-deep .mat-radio-checked  {
    .mat-radio-outer-circle {
        border-color: $secondary-color !important;
    };

    .mat-radio-inner-circle {
        background-color: $secondary-color !important;
    };
    .mat-ripple-element {
        background-color: $secondary-color !important;
    }
    .mat-radio-persistent-ripple {
        background-color: $secondary-color !important;
    }
}