// Imports
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Assistant:400,500,600,700');
@import './_mixins.scss';

// Fonts
$main-font:'Assistant', sans-serif;
$title-font: $main-font;

// Font weights
$regular: 400;
$semi-bold: 500;
$bold: 600;
$extra-bold: 700;

// Colors
$primary-color: #db9969;
$primary-light: lighten($primary-color, 32%);;
$secondary-color: #1e3799;
$secondary-dark: darken($secondary-color, 2%);

$brand-accent: rgb(150, 91, 206);
$brand-warning: #FED230;
$brand-danger: #f76c74;
$brand-green: #2ecc71;

$black: #252220;
$grey: #7A7877;
$middle-grey: #f5f0ec;
$light-grey: #F8F7F6;
$section-grey: #f9f7f6;

$title-black: #312E2C;
$title-light-black: #545454;
$text-black: lighten($black, 10%);
$icon-black: #2C2825;
$icon-grey: #5f5c59;

// Brands
$skype: #00aff0;
$whatsapp: #25D366;

// Borders
$border-color: #DFE7F0;
$light-border-color: #EdEAE8;
$icon-color: $middle-grey;
$transparent-border: rgba(248, 251, 255, 0.46);

// Shadows
$card-shadow: 0 3px 10px 4px rgba(63,66,68,0.07);
$sidebar-shadow: 1px 3px 10px 4px rgba(63, 66, 68, 0.07);
$toolbar-shadow: 10px 3px 10px 4px rgba(63, 66, 68, 0.07);
$gold-glow: 0 3px 10px 4px rgba(219, 153, 105,0.43);

// Borders
$light-border: 1px solid darken($light-grey, 2%);

// Extends //
%input-reset {
    border: none;
    background: none;
    &:hover, &:focus, &:active {
        outline: none;
    }
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

%flex-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

// Media breakpoints
$xs: 400px;
$sm: 769px;
$md: 1023px;
$md-m: 1200px;
$lg: 1440px;
$xl: 1800px;