@import './../../../assets/scss/_master.scss';
@import './../../../assets/scss/_calendar.scss';

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: $secondary-color;
}

.calendar {
    width: 100%;

    &-signup {
        ::ng-deep {
            .cal-open-day-events {
                left: 0!important;
                width: 100vw!important;
                padding: 3em 7em 2em!important;
            }
        }
    }

    section {

        &.loading {
            width: 100%;
            height: 80px;

            @extend %flex-center;
        }

        &.calendar__toolbar {
            .left {
                .icon-button {
                    margin-right: 0;
                }
            }

            .hidden {
                opacity: 0;
                visibility: hidden;
                z-index: -100;
            }
        }

    }

    .calendar-container {
        background: #fff;
        box-shadow: $card-shadow;
        padding: 1em 2em;
        margin-top: 2em;

        .profile-picture {
            background-position: center center;
            box-shadow: $card-shadow;
            background-size: cover;
            background-repeat: no-repeat;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px solid $light-grey;
            margin: -75px auto 25px;

            &.no-pic {
                background: $light-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column wrap;

                svg {
                    color: $grey;
                    margin-bottom: 10px;
                    font-size: 38px;
                }
                .card-text {
                    text-align: center;
                    font-size: 14px;
                    font-weight: $semi-bold;
                }
            }
        }
    }
}

