
<main class="calendar" *ngIf="auth.user | async as user">
  <section class="action-toolbar-top calendar__toolbar">
    <div class="left">
      <button class="icon-button" (click)="goBack()">
        <i class="fa__icon fas fa-arrow-left"></i>
      </button>
    </div>

    <h1>Your Calendar</h1>

    <div class="right">
      <button class="icon-button hidden">
        <i class="fa__icon fas fa-comment-alt"></i>
      </button>
    </div>
  </section>

  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>

  <div class="calendar-container">
    <div class="profile-picture" [style.backgroundImage]="'url('+ user.photoURL +')'">
      <span *ngIf="!user.photoURL">No Photo Yet</span>
    </div>

    <section class="calendar__title">
      <button
        class="text-link"
        mwlCalendarPreviousView
        (click)="replaceDates()"
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
      >
        <i class="fa__icon fas fa-arrow-left"></i>
        <span class="not-mobile">Previous</span>
      </button>
      <!-- <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div> -->
      <h2>
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
      </h2>
      <button
        class="text-link"
        mwlCalendarNextView
        (click)="replaceDates()"
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="getEvents(user)"
        (viewChange)="getEvents(user)"
      >
      <span class="not-mobile">Next</span>
        <i class="fa__icon fas fa-arrow-right"></i>
      </button>
    </section>

    <section class="calendar__view-changer">
      <div class="btn-area">
        <button
          class="button tab-group-btn"
          (click)="view = CalendarView.Month"
          [class.active]="view === CalendarView.Month"
        >
          <span>Month</span>
        </button>
        <button
          class="btn tab-group-btn"
          (click)="view = CalendarView.Week; replaceDates()"
          [class.active]="view === CalendarView.Week"
        >
          <span>Week</span>
        </button>
        <button
          class="btn tab-group-btn"
          (click)="view = CalendarView.Day"
          [class.active]="view === CalendarView.Day"
        >
          <span>Day</span>
        </button>
      </div>
    </section>

    <section class="calendar__view" [ngSwitch]="view">
      <ng-container *ngIf="events$ | async; else loading; let events">
      <!-- <ng-container *ngIf="appointments"> -->
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="openEventDetailDialog($event)"
          [excludeDays]="excludeDays"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [dayStartHour]="16"
          [dayEndHour]="20"
          (eventClicked)="openEventDetailDialog($event)"
          [excludeDays]="excludeDays"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [dayStartHour]="16"
          [dayEndHour]="20"
          (eventClicked)="openEventDetailDialog($event)"
        >
        </mwl-calendar-day-view>
      </ng-container>
    </section>
  </div>
</main>



