@import './../../../assets/scss/_master.scss';
@import './../../../assets/scss/_calendar.scss';
@import './../../../assets/scss/_animations.scss';

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: $secondary-color;
}

button.has-messages {
    animation: signal 1s infinite;
    .fa__icon, .svg-inline--fa, svg {
        color: $primary-color;
    }
}
.calendar {
    min-width: 75vw;
    width: 100%;

    @include respond-down($sm) {
        min-width: 100vw;
    }

    section {

        &.loading {
            width: 100%;
            height: 80px;
            @extend %flex-center;
        }

    }

    .right {
        button:last-child {
            @include respond-down($sm) {
                margin-left: 0;
            }
        }
    }

    .calendar-container {
        box-sizing: border-box;
        background: #fff;
        box-shadow: $card-shadow;
        padding: 1em 2em;
        margin-top: 2em;
        width: 100%;

        @include respond-up($sm) {
            max-width: 100%;
        }

        .profile-picture {
            background-position: center center;
            box-shadow: $card-shadow;
            background-size: cover;
            background-repeat: no-repeat;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px solid $light-grey;
            margin: -75px auto 25px;

            &.no-pic {
                background: $light-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column wrap;

                .fa__icon, .svg-inline--fa, svg {
                    color: $grey;
                    margin-bottom: 10px;
                    font-size: 38px;
                }
                .card-text {
                    text-align: center;
                    font-size: 14px;
                    font-weight: $semi-bold;
                }
            }
        }
    }
}

