
<main class="calendar calendar-signup" *ngIf="auth.user | async as user">
  <section class="action-toolbar-top calendar__toolbar">
    <div class="left">
      <button class="icon-button hidden">
        <i class="fas fa-plus"></i>
      </button>
    </div>

    <h1 *ngIf="specialist">{{specialist.firstName}}'s Calendar</h1>

    <div class="right" *ngIf="specialist">
      <button class="icon-button" (click)="chat(specialist.uid)" matTooltip="User hasn't completed the Signup process yet"
      matTooltipClass="tooltip-info" [matTooltipPosition]="below">
        <i class="fas fa-comment-alt"></i>
      </button>
    </div>
  </section>

  <div class="calendar-container">
    <div class="profile-picture" *ngIf="specialist" [style.backgroundImage]="'url('+ specialist.photoURL +')'">
      <span *ngIf="!specialist.photoURL">No Photo Yet</span>
    </div>

    <section class="calendar__title">
      <button
        class="text-link"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
      >
        <i class="fas fa-arrow-left"></i>
        <span class="not-mobile">Previous</span>
      </button>
      <!-- <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div> -->
      <h2>
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
      </h2>
      <button
        class="text-link"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="getEvents(user)"
        (viewChange)="getEvents(user)"
      >
      <span class="not-mobile">Next</span>
        <i class="fas fa-arrow-right"></i>
      </button>
    </section>

    <section class="calendar__view-changer">
      <div class="btn-area">
        <button
          class="button tab-group-btn"
          (click)="view = CalendarView.Month"
          [class.active]="view === CalendarView.Month"
        >
          <span>Month</span>
        </button>
        <button
          class="btn tab-group-btn"
          (click)="view = CalendarView.Week"
          [class.active]="view === CalendarView.Week"
        >
          <span>Week</span>
        </button>
        <button
          class="btn tab-group-btn"
          (click)="view = CalendarView.Day"
          [class.active]="view === CalendarView.Day"
        >
          <span>Day</span>
        </button>
      </div>
    </section>

    <section class="calendar__view" [ngSwitch]="view">
      <div *ngIf="events$ | async; else loading; let events">
      <!-- <ng-container *ngIf="appointments"> -->
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          (hourSegmentClicked)="hourClicked($event.date)"
          [dayStartHour]="6"
          [dayEndHour]="19"
          [events]="events"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          (hourSegmentClicked)="hourClicked($event.date)"
          [dayStartHour]="6"
          [dayEndHour]="19"
          [events]="events"
        >
        </mwl-calendar-day-view>
      </div>


      <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
    </section>
  </div>
</main>



