<section class="admin-menu">
    <div class="title-container">
      <h5 class="sidebar-title" [class.active]="!linksOpened">
        {{ 'pages.dashboard.menu.misc' | translate }}
      </h5>
      <section class="btn-area">
        <button type="button" (click)="toggle()" *ngIf="linksOpened">
          <i class="fa__icon fas fa-minus"></i>{{ 'global.buttons.hide' | translate }}
        </button>
        <button type="button" (click)="toggle()" *ngIf="!linksOpened">
          <i class="fa__icon fas fa-plus"></i>{{ 'global.buttons.show' | translate }}
        </button>
      </section>

    </div>
    <ul class="link-container" [class.opened]="linksOpened">
      <li>
        <a (click)="closeMenu()" class="menu-link" routerLink="foods" routerLinkActive="active">
          <i class="fa__icon fas fa-lemon"></i>
          {{ 'pages.dashboard.menu.food' | translate }}
        </a>
      </li>
      <li>
        <a (click)="closeMenu()" class="menu-link" routerLink="exercises" routerLinkActive="active">
          <i class="fa__icon fas fa-dumbbell"></i>
          {{ 'pages.dashboard.menu.exercises' | translate }}
        </a>
      </li>
    </ul>
  </section>
