
<mat-card class="list-item-card" *ngIf="mealplan && auth.user | async as user">
  <div class="card-circle" (click)="linkToChild(mealplan)">
    <i class="fa__icon fas fa-weight"></i>
    <div class="nr-circle">
      <span>{{mealplan.mealplanNR}}</span>
    </div>
  </div>

  <!-- Menu -->
  <ng-container *ngIf="auth.user | async as $user">
    <button class="menu-icon-btn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" backdropClass="context-menu-mealplan">
      <button mat-menu-item (click)="duplicateMealplan(mealplan)" *ngIf="$user.roles.admin || $user.roles.specialist">
        <i class="fa__icon far fa-copy"></i>
        <span>{{ 'global.buttons.duplicate' | translate }}</span>
      </button>
      <button mat-menu-item (click)="linkToShoppingList(mealplan)">
        <i class="fa__icon fas fa-shopping-cart"></i>
        <span>{{ 'pages.shopping_list.title' | translate }}</span>
      </button>
      <button mat-menu-item (click)="printMealplan(mealplan)">
        <i class="fa__icon fas fa-print"></i>
        <span>{{ 'global.actions.print.print' | translate }}</span>
      </button>
    </mat-menu>
  </ng-container>

  <p class="subtitle" *ngIf="!mealplan.lastEdited">
    {{ 'global.words.edited' | translate }}: {{ 'global.errors.not_edited' | translate }}
  </p>
  <p class="subtitle" *ngIf="mealplan.lastEdited">
    {{ 'global.words.edited' | translate }}: {{mealplan.lastEdited.toDate() | date: 'short'}}
  </p>
  <section class="middle" (click)="linkToChild(mealplan)">
    <div class="title">
        <h2>{{mealplan.mealplanName}}</h2>
    </div>

    <div class="quick-info">
      <p class="speciality-title">mID: {{mealplan.mID}}</p>
      <p *ngIf="client" class="speciality-title">
        {{ 'global.words.for' | translate }}: {{client.displayName}}
      </p>
      <p class="speciality-title">
        {{ 'global.words.created' | translate }}: {{mealplan.creationDate.toDate() | date:'MM/dd/yy'}}
      </p>
    </div>
  </section>
  <section class="actions" *ngIf="user.roles.specialist || user.roles.admin">
    <button type="button" (click)="deleteMealplanDialog(mealplan)">
      <i class="fa__icon fas fa-trash"></i>
    </button>
    <button (click)="editMealplan(mealplan)">
      <i class="fa__icon fas fa-edit"></i>
    </button>
  </section>
</mat-card>
