<main class="limbo-container" *ngIf="auth.user | async as user">
  <ng-container *ngIf="user?.status?.appointment && user?.status?.appointmentAccepted && !user?.status?.appointmentCompleted && !showSpecialist">
    <div class="warning-banner">
      <i class="fa__icon fas fa-exclamation-triangle"></i>
      <p>
        {{ 'pages.signup.limbo.past_due_date' | translate }}
        <a class="warning-link" (click)="requestNewEvent(user)">
          {{ 'pages.signup.limbo.request_new' | translate }}
        </a>.
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="
    user?.status?.appointment &&
    !user?.status?.appointmentAccepted &&
    !user?.status?.appointmentCompleted &&
    !user?.status?.appointmentRejected">
    <div class="step-done" [class.hidden]="showSpecialist">
      <h1>{{ 'pages.signup.limbo.step_done.title' | translate }}</h1>
      <p class="intro-text">
        {{ 'pages.signup.limbo.step_done.intro' | translate }}
        <br class="not-mobile">
        <a class="text-link" (click)="toggleSpecialist()">
          {{ 'pages.signup.limbo.step_done.your_specialist' | translate }}
        </a>
        {{ 'pages.signup.limbo.step_done.will_confirm' | translate }}
      </p>
    </div>
  </ng-container>

  <!-- display something if it isn't accepted as well -->
  <ng-container *ngIf="user?.status?.appointmentRejected">
    <div class="step-done not-accepted" [class.hidden]="showSpecialist">
      <h1>{{ 'pages.signup.limbo.not_accepted.title' | translate }}</h1>
      <p class="subtitle" *ngIf="specialist">
        {{ 'pages.signup.limbo.not_accepted.subtitle_1' | translate }}
        <a class="text-link" (click)="toggleSpecialist()">
          {{specialist.firstName}} {{specialist.lastName}},
        </a>
        {{ 'pages.signup.limbo.not_accepted.subtitle_2' | translate }}
      </p>

      <button class="btn-primary" (click)="requestNewEvent(user)">
        {{ 'pages.signup.limbo.not_accepted.request_new' | translate }}
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="user?.status?.appointment && user?.status?.appointmentAccepted && !user?.status?.appointmentCompleted">
    <div class="appointment-status" [class.hidden]="showSpecialist">
      <h1>{{ 'pages.signup.limbo.appointment_status.title' | translate }}</h1>
      <p class="subtitle" *ngIf="specialist">
        {{ 'pages.signup.limbo.appointment_status.subtitle_1' | translate }}
        <a class="text-link" (click)="toggleSpecialist()">
          {{specialist.firstName}} {{specialist.lastName}}
        </a>
        {{ 'pages.signup.limbo.appointment_status.subtitle_2' | translate }}
      </p>

      <section class="appointment-status__appointments" *ngFor="let event of events">
        <app-appointment-detail [event]="event"></app-appointment-detail>
      </section>
    </div>
  </ng-container>

  <ng-container *ngIf="user?.status?.appointmentAccepted && user?.status?.appointmentCompleted && !user?.status?.accepted">
    <div class="step-done">
      <h1>{{ 'pages.signup.limbo.completed_appointment.title' | translate }}</h1>
      <p class="subtitle" *ngIf="specialist">
        {{ 'pages.signup.limbo.completed_appointment.subtitle_1' | translate }}
        <a class="text-link" (click)="toggleSpecialist()">
          {{specialist.firstName}} {{specialist.lastName}}
        </a>
        {{ 'pages.signup.limbo.completed_appointment.subtitle_2' | translate }}
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="!user?.status?.subscriptionValid && user?.status?.appointmentCompleted">
    <div class="step-done">
      <h1>{{ 'pages.signup.limbo.subscription_ended.title' | translate }}</h1>
      <p class="subtitle" *ngIf="specialist">
        {{ 'pages.signup.limbo.subscription_ended.subtitle_1' | translate }}
        <a class="text-link" (click)="toggleSpecialist()">
          {{specialist.firstName}} {{specialist.lastName}}
        </a>
        {{ 'pages.signup.limbo.subscription_ended.subtitle_2' | translate }}
        <a class="text-link" (click)="resetSpecialist(user)">
          {{ 'pages.signup.limbo.subscription_ended.another_specialist' | translate }}
        </a>.
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="user?.status?.subscriptionValid &&
                        user?.status?.accepted &&
                        user?.status?.appointmentAccepted &&
                        user?.status?.appointmentCompleted &&
                        user?.status?.appointment">

    <div class="step-done" [class.hidden]="showSpecialist">
      <h1>{{ 'pages.signup.limbo.all_completed.title' | translate }}</h1>
      <p class="subtitle" *ngIf="specialist">
        {{ 'pages.signup.limbo.all_completed.subtitle' | translate }}
      </p>
      <div class="btn-area">
        <button class="btn-icon-right"
          [class.btn-disabled]="user.status && !user?.status?.appointment"
          [disabled]="user.status && !user?.status?.appointment"
          routerLink="../../dashboard">
          <span>{{ 'pages.signup.limbo.all_completed.to_dashboard' | translate }}</span>
        </button>
      </div>
    </div>
  </ng-container>

  <section class="specialist-container" [class.active]="showSpecialist">
    <button class="hide-btn" (click)="toggleSpecialist()" *ngIf="showSpecialist">
      <i class="fa__icon fas fa-times"></i>
    </button>
    <app-specialist-detail [specialist]="specialist" *ngIf="showSpecialist">
    </app-specialist-detail>
  </section>
</main>
