<ng-container *ngIf="auth.user | async as user">
  <div class="first-consultation-item-container">
    <h2>{{i + 1}}.</h2>
    <div class="info-container" (click)="linkToChild(firstConsultation)">
      <h3 class="not-mobile">{{firstConsultation?.creationDate?.toDate() | date: 'short'}}</h3>
      <h3 class="mobile mobile-date">{{firstConsultation?.creationDate?.toDate() | date: 'shortDate'}}</h3>
      <h3 *ngIf="firstConsultation?.edited" class="not-mobile">{{firstConsultation?.edited?.toDate() | date: 'short'}}</h3>
      <h3 *ngIf="!firstConsultation?.edited" class="not-mobile">Not edited yet</h3>
      <h3 *ngIf="specialist" class="specialist">{{specialist?.firstName}} {{specialist?.lastName}}</h3>
    </div>

    <div class="not-mobile">
      <button class="edit-btn" *ngIf="user.roles.admin || user.roles.specialist" 
      (click)="editFirstConsultation(firstConsultation)">
        <i class="fa__icon far fa-edit"></i>
      </button>
      <button class="delete-btn" *ngIf="user.roles.admin || user.roles.specialist" 
      (click)="deleteFirstConsultation(firstConsultation)">
        <i class="fa__icon far fa-trash-alt"></i>
      </button>
    </div>
    <div class="mobile mat-menu" *ngIf="user.roles.specialist || user.roles.admin">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="list-item-menu">
          <button class="edit-btn"
          (click)="editFirstConsultation(firstConsultation)">
            <i class="fa__icon far fa-edit"></i>
            Edit
          </button>
          <button class="delete-btn"
          (click)="deleteFirstConsultation(firstConsultation)">
            <i class="fa__icon far fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
</ng-container>