<!-- Calendar Plugin -->
<div class="placeholder-wrapper">
  <i class="fas fa-calendar-alt"></i>
  <h5 class="placeholder">Here comes the calendar</h5>
  <!-- <app-booking-calendar></app-booking-calendar> -->
</div>

<div class="btn-area">
  <button type="button" class="btn-icon-left" routerLink="../step-two">
    <i class="fas fa-chevron-left small"></i>
    <span>Previous step</span>
  </button>
  <button class="btn-icon-right" type="submit"
  >
    <span>Last step</span>
    <i class="fas fa-chevron-right small"></i>
  </button>
</div>