@import './../../../assets/scss/master';
@import './../../../assets/scss/mixins';

main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 75vw;
    min-height: calc(100vh - 66px);
    width: 100%;

    @include respond-down($sm) {
        min-width: 100vw;
    }
}