@import './../../../../assets/scss/_master.scss';
@import './../../../../assets/scss/_forms.scss';

.dropzone {
    @extend %flex-column-center;
    font-size: $semi-bold;
    height: 100%;
    padding: 4em 2em;
    border: 2px dashed $secondary-color;
    border-radius: 5px;
    box-shadow: none;
    background: transparent;
    margin: 0px 0px 20px 0;
    color: $secondary-color;
    box-sizing: border-box;

    > .fa__icon, svg, ::ng-deep svg {
        font-size: 90px;
        color: $middle-grey;
        margin: 0 0 0.2em;
    }

    h3.photo-header {
        margin-left: 0;
    }

    a.text-link {
        margin-top: 0.2em;
        .fa__icon, svg, ::ng-deep svg {
            font-size: 14px;
            margin-left: 5px;
        }
    }

    h5 {
        margin: 0.5em auto 1.5em;
    }

    @keyframes flicker {
        0% {
            background: transparent
        }
        50% {
            background: lighten($secondary-color, 50%);
        }
        100% {
            background: transparent;
        }

    }

    &.hovering {
        border: 2px solid $secondary-color;
        color: $secondary-color;
        animation: flicker 500ms infinite;

        h3, h5, span {
            color: $secondary-color;
        }
    }

    .file-label {
        font-size: 18px;
        font-family: $main-font;
        font-weight: $semi-bold;
        color: $secondary-color;
        cursor: pointer;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            left: 0;
            right: 0;
            width: 100%;
        }
    }

    .file-icon {
        margin-right: 0.5em;

        .fa__icon, svg, ::ng-deep svg {
            font-size: 18px;
            margin: 0;
        }
    }

    .percentage-wrapper {
        width: 60%;
        height: 20px;
        background: #fff;
        margin-top: 20px;
        border-radius: 15px;
    }

    ::ng-deep .mat-progress-bar-fill::after {
        background-color: $primary-color;
        animation: load 5s linear 5s;
        animation-fill-mode: forwards;
    }
    
    ::ng-deep .mat-progress-bar-buffer {
        background: $middle-grey;
    }
    
    ::ng-deep .mat-progress-bar {
        border-radius: 15px;
        height: 20px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        animation: load 5s linear 5s;
        animation-fill-mode: forwards;
    }

    @keyframes load {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
    }

    button.btn-secondary {
        margin: 25px auto 25px auto;
    }

}

div.profile-pic {
    padding: 2em;
    background: #fff;
    margin: 0;
    width: 100%;
    height: auto;
    // border: 2px solid $primary-color;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;


    @keyframes scale-up-center {
        0% {
            transform: scale(0.5);
        }
        100% {
            transform: scale(1);
        }
    }

    .preview {
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        margin: 0 auto;
        padding: 0;
        background-size: 100%!important;
        background-repeat: no-repeat !important;
        background-position: center!important;
        height: 250px;
        width: 60%;
        border-radius: 10px;
    }

    .confirmation {
        @extend %flex-column-center;
        justify-content: flex-start;
        width: 100%;
        height: 195px;
        margin: 3em auto 0;
        text-align: center;
        position: relative;

        p.card-text {
            font-size: 16px;
            width: 80%;
            margin: 1em auto;
            text-align: center;
        }

        .file {
            box-sizing: border-box;

            input {
                display: none;
            }
            .file-cta {
                @extend %flex-row-center;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                background: transparent;
                height: 80px;

                span {
                    color: #fff;
                }

                .fa__icon, svg, ::ng-deep svg {
                    color: $secondary-color;
                }

                &:hover, &:focus {
                    .fa__icon, svg, ::ng-deep svg {
                        color: #fff;
                    }
                }
            }
            .bottom-btn {
                background: transparent;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                position: absolute;
                align-items: center;
                left: 0;
                right: 0;
                bottom: 25px;
                border-radius: 0 0 5px 5px;

                @keyframes background-wave {
                    0% {
                        background: $primary-color;
                    }
                    50% {
                        background: darken($primary-color, 20%);
                    }
                    100% {
                        background: $primary-color;
                    }
                }

                &:hover, &:focus {
                    cursor: pointer;
                    // animation: background-wave 4s infinite;
                }

                svg, span {
                    color: $icon-black;
                }

                span {
                    font-weight: $extra-bold;
                    font-size: 16px;
                    margin-top: 1px;
                    color: $text-black;
                }

                .fa__icon, svg, ::ng-deep svg {
                    margin-left: 1.5em;
                }
            }
        }
    }

}