@import './../../../../../assets/scss/_master.scss';

main.specialist-list-wrapper {
    margin: 0;
    padding: 0;

    // section.specialist-filters {

    // }

    section.user-list {
        display: flex;
        flex-flow: column nowrap;

        app-my-client-list-item {
            margin: 2em 0;
        }

    }

}