@import './../../../assets/scss/_master.scss';
@import './../../../assets/scss/_forms.scss';
@import './../../../assets/scss/_mixins.scss';

.chat-input-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-start;
    padding: 0 20px 0 0;
    width: 100%;

    @include respond-down($sm) {
        padding: 0 10px 0 0;
    }

    mat-form-field.chat-box {
        display: flex;
        justify-content: flex-start;
        height: 100%;
        margin: 0;
        max-height: 80px;
        padding: 0 0 0 20px;
        width: calc(100% - 50px);
    
        @include respond-down($sm) {
            max-height: 70px;
        }
    
        ::ng-deep .mat-form-field-underline {
            display: none;
        }
    
        ::ng-deep .mat-form-field-label{
            color: $grey;
            font-size: 16px;
            font-weight: $semi-bold;
            font-family: $main-font;
            letter-spacing: 1px;
        }
    
        ::ng-deep .mat-form-field-wrapper {
            @extend %flex-center;
            padding-bottom: 0;
            width: 100%;
        }
    
        ::ng-deep .mat-form-field-infix {
            border: none;
            margin: 0;
            padding: 0;
        }

        ::ng-deep .mat-form-field-flex {
            padding: 0;
        }
    
        input {
            font-size: 16px;
            max-height: 75px;
            line-height: 26px;
            box-sizing: border-box;
            width: 100%;
        }
    }
    
    .send-btn {
        width: 50px;
        @extend %flex-center;
    
        .fa__icon, .svg-inline--fa, svg, svg path {
            cursor: pointer;
            font-size: 20px;
            color: $primary-color;
            width: 20px;
        }
    }
}