@import './../../../assets/scss/_master.scss';


    h2 {
        color: $primary-color;
        margin: 0;
    }

    .quick-facts {
        @extend %flex-row-center;
        margin: 0.5em 0 0.75em;
        p {
            color: $secondary-color;
            margin: 0;
        }
    }

    p.card-text {
        color: $text-black;
        white-space: normal;
        text-align: center;
        font-size: 15px;
    }

    .list-container {
        margin: 2em auto;
        ul {
            li {
                font-family: $main-font;
                font-size: 15px;
                color: $secondary-color;

                ::ng-deep svg {
                    margin-right: 1em;
                    color: $secondary-color
                }
            }
        }
    }