<ng-container class="info-wrapper" *ngIf="food">
  <h2>{{food.packageTitle}}</h2>
  <div class="quick-facts">
    <p class="quick-fact">
      ${{food.packagePrice}} USD
    </p>
    <div class="circle-divider"></div>
    <p class="quick-fact">
      {{food.packageDuration}} 
      <span *ngIf="food.packageDuration === 1">
        {{ 'events.week' | translate }}
      </span>
      <span *ngIf="food.packageDuration !== 1">
        {{ 'events.weeks' | translate }}
      </span>
    </p>
  </div>
  <p class="card-text">
    {{food.packageDescription}}
  </p>
  <div class="list-container">
    <ul>
      <li *ngFor="let benefit of food.packageBenefits">
        <i class="fa__icon fas fa-check"></i>
        {{benefit.benefitValue}}
      </li>
    </ul>
  </div>
</ng-container>
