<main class="dialog-wrapper">
  <div class="close-section  mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> {{ 'global.buttons.back' | translate }}
    </button>
  </div>
      
  <form [formGroup]="reviewForm">
    <h3>
      {{ 'pages.review.form.write_for' | translate }} {{data.specialist.firstName}}
    </h3>
    <p class="card-text">
      {{ 'pages.review.form.write_for_detail' | translate: {name: data.specialist.firstName} }}
    </p>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>{{ 'pages.review.form.feedback_text' | translate }}</mat-label>
      <textarea type="text" matInput formControlName="reviewText" #reviewTextArea
        placeholder="{{ 'pages.review.form.feedback_text_ph' | translate }}" 
        matTextareaAutosize autofocus="off" autocomplete="off" >
      </textarea>
      <mat-error class="input-error"
        *ngIf="!reviewForm['controls'].reviewText.dirty && reviewForm['controls'].reviewText.touched">
        {{ 'global.errors.required' | translate }}
      </mat-error>
      <mat-error class="input-error" *ngIf="reviewText.errors?.minlength">
        {{ 'pages.review.errors.min_char_200' | translate: {length: reviewTextArea.value.length} }}
      </mat-error>
    </mat-form-field>
  </form>

  <section class="btn-area-one">
    <button type="submit" class="dialog-button" (click)="addReview()"
      [disabled]="!reviewForm.valid" [class.disabled]="!reviewForm.valid"
      mat-dialog-close>
      {{ 'global.buttons.done' | translate }}
    </button>
  </section>
</main>
