@import './../../../assets/scss/_master.scss';
@import './../../../assets/scss/_animations.scss';

mat-card.list-item-card {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: $card-shadow;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;

    @include respond-down($sm) {
        flex-flow: column wrap;
    }

    &:hover, &:focus {
        transition: transform 300ms ease-in-out;
        transform: scale(1.02);
    }

    section {
        @include respond-down($sm) {
            box-sizing: border-box;
            width: 100%!important;
        }

        &.profile-photo {
            width: 25%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include respond-down($sm) {
                height: 200px;
            }
        }

        &.middle {
            width: 65%;
            border-right: $light-border;
            padding: 1em 2em;

            .title {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                margin-top: 0.5em;


                @include respond-down($sm) {
                    flex-flow: column wrap;
                    align-items: flex-start;
                }

                h2 {
                    margin: 0;
                    width: auto;

                    @include respond-down($sm) {
                        width: 100%;
                    }
                }

                .dividing-circle {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $primary-color;
                    margin: 5px 15px 0 13px;

                    @include respond-down($sm) {
                        display: none;
                    }
                }

                p.location {
                    width: auto;
                    color: $grey;
                    font-size: 13px;
                    font-weight: $semi-bold;
                    margin: 5px 0 0 0;
                }

            }

            .quick-info {
                p {
                    font-size: 16px;
                    color: $text-black;
                    margin-bottom: 0;

                    &.speciality-title {
                        width: 100%;
                        font-size: 15px;
                        margin-top: 5px;
                    }

                    &.description {
                        height: 80px;
                        overflow: hidden;
                        position: relative;

                        @include respond-down($sm) {
                            height: 65px;

                            &::after {
                                content: '';
                                width: 100%;
                                height: 100%;    
                                position: absolute;
                                left: 0;
                                top: 0;
                                background: $white-bottom-gradient;
                            }
                        }
                    }
                }

                ul.contact-menu {
                    display: flex;
                    align-items: flex-start;
                    flex-flow: row wrap;
                    justify-content: flex-start;

                    @include respond-down($sm) {
                        margin: 1.5em 0;
                    }

                    li {
                        display: inline-block;
                        margin: 20px 40px 0 0;
                        @include respond-down($sm) {
                            box-sizing: border-box;
                            margin: 0 1.5em 10px 0;
                            width: 30%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            width: auto;
                        }

                        &:first-child {
                            margin-left: 0;
                        }

                        .fa__icon, .svg-inline--fa, svg, svg path {
                            font-size: 18px;
                            margin-right: 0.5em;
                            color: $secondary-color;


                            @include respond-down($sm) {
                                margin-right: 1em;
                            }
                        }

                        a {
                            font-size: 18px;
                            font-weight: $semi-bold;
                            color: $secondary-color;

                            @include respond-down($sm) {
                                padding-bottom: 0;
                            }
                        }
                    }
                }

                .btn-container {
                    width: fit-content;
                    @include arrow-right-animated();
                }
            }
        }

        &.actions {
            width: 10%;
            display: flex;
            flex-flow: column wrap;


            @include respond-down($sm) {
                flex-flow: row nowrap;
                height: 75px;
                border-top: $light-border;
            }

            button {
                width: 100%;
                height: 50%;
                @extend %flex-center;
                @include respond-down($sm) {
                    height: 100%;
                    border-radius: 0;

                    &:first-child() {
                        border-right: $light-border;
                    }
                }
                
                .fa__icon, .svg-inline--fa, svg, svg path {
                    margin-top: -3px;
                    font-size: 15px;
                    color: $icon-black;
                    transition: transform 200ms ease-in-out;
                }

                &:first-child {
                    border-bottom: $light-border;
                }

                &:hover, &:focus {
                    background: $light-grey;
                    .fa__icon, .svg-inline--fa, svg, svg path {
                        transition: transform 200ms ease-in-out;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}