<!-- <button mat-icon-button class="back-btn" (click)="goBack()" type="button">
    <i class="fas fa-arrow-left"></i>
</button> -->
<div class="wrapper">
    <header>
        <section class="title">
            <h1>The Clients of LifeLifting</h1>
            <button class="icon-button" (click)="openDialog()">
                <i class="fas fa-plus"></i>
            </button>
        </section>
        
        <p class="intro-text">In this section you have a quick overview of the clients. You can view quick 
            contact info and edit/delete them directly from the list. With the top right button you add one :).
        </p>
    </header>

    <app-client-list></app-client-list>

</div>

