<ng-container *ngIf="user">
  <section class="user-info">
    <div class="user-info__photo" [style.background-image]="'url('+ user.photoURL +')'">
    </div>
    <div class="user-info__details">
      <h1>
        {{ 'pages.dashboard.general.welcome_back' | translate }}, {{user.displayName}}
      </h1>
    </div>
  </section>

  <section class="user-consultations">
    <div class="user-consultations__future" *ngIf="futureAppointments">
      <h2>{{ 'pages.dashboard.general.upcoming_consultations' | translate }}</h2>
      <ul *ngIf="futureAppointments.length > 0">
        <li class="appointment-item" *ngFor="let appointment of futureAppointments" (click)="openEventDetailDialog(appointment)">
          <i class="fa__icon fas fa-calendar-plus"></i>
          {{appointment.start | date:'short'}} - {{getString(appointment.meetMethod)}}
          <i class="fa__icon fas fa-arrow-right"></i>
        </li>
      </ul>
      <a class="see-more-btn text-link" *ngIf="futureAppointments.length > 2" [routerLink]="['../my-calendar']">
        {{ 'global.buttons.see_more' | translate }}
      </a>
      <p class="card-text" *ngIf="futureAppointments.length <= 0">
        {{ 'pages.dashboard.general.no_consultations' | translate }}
      </p>
    </div>
  
    <div class="user-consultations__past" *ngIf="pastAppointments">
      <h2>{{ 'pages.dashboard.general.past_consultations' | translate }}</h2>
      <ul *ngIf="pastAppointments.length > 0">
        <li class="appointment-item" *ngFor="let appointment of pastAppointments" (click)="openEventDetailDialog(appointment)">
          <i class="fa__icon fas fa-calendar-check"></i>
          {{appointment.start | date:'short'}} - {{getString(appointment.meetMethod)}}
          <i class="fa__icon fas fa-arrow-right"></i>
        </li>
      </ul>
      <a class="see-more-btn text-link" *ngIf="pastAppointments.length > 2" [routerLink]="['../my-calendar']">
        {{ 'global.buttons.see_more' | translate }}
      </a>
      <p class="card-text" *ngIf="pastAppointments.length <= 0">
        {{ 'pages.dashboard.general.no_past_consultations' | translate }}
      </p>
    </div>
  </section>

  <section class="quick-action">
    <h2>{{ 'pages.dashboard.general.quick_actions' | translate }}</h2>

    <div class="quick-actions__btn-container">
      <button (click)="linkToChat()">
        <div class="icon">
          <i class="fa__icon fas fa-comment-alt"></i>
        </div>
        {{ 'pages.dashboard.general.buttons.go_to_chat' | translate }}
        <i class="fa__icon fas fa-arrow-right"></i>
      </button>
      <button (click)="linkToCalendar()">
        <div class="icon">
          <i class="fa__icon fas fa-calendar-alt"></i>
        </div>
        {{ 'pages.dashboard.general.buttons.go_to_calendar' | translate }}
        <i class="fa__icon fas fa-arrow-right"></i>
      </button>
    </div>
  </section>

  <section class="my-clients-list" *ngIf="clients">
    <h2>{{ 'pages.dashboard.menu.my_clients' | translate }}</h2>
    <div class="user-container" *ngIf="clients.length > 0">
      <app-my-client-list-item *ngFor="let user of clients" [user]="user"></app-my-client-list-item>
      <button class="see-more icon-btn" [routerLink]="['../my-clients']">
        <i class="fa__icon fa fa-user"></i>
        {{ 'pages.dashboard.general.buttons.see_all_clients' | translate }}
      </button>
    </div>
    <p class="card-text" *ngIf="clients.length <= 0">
      {{ 'pages.dashboard.general.no_clients' | translate }}
    </p>
  </section>
</ng-container>
