<div class="main-wrapper">
  <div class="column">
    <section class="login-container">
      <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
      <h2 *ngIf="!showThanks">Forgot Password</h2>
      <h2 *ngIf="showThanks">Email sent!</h2>
      <p *ngIf="!showThanks" class="intro-text">Fill out your email, so we can send you the password reset instructions. </p>
      <p *ngIf="showThanks" class="intro-text">Thank you! We've sent you an email. Please follow the steps in the mail. </p>

      <ng-container *ngIf="!showThanks">
        <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()" class="auth-form">
          <mat-form-field [formGroup]="resetPassForm" appearance="standard">
            <input type="text" matInput placeholder="E-mail address" formControlName="email" 
                    [class.active]="!email.valid && email.touched" autocomplete="off" required
            >
            <mat-error class="input-error" *ngIf="!email.touched">This is <strong>required</strong></mat-error>
            <mat-error class="input-error" *ngIf="!email.valid && email.touched">That's <strong>not</strong> a valid e-mail address!</mat-error>
          </mat-form-field>

          <div class="btn-area">
            <button class="btn-primary" type="submit" [disabled]="!resetPassForm.valid">Send mail</button>
            <br>
            <p class="light-text">- or -</p>
            <ng-container *ngIf="(auth.user | async) || {} as user">
              <button type="link" class="text-link" routerLink="../signup" *ngIf="!user.uid">Sign up for a new account instead</button>
              <button type="link" class="text-link" routerLink="../dashboard" *ngIf="user.uid">Sign up for a new account instead</button>
            </ng-container>
            <button type="link" class="text-link" routerLink="../login">Go back</button>
          </div>

        </form>
      </ng-container>
      <div class="btn-area" *ngIf="showThanks">
        <button type="link" class="text-link" routerLink="../dashboard">
          Go back
        </button>
      </div>
    </section>
  </div>
</div>