<div class="main-wrapper">
  <div class="column">
    <section class="login-container forgot-password">
      <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
      <h2 *ngIf="!showThanks">{{ 'pages.forgot_password.title' | translate }}</h2>
      <h2 *ngIf="showThanks">{{ 'pages.forgot_password.email_sent' | translate }}</h2>
      <p *ngIf="!showThanks" class="intro-text">
        {{ 'pages.forgot_password.intro' | translate }}
      </p>
      <p *ngIf="showThanks" class="intro-text">
        {{ 'pages.forgot_password.thanks_text' | translate }}
      </p>

      <ng-container *ngIf="!showThanks">
        <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()" class="auth-form">
          <mat-form-field [formGroup]="resetPassForm" appearance="standard">
            <input type="text" matInput placeholder="{{ 'global.form.email_placeholder' | translate }}"
              formControlName="email" [class.active]="!email.valid && email.touched"
              autocomplete="off" required>
            <mat-error class="input-error" *ngIf="!email.touched">
              {{ 'global.form.errors.required' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="!email.valid && email.touched">
              {{ 'global.form.errors.invalid_email' | translate }}
            </mat-error>
          </mat-form-field>

          <div class="btn-area">
            <button class="btn-primary" type="submit" [disabled]="!resetPassForm.valid">
              {{ 'pages.forgot_password.buttons.send_mail' | translate }}
            </button>
            <br>
            <p class="light-text">- {{ 'global.words.or' | translate }} -</p>
            <ng-container *ngIf="(auth.user | async) || {} as user">
              <button type="link" class="text-link" routerLink="../signup" *ngIf="!user.uid">
                {{ 'pages.forgot_password.buttons.new_account' | translate }}
              </button>
              <button type="link" class="text-link" routerLink="../dashboard" *ngIf="user.uid">
                {{ 'pages.forgot_password.buttons.new_account' | translate }}
              </button>
            </ng-container>
            <button type="link" class="text-link" routerLink="../login">
                {{ 'global.buttons.go_back' | translate }}
            </button>
          </div>

        </form>
      </ng-container>
      <div class="btn-area" *ngIf="showThanks">
        <button type="link" class="text-link" routerLink="../dashboard">
          Go back
        </button>
      </div>
    </section>
  </div>
</div>