.login-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.forgot-password {
    .btn-area {
        display: flex;
        margin-top: 20px!important;
        width: 100%;
    }
}

