@import './../../../assets/scss/_master.scss';


    h2 {
        color: $primary-color;
        margin: 0;
        white-space: normal;
        width: 100%;

        @include respond-down($sm) {
            font-size: 19px;
        }
    }

    .quick-facts {
        @extend %flex-row-center;
        margin: 0.5em 0 0.75em;
        p {
            color: $secondary-color;
            margin: 0;
            font-weight: $bold;

            .fa__icon, .svg-inline--fa, svg, svg path {
                margin-right: 10px;
            }
        }
    }

    p.card-text {
        color: $text-black;
        white-space: normal;
        text-align: left;
        font-size: 15px;
        @include respond-down($sm) {
            text-align: left;

            &.desc {
                overflow: hidden;
                width: 100%;
                box-sizing: border-box;
                height: 150px;
            }
        }
    }

    .read-more__buttons {
        margin: 1em 0 0 0;

        button {
            @include respond-down($sm) {
                display: flex;
                align-items: center;
                .fa__icon, .svg-inline--fa, svg, svg path {
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
        }
    }

    .list-container {
        display: flex;
        flex-flow: column nowrap;
        margin: 2em 0;

        @include respond-down($sm) {
            margin: 1em 0;
        }

        h5 {
            margin: 0.5em 0 1em;
        }

        ul {
            li {
                font-family: $main-font;
                font-size: 15px;
                color: $secondary-color;
                @include respond-down($sm) {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                }

                .fa__icon, .svg-inline--fa, svg, svg path {
                    margin-right: 1em;
                    color: $secondary-color
                }

                span {
                    font-weight: $bold;
                    margin: 0;
                    padding: 0;

                    @include respond-down($sm) {
                        height: auto;
                        word-wrap: break-word;
                        white-space: normal;
                    }
                }
            }
        }
    }