
<mat-card class="list-item-card" *ngIf="exercise">
  <section class="exercise-photo" (click)="linkToChild(exercise)"
    [style.background-image]="'url('+ exercise.exercisePhoto +')'">
  </section>
  <p class="subtitle">
    <span *ngFor="let category of exercise.categories">
      {{category.categoryValue}}
    </span>
  </p>
  <section class="middle" (click)="linkToChild(exercise)">
    <div class="title">
        <h2>{{exercise.exerciseName}}</h2>
    </div>

    <div class="quick-info">
      <ul class="contact-menu">
        <li>
          <span class="met-value">{{ 'pages.exercises.exercise_id' | translate }}:</span>
          {{exercise.exerciseID}}
        </li>
        <li>
          <span class="met-value">MET {{ 'global.words.value' | translate}}:</span>
          {{exercise.metsValue}}
        </li>
      </ul>
    </div>
  </section>
  <ng-container *ngIf="user">
    <section class="actions" *ngIf="user.roles.admin">
      <button type="button" (click)="deleteExerciseDialog(exercise)">
        <i class="fa__icon fas fa-trash"></i>
      </button>
      <button (click)="editExercise(exercise)">
        <i class="fa__icon fas fa-edit"></i>
      </button>
    </section>
  </ng-container>
</mat-card>
