<section class="list-display" *ngIf="followUps && client">
  <h1 class="section-title">Follow-up Consultations</h1>
  <div class="list-display__container">
    <div class="list-display__container-header">
      <h3 class="number">#</h3>
      <h3>Created</h3>
      <h3 class="not-mobile">Edited</h3>
      <h3>Specialist</h3>
      <h3>Meal plan</h3>
    </div>
    <app-follow-up-list-item *ngFor="let followUp of followUps; let i=index"
    [client]="client" [followUp]="followUp" [i]="i">
    </app-follow-up-list-item>
    <p class="card-text nothing-here" *ngIf="!followUps.length">
      No Follow-up Consultations yet
    </p>
  </div>
</section>
