<ng-container *ngIf="food">
  <main class="specialist-wrapper">

    <section class="action-toolbar-top">
      <div class="left">
        <button class="icon-button" [routerLink]="['../']">
            <i class="fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="middle">
        <h1>Product ID: {{food.productID}}</h1>
      </div>
      <div class="right">
        <button class="icon-button edit-button" (click)="editProduct()">
          <i class="fas fa-check"></i>
        </button>
      </div>
    </section>

      <form class="package-container" [formGroup]="editProductForm" *ngIf="editShow">

        <mat-card class="list-item-card" *ngIf="food">
            <section class="product-photo" [style.background]="'url('+ food.productPhoto +')'">
                <!-- <i class="fas fa-carrot"></i>
              <h1>{{i+1}}</h1> -->
              <app-file-upload-button [url]="url" (imageEvent)="receiveDownloadURL($event)"></app-file-upload-button>
            </section>
            <p class="subtitle">
              <span>{{editProductForm.controls.nutritionType.value}}</span>
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>Nutrition type</mat-label>
                <mat-select matInput placeholder="food.categories.nutritionType" formControlName="nutritionType" 
                panelClass="dropdown-regular" autocomplete="off" required>
                  <mat-option *ngFor="let type of nutritionTypes" [value]="type.value">{{type.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <section class="middle">
              <div class="title">
                  <h2><input type="text" class="text-field" name="productName" formControlName="productName"></h2>
              </div>
          
              <div class="quick-info">
                <p class="speciality-title">Product ID: {{food.productID}}</p>
                <ul class="contact-menu">
                  <li>
                    <i class="fas fa-balance-scale"></i>
                    <mat-form-field appearance="standard" floatLabel="always">
                      <mat-label>Unit measurement value</mat-label>
                      <mat-select matInput placeholder="Pick another unit" formControlName="unit" 
                      panelClass="dropdown-regular" autocomplete="off" required>
                        <mat-option *ngFor="let unit of units" [value]="unit.value">{{unit.value}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
            </section>        
          </mat-card>
    </form>

  </main> 
</ng-container>