<ng-container *ngIf="food">
  <main class="specialist-wrapper">
    <section class="action-toolbar-top">
      <div class="left">
        <button class="icon-button" [routerLink]="['../']">
            <i class="fa__icon fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="middle">
        <h1>{{ 'pages.food.product_id' | translate }}: {{food.productID}}</h1>
      </div>
      <div class="right">
        <button class="icon-button edit-button" (click)="editProduct()">
          <i class="fa__icon fas fa-check"></i>
        </button>
      </div>
    </section>

      <form class="package-container food-form" [formGroup]="editProductForm" *ngIf="editShow">
        <mat-card class="list-item-card" *ngIf="food">
            <section class="product-photo" [style.background]="'url('+ food.productPhoto +')'">
              <app-file-upload-button [url]="url" (imageEvent)="receiveDownloadURL($event)"></app-file-upload-button>
            </section>
            <p class="subtitle">
              <span>{{(editProductForm.controls.nutritionType.value) | translate}}</span>
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>{{ 'pages.food.general.nutrition_type' | translate }}</mat-label>
                <mat-select matInput placeholder="{{'pages.food.form.nutrition_group' | translate}}"
                  formControlName="nutritionType" panelClass="dropdown-regular" autocomplete="off"
                  required>
                  <mat-option *ngFor="let type of nutritionTypes" [value]="type.value">
                    {{ (type?.value) | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <section class="middle">
              <div class="title">
                <h2><input type="text" class="text-field" name="productName" formControlName="productName"></h2>
              </div>
          
              <div class="quick-info">
                <p class="speciality-title">
                  {{ 'pages.food.product_id' | translate }}: {{food.productID}}
                </p>
                <ul class="contact-menu">
                  <li>
                    <mat-form-field appearance="standard" floatLabel="always">
                      <mat-label>
                        {{ 'pages.food.general.unit_m_value' | translate }}
                      </mat-label>
                      <mat-select matInput placeholder="{{'pages.food.form.pick_another_unit' | translate}}"
                        formControlName="unit" panelClass="dropdown-regular" autocomplete="off"
                        required>
                        <mat-option *ngFor="let unit of units" [value]="unit.value">
                          {{(unit.value) | translate}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                  <li>
                    <mat-label>
                      {{ 'pages.food.general.calc_factor' | translate }}
                    </mat-label>
                    <input type="number" class="text-field" formControlName="factor" name="factor">
                  </li>
                  <li>
                    <mat-form-field appearance="standard" floatLabel="always">
                      <mat-label>
                        {{ 'pages.food.general.shopping_list' | translate }}
                      </mat-label>
                      <mat-select matInput placeholder="{{'pages.food.form.pick_another_unit' | translate}}"
                        formControlName="shoppingUnit" panelClass="dropdown-regular"
                        autocomplete="off" required>
                        <mat-option *ngFor="let unit of units" [value]="unit.value">
                          {{(unit?.value) | translate}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
            </section>        
          </mat-card>
    </form>
  </main> 
</ng-container>