<ng-container *ngIf="mealplan">
  <main class="specialist-wrapper" *ngIf="!editShow">

    <section class="action-toolbar-top">
      <div class="left">
        <button type="button" class="icon-button" (click)="goBack()">
            <i class="fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="middle">
        <h1 *ngIf="client; else gID">
          Mealplan for: {{client.displayName}}
        <h5>Current weight: {{client.basicData.currentWeight}}kg</h5></h1>
        <ng-template #gID>
            <h1>Mealplan ID: {{mealplan.mealplanID}}</h1>
        </ng-template>
      </div>
      <div class="right">
        <button type="button" class="icon-button edit-button" (click)="deleteMealplanDialog(mealplan)" *ngIf="!editShow">
          <i class="fas fa-trash"></i>
        </button>
        <button type="button" class="icon-button edit-button" (click)="toggleEdit()" *ngIf="!editShow">
          <i class="fas fa-edit"></i>
        </button>
      </div>
    </section>

    <div class="package-container">
      <mat-card class="list-item-card" *ngIf="mealplan">
          <section *ngIf="client" class="card-circle" (click)="linkToChild(mealplan, client)" [style.background]="'url('+ client.photoURL +')'">
          </section>
          <section class="chip-area">
            <p class="secondary-chip">
              Mealplan number: {{mealplan.mealplanNR}}
            </p>
            <p class="secondary-chip">
              Created: {{mealplan.creationDate.toDate() | date: 'MM/dd/yy'}}
            </p>
            <p *ngIf="mealplan.lastEdited" class="secondary-chip">
              Last edited: {{mealplan.lastEdited.toDate() | date: 'M/d/yy, h:mm a'}}
            </p>
          </section>

          <section class="introduction">
            <h2>{{mealplan.mealplanName}}</h2>
            <h5>
              mID: {{mealplan.mealplanID}}
            </h5>
          </section>

          <section class="navigation">
            <nav class="nav">
              <a class="nav-item active" id="monday" (click)="updateTabStates($event)">
                Monday
              </a>
              <a class="nav-item" id="tuesday" (click)="updateTabStates($event)">
                Tuesday
              </a>
              <a class="nav-item" id="wednesday" (click)="updateTabStates($event)">
                Wednesday
              </a>
              <a class="nav-item" id="thursday" (click)="updateTabStates($event)">
                Thursday
              </a>
              <a class="nav-item" id="friday" (click)="updateTabStates($event)">
                Friday
              </a>
              <a class="nav-item" id="supps" (click)="updateTabStates($event)">
                Supplements
              </a>
            </nav>
          </section>

          <section class="day-section monday" *ngIf="mondayTab">
            <app-monday [monday]="mealplan.mondayMeals" [mealTimes]="mealplan.mealTimes"></app-monday>
          </section>
          <section class="day-section tuesday" *ngIf="tuesdayTab">
            <app-tuesday [tuesday]="mealplan.tuesdayMeals" [mealTimes]="mealplan.mealTimes"></app-tuesday>
          </section>
          <section class="day-section wednesday" *ngIf="wednesdayTab">
              <app-wednesday [wednesday]="mealplan.wednesdayMeals" [mealTimes]="mealplan.mealTimes"></app-wednesday>
          </section>
          <section class="day-section thursday" *ngIf="thursdayTab">
            <app-thursday [thursday]="mealplan.thursdayMeals" [mealTimes]="mealplan.mealTimes"></app-thursday>
          </section>
          <section class="day-section friday" *ngIf="fridayTab">
            <app-friday [friday]="mealplan.fridayMeals" [mealTimes]="mealplan.mealTimes"></app-friday>
          </section>
          <section class="supps" *ngIf="suppsTab">
            Supplements
          </section>

      </mat-card>
    </div>
  </main>

  <ng-container *ngIf="editShow">
    <app-edit-mealplan [client]="client" [exercise]="exercise" [mealplan]="mealplan"></app-edit-mealplan>
  </ng-container>

</ng-container>
  
<ng-container *ngIf="!mealplan">
  <div class="not-available">
    <h3>😔 Woops! This mealplan is not (yet) avaliable.</h3>
    <p>Please go back to the available mealplans on the mealplans tab.</p>
    <button type="button" class="btn-primary" [routerLink]="['../']">
      Go back
    </button>
  </div>
</ng-container>
