<main class="specialist-wrapper" *ngIf="!editShow && mealplan">
  <section class="action-toolbar-top">
    <div class="left" *ngIf="auth.user | async as user">
      <button type="button" class="icon-button" (click)="goBack()">
        <i class="fa__icon fas fa-arrow-left"></i>
      </button>
    </div>

    <div class="middle">
      <h1 *ngIf="client; else gID">
        {{ 'pages.mealplan.general.mealplan_for' | translate }}: {{client.displayName}}
        <h5 class="not-mobile">
          {{ 'global.user.current_weight' | translate }}: {{client.currentWeight}}kg
        </h5>
      </h1>
      <ng-template #gID>
        <h1>{{ 'pages.mealplan.general.mealplan_id' | translate }}}: {{mealplan.mID}}</h1>
      </ng-template>
    </div>

    <div class="right" *ngIf="user">
      <button class="icon-button edit-button" *ngIf="actionMenuOpen; else plus" (click)="toggleButtonMenu()">
        <i class="fa__icon fas fa-minus"></i>
      </button>
      <ng-template #plus>
        <button class="icon-button edit-button" (click)="toggleButtonMenu()">
          <i class="fa__icon fas fa-plus"></i>
        </button>
      </ng-template>

      <div class="specialist-actions">
        <ng-container  *ngIf="user.roles.admin || user.roles.specialist">
          <button type="button" class="icon-button action-btn" (click)="editMealplan(mealplan)"
          *ngIf="!editShow">
            <i class="fa__icon fas fa-edit"></i>
          </button>

          <button type="button" class="icon-button action-btn" (click)="deleteMealplanDialog(mealplan)" 
          *ngIf="!editShow">
            <i class="fa__icon fas fa-trash"></i>
          </button>
        </ng-container>

        <button type="button" class="icon-button action-btn" (click)="printMealplan(mealplan)">
          <i class="fa__icon fas fa-print"></i>
        </button>

        <button type="button" class="icon-button action-btn" (click)="linkToShoppingList(mealplan)">
          <i class="fa__icon fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
  </section>

  <div class="package-container">
    <mat-card class="list-item-card">
        <section *ngIf="client" class="card-circle" [style.background]="'url('+ client.photoURL +')'">
          <div class="no-photo" *ngIf="!client.photoURL">
            <i class="fa__icon fas fa-sad-tear"></i>
            <p class="card-text">
              {{ 'global.errors.no_photo' | translate }}
            </p>
          </div>
        </section>
        <section class="chip-area">
          <p class="secondary-chip">
            {{ 'pages.mealplan.general.mealplan_number' | translate }}: {{mealplan.mealplanNR}}
          </p>
          <p class="secondary-chip">
            {{ 'global.words.created' | translate }}: {{mealplan.creationDate.toDate() | date: 'MM/dd/yy'}}
          </p>
          <p *ngIf="mealplan.lastEdited" class="secondary-chip">
            {{ 'global.words.edited' | translate }}: {{mealplan.lastEdited.toDate() | date: 'M/d/yy, h:mm a'}}
          </p>
        </section>

        <section class="introduction">
          <h2>{{mealplan.mealplanName}}</h2>
          <h5>
            mID: {{mealplan.mID}}
          </h5>
          <a class="text-link" (click)="openNotesDialog()">
            {{ 'pages.mealplan.buttons.see_notes' | translate }}
          </a>
        </section>

        <section class="navigation">
          <nav class="mealplan-nav" id="mealplan-nav" #mealplanNav>
            <a class="nav-item active" id="monday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)" #firstNavItem>
              <ng-container *ngIf="!isMobile">{{ 'events.monday' | translate }}</ng-container>
              <ng-container *ngIf="isMobile">M</ng-container>
            </a>
            <a class="nav-item" id="tuesday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
              <ng-container *ngIf="!isMobile">{{ 'events.tuesday' | translate }}</ng-container>
              <ng-container *ngIf="isMobile">T</ng-container>
            </a>
            <a class="nav-item" id="wednesday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
              <ng-container *ngIf="!isMobile">{{ 'events.wednesday' | translate }}</ng-container>
              <ng-container *ngIf="isMobile">W</ng-container>
            </a>
            <a class="nav-item" id="thursday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
              <ng-container *ngIf="!isMobile">{{ 'events.thursday' | translate }}</ng-container>
              <ng-container *ngIf="isMobile">T</ng-container>
            </a>
            <a class="nav-item" id="friday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
              <ng-container *ngIf="!isMobile">{{ 'events.friday' | translate }}</ng-container>
              <ng-container *ngIf="isMobile">F</ng-container>
            </a>
            <a class="nav-item" id="supps" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
            <ng-container *ngIf="!isMobile">
              {{ 'pages.mealplan.general.supps' | translate }}
            </ng-container>
            <ng-container *ngIf="isMobile">Supps</ng-container>
            </a>
          </nav>
        </section>

        <section class="day-section monday" *ngIf="mondayTab">
          <app-monday [monday]="mealplan.mondayMeals" [mealTimes]="mealplan.mealTimes" [preps]="mealplan.preperations"></app-monday>
        </section>
        <section class="day-section tuesday" *ngIf="tuesdayTab">
          <app-tuesday [tuesday]="mealplan.tuesdayMeals" [mealTimes]="mealplan.mealTimes"></app-tuesday>
        </section>
        <section class="day-section wednesday" *ngIf="wednesdayTab">
            <app-wednesday [wednesday]="mealplan.wednesdayMeals" [mealTimes]="mealplan.mealTimes"></app-wednesday>
        </section>
        <section class="day-section thursday" *ngIf="thursdayTab">
          <app-thursday [thursday]="mealplan.thursdayMeals" [mealTimes]="mealplan.mealTimes"></app-thursday>
        </section>
        <section class="day-section friday" *ngIf="fridayTab">
          <app-friday [friday]="mealplan.fridayMeals" [mealTimes]="mealplan.mealTimes"></app-friday>
        </section>
        <section class="supps" *ngIf="suppsTab">
          <app-supps [supps]="mealplan.supplementation"></app-supps>
        </section>

    </mat-card>
  </div>
</main>
  
<ng-container *ngIf="!mealplan">
  <div class="not-available">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>
