<div class="dashboard-menu-wrapper" *ngIf="auth.user | async as user">
  <section class="logo-wrapper" routerLink="../login">
    <img src="../../../assets/img/logo-icon.svg">
    <h2>LifeLifting</h2>
  </section>

  <ul class="link-container opened">
    <li class="mobile">
      <a (click)="closeMenu()" class="menu-link" routerLink="../chat" routerLinkActive="active">
        <i class="fa__icon fas fa-comment-alt"></i>
        Chat
      </a>
    </li>
    <li>
      <a (click)="closeMenu()" class="menu-link" routerLink="overview" routerLinkActive="active">
        <i class="fa__icon fas fa-th-large"></i>
        Overview
      </a>
    </li>
  </ul>

  <app-admin-menu [user]="user" *ngIf="user && auth.adminRoles(user)"></app-admin-menu>
  <app-specialist-menu [user]="user" *ngIf="user && auth.specialistRoles(user)"></app-specialist-menu>
  <app-client-menu [user]="user" *ngIf="user && auth.clientRoles(user)"></app-client-menu>
  <app-misc-menu [user]="user" *ngIf="user && auth.adminRoles(user)"></app-misc-menu>
</div>
