@import './../../../assets/scss/_master.scss';

div.dashboard-menu-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    border-right: $light-border;
    overflow-x: hidden;

    section.logo-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        height: 66.5px;
        box-sizing: border-box;
        padding: 0 1.5em;
        border-bottom: $light-border;

        @include respond-down($sm) {
            display: none;
        }

        img {
            width: auto;
            height: 45px;
        }

        h2 {
            width: 70%;
            margin: 0 0 0 10%;
        }
    }

    ::ng-deep .title-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h5.sidebar-title {
            margin: 1em;
            position: relative;
            width: 65%;

            &::after {
                content: '';
                height: 2.5px;
                width: 50%;
                position: absolute;
                bottom: -15px;
                left: -1em;
                background: darken($light-grey, 5%);
            }
            &.active {
                &::after {
                    height: 1.5px;
                }
            }
        }

        section.btn-area {
            @extend %flex-center;
            width: 40%;
            justify-content: flex-end;
            padding-right: 1em;

            button {
                font-size: 14px;
                font-weight: $semi-bold;
                color: $secondary-color;

                ::ng-deep svg {
                    margin-right: 1em;
                    font-size: 10px;
                    color: $secondary-color;
                }
            }
        }
    }

    ::ng-deep ul.link-container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        max-height: 0;
        transition: max-height .3s ease-out, opacity 0s ease-out;
        opacity: 0;
        position: absolute;
        z-index: -1200;

        &.opened {
            max-height: 1500px;
            opacity: 1;
            position: relative;
            transition: max-height .4s ease-in, opacity .35s ease-in;
            z-index: 5;
        }
        
        li {
            display: flex;
            height: 60px;
            width: 100%;
        }
    }
}