@import '_master';
@import '_forms';

section.form-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

    mat-form-field {
        width: 100%;
        margin: 1em auto;
    }

    h3 {
        margin-top: 2em;
    }

    p.intro-text {
        width: 90%;
        margin-top: 1em;
        text-align: center
    }

    .add-form-field-container {
        @extend %flex-column-center;
        width: 100%;
        margin: 1em auto;

        .dynamic-form-field-container {
            @extend %flex-column-center;
            height: auto;
            margin: 0 auto 1em;
            position: relative;
            padding: 3em;
            width: 80%;
            background: #fff;
            box-shadow: $card-shadow;

            mat-form-field {
                width: 100%;
            }

            button {
                position: absolute;
                width: 5%;
                right: 2em;
                top: 2em;
            }
        }


    }

    button.add-form-field {
        margin: 1.5em auto 1em!important;
        font-size: 18px;
        font-weight: $semi-bold;
        svg {
            margin-right: 1em;
        }
    }

}

.btn-disabled {
    background-color: $middle-grey;
}