<form [formGroup]="signUpForm">
  <section class="form-container">
    <h5>Account Settings</h5>
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>The Email will be used as Username</mat-label>
      <input type="text" matInput placeholder="What's your email?" formControlName="email" 
              [class.active]="!email.valid && email.touched" autofocus autocomplete="off" required
      >
      <mat-error class="input-error" *ngIf="!email.dirty">This is <strong>required</strong></mat-error>
      <mat-error class="input-error" *ngIf="!email.valid && email.dirty">That's <strong>not</strong> a valid e-mail address!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Pick a Password </mat-label>
      <input class="form-input" type="password" matInput placeholder="Setting it for your specialist is safer" [type]="hide ? 'password' : 'text'" 
      formControlName="password" [class.active]="!password.valid && password.touched" 
      autocomplete="new-password" required
      >
      <mat-error class="input-error" *ngIf="!password.dirty">This is <strong>required</strong></mat-error>
      <mat-error class="input-error" *ngIf="password.errors?.minlength"><strong>Not enough</strong> characters, try harder!</mat-error>
      <mat-error class="input-error" *ngIf="password.errors?.maxlength">Too <strong>much</strong> characters, slow down there.</mat-error>
      <mat-error class="input-error" *ngIf="password.errors?.pattern">Password contains <strong>a special character</strong>, or lacks a <strong>number/letter</strong>.</mat-error>
    </mat-form-field>
  </section>
</form>

<form [formGroup]="addSpecialistForm" (ngSubmit)="specialistSignUp()">
  <section class="form-container">
    <div class="image-uploader">
        <app-file-upload (imageEvent)="receiveDownloadURL($event)"></app-file-upload>
    </div>

    <h5>Extra Data</h5>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Specialist ID</mat-label>
      <input type="text" matInput formControlName="sID" placeholder="Serves as a quick lookup helper" autocomplete="new-password">
      <mat-hint>Must contain 8 characters, letters and numbers</mat-hint>
      <mat-error class="input-error" *ngIf="sID.errors?.valid">This is <strong>required</strong></mat-error>
      <mat-error class="input-error" *ngIf="sID.errors?.minlength">This is <strong>too short</strong></mat-error>
      <mat-error class="input-error" *ngIf="sID.errors?.pattern">Must contain <strong>letters</strong> and <strong>numbers</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>First name</mat-label>
      <input type="text" matInput formControlName="firstName" placeholder="Give the specialist a name" autofocus="none">
      <mat-error class="input-error" *ngIf="!addSpecialistForm['controls'].firstName.valid">This is <strong>too required</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Last name</mat-label>
      <input type="text" matInput formControlName="lastName" placeholder="The last name" autocomplete="off">
      <mat-error class="input-error" *ngIf="!addSpecialistForm['controls'].lastName.valid">This is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>The Short Description</mat-label>
      <textarea type="text" matInput formControlName="description" placeholder="Write a short but attractive description" 
      matTextareaAutosize autofocus="off" autocomplete="off">
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Phone Number</mat-label>
      <input type="number" matInput formControlName="phoneNumber" placeholder="What's his/her phone number?" autofocus="off" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>The position in LifeLifting</mat-label>
      <input type="text" matInput formControlName="position" placeholder="What's his/her position?" autofocus="off" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>His/her speciality</mat-label>
      <input type="text" matInput formControlName="speciality" placeholder="Where is he or she best at?" autofocus="off" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Pick a Timezone</mat-label>
        <mat-select matInput placeholder="Which timezone is he/she in?" [(value)]="selectedTimezone" formControlName="timeZone" autocomplete="off" required>
          <mat-option *ngFor="let timezone of timezones | async"> {{timezone.city}}, {{timezone.country}} / {{timezone.gmtValue}}</mat-option>
        </mat-select>
        <!-- <mat-error class="input-error" *ngIf="!gender.valid && basicUserDataForm.touched">This is <strong>required</strong></mat-error> -->
      </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>City</mat-label>
      <input type="text" matInput formControlName="city" placeholder="Which city does he/she live?" autofocus="off" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Country</mat-label>
      <input type="text" matInput formControlName="country" placeholder="In which country is that?" autofocus="off" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Years of experience</mat-label>
      <input type="number" matInput formControlName="yearsOfExperience" placeholder="Amount in nr." autofocus="off" maxlength="2" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Total amount of patients</mat-label>
      <input type="number" matInput formControlName="patientsTotal" placeholder="How many patients?" autofocus="off" autocomplete="off">
    </mat-form-field>

    <!-- Add Specialist Language -->
    <h3>Languages</h3>
    <p class="intro-text">Add languages to the nutritionist so we can hook them up with the right clients. This way we will also be able 
      to know if we have to fix on other markets.
    </p>
    <div class="add-form-field-container" formArrayName="languages">
      <section class="dynamic-form-field-container" *ngFor="let language of languageForms.controls; let i=index" [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Which language</mat-label>
            <input type="text" matInput placeholder="Language {{i+1}}?" formControlName="languageValue" autocomplete="off" required>
            <mat-error class="input-error" *ngIf="!languageValue.valid && addSpecialistForm.touched">This is <strong>required</strong></mat-error> 
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>What level?</mat-label>
            <input type="text" matInput placeholder="Profficiency" formControlName="languageLevel" autocomplete="off" required>
            <mat-error class="input-error" *ngIf="!languageLevel.valid && addSpecialistForm.touched">This is <strong>required</strong></mat-error> 
          </mat-form-field>
          <button mat-icon-button type="button" class="delete-btn" (click)="deleteLanguage(i)">
            <i class="fa fa-trash"></i>
          </button>
      </section>
    </div>

    <button type="button" class="text-link add-form-field" (click)="addLanguage()">
      <i class="fa fa-plus"></i>
      Add another language
    </button>

    <!-- Add Specialist Reviews -->
    <h3>Reviews</h3>
    <p class="intro-text">Add reviews so potential clients can see he/she is fit for the job.</p>
    <div class="add-form-field-container" formArrayName="reviews">
      <section class="dynamic-form-field-container"  *ngFor="let review of reviewForms.controls; let i=index" [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The review text</mat-label>
            <textarea type="text" matInput formControlName="reviewText" placeholder="Specialist Review {{i+1}}" 
                      matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!reviewText.valid && addSpecialistForm.touched">This is <strong>required</strong></mat-error> 
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The review writer</mat-label>
            <input type="text" matInput placeholder="Who wrote Review {{i+1}}?" formControlName="reviewerName" autocomplete="off" required>
            <mat-error class="input-error" *ngIf="!reviewerName.valid && addSpecialistForm.touched">This is <strong>required</strong></mat-error> 
          </mat-form-field>
          <button mat-icon-button type="button" class="delete-btn" (click)="deleteReview(i)">
            <i class="fa fa-trash"></i>
          </button>
      </section>
    </div>

    <button type="button" class="text-link add-form-field" (click)="addReview()">
      <i class="fa fa-plus"></i>
      Add another review
    </button>

  </section>

  <div class="btn-area">
    <button class="btn-icon-right" type="submit" [disabled]="!addSpecialistForm.valid" [class.btn-disabled]="!addSpecialistForm.valid">
      <span>Add Specialist</span>
      <i class="fas fa-check small" *ngIf="addSpecialistForm.valid && signUpForm.valid"></i>
    </button>
  </div>
</form>
