<!-- <button mat-icon-button class="back-btn" (click)="goBack()" type="button">
    <i class="fa__icon fas fa-arrow-left"></i>
</button> -->
<div class="wrapper">
    <header>
        <section class="title">
            <h1>Saved Foods</h1>
            <div class="overview-search-bar not-mobile" mat-button>
                <input type="text" placeholder="Search by name" (input)="onChangeSearch($event)" class="overview-search-bar__input">
                <i class="fa__icon fas fa-search"></i>
            </div>
            <button class="icon-button" (click)="openDialog()">
                <i class="fa__icon fas fa-plus"></i>
            </button>
        </section>
        
        <p class="intro-text">
            In this section you have a quick overview of the foods you entered. You can view and edit/delete them directly 
            from the list. With the top right button you add a food. <span class="emoji">🍲</span>
        </p>
    </header>

    <div class="overview-search-bar mobile" mat-button>
        <input type="text" placeholder="Search by name" (input)="onChangeSearch($event)" class="overview-search-bar__input">
        <i class="fa__icon fas fa-search"></i>
    </div>
    
    <app-food-list [foods]="foods" *ngIf="!searchActive"></app-food-list>
    <app-food-list [foods]="searchFoods" *ngIf="searchActive"></app-food-list>
    <p class="card-text no-search-result" *ngIf="searchActive && searchFoods && searchFoods.length == 0">
        No search results found, please try a different name. 🔎
        <a class="text-link" (click)="searchActive = !searchActive">
            Show all
        </a>
    </p>
</div>

