<div class="wrapper">
    <header>
        <section class="title">
            <h1>{{ 'pages.foods.general.title' | translate }}</h1>
            <div class="overview-search-bar not-mobile" mat-button>
                <input type="text" (input)="onChangeSearch($event)"
                    placeholder="{{ 'global.actions.search.search_by_name' | translate }}"  
                    class="overview-search-bar__input">
                <i class="fa__icon fas fa-search"></i>
            </div>
            <button class="icon-button" (click)="openDialog()">
                <i class="fa__icon fas fa-plus"></i>
            </button>
        </section>
        
        <p class="intro-text">
            {{ 'pages.foods.general.intro' | translate }} 🍲
        </p>
    </header>

    <div class="overview-search-bar mobile" mat-button>
        <input type="text" class="overview-search-bar__input" (input)="onChangeSearch($event)"
            placeholder="{{ 'global.actions.search.search_by_name' | translate }}">
        <i class="fa__icon fas fa-search"></i>
    </div>
    
    <app-food-list [foods]="foods" *ngIf="!searchActive"></app-food-list>
    <app-food-list [foods]="searchFoods" *ngIf="searchActive"></app-food-list>
    <p class="card-text no-search-result" *ngIf="searchActive && searchFoods && searchFoods.length == 0">
        {{ 'global.actions.search.no_results_name' | translate }}
        <a class="text-link" (click)="searchActive = !searchActive">
            {{ 'global.buttons.show_all' | translate }}
        </a>
    </p>
</div>

