@import './../../../../assets/scss/_master.scss';

section.step-wrapper {
    justify-content: flex-start;
    padding: 2em 0 100px;
    height: auto;
    box-sizing: border-box;

    @include respond-down($sm) {
        padding: 3em 0 0;
        overflow-y: auto;
    }

    h5 {
        text-align: center;
    }

    &.success {
        height: 100vh;
        padding: 2em 0;
        justify-content: center;
        align-items: center; 

        p.intro-text {
            width: 80%;
            margin: 1em auto 2em;
            text-align: center;
        }
    }
}

.package-container {
    mat-radio-group.package-slider {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1em 0 1em;

        @include respond-down($sm) {
            flex-flow: row nowrap;
            height: auto;
        }

        .right-scroll-margin {
            width: 50px;
            // height: 550px;
            box-sizing: border-box;
            background: transparent;
            .hide {
                visibility: hidden;
            }
        }
    }
}

::ng-deep mat-radio-button, .package-item {
    flex: 0 0 auto;
    width: 40%;
    height: 100%;
    margin: 0 2em;
    background: #fff;
    box-shadow: $card-shadow;
    border: 10px solid transparent;
    outline: 5px solid transparent;

    @include respond-down($sm) {
        width: 80vw;
        margin: 0 1.5em 0!important;
        height: auto;
    }

    * {
        box-sizing: border-box;
    }

    app-package-item {
        @extend %flex-column-center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        @include respond-down($sm) {
            align-items: flex-start;

        }
    }


    label.mat-radio-label {
        width: 100%;
        padding: 2em;
        @include respond-down($sm) {
            padding: 1em;
        }

        .mat-radio-container {
            display: none!important;
        }

        .mat-radio-label-content {
            max-width: 100%;
            padding: 0;

            h2 {
                @include respond-down($sm) {
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        mat-label {
            width: 100%;
        }
    }

    &:hover, &:focus, &:active, &.mat-radio-checked {
        border: 10px solid $middle-grey;
        outline: 5px solid lighten($primary-color, 10%);
    }
}