@import './../../../assets/scss/_master.scss';

.dashboard-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    background: $light-grey;
    position: fixed;

    .sidenav-desktop {
        height: 100vh;
        overflow-x: hidden;
        position: sticky;
        top: 0;
        width: 25vw;
        z-index: 10;
    }

    app-dashboard-menu {
        background: #fff;
        box-shadow: $sidebar-shadow;
        height: 100vh;
        max-width: 25vw;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        width: 25vw;
        z-index: 10;
    }


    section.content {
        height: 100vh;
        width: calc(100vw - 25vw);
        display: flex;
        flex-flow: column;
        overflow-y: auto;
        overflow-x: hidden;

        @include respond-down($sm) {
            width: 100vw;
        }

        app-dashboard-top-nav {
            width: 75vw;
            height: 65px;
            background: #fff;
            box-shadow: $toolbar-shadow;
            position: sticky;
            top: 0;
            z-index: 12;

            @include respond-down($sm) {
                width: 100%;
            }
        }

        div.router-wrapper {
            flex: 1;
            min-width: 75vw;
            min-height: calc(100vh - 66px);
            position: relative;
            transition: all 100ms ease-in-out;
            z-index: 1;

            &.dashboard-router-outlet {
                ::ng-deep {
                    .specialist-wrappeer {
                        min-width: 75vw;
                    }
                }

                .specialist-wrappeer {
                    min-width: 75vw;
                }
            }

            @include respond-down($sm) {
                min-width: 100vw;
            }

            ::ng-deep router-outlet + * {
                position: absolute;
                height: 100%;
                min-width: 75vw;
                min-height: calc(100vh - 66px);
                width: 100%;
                overflow-y: scroll;
                transition: all 200ms ease-in-out;
            }

        }
    }

    .not-permitted {
        @extend %flex-center;
        flex-flow: column wrap;
        height: 100%;
        width: 100%;
        @include respond-down($sm) {
            box-sizing: border-box;
            padding: 2em 16px;

            h1,  p {
                text-align: center;
            }
        }

        button {
            margin-top: 1em;
        }
    }
}

// Sidenav

mat-sidenav.sidenav {
    width: 75%;
}

.mat-drawer-container {
    .mat-drawer-backdrop {
        @include respond-up($sm) {
            display: none !important;
        }
    }
}

.mat-sidenav-content {
    .content {
        @include respond-down($sm) {
            position: absolute;
        }
    }
}

.mat-drawer-content {
    overflow-x: hidden;
    width: 100vw;

    @include respond-up($sm) {
        display: flex!important;
    }
}