@import './../../../assets/scss/_master.scss';

.dashboard-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    background: $light-grey;
    position: fixed;

    .sidenav-desktop {
        width: 25vw;
        position: sticky;
        top: 0;
        height: 100vh;
        z-index: 10;

        app-dashboard-menu {
            @include respond-down($sm) {
                display: none;
            }
        }
    }

    app-dashboard-menu {
        width: 25vw;
        max-width: 25vw;
        height: 100vh;
        background: #fff;
        box-shadow: $sidebar-shadow;
        overflow-y: scroll;
        position: relative;
        z-index: 10;
    }


    section.content {
        height: 100vh;
        width: calc(100vw - 25vw);
        display: flex;
        flex-flow: column;

        @include respond-down($sm) {
            width: 100vw;
        }

        app-dashboard-top-nav {
            width: 100%;
            height: 65px;
            background: #fff;
            box-shadow: $toolbar-shadow;
            position: relative;
            z-index: 12;

            @include respond-down($sm) {
                position: sticky;
                top: 0;
            }
        }

        div.router-wrapper {
            flex: 1;
            position: relative;
            transition: all 100ms ease-in-out;
            z-index: 1;

            ::ng-deep router-outlet + * {
                position: absolute;
                height: 100%;
                width: 100%;
                overflow-y: scroll;
                transition: all 200ms ease-in-out;
            }

        }
    }

    .not-permitted {
        @extend %flex-center;
        flex-flow: column wrap;
        height: 100%;
        width: 100%;
        @include respond-down($sm) {
            box-sizing: border-box;
            padding: 2em 16px;

            h1,  p {
                text-align: center;
            }
        }

        button {
            margin-top: 1em;
        }
    }
}

// Sidenav

mat-sidenav.sidenav {
    width: 75%;
}

.mat-sidenav-content {
    .content {
        @include respond-down($sm) {
            position: absolute;
        }
    }
}

.mat-drawer-content {
    @include respond-up($sm) {
        display: flex!important;
    }
}