<mat-sidenav-container [hasBackdrop]="true" (backdropClick)="close()" class="dashboard-wrapper" *ngIf="auth.user | async as user">
  <mat-sidenav #sidenav mode="side" class="sidenav mobile" [opened]="sideNavOpened" [autoFocus]="true">
    <app-dashboard-menu></app-dashboard-menu>
  </mat-sidenav>

  <ng-container *ngIf="user?.status?.signUpCompleted">
    <div class="sidenav-desktop not-mobile">
      <app-dashboard-menu></app-dashboard-menu>
    </div>

    <section class="content">
      <app-dashboard-top-nav [user]="user"></app-dashboard-top-nav>
      <div class="router-wrapper" [@routeTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="!user?.status?.signUpCompleted">
    <div class="not-permitted">
      <h1>{{ 'pages.dashboard.errors.signup_incomplete' | translate }}</h1>
      <p class="card-text">
        {{ 'pages.dashboard.errors.signup_incomplete_detail' | translate }}
      </p>
      <button class="btn-primary" (click)="goBack()">
        {{ 'global.buttons.go_back' | translate }}
      </button>
    </div>
  </ng-container>
</mat-sidenav-container>


