<mat-sidenav-container [hasBackdrop]="true" (backdropClick)="close()" class="dashboard-wrapper" *ngIf="auth.user | async as user">
  <mat-sidenav #sidenav mode="side" class="sidenav mobile" [opened]="sideNavOpened" [autoFocus]="true">
    <app-dashboard-menu></app-dashboard-menu>
  </mat-sidenav>

  <ng-container *ngIf="user.status.signUpCompleted">
    <div class="sidenav-desktop not-mobile">
      <app-dashboard-menu></app-dashboard-menu>
    </div>

    <section class="content">
      <app-dashboard-top-nav [user]="user"></app-dashboard-top-nav>
      <div class="router-wrapper" [@slideTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="!user.status.signUpCompleted">
    <div class="not-permitted">
      <h1>Woops! You haven't completed the Signup process yet..</h1>
      <p class="card-text">
        Complete the process or contact you specialist and tell him to hurry up! <span class="emoji">⌛</span>
      </p>
      <button class="btn-primary" (click)="goBack()">
        Go back
      </button>
      <!--  TODO: SPECIALIST CARD -->
    </div>
  </ng-container>
</mat-sidenav-container>


