<main class="dialog-wrapper">
  <div class="close-section  mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> Back
    </button>
  </div>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="infoForm">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>{{ 'global.words.info' | translate }}</ng-template>
        <h3>
          ℹ️ {{ 'pages.guideline.form.guideline_info_for' | translate }} {{userData.displayName}}
        </h3>
        <p class="card-text">
          {{ 'pages.guideline.form.guideline_info_detail' | translate }}
        </p>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.general.guideline_id' | translate }}</mat-label>
          <input type="number" matInput name="gID" formControlName="gID"
            placeholder="{{ 'global.form.always_number' | translate }}" autocomplete="new-password">
          <mat-hint *ngIf="!infoForm['controls'].gID.dirty">
            {{ 'pages.guideline.form.number_taken' | translate }}
          </mat-hint>
          <mat-error class="input-error" *ngIf="!infoForm['controls'].gID.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.general.guideline_name' | translate }}</mat-label>
          <input type="text" matInput name="guidelineName" formControlName="guidelineName"
            placeholder="{{ 'pages.guideline.form.name_placeholder' | translate }}"
              autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].guidelineName.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always" *ngIf="measurements">
          <mat-label>{{ 'pages.guideline.form.link_measurement' | translate }}</mat-label>
          <mat-select matInput placeholder="Pick one from the list" required
            formControlName="measurement" autocomplete="off" panelClass="dropdown-regular">
            <mat-option *ngFor="let measurement of measurements; let i=index"
              [value]="measurement">
                {{ 'global.words.created' | translate }}: 
                <strong>{{measurement.created.toDate() | date:'short'}}</strong>,
              <ng-container *ngIf="measurement.edited">
                {{ 'global.words.edited' | translate }}: 
                <strong>{{ measurement.edited.toDate() | date:'short'}}</strong>,
              </ng-container>
                {{ 'global.user.weight' | translate }}: 
                <strong>{{measurement.weight}}kg</strong>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always" *ngIf="fics">
          <mat-label>{{ 'pages.guideline.form.link_consultation' | translate }}</mat-label>
          <mat-select matInput placeholder="Pick one from the list" required
            formControlName="firstConsultation" autocomplete="off" 
            panelClass="dropdown-regular">
            <mat-option *ngFor="let fic of fics; let i=index" [value]="fic">
              {{ 'global.dates.created_at' | translate }} 
              <strong>{{fic.creationDate.toDate() | date:'short'}}</strong>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="targetForm">
      <form [formGroup]="targetForm">
        <ng-template matStepLabel>{{ 'pages.guideline.form.targets' | translate }}</ng-template>
        <h3>🎯 {{ 'pages.guideline.form.target_for' | translate }} {{userData.displayName}}</h3>
        <p class="card-text">
          {{ 'pages.guideline.form.target_reach' | translate }}
        </p>
        <p class="card-text">
          <strong>{{ 'pages.guideline.form.client_weight' | translate }}: 
            {{infoForm['controls'].measurement.value.weight}}kg
          </strong>
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.ideal_weight' | translate }}</mat-label>
          <input type="number" matInput name="idealWeight" formControlName="idealWeight"
            placeholder="{{ 'pages.guideline.form.ideal_weight_placeholder' | translate }}"
            autofocus="none">
          <mat-error class="input-error" *ngIf="!targetForm['controls'].idealWeight.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.ideal_muscle_weight' | translate }}</mat-label>
          <input type="number" matInput name="idealKiloOfMuscle" formControlName="idealKiloOfMuscle"
            placeholder="{{ 'pages.guideline.form.muscle_weight_placeholder' | translate }}"
            autofocus="none">
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.gain_or_lose' | translate }}</mat-label>
          <mat-select matInput name="target" placeholder="What's the goal?"
            [(value)]="selectedTarget" formControlName="target" autocomplete="off" 
          panelClass="dropdown-regular" required>
            <mat-option *ngFor="let target of targets" [value]="target.value">
              {{target.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error class="input-error" *ngIf="!targetForm['controls'].target.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.kg_change' | translate }}</mat-label>
          <input type="number" matInput name="totalTarget" formControlName="totalTarget"
            placeholder="{{ 'pages.guideline.form.kg_change_detail' | translate }}"
            autofocus="none">
          <mat-error class="input-error" *ngIf="!targetForm['controls'].idealKiloOfMuscle.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.duration' | translate }}</mat-label>
          <input type="number" matInput name="targetDuration" formControlName="targetDuration"
            placeholder="{{ 'pages.guideline.form.duration_detail' | translate }}"
            autofocus="none">
          <mat-error class="input-error" *ngIf="!targetForm['controls'].targetDuration.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>


      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="calcForm">
      <form [formGroup]="calcForm">
        <ng-template matStepLabel>{{ 'global.words.metrics' | translate }}</ng-template>
        <h3>🧮 {{ 'pages.guideline.form.calc_values' | translate }} {{userData.displayName}}</h3>
        <p class="card-text">
          {{ 'pages.guideline.form.calc_values_detail' | translate }}
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.increase_decrease' | translate }}</mat-label>
          <mat-select matInput name="increaseCalories"
            placeholder="{{ 'global.form.pick_one' | translate }}" [(value)]="selectedBasalValue" 
            formControlName="increaseCalories" autocomplete="off" panelClass="dropdown-regular" required>
            <mat-option *ngFor="let value of basalValues" [value]="value.value">
              {{value.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error class="input-error" *ngIf="!calcForm['controls'].increaseCalories.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.how_many_calories' | translate }}</mat-label>
          <input type="number" matInput formControlName="increaseAmount"
            placeholder="{{ 'pages.guideline.form.amount_in_kcal' | translate }}" 
          name="increaseAmount" autofocus="off" autocomplete="off">
          <mat-error class="input-error" *ngIf="!calcForm['controls'].increaseAmount.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>
            {{ 'pages.guideline.form.factor_calorie' | translate }}
          </mat-label>
          <input type="number" matInput (input)="calculateCalories()" name="factorCalorie"
            formControlName="factorCalorie" placeholder="Factor (eg. 1.1)" autofocus="off"
            autocomplete="off">
          <mat-hint>
            <ng-container *ngIf="calcForm['controls'].factorCalorie.dirty">
              {{calcForm['controls'].factorCalorie.value}} 
              {{ 'pages.guideline.form.would_mean' | translate }} 
              {{calculatedPerc | number}}% 
              <ng-container *ngIf="increase">
                {{ 'pages.guideline.form.increase' | translate }}
              </ng-container>
              <ng-container *ngIf="!increase">
                {{ 'pages.guideline.form.decrease' | translate }}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!calcForm['controls'].factorCalorie.dirty">
              1.1 {{ 'pages.guideline.form.would_mean' | translate }} 10% {{ 'pages.guideline.form.increase' | translate }}
            </ng-container>
          </mat-hint>
          <mat-error class="input-error" *ngIf="!calcForm['controls'].factorCalorie.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="activityForm">
      <form [formGroup]="activityForm">
        <ng-template matStepLabel>{{ 'pages.guideline.general.activities' | translate }}</ng-template>
        <h3>
          🏂 {{ 'pages.guideline.form.activities_for' | translate }} {{userData.displayName}}
        </h3>
        <p class="intro-text">
          {{ 'pages.guideline.form.activities_for_detail' | translate }}
        </p>

        <div class="add-form-field-container" formArrayName="activityArr"
          *ngIf="activityForms.controls.length > 0">
          <h4>{{ 'pages.guideline.form.add_activities' | translate }}</h4>
          <section class="dynamic-form-field-container" [formGroupName]="i"
            *ngFor="let activity of activityForms.controls; let i=index">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <div class="form-fields multiple-lines">
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>{{ 'pages.guideline.form.what_activity' | translate }}</mat-label>
                <mat-select matInput
                  placeholder="{{ 'pages.guideline.form.pick_activity' | translate }}"
                  formControlName="activityID" panelClass="dropdown-regular"
                  autocomplete="off" required>
                  <mat-option *ngFor="let exercise of exercises" [value]="exercise.exerciseID">
                    {{exercise.exerciseName}}
                  </mat-option>
                </mat-select>
                <mat-error class="input-error" *ngIf="!activityID.touched">
                  {{ 'global.errors.required' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>{{ 'pages.guideline.form.how_proficient' | translate }}</mat-label>
                <mat-select matInput required autocomplete="off"
                  placeholder="{{ 'pages.guideline.form.pick_level' | translate }}"
                  formControlName="activityLevel" panelClass="dropdown-regular">
                  <mat-option *ngFor="let level of activityLevels" [value]="level.value">
                    {{level.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error class="input-error" *ngIf="!activityLevel.touched">
                  {{ 'global.errors.required' | translate }}
                </mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>{{ 'pages.guideline.form.how_long_activity' | translate }}</mat-label>
                <input type="number" matInput formControlName="activityDuration"
                  placeholder="{{ 'pages.guideline.form.amount_min' | translate }}" 
                  name="activityDuration" autofocus="off" autocomplete="off">
                <mat-error class="input-error" *ngIf="!activityDuration.valid">
                  {{ 'global.errors.required' | translate }}
                </mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>{{ 'pages.guideline.form.activity_frequency' | translate }}</mat-label>
                <input type="number" matInput formControlName="activityPerWeek"
                  placeholder="{{ 'pages.guideline.form.times_per_week' | translate }}" 
                  name="activityPerWeek" autofocus="off" autocomplete="off">
                <mat-error class="input-error" *ngIf="!activityPerWeek.valid">
                  {{ 'global.errors.required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="btn-area">
              <button type="button"mat-icon-button type="button" class="delete-btn"
                (click)="deleteActivity(i); checkActivity();">
                <i class="fa__icon fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>


        <button type="button" *ngIf="showAddActivity" class="add-form-field"
          (click)="addActivity(); checkActivity();">
          <i class="fa__icon fa fa-plus"></i>
          {{ 'pages.guideline.buttons.add_activity' | translate }}
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="macroForm">
      <form [formGroup]="macroForm">
        <ng-template matStepLabel>{{ 'pages.guideline.form.macros' | translate }}</ng-template>
        <h3>🥜 {{ 'pages.guideline.form.macros_for' | translate }} {{userData.displayName}}</h3>
        <p class="intro-text">
          {{ 'pages.guideline.form.macros_detail' | translate }}
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.protein' | translate }}</mat-label>
          <input type="number" matInput name="proteinValue" formControlName="proteinValue" 
          placeholder="{{ 'global.words.percentage' | translate }} (of 100)" autofocus="off" autocomplete="off">
          <mat-error class="input-error" *ngIf="!macroForm['controls'].proteinValue.valid && macroForm.touched">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.carbs' | translate }}</mat-label>
          <input type="number" matInput name="carbValue" formControlName="carbValue" 
            placeholder="{{ 'global.words.percentage' | translate }} (of 100)"
            autofocus="off" autocomplete="off">
          <mat-error class="input-error"
            *ngIf="!macroForm['controls'].carbValue.valid && macroForm.touched">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.guideline.form.fat' | translate }}</mat-label>
          <input type="number" matInput name="fatValue" formControlName="fatValue" 
            placeholder="{{ 'global.words.percentage' | translate }} (of 100)"
            autofocus="off" autocomplete="off">
          <mat-error class="input-error"
            *ngIf="!macroForm['controls'].fatValue.valid && macroForm.touched">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="submit" class="dialog-button" (click)="addGuideline()"
          [disabled]="!infoForm.valid || !targetForm.valid || !calcForm.valid || !activityForm.valid || !macroForm.valid"
          [class.disabled]="!infoForm.valid || !targetForm.valid  || !calcForm.valid || !activityForm.valid || !macroForm.valid"
          mat-dialog-close>
          {{ 'global.buttons.done' | translate }}
        </button>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
</main>
