<main class="dialog-wrapper">
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="infoForm">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>Info</ng-template>
        <h3>ℹ️ Guideline Info for {{userData.displayName}}</h3>
        <p class="card-text">
          The guideline for the client. This guideline has to be filled out on the first meeting with the client(!).
          This document is of huge importance, since we can calculate heaps of things based on the values you'll enter
          here. Be precise and ask thouroughly to be as personal as possible for you client.
        </p>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Guideline ID</mat-label>
          <input type="number" matInput name="guidelineID" formControlName="guidelineID" placeholder="Always a number" autocomplete="new-password">
          <mat-hint *ngIf="!infoForm['controls'].guidelineID.dirty">Check the guideline list for the numbers already taken.</mat-hint>
          <mat-error class="input-error" *ngIf="!infoForm['controls'].guidelineID.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Guideline name</mat-label>
          <input type="text" matInput name="guidelineName" formControlName="guidelineName" placeholder="Give the guideline a name" autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].guidelineName.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="targetForm">
      <form [formGroup]="targetForm">
        <ng-template matStepLabel>Targets</ng-template>
        <h3>🎯 Guideline targets for {{userData.displayName}}</h3>
        <p class="card-text">
          Define the targets that your users want to reach here.
        </p>
        <p class="card-text">
          <strong>Current Client Weight: {{userData.currentWeight}}kg</strong>
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Ideal weight</mat-label>
          <input type="number" matInput name="idealWeight" formControlName="idealWeight" placeholder="What's the clients ideal weight?" autofocus="none">
          <mat-error class="input-error" *ngIf="!targetForm['controls'].idealWeight.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Ideal kg of muscle</mat-label>
          <input type="number" matInput name="idealKiloOfMuscle" formControlName="idealKiloOfMuscle" placeholder="How many kg's?" autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!targetForm['controls'].idealKiloOfMuscle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Gain or lose weight</mat-label>
          <mat-select matInput name="target" placeholder="What's the goal?" [(value)]="selectedTarget" formControlName="target" autocomplete="off" 
          panelClass="dropdown-regular" required>
            <mat-option *ngFor="let target of targets" [value]="target.value">{{target.viewValue}}</mat-option>
          </mat-select>
          <mat-error class="input-error" *ngIf="!targetForm['controls'].target.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Kg's the client will lose/gain</mat-label>
          <input type="number" matInput name="totalTarget" formControlName="totalTarget" placeholder="Amount in kg's" autofocus="none">
          <mat-error class="input-error" *ngIf="!targetForm['controls'].idealKiloOfMuscle.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The Duration to reach it</mat-label>
          <input type="number" matInput name="targetDuration" formControlName="targetDuration" placeholder="Aprox. amount of weeks" autofocus="none">
          <mat-error class="input-error" *ngIf="!targetForm['controls'].targetDuration.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The targets</mat-label>
          <textarea type="text" matInput formControlName="guidelineCategory" placeholder="Choose one or more categories" 
          matTextareaAutosize autofocus="off" autocomplete="off">
          </textarea>
          <mat-error class="input-error" *ngIf="!categoryForm['controls'].guidelineCategory.valid">This is <strong>required</strong></mat-error>
        </mat-form-field> -->
      </form>


      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="calcForm">
      <form [formGroup]="calcForm">
        <ng-template matStepLabel>Metrics</ng-template>
        <h3>🧮 Calculative values for {{userData.displayName}}</h3>
        <p class="card-text">
          We need to calculate some things under the hood. Help us by providing these values.
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Increase or decrease calories from the basal metabolism</mat-label>
          <mat-select matInput name="increaseCalories" placeholder="Pick one" [(value)]="selectedBasalValue" 
          formControlName="increaseCalories" autocomplete="off" panelClass="dropdown-regular" required>
            <mat-option *ngFor="let value of basalValues" [value]="value.value">{{value.viewValue}}</mat-option>
          </mat-select>
          <mat-error class="input-error" *ngIf="!calcForm['controls'].increaseCalories.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>How many calories we are going to increase or decrease</mat-label>
          <input type="number" matInput formControlName="increaseAmount" placeholder="Amount in kcal." 
          name="increaseAmount" autofocus="off" autocomplete="off">
          <mat-error class="input-error" *ngIf="!calcForm['controls'].increaseAmount.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>
            Factor Calorie: This is by how many times the basal amount of calories calculated by the system will be multiplied.
          </mat-label>
          <input type="number" matInput (input)="calculateCalories()" name="factorCalorie" formControlName="factorCalorie" 
          placeholder="Factor (eg. 1.1)" autofocus="off" autocomplete="off">
          <mat-hint>
            <ng-container *ngIf="calcForm['controls'].factorCalorie.dirty">
              {{calcForm['controls'].factorCalorie.value}} would mean a {{calculatedPerc | number}}% 
              <ng-container *ngIf="increase">
                increase
              </ng-container>
              <ng-container *ngIf="!increase">
                decrease
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!calcForm['controls'].factorCalorie.dirty">
              1.1 would mean a 10% increase
            </ng-container>
          </mat-hint>
          <mat-error class="input-error" *ngIf="!calcForm['controls'].factorCalorie.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="activityForm">
      <form [formGroup]="activityForm">
        <ng-template matStepLabel>Activities</ng-template>
        <h3>🏂 Activities for {{userData.displayName}}</h3>
        <p class="intro-text">
          Describe more about the activity that the client mainly loves and does. Also put in the macro distribution values. 
        </p>

        <div class="add-form-field-container" formArrayName="activityArr">
          <h4>Add the client's activities</h4>
          <section class="dynamic-form-field-container" *ngFor="let activity of activityForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <div class="form-fields multiple-lines">
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>Which activity does the client do?</mat-label>
                <mat-select matInput placeholder="Pick an activity" formControlName="activityID" 
                panelClass="dropdown-regular" autocomplete="off" required>
                  <mat-option *ngFor="let exercise of exercises" [value]="exercise.exerciseID"> {{exercise.exerciseName}}</mat-option>
                </mat-select>
                <mat-error class="input-error" *ngIf="!activityID.touched">This is <strong>required</strong></mat-error>
              </mat-form-field>

              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>How proficient is the client?</mat-label>
                <mat-select matInput placeholder="Pick a level" formControlName="activityLevel" 
                panelClass="dropdown-regular" autocomplete="off" required>
                  <mat-option *ngFor="let level of activityLevels" [value]="level.value"> {{level.viewValue}}</mat-option>
                </mat-select>
                <mat-error class="input-error" *ngIf="!activityLevel.touched">This is <strong>required</strong></mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>How long does the user do this activity?</mat-label>
                <input type="number" matInput formControlName="activityDuration" placeholder="Amount in minutes" 
                name="activityDuration" autofocus="off" autocomplete="off">
                <mat-error class="input-error" *ngIf="!activityDuration.valid">This is <strong>required</strong></mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>The activity frequency</mat-label>
                <input type="number" matInput formControlName="activityPerWeek" placeholder="How many times per week" 
                name="activityPerWeek" autofocus="off" autocomplete="off">
                <mat-error class="input-error" *ngIf="!activityPerWeek.valid">This is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>
            <div class="btn-area">
              <button type="button"mat-icon-button type="button" class="delete-btn" (click)="deleteActivity(i); checkActivity();">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>


        <button type="button" *ngIf="showAddActivity" class="add-form-field" (click)="addActivity(); checkActivity();">
          <i class="fa fa-plus"></i>
          Add an Activity
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="macroForm">
      <form [formGroup]="macroForm">
        <ng-template matStepLabel>Macros</ng-template>
        <h3>🥜 Macros for {{userData.displayName}}</h3>
        <p class="intro-text">
          Define the way the macros will be divided during the time the client follows this guideline.
          Please note: The total must add up to 100!
        </p>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Protein</mat-label>
          <input type="number" matInput name="proteinValue" formControlName="proteinValue" 
          placeholder="Percentage (of 100)" autofocus="off" autocomplete="off">
          <mat-error class="input-error" *ngIf="!macroForm['controls'].proteinValue.valid && macroForm.touched">
            This is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Carbohydrates</mat-label>
          <input type="number" matInput name="carbValue" formControlName="carbValue" 
          placeholder="Percentage (of 100)" autofocus="off" autocomplete="off">
          <mat-error class="input-error" *ngIf="!macroForm['controls'].carbValue.valid && macroForm.touched">
            This is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Fat</mat-label>
          <input type="number" matInput name="fatValue" formControlName="fatValue" 
          placeholder="Percentage (of 100)" autofocus="off" autocomplete="off">
          <mat-error class="input-error" *ngIf="!macroForm['controls'].fatValue.valid && macroForm.touched">
            This is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="submit" class="dialog-button" (click)="addGuideline()"
          [disabled]="!infoForm.valid || !targetForm.valid || !calcForm.valid || !activityForm.valid || !macroForm.valid"
          [class.disabled]="!infoForm.valid || !targetForm.valid  || !calcForm.valid || !activityForm.valid || !macroForm.valid"
          mat-dialog-close
        >
          Done
        </button>
      </section>

    </mat-step>

  </mat-horizontal-stepper>
</main>
