<div class="wrapper" *ngIf="mealplan">
  <header>
      <section class="title">
          <h1>My Shopping list</h1>
          <button class="icon-button">
              <i class="fas fa-print"></i>
          </button>
      </section>
      
      <p class="intro-text">
        This shopping list is for mealplan <a class="text-link" (click)="linkToChild()">{{mealplan.mealplanName}}</a>.
        You can print this shopping list by clicking on the button in the top right corner or you can open it on your phone and cross off
        the items while you're in the supermarket.
      </p>
  </header>

  <div class="shopping-list-wrapper">
    <h2>{{mealplan.mealplanName}}</h2>
    <ul>
      <li *ngFor="let food of shoppingListItems; let i=index">
        <mat-checkbox class="food-checkbox">
          <h4 class="not-mobile">{{food.amount}} {{food.unit}} of {{food.productName}} = {{food.shoppingListAmount}} {{food.shoppingUnit}}</h4>
          <h4 class="mobile">{{food.shoppingListAmount}} {{food.shoppingUnit}} of {{food.productName}} </h4>
        </mat-checkbox>
      </li>
    </ul>
  </div>

</div>

