<div class="main-wrapper">
  <div class="column">
  <section class="login-container">
    <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
    <h2>Reset your password</h2>

    <ng-container  *ngIf="!actionCodeChecked">
      <p class="intro-text">
        Hey! 👀 Either you didn't request this, or you've waited too long.
      </p>

      <div class="btn-area">
        <button class="btn-primary" type="submit" routerLink="../login">Back to login</button>
      </div>
    </ng-container>

    <ng-container *ngIf="actionCodeChecked">
      <p class="intro-text" *ngIf="actionCodeChecked">Welcome back! Please enter a new password and don't forget again. 🙏🏼</p>
      <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()" class="auth-form">
        <mat-form-field appearance="standard" class="password">
          <input class="form-input" type="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" 
          formControlName="password" [class.active]="!password.valid && password.touched" 
          autocomplete="new-password" required
          >
          <mat-error class="input-error" *ngIf="capsOn | async"><strong>&#x26A0; Warning</strong> Caps lock is turned on</mat-error>
          <mat-error class="input-error" *ngIf="!passwordResetForm['controls'].password.touched">
            This is <strong>required</strong>
          </mat-error>
          <mat-error class="input-error" *ngIf="passwordResetForm['controls'].password.errors?.minlength">
            <strong>Not enough</strong> characters, try harder!
          </mat-error>
          <!-- <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon> -->
        </mat-form-field>

        <mat-form-field appearance="standard" class="password">
          <input class="form-input" type="password" matInput placeholder="Confirm your password"
          formControlName="passwordConfirm" [class.active]="!password.valid && password.touched" 
          autocomplete="new-password" required
          >
          <mat-error class="input-error" *ngIf="!passwordsMatch">
            Passwords are <strong>not</strong> the same. 
          </mat-error>
          <mat-error class="input-error" *ngIf="passwordResetForm['controls'].passwordConfirm.errors?.pattern">
            Password contains <strong>a special character</strong>, or lacks a <strong>number/letter</strong>.
          </mat-error>
        </mat-form-field>

        <div class="btn-area">
          <button class="btn-primary" type="submit"
          [disabled]="!passwordResetForm.valid || !passwordsMatch"
          [class.disabled]="!passwordResetForm.valid || !passwordsMatch">
            Confirm
          </button>
        </div>

      </form>
    </ng-container>

  </section>
  </div>
</div>