<div class="main-wrapper">
  <div class="column">
  <section class="login-container">
    <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
    <h2>{{ 'pages.password_reset.title' | translate }}</h2>

    <ng-container  *ngIf="!actionCodeChecked">
      <p class="intro-text">
        {{ 'pages.password_reset.intro_forbidden' | translate }}
      </p>

      <div class="btn-area">
        <button class="btn-primary" type="submit" routerLink="../login">
          {{ 'pages.password_reset.buttons.back_to_login' | translate }}
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="actionCodeChecked">
      <p class="intro-text" *ngIf="actionCodeChecked">
        {{ 'pages.password_reset.intro' | translate }}
      </p>
      <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()" class="auth-form">
        <mat-form-field appearance="standard" class="password">
          <input class="form-input" type="password" matInput
          placeholder="{{ 'global.form.password_placeholder' | translate }}"
          [type]="hide ? 'password' : 'text'" 
          formControlName="password" [class.active]="!password.valid && password.touched" 
          autocomplete="new-password" required>
            <mat-error class="input-error" *ngIf="capsOn | async">
              {{ 'global.form.errors.capslock' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="!passwordResetForm['controls'].password.touched">
              {{ 'global.form.errors.required' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="passwordResetForm['controls'].password.errors?.minlength">
              {{ 'global.form.errors.not_enough_chars' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="password">
          <input class="form-input" type="password" matInput
          placeholder="{{ 'pages.password_reset.confirm_pass_placeholder' | translate }}"
          formControlName="passwordConfirm" [class.active]="!password.valid && password.touched" 
          autocomplete="new-password" required>
            <mat-error class="input-error" *ngIf="!passwordsMatch">
              {{ 'pages.password_reset.errors.password_not_same' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="passwordResetForm['controls'].passwordConfirm.errors?.pattern">
              {{ 'global.form.errors.password_special_char' | translate }}
            </mat-error>
        </mat-form-field>

        <div class="btn-area">
          <button class="btn-primary" type="submit"
          [disabled]="!passwordResetForm.valid || !passwordsMatch"
          [class.disabled]="!passwordResetForm.valid || !passwordsMatch">
            {{ 'global.buttons.confirm' | translate }}
          </button>
        </div>

      </form>
    </ng-container>

  </section>
  </div>
</div>