@import './../../../assets/scss/_master.scss';

.login-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .btn-primary {
        &.disabled {
            border: 2px solid $middle-grey;
            color: lighten($grey, 10%);

            &:hover {
                background: transparent;
                cursor: not-allowed;
            }
        }
    }
}