<main class="mealplan-list-wrapper">
  <div class="wrapper">
      <header>
          <section class="title">
            <h1>{{ 'pages.client.mealplans.title' | translate }}</h1>
          </section>
          
          <p class="intro-text">
            {{ 'pages.client.mealplans.intro' | translate }}
          </p>
      </header>  
  </div>
  <section class="card-list" *ngIf="mealplans">
    <app-mealplan-list-item *ngFor="let mealplan of mealplans | async; let i=index"
        [i]="i" [mealplan]="mealplan"></app-mealplan-list-item>
  </section>
</main>
