@import './../../../../assets/scss/_master.scss';

main.mealplan-list-wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 3em;
    box-sizing: border-box;

    section.card-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        app-mealplan-list-item {
            margin: 3em 2.5%;
            width: 28%;
        }

    }
}