@import './../../../assets/scss/_master.scss';

:host {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 0 2em;
    position: relative;

    @include respond-down($sm) {
        padding: 20px 0;
    }

    > * {
        box-sizing: border-box;
    }
}

// General
p {
    white-space: normal;
}

h5 {
    &.purple {
        color: $secondary-color;
    }
}

section.specialist-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;
    background: $light-grey;
    box-shadow: $card-shadow;

    @include respond-down($sm) {
        background: white;
        box-shadow: none;
        flex-flow: column wrap;
        align-items: center;
    }

    @include respond-up($sm) {
        padding: 15px 10px;
    }

    div.profile-picture {
        width: 150px;
        min-width: 150px;
        min-height: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: $card-shadow;

        @include respond-down($sm) {
            margin-top: 10px;
        }
    }

    div.quick-info {
        width: calc(100% - 150px);
        padding: 1em 20px;
        margin: 0 0 0 40px;

        @include respond-down($sm) {
            width: 90%;
            padding: 0;
            margin: 20px auto;

            h2, h5, p {
                text-align: center;
            }

            .text-link {
                margin: 0 auto;
            }
        }

        p {
            margin-top: 0.5em;
        }

        .text-link {
            @include respond-down($sm) {
                width: fit-content;
            }
        }
    }
}

section.about {
    width: 100%;
    box-sizing: border-box;
    margin: 2em 0;
    padding: 1.5em 2em;
    background: $light-grey;
    box-shadow: $card-shadow;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;

        &.read-more {
            overflow: visible;
            height: auto;
        }
    }

    .text-link {
        display: flex;
        align-items: center;
        justify-content: center;

        .fa__icon, .svg-inline--fa, svg, svg path {
            margin: 0 10px 0 0;
            font-size: 12px;
        }
    }
}

section.middle {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;

    >div {
        padding-left: 2em;
    }

    div.practical-info {
        width: 50%;
    }

    div.languages {
        width: 50%;

        ul li {
            padding: 1em 0;
            white-space: normal;
        }
    }
}

section.reviews-opened {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 2em;
    width: 100%;

    > p.card-text {
        margin: 1em 0;
        text-align: left;
    }
}

div.review-container {
    width: 100%;
    height: auto;
    padding: 2em 2em;
    margin-left: -4em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    @include respond-down($sm) {
        width: 100%;
        height: auto;
        padding: 2em 0;
        margin-left: -2em;
    }

    app-review-list-item {
        min-width: 300px;
        margin: 1em;
        width: 300px;
    }
}

section.btn-area {
    padding-left: 1.5em;

    button.text-link {
        margin: 1em 0;
        .fa__icon, .svg-inline--fa, svg, svg path {
            font-size: 12px;
            margin-left: 5px;
        }     
    }
}

.specialist-container {
    @include respond-down($sm) {
        padding: 0 !important;
        width: 100%; 
    }

    &.active {
        position: fixed;
        top: 0;
        height: 100vh;
        background: #fff;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 500;
    }

    .hide-btn {
        position: absolute;
        top: 0.6em;
        left: calc(50% - 25px);
        font-size: 23px;
        width: 50px;
        height: 40px;
        background: $light-grey;
        box-shadow: $card-shadow;
        border-radius: 0 0 5px 5px;
        transform: translateY(-40px);
        transition: transform 300ms ease-in-out;
        z-index: 50;
        @include respond-down($sm) {
            top: 40px;
            transition: none;
        }

        &:hover {
            transform: translateY(-15px);
        }
    }
}

.show-more {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}