<ng-container *ngIf="specialist">
  <section class="specialist-header">
    <div class="profile-picture" [style.backgroundImage]="'url('+ specialist.photoURL +')'">

    </div>
    <div class="quick-info">
      <h2>{{specialist.firstName}} {{specialist.lastName}}</h2>
      <h5>{{specialist.position}}</h5>
      <p>Speciality: {{specialist.speciality}}</p>

      <a class="text-link mobile" (click)="toggleSpecialist(specialist)">
        Learn more
      </a>
    </div>
  </section>

  <section class="about not-mobile">  
    <h5>👩 About {{specialist.firstName}}</h5>
    <p [class.read-more]="aboutExtended">{{specialist.description}}</p>
    <button class="text-link" (click)="aboutExtendedOpen()" *ngIf="!aboutExtended">
      <i class="fa__icon fas fa-plus"></i>
      Read More
    </button>
    <button class="text-link" (click)="aboutExtendedClose()" *ngIf="aboutExtended">
      <i class="fa__icon fas fa-minus"></i>
      Read Less
    </button>
  </section>

  <section class="middle not-mobile">
    <div class="practical-info">
      <h5 class="purple">📖 Practical Info</h5>
      <p>Experience: {{specialist.yearsOfExperience}} years</p>
      <p>Timezone: {{specialist.timeZone}}</p>
      <p>Amount of patients: {{specialist.patientsTotal}}</p>
    </div>
    <div class="languages">
      <h5 class="purple">🈹 Languages</h5>
      <ul>
        <li *ngFor="let language of specialist.languages">{{language.languageValue}} - {{language.languageLevel}}</li>
      </ul>
    </div>
  </section>

  <section class="reviews-opened not-mobile">
    <h5 class="purple">⭐ Reviews</h5>
    <div class="review-container" *ngIf="reviewsVisible">
      <mat-card class="review-item" *ngFor="let review of specialist.reviews">
        <p>{{review.reviewText}}</p>
        <p><strong>- {{review.reviewerName}}</strong></p>
      </mat-card>
    </div>
  </section>

  <section class="btn-area not-mobile">
    <button class="text-link" *ngIf="!reviewsVisible" (click)="openReviews()">
      Show reviews
      <i class="fa__icon fas fa-chevron-down"></i>
    </button>
    <button class="text-link" *ngIf="reviewsVisible" (click)="closeReviews()">
      Hide reviews
      <i class="fa__icon fas fa-chevron-up"></i>
    </button>
  </section>

</ng-container>


<section class="specialist-container" *ngIf="showSpecialist" [class.active]="showSpecialist">
  <button class="hide-btn" (click)="closeSpecialist()" *ngIf="showSpecialist">
    <i class="fa__icon fas fa-times"></i>
  </button>
  <app-specialist-detail [specialist]="specialistToShow" *ngIf="showSpecialist">
  </app-specialist-detail>
</section>
