
<mat-card class="list-item-card" *ngIf="guideline">
  <section class="product-photo" (click)="linkToChild(guideline)">
    Oh hey there
  </section>
  <p class="subtitle">
    {{guideline.productCategory}}
  </p>
  <section class="middle" (click)="linkToChild(guideline)">
    <div class="title">
        <h2>{{guideline.productName}}</h2>
    </div>

    <div class="quick-info">
      <p class="speciality-title">Product ID: {{guideline.productID}}</p>
      <p *ngIf="client" class="speciality-title">For: {{client.displayName}}</p>
      <ul class="contact-menu">
        <li>
          <i class="fas fa-balance-scale"></i>
          {{guideline.portion.amount}} {{guideline.portion.unit}}
        </li>
      </ul>
    </div>
  </section>
  <section class="actions">
    <button type="button" (click)="deleteFoodDialog(guideline)">
      <i class="fas fa-trash"></i>
    </button>
    <button (click)="editFood(guideline)">
      <i class="fas fa-edit"></i>
    </button>
  </section>

</mat-card>
