
<mat-card class="list-item-card" *ngIf="guideline">
  <div *ngIf="client" class="card-circle" (click)="linkToChild(guideline, client)">
    <i class="far fa-file-alt"></i>
    <div class="nr-circle">
      <span>{{guideline.guidelineNR}}</span>
    </div>
  </div>
  <p class="subtitle" *ngIf="guideline.lastEdited">
    {{guideline.lastEdited}}
  </p>
  <section class="middle" (click)="linkToChild(guideline)">
    <div class="title">
        <h2>{{guideline.guidelineName}}</h2>
    </div>

    <div class="quick-info">
      <p class="speciality-title">Product ID: {{guideline.guidelineID}}</p>
      <p *ngIf="client" class="speciality-title">For: {{client.displayName}}</p>
      <p class="speciality-title">Created: {{guideline.creationDate.toDate() | date:'MM/dd/yy'}}</p>
      <ul class="contact-menu">
        <!-- <li>
          <i class="fas fa-balance-scale"></i>
          {{guideline.portion.amount}} {{guideline.portion.unit}}
        </li> -->
      </ul>
    </div>
  </section>
  <section class="actions">
    <button type="button" (click)="deleteGuidelineDialog(guideline)">
      <i class="fas fa-trash"></i>
    </button>
    <button (click)="editGuideline(guideline)">
      <i class="fas fa-edit"></i>
    </button>
  </section>

</mat-card>
