
<mat-card class="list-item-card guideline-card" *ngIf="guideline && auth.user | async as user">
  <div class="card-circle" (click)="linkToChild(guideline, client)">
    <i class="fa__icon far fa-file-alt"></i>
    <div class="nr-circle">
      <span>{{guideline.guidelineNR}}</span>
    </div>
  </div>

  <!-- Menu -->
  <ng-container *ngIf="auth.user | async as $user">
    <ng-container *ngIf="$user.roles.admin || $user.roles.specialist">
      <button class="menu-icon-btn" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" backdropClass="context-menu-guideline">
        <button mat-menu-item (click)="duplicateGuideline(guideline)">
          <i class="fa__icon far fa-copy"></i>
          <span>
            {{ 'global.buttons.duplicate' | translate }}
          </span>
        </button>
      </mat-menu>
    </ng-container>
  </ng-container>

  <p class="subtitle" *ngIf="!guideline.lastEdited">
    {{ 'global.words.edited' | translate }}: {{ 'global.errors.not_edited' | translate }}
  </p>
  <p class="subtitle" *ngIf="guideline.lastEdited">
    {{ 'global.words.edited' | translate }}: {{guideline.lastEdited.toDate() | date: 'short'}}
  </p>
  <section class="middle" (click)="linkToChild(guideline)">
    <div class="title">
        <h2>{{guideline.guidelineName}}</h2>
    </div>

    <div class="quick-info">
      <p *ngIf="client" class="speciality-title">
        {{ 'global.words.for' | translate }}: {{client.displayName}}</p>
      <p class="speciality-title">
        {{ 'global.words.created' | translate }}: {{guideline.creationDate.toDate() | date:'MM/dd/yy'}}</p>
    </div>
  </section>
  <section class="actions" *ngIf="user.roles.admin || user.roles.specialist">
    <button type="button" (click)="deleteGuidelineDialog(guideline)">
      <i class="fa__icon fas fa-trash"></i>
    </button>
    <button (click)="editGuideline(guideline)">
      <i class="fa__icon fas fa-edit"></i>
    </button>
  </section>
</mat-card>
