<div class="controls">
  <button class="controls__button back" (click)="togglePage()" #back>
    <i class="fa__icon fas fa-chevron-left"></i>
  </button>
  <button class="controls__button next" (click)="togglePage()" #next>
    <i class="fa__icon fas fa-chevron-right"></i>
  </button>
</div>

<main class="print-container" *ngIf="mealplan && client">
  <section class="close-section">
    <button mat-icon-button class="not-mobile close-btn" (click)="closeDialog()" type="button">
      <i class="fa__icon fas fa-times"></i>
    </button>
  </section>

  <section class="title-area">
    <h1>Print preview</h1>
  </section>

  <section class="print-preview-container print-mealplan page__one" #pageOne>
    <div class="branding">
      <hr>
      <img src="./../../../assets/img/logo-icon.svg" />
      <hr>
    </div>
    <div class="header-subline">
      <span class="quote">" Nutrition based Healthy life choices; avoiding disease rather than treating it "</span>
      <div class="mealplan-info">
        <p>
          For: {{client.displayName}} - 
          By: {{mealplan?.specialistName}} - 
          Created: {{mealplan?.creationDate?.toDate() | date:'short'}}
        </p>
      </div>
    </div>
    
    <div class="mealplan-wrapper">
      <div class="mealplan-wrapper__schedule">
        <div class="day-wrapper">
          <div class="day-wrapper__header">
            <h1>Monday</h1>
          </div>

          <div class="day-wrapper__container">
            <div class="meal-time">
              <div class="meal-time__header" *ngFor="let mealtime of mealTimes">
                <span>{{mealtime?.mealTime}}</span>
                <span>{{mealtime?.mealTimeName}}</span>
              </div>
            </div>

            <app-print-meal-monday class="meal-time__ingredients" [mondayMeals]="mealplan?.mondayMeals"></app-print-meal-monday>
          </div>
        </div>

        <div class="day-wrapper">
          <div class="day-wrapper__header">
            <h1>Tuesday</h1>
          </div>

          <div class="day-wrapper__container">
            <div class="meal-time">
              <div class="meal-time__header" *ngFor="let mealtime of mealTimes">
                <span>{{mealtime?.mealTime}}</span>
                <span>{{mealtime?.mealTimeName}}</span>
              </div>
            </div>

            <app-print-meal-tuesday class="meal-time__ingredients" [tuesdayMeals]="mealplan?.tuesdayMeals"></app-print-meal-tuesday>
          </div>
        </div>

        <div class="day-wrapper">
          <div class="day-wrapper__header">
            <h1>Wednesday</h1>
          </div>

          <div class="day-wrapper__container">
            <div class="meal-time">
              <div class="meal-time__header" *ngFor="let mealtime of mealTimes">
                <span>{{mealtime?.mealTime}}</span>
                <span>{{mealtime?.mealTimeName}}</span>
              </div>
            </div>

            <app-print-meal-wednesday class="meal-time__ingredients" [wednesdayMeals]="mealplan?.wednesdayMeals"></app-print-meal-wednesday>
          </div>
        </div>

        <div class="day-wrapper">
          <div class="day-wrapper__header">
            <h1>Thursday</h1>
          </div>

          <div class="day-wrapper__container">
            <div class="meal-time">
              <div class="meal-time__header" *ngFor="let mealtime of mealTimes">
                <span>{{mealtime?.mealTime}}</span>
                <span>{{mealtime?.mealTimeName}}</span>
              </div>
            </div>

            <app-print-meal-thursday class="meal-time__ingredients" [thursdayMeals]="mealplan?.thursdayMeals"></app-print-meal-thursday>
          </div>
        </div>

        <div class="day-wrapper">
          <div class="day-wrapper__header">
            <h1>Friday</h1>
          </div>

          <div class="day-wrapper__container">
            <div class="meal-time">
              <div class="meal-time__header" *ngFor="let mealtime of mealTimes">
                <span>{{mealtime?.mealTime}}</span>
                <span>{{mealtime?.mealTimeName}}</span>
              </div>
            </div>

            <app-print-meal-friday class="meal-time__ingredients" [fridayMeals]="mealplan?.fridayMeals"></app-print-meal-friday>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="print-preview-container print-mealplan page__two" #pageTwo>
    <app-print-supps class="mealplan__supps" [supplementation]="mealplan?.supplementation" [notes]="mealplan?.extraNotes"></app-print-supps>
  </section>

  <div class="page-number">
    <p *ngIf="pageOneActive">Page 1</p>
    <p *ngIf="pageTwoActive">Page 2</p>
  </div>

  <section class="btn-area-one">
    <button class="dialog-button" (click)="saveAsPDF()">
      <i class="fa__icon far fa-file-pdf"></i>
      Save as PDF
    </button>
  </section>
</main>
