<ng-container *ngIf="exercise">
  <main class="specialist-wrapper" id="exercise-edit">
    <section class="action-toolbar-top">
      <div class="left">
        <button class="icon-button" [routerLink]="['../']">
            <i class="fa__icon fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="middle">
        <h1>
          {{ 'pages.exercises.exercise_id' | translate }}: {{exercise.exerciseID}}
        </h1>
      </div>
      <div class="right">
        <button class="icon-button edit-button" (click)="editExercise()">
          <i class="fa__icon fas fa-check"></i>
        </button>
      </div>
    </section>

    <form class="package-container" [formGroup]="editExerciseForm" *ngIf="editShow">
      <mat-card class="list-item-card" *ngIf="exercise">
        <section class="exercise-photo" [style.background]="'url('+ exercise.exercisePhoto +')'">
          <app-file-upload-button [url]="url" (imageEvent)="receiveDownloadURL($event)"></app-file-upload-button>
        </section>
        <section class="middle">
          <div class="title">
            <h2>
              <input type="text" class="text-field" name="exerciseName" formControlName="exerciseName">
            </h2>
          </div>
      
          <div class="quick-info">
            <p class="speciality-title">
              {{ 'pages.exercises.exercise_id' | translate }}: {{exercise.exerciseID}}
            </p>
            <ul class="contact-menu">
              <li>
                <i class="fa__icon fas fa-balance-scale"></i>
                <input type="number" class="text-field half" name="metsValue"
                  formControlName="metsValue">
              </li>
            </ul>
          </div>
        </section>        
      </mat-card>
    </form>
  </main> 
</ng-container>