<ng-container>
  <main class="specialist-wrapper">
    <form class="package-container" [formGroup]="editGuidelineForm" *ngIf="editShow">
      <section class="action-toolbar-top">
        <div class="left">
          <button type="button" class="icon-button" (click)="toggleEdit()">
            <i class="fa__icon fas fa-ban"></i>
          </button>
        </div>
        <div class="middle">
          <h1 *ngIf="client; else gID">
            {{ 'pages.guideline.general.guideline_for' | translate }}: {{client.displayName}}
          </h1>
          <h5 *ngIf="client">
            {{ 'global.user.current_weight' | translate }}: {{guideline.formulaData.weight}}kg
          </h5>
          <ng-template #gID>
            <h1>{{ 'pages.guideline.general.guideline_id' | translate }}: {{guideline.gID}}</h1>
          </ng-template>
        </div>
        <div class="right">
          <button type="submit" class="icon-button edit-button" (click)="editGuideline()" *ngIf="editShow">
            <i class="fa__icon fas fa-check"></i>
          </button>
        </div>
      </section>
  
      <div class="package-container">
        <mat-card class="list-item-card" *ngIf="guideline">
            <section *ngIf="client" class="card-circle" [style.background]="'url('+ client.photoURL +')'">
            </section>
  
            <section class="introduction">
              <h2>
                <input type="text" class="text-field" name="guidelineName" formControlName="guidelineName">
              </h2>
              <h5>
                {{ 'pages.guideline.general.guideline_id' | translate }}: {{guideline.gID}}
              </h5>

              <div class="link-form">
                <div class="link-form__field" *ngIf="measurements">
                  <mat-label>
                    {{ 'pages.guideline.form.link_measurement' | translate }}
                  </mat-label>
                  <mat-select matInput placeholder="Pick one from the list" formControlName="measurement" autocomplete="off" 
                  panelClass="dropdown-regular doc-picker" required>
                    <mat-option *ngFor="let measurement of measurements; let i=index" [value]="measurement">
                      {{ 'global.words.created' | translate }}: <strong>{{measurement.created.toDate() | date:'short'}}</strong>,
                      <ng-container *ngIf="measurement.edited">
                        {{ 'global.words.edited' | translate }}: <strong>{{ measurement.edited.toDate() | date:'short'}}</strong>,
                      </ng-container>
                      {{ 'global.user.weight' | translate }}: <strong>{{measurement.weight}}kg</strong>
                    </mat-option>
                  </mat-select>
                </div>
        
                <div class="link-form__field" *ngIf="fics">
                  <mat-label>
                    {{ 'pages.guideline.form.link_consultation' | translate }}
                  </mat-label>
                  <mat-select matInput placeholder="Pick one from the list" formControlName="firstConsultation" autocomplete="off" 
                  panelClass="dropdown-regular doc-picker" required>
                    <mat-option *ngFor="let fic of fics; let i=index" [value]="fic">
                      {{ 'global.dates.created_at' | translate }} <strong>{{fic.creationDate.toDate() | date:'short'}}</strong>
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </section>
  
            <section class="guideline-targets" *ngIf="guideline">
              <h2 class="section-title">
                {{ 'pages.guideline.general.targets' | translate }}
              </h2>
              <div class="target-container">
                <div class="target-container__left">
                  <div class="target-block">
                    <h6 class="target-block__title">
                      {{ 'pages.guideline.form.ideal_weight' | translate }}
                    </h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="idealWeight" formControlName="idealWeight"> kg
                    </span>
                  </div>
                  <div class="target-block">
                    <h6 class="target-block__title">{{ 'pages.guideline.form.amount_of' | translate }} 
                      <ng-container *ngIf="selectedTarget">
                        {{gainWeight}}
                      </ng-container>
                    </h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="totalTarget" formControlName="totalTarget"> kg
                    </span>
                  </div>
                  <div class="target-block" *ngIf="guideline.idealKiloOfMuscle">
                    <h6 class="target-block__title">{{ 'pages.guideline.form.ideal_muscle_weight' | translate }}</h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="idealKiloOfMuscle" formControlName="idealKiloOfMuscle"> kg
                    </span>
                  </div>
                  <div class="target-block" *ngIf="guideline.guidelineDuration">
                    <h6 class="target-block__title">{{ 'pages.guideline.form.total_duration' | translate }}</h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="guidelineDuration" formControlName="guidelineDuration"> weeks
                    </span>
                  </div>
                </div>
  
                <div class="target-container__right">
                  <div class="icon-circle">
                    <i class="fa__icon fas fa-question"></i>
                  </div>
                  <mat-select matInput placeholder="{{guideline.target}} weight"
                    [class.dropdown-edit]="guideline.target" [(value)]="selectedTarget" 
                    autocomplete="off" panelClass="dropdown-edit" required
                    (selectionChange)="toggleGainWeight(selectedTarget)">
                    <mat-option *ngFor="let target of targets" [value]="target.value">
                      {{target.viewValue}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </section>
  
            <section class="calorie-metrics" *ngIf="guideline">
              <div class="metric">
                <span class="metric__value">
                <input type="text" class="text-field metric__value" name="increaseAmount" formControlName="increaseAmount"></span>
                <h6 class="metric__title">
                  {{ 'pages.guideline.form.total_duration' | translate }}
                </h6>
              </div>
              <div class="metric golden">
                <div class="icon-circle">
                  <i class="fa__icon fas fa-question"></i>
                </div>
                <h6 class="metric__title">
                  <mat-select matInput [class.dropdown-cals]="guideline.increaseCalories"
                  placeholder="{{guideline.increaseCalories}} {{ 'global.words.calories' | translate }}"
                  [(value)]="selectedBasalValue" autocomplete="off" panelClass="dropdown-edit" required>
                    <mat-option *ngFor="let value of basalValues" [value]="value.value">
                      {{value.viewValue}}
                    </mat-option>
                  </mat-select>
                  {{ 'pages.guideline.form.basal_metabolism' | translate }}
                </h6>
              </div>
              <div class="metric">
                <span class="metric__value">
                  x
                  <input type="number" class="metric__value" name="factorCalorie" formControlName="factorCalorie">
                </span>
                <h6 class="metric__title">
                  {{ 'pages.guideline.general.factor_calorie' | translate }}
                </h6>
              </div>
            </section>
            
            <section class="guideline-activities" *ngIf="exercise">
              <h2 class="section-title">Activities</h2>
              <div class="activity">
                <app-exercise-list-item class="activity__left" [exercise]="exercise"></app-exercise-list-item>
                <div class="activity__right">
                  <div class="target-block" *ngIf="guideline.activityPerWeek">
                    <h6 class="target-block__title">Per week</h6>
                    <span class="target-block__value">{{guideline.activityPerWeek}}x</span>
                  </div>
                  <div class="target-block" *ngIf="guideline.activityDuration">
                    <h6 class="target-block__title">How long</h6>
                    <span class="target-block__value">{{guideline.activityDuration}} min</span>
                  </div>
                  <div class="target-block__full-width">
                    <h6 class="target-block__title">Macros</h6>
                    <ul>
                      <li *ngFor="let macro of guideline.macroDistribution">
                        <span class="percentage">
                          {{macro.percentage}}%
                        </span>
                        <h4>{{macro.macroValue}}</h4>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
                      
            <section class="macro-metrics macros" *ngIf="guideline">
              <h2 class="section-title">
                {{ 'pages.guideline.general.macro_distribution' | translate }}
              </h2>
              <div class="container">
                <div class="metric">
                  <div class="icon-circle">
                    <input type="number" name="proteinValue" formControlName="proteinValue">
                    %
                  </div>
                  <h6 class="metric__title">
                    {{ 'pages.guideline.form.protein' | translate }}
                  </h6>
                </div>
                <div class="metric">
                  <div class="icon-circle">
                    <input type="number" name="carbValue" formControlName="carbValue">
                    %
                  </div>
                  <h6 class="metric__title">
                    {{ 'pages.guideline.form.carbs' | translate }}
                  </h6>
                </div>
                <div class="metric">
                  <div class="icon-circle">
                    <input type="number" name="fatValue" formControlName="fatValue">
                    %
                  </div>
                  <h6 class="metric__title">
                    {{ 'pages.guideline.form.fat' | translate }}
                  </h6>
                </div>
              </div>
            </section>
        </mat-card>
      </div>
    </form>
  </main>
</ng-container>