<ng-container *ngIf="guideline">
  <main class="specialist-wrapper">

    <section class="action-toolbar-top">
      <div class="left">
        <button class="icon-button" [routerLink]="['../']">
            <i class="fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="middle">
        <h1 *ngIf="client; else gID">Guideline for: {{client.displayName}}</h1>
        <ng-template #gID>
          <h1>Guideline for: {{guideline.productID}}</h1>
        </ng-template>
      </div>
      <div class="right">
        <button class="icon-button edit-button" (click)="editGuideline()">
          <i class="fas fa-check"></i>
        </button>
      </div>
    </section>

      <form class="package-container" [formGroup]="editGuidelineForm" *ngIf="editShow">

        <mat-card class="list-item-card" *ngIf="guideline">
            <section *ngIf="client" class="card-circle" (click)="linkToChild(guideline, client)" [style.background]="'url('+ client.photoURL +')'">
            </section>
            <section class="chip-area">
              <p class="secondary-chip">
                Guideline number: {{guideline.productNR}}
              </p>
              <p class="secondary-chip">
                Created: {{guideline.creationDate.toDate() | date: 'MM/dd/yy'}}
              </p>
              <p *ngIf="guideline.lastEdited" class="secondary-chip">
                Last edited: {{guideline.lastEdited.toDate() | date: 'M/d/yy, h:mm a'}}
              </p>
            </section>
            <section class="middle">
              <div class="title">
                  <h2><input type="text" class="text-field" name="productName" formControlName="productName"></h2>
              </div>
          
              <div class="quick-info">
                <p class="speciality-title">Guideline ID: {{guideline.productID}}</p>
                <ul class="contact-menu">
                  <!-- <li>
                    <i class="fas fa-balance-scale"></i>
                    <input type="number" class="text-field half" name="amount" formControlName="amount">
                    <input type="text" class="text-field half" name="unit" formControlName="unit">
                  </li> -->
                </ul>
              </div>
            </section>        
          </mat-card>
    </form>

  </main> 
</ng-container>