<ng-container>
  <main class="specialist-wrapper">
    <form class="package-container" [formGroup]="editGuidelineForm" *ngIf="editShow">
      <section class="action-toolbar-top">
        <div class="left">
          <button type="button" class="icon-button" (click)="toggleEdit()">
            <i class="fas fa-ban"></i>
          </button>
        </div>
        <div class="middle">
          <h1 *ngIf="client; else gID">Guideline for: {{client.displayName}}</h1>
          <h5 *ngIf="client">Current weight: {{guideline.formulaData.weight}}kg</h5>
          <ng-template #gID>
            <h1>Guideline ID: {{guideline.gID}}</h1>
          </ng-template>
        </div>
        <div class="right">
          <button type="submit" class="icon-button edit-button" (click)="editGuideline()" *ngIf="editShow">
            <i class="fas fa-check"></i>
          </button>
        </div>
      </section>
  
      <div class="package-container">
        <mat-card class="list-item-card" *ngIf="guideline">
            <section *ngIf="client" class="card-circle" [style.background]="'url('+ client.photoURL +')'">
            </section>
  
            <section class="introduction">
              <h2>
                <input type="text" class="text-field" name="guidelineName" formControlName="guidelineName">
              </h2>
              <h5>
                gID: {{guideline.gID}}
              </h5>

              <div class="link-form">
                <div class="link-form__field" *ngIf="measurements">
                  <mat-label>Link a measurement to this guideline</mat-label>
                  <mat-select matInput placeholder="Pick one from the list" formControlName="measurement" autocomplete="off" 
                  panelClass="dropdown-regular doc-picker" required>
                    <mat-option *ngFor="let measurement of measurements; let i=index" [value]="measurement">
                      created: <strong>{{measurement.created.toDate() | date:'short'}}</strong>,
                      <ng-container *ngIf="measurement.edited">
                        edited: <strong>{{ measurement.edited.toDate() | date:'short'}}</strong>,
                      </ng-container>
                        weight: <strong>{{measurement.weight}}kg</strong>
                    </mat-option>
                  </mat-select>
                </div>
        
                <div class="link-form__field" *ngIf="fics">
                  <mat-label>Link a First consultation to this guideline</mat-label>
                  <mat-select matInput placeholder="Pick one from the list" formControlName="firstConsultation" autocomplete="off" 
                  panelClass="dropdown-regular doc-picker" required>
                    <mat-option *ngFor="let fic of fics; let i=index" [value]="fic">
                      created at <strong>{{fic.creationDate.toDate() | date:'short'}}</strong>
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </section>
  
            <section class="guideline-targets" *ngIf="guideline">
              <h2 class="section-title">Guideline targets</h2>
              <div class="target-container">
                <div class="target-container__left">
                  <div class="target-block">
                    <h6 class="target-block__title">Ideal weight</h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="idealWeight" formControlName="idealWeight"> kg
                    </span>
                  </div>
                  <div class="target-block">
                    <h6 class="target-block__title">Amount of 
                      <ng-container *ngIf="selectedTarget">
                        {{gainWeight}}
                      </ng-container>
                    </h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="totalTarget" formControlName="totalTarget"> kg
                    </span>
                  </div>
                  <div class="target-block" *ngIf="guideline.idealKiloOfMuscle">
                    <h6 class="target-block__title">Ideal Kg of muscle</h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="idealKiloOfMuscle" formControlName="idealKiloOfMuscle"> kg
                    </span>
                  </div>
                  <div class="target-block" *ngIf="guideline.guidelineDuration">
                    <h6 class="target-block__title">Total duration</h6>
                    <span class="target-block__value">
                      <input type="number" class="text-field" name="guidelineDuration" formControlName="guidelineDuration"> weeks
                    </span>
                  </div>
                </div>
  
                <div class="target-container__right">
                  <div class="icon-circle">
                    <i class="fas fa-question"></i>
                  </div>
                  <mat-select matInput placeholder="{{guideline.target}} weight" [class.dropdown-edit]="guideline.target" [(value)]="selectedTarget" 
                  autocomplete="off" panelClass="dropdown-edit" required (selectionChange)="toggleGainWeight(selectedTarget)">
                    <mat-option *ngFor="let target of targets" [value]="target.value">{{target.viewValue}}</mat-option>
                  </mat-select>
                </div>
              </div>
            </section>
  
            <section class="calorie-metrics" *ngIf="guideline">
              <div class="metric">
                <span class="metric__value">
                <input type="text" class="text-field metric__value" name="increaseAmount" formControlName="increaseAmount"></span>
                <h6 class="metric__title">
                  Kcal Increase/decrease
                </h6>
              </div>
              <div class="metric golden">
                <div class="icon-circle">
                  <i class="fas fa-question"></i>
                </div>
                <h6 class="metric__title">
                  <mat-select matInput placeholder="{{guideline.increaseCalories}} calories" [class.dropdown-cals]="guideline.increaseCalories" 
                  [(value)]="selectedBasalValue" autocomplete="off" panelClass="dropdown-edit" required>
                    <mat-option *ngFor="let value of basalValues" [value]="value.value">{{value.viewValue}}</mat-option>
                  </mat-select>
                  from the basal metabolism
                </h6>
              </div>
              <div class="metric">
                <span class="metric__value">
                  x
                  <input type="number" class="metric__value" name="factorCalorie" formControlName="factorCalorie">
                </span>
                <h6 class="metric__title">Factor Calorie</h6>
              </div>
            </section>
            
            <section class="guideline-activities" *ngIf="exercise">
              <h2 class="section-title">Activities and Macros</h2>
              <!-- <h2>ID: {{exercise.exerciseID}}</h2> -->
              <div class="activity">
                <app-exercise-list-item class="activity__left" [exercise]="exercise"></app-exercise-list-item>
                <div class="activity__right">
                  <div class="target-block" *ngIf="guideline.activityPerWeek">
                    <h6 class="target-block__title">Per week</h6>
                    <span class="target-block__value">{{guideline.activityPerWeek}}x</span>
                  </div>
                  <div class="target-block" *ngIf="guideline.activityDuration">
                    <h6 class="target-block__title">How long</h6>
                    <span class="target-block__value">{{guideline.activityDuration}} min</span>
                  </div>
                  <div class="target-block__full-width">
                    <h6 class="target-block__title">Macros</h6>
                    <ul>
                      <li *ngFor="let macro of guideline.macroDistribution">
                        <span class="percentage">
                          {{macro.percentage}}%
                        </span>
                        <h4>{{macro.macroValue}}</h4>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
                      
            <section class="macro-metrics macros" *ngIf="guideline">
              <h2 class="section-title">
                Macro Distribution
              </h2>
              <div class="container">
                <div class="metric">
                  <div class="icon-circle">
                    <input type="number" name="proteinValue" formControlName="proteinValue">
                    %
                  </div>
                  <h6 class="metric__title">
                    Protein
                  </h6>
                </div>
                <div class="metric">
                  <div class="icon-circle">
                    <input type="number" name="carbValue" formControlName="carbValue">
                    %
                  </div>
                  <h6 class="metric__title">
                    Carbohydrates
                  </h6>
                </div>
                <div class="metric">
                  <div class="icon-circle">
                      <input type="number" name="fatValue" formControlName="fatValue">
                      %
                  </div>
                  <h6 class="metric__title">
                    Fat
                  </h6>
                </div>
              </div>
            </section>
        </mat-card>
      </div>
    </form>
    </main>
</ng-container>
<!-- <ng-container *ngIf="guideline">
  <main>
      <form class="package-container" [formGroup]="editGuidelineForm" *ngIf="editShow">

        <mat-card class="list-item-card" *ngIf="guideline">
            <section *ngIf="client" class="card-circle" (click)="linkToChild(guideline, client)" [style.background]="'url('+ client.photoURL +')'">
            </section>
            <section class="chip-area">
              <p class="secondary-chip">
                Guideline number: {{guideline.productNR}}
              </p>
              <p class="secondary-chip">
                Created: {{guideline.creationDate.toDate() | date: 'MM/dd/yy'}}
              </p>
              <p *ngIf="guideline.lastEdited" class="secondary-chip">
                Last edited: {{guideline.lastEdited.toDate() | date: 'M/d/yy, h:mm a'}}
              </p>
            </section>
            <section class="middle">
              <div class="title">
                  <h2><input type="text" class="text-field" name="productName" formControlName="productName"></h2>
              </div>
          
              <div class="quick-info">
                <p class="speciality-title">Guideline ID: {{guideline.productID}}</p>
                <ul class="contact-menu">
                   <li>
                    <i class="fas fa-balance-scale"></i>
                    <input type="number" class="text-field half" name="amount" formControlName="amount">
                    <input type="text" class="text-field half" name="unit" formControlName="unit">
                  </li> 
                </ul>
              </div>
            </section>        
          </mat-card>
    </form>

  </main> 
</ng-container> -->