@import './../../../assets/scss/_master.scss';

// General
p {
    white-space: normal;
}

h5 {
    &.purple {
        color: $secondary-color;
    }
}

app-loading-spinner {
    margin-top: calc(50vh - 50px);
    height: 100px;
    width: 100px;
}

main.specialist-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5em 2em;

    @include respond-down($sm) {
        flex-direction: column;
        padding: 1.5em 1em;
        height: 100%;
    }

    .action-toolbar-top {
        @include respond-down($sm) {
            padding: 0;
        }
        button.icon-button {
            position: inherit;
        }

        a.icon-button {
            right: 0;

            ::ng-deep svg {
                transform: scale(-1, 1);
            }
        }
    
    }
}

section.specialist-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;

    @include respond-down($sm) {
        flex-direction: column;
        height: auto;
    }

    div.profile-picture {
        width: 40%;
        height: 380px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        @include respond-down($sm) {
            width: 100%;
            height: 210px;
        }
    }


    .uid {
        @include respond-down($sm) {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: wrap;
        }
    }

    div.quick-info {
        flex-flow: column wrap;
        width: 50%;
        padding: 1em 2em;
        position: relative;
        @extend %flex-center;
        @include respond-down($sm) {
            padding: 1.5em 2em 1em!important;
            width: 100%!important;
        }

        p {
            margin-top: 0.5em;
        }

        .timezone {
            position: absolute;
            right: 2em;
            top: 0.5em;
            border: 3px solid $middle-grey;
            border-radius: 50px;
            width: auto;
            height: 15px;
            padding:  1em 2em;
            font-size: 15px;
            font-weight: $extra-bold;
            color: $text-black;
            box-sizing: border-box;
            @extend %flex-center;
            @include respond-down($sm) {
                background: #f0f1f5;
                position: absolute;
                top: -25px!important;
                right: auto;
            }
        }

        .top, .bottom {
            display: flex;
            height: 50%;
            width: 100%;
        }

        .top {
            flex-flow: column wrap;

            div.icon-fact-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 1rem 0 1.5rem;
                @include respond-down($sm) {
                    flex-direction: column;
                }


                .fact {
                    width: 40%;
                    padding-bottom: 1vh;

                    ::ng-deep svg {
                        width: 10%;
                        font-size: 20px;
                        padding-right: 8%;
                        margin-right: 8%;
                        color: $grey;
                        border-right: 1px solid $border-color;
                        @include respond-down($sm) {
                            width: 20%;
                            font-size: 24px;
                        }
                    }

                    span {
                        margin: 0;
                        padding: 0;
                        font-family: $main-font;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-weight: $semi-bold;
                        text-transform: capitalize;
                        color: $grey;
                    }

                    @include respond-down($sm) {
                        margin-bottom: 1em;
                        width: 100%;

                        ::ng-deep svg {
                            font-size: 18px;
                            margin-right: 2em;
                        }
                    }
                }
            }
        }

        .bottom {
            flex-flow: row nowrap;
            border-top: 1px solid $border-color;
            padding-top: 0.5em;

            p.tab {
                flex-flow: column wrap;
                text-align: center;
                width: 50%;
                @extend %flex-center;
                @include respond-down($sm) {
                    justify-content: flex-start;
                }

                span {
                    color: $primary-color;
                    font-size: 48px;
                    font-weight: $extra-bold;
                    text-align: center;
                    margin: 0 0 -4px -7px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

section.about {
    width: 100%;
    box-sizing: border-box;
    margin: 2em 0;
    padding: 1.5em 2em;
    background: #fff;
    box-shadow: $card-shadow;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;

        &.read-more {
            overflow: visible;
            height: auto;

            @include respond-down($sm) {

                &::after {
                    display: none;
                }
            }
        }

        &.has-read-more {
            height: 70px;
            position: relative;

            @include respond-down($sm) {
                height: 70px;
    
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;    
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: $white-bottom-gradient;
                }
            }
        }
    }

    .text-link {
        display: flex;
        align-items: center;
        justify-content: center;
        ::ng-deep svg {
            margin: 0 10px 0 0;
            font-size: 12px;
        }
    }
}

section.middle {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;
    @include respond-down($sm) {
        flex-flow: column wrap;
        margin-bottom: 2em;
    }

    >div {
        padding-left: 2em;
        @include respond-down($sm) {
            padding-left: 0;
            width: 100%!important;
        }

        h5 {
            margin-bottom: 2vh;
        }
    }

    div.contact-info {
        width: 50%;

        ul.contact-menu {
            li {
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 10px;

                ::ng-deep svg {
                    @extend %flex-center;
                    width: 20px;
                    height: 20px;
                    color: $grey;
                    margin-right: 1em;
                    margin-top: 3px;
                }
                a {
                    font-size: 18px;
                    font-weight: $regular;
                }
            }
        }
    }

    div.languages {
        width: 50%;
        @include respond-down($sm) {
            margin-top: 1em;
        }

        ul {
            li {
                &:first-child {
                    @include respond-down($xs) {
                        width: 60%;
                    }
                }
            }
        }
    }


}

section.reviews-opened {
    width: calc(100% + 4em);
    margin: 3em 0 0 -2em;
    overflow-x: hidden;

    h5 {
        padding-left: 2em;
        font-size: 22px;
    }
}

div.review-container {
    width: 100%;
    height: auto;
    padding: 2em 0.5em 1em;
    margin: 1em 0 0;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    overflow-x: scroll;
    max-width: 75vw;

    @include respond-down($sm) {
        min-width: 100vw;
        max-width: none;
    }

    app-review-list-item {
        flex: 0 0 auto;
        height: 100%;
        width: 400px;
        margin: 0.5em 2em;
        box-sizing: border-box;

        @include respond-down($sm) {
            width: 350px;
        }

        &:first-child {
            margin-left: 2em;
        }

        p {
            white-space: normal;
            width: 100%;
        }
    }

    div.placeholder {
        width: 15px;
        height: 30px;
        visibility: hidden;
        display: flex;
    }
}

section.btn-area {
    padding-left: 1em;

    button.text-link {
        margin: 1em 0;
        ::ng-deep svg {
            font-size: 12px;
            margin-left: 5px;
        }     
    }
}