
<mat-card class="list-item-card" *ngIf="food">
  <section class="number-id">
      <i class="fas fa-carrot"></i>
    <h1>{{i+1}}</h1>
  </section>
  <section class="middle">
    <div class="title">
        <h2>{{food.productName}}</h2>
        <!-- <div class="dividing-circle"></div>
        <p class="location">
          {{package.packagePrice}}
        </p> -->
    </div>

    <div class="quick-info">
      <p class="speciality-title">Product ID: {{food.productID}}</p>
      <div class="btn-container">
        <button class="btn-icon-right__animated" (click)="linkToChild(package)">
          More info
        </button>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
      <ul class="contact-menu">
        <li>
          <i class="fas fa-clipboard-list"></i>
          {{food.productCategory}}
        </li>
        <li>
          <i class="fas fa-balance-scale"></i>
          {{food.portion.amount}} {{food.portion.unit}}
        </li>
      </ul>
    </div>
  </section>
  <section class="actions">
    <button type="button" (click)="deletePackageDialog(package)">
      <i class="fas fa-trash"></i>
    </button>
    <button (click)="editPackage(package)">
      <i class="fas fa-edit"></i>
    </button>
  </section>

</mat-card>
