@import './../../../assets/scss/_master.scss';

.request-dialog {
    overflow-y: scroll;
    max-width: 90vw;

    .mat-dialog-container {
        padding: 2em;
    }

    .dialog-wrapper {
        box-sizing: border-box;
        display: flex;
        padding: 2em 1em;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
}

app-event-request-list {
    width: 100%;
}