<main class="calendar" *ngIf="auth.user | async as user">
  <section class="action-toolbar-top calendar__toolbar master">
    <div class="left">
      <button class="icon-button" (click)="goBack()">
          <i class="fa__icon fas fa-arrow-left"></i>
      </button>
    </div>

    <h1>{{ 'pages.booking.general.title' | translate }}</h1>
    <div class="right">
      <button class="icon-button" (click)="addEvent()">
        <i class="fa__icon fas fa-plus"></i>
      </button>
    </div>
  </section>

  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>

  <section class="calendar__title">
    <button
      class="text-link"
      mwlCalendarPreviousView
      (click)="replaceDates()"
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="activeDayIsOpen = false">
      <i class="fa__icon fas fa-arrow-left"></i>
      <span class="not-mobile">{{ 'global.buttons.previous' | translate }}</span>
    </button>
    <h2>
      {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
    </h2>
    <button
      class="text-link"
      mwlCalendarNextView
      (click)="replaceDates()"
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="getEvents()"
      (viewChange)="getEvents()"
    >
      <span class="not-mobile">{{ 'global.buttons.next' | translate }}</span>
      <i class="fa__icon fas fa-arrow-right"></i>
    </button>
  </section>

  <section class="calendar__view-changer">
    <div class="btn-area">
      <button
        class="button tab-group-btn"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        <span>{{ 'events.month' | translate }}</span>
      </button>
      <button
        class="btn tab-group-btn"
        (click)="view = CalendarView.Week; replaceDates()"
        [class.active]="view === CalendarView.Week">
        <span>{{ 'events.week' | translate }}</span>
      </button>
      <button
        class="btn tab-group-btn"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        <span>{{ 'events.day' | translate }}</span>
      </button>
    </div>
  </section>

  <section class="calendar__view" [ngSwitch]="view">
    <ng-container *ngIf="events$ | async; else loading; let events">
    <!-- <ng-container *ngIf="appointments"> -->
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="openEventDetailDialog($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [excludeDays]="excludeDays">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        (hourSegmentClicked)="hourClicked($event.date)"
        [dayStartHour]="16"
        [dayEndHour]="20"
        (eventClicked)="openEventDetailDialog($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [excludeDays]="excludeDays">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        (hourSegmentClicked)="hourClicked($event.date)"
        [dayStartHour]="16"
        [dayEndHour]="20"
        (eventClicked)="openEventDetailDialog($event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </ng-container>
  </section>
</main>


