<main class="calendar" *ngIf="auth.user | async">
  <section class="action-toolbar-top calendar__toolbar">
    <div class="left">
      <button class="icon-button" (click)="goBack()">
          <i class="fas fa-arrow-left"></i>
      </button>
      <button class="icon-button hidden">
          <i class="fas fa-arrow-left"></i>
      </button>
    </div>

    <!-- <h1>{{specialist.firstName}}'s Calendar</h1> -->
    <h1>Your specialist's Calendar</h1>

    <div class="right">
      <button class="icon-button" (click)="chat(specialist.uid)" *ngIf="!editShow">
        <i class="fas fa-comment-alt"></i>
      </button>

      <button class="icon-button" (click)="addEvent()">
        <i class="fas fa-plus"></i>
      </button>

    </div>
  </section>

  <ng-template #loading>
    Loading data...
  </ng-template>

  <section class="calendar__title">
    <button
      class="text-link"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="activeDayIsOpen = false"
    >
      <i class="fas fa-arrow-left"></i>
      Previous
    </button>
    <!-- <div
      class="btn btn-outline-secondary"
      mwlCalendarToday
      [(viewDate)]="viewDate"
    >
      Today
    </div> -->
    <h2>
      {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
    </h2>
    <button
      class="text-link"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="getEvents()"
      (viewChange)="getEvents()"
    >
      Next
      <i class="fas fa-arrow-right"></i>
    </button>
  </section>

  <section class="calendar__view-changer">
    <div class="btn-area">
      <button
        class="button tab-group-btn"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month"
      >
        <span>Month</span>
      </button>
      <button
        class="btn tab-group-btn"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week"
      >
        <span>Week</span>
      </button>
      <button
        class="btn tab-group-btn"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day"
      >
        <span>Day</span>
      </button>
    </div>
  </section>

  <section class="calendar__view" [ngSwitch]="view">
    <ng-container *ngIf="events$ | async; else loading; let events">
    <!-- <ng-container *ngIf="appointments"> -->
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="openEventDetailDialog($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="openEventDetailDialog($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="openEventDetailDialog($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </ng-container>
  </section>

  <!-- <section class="calendar__edit-events" *ngIf="auth.adminRoles(user)">
    <h3>
      Edit events
      <button class="btn btn-primary pull-right" (click)="addEvent()">
        Add new
      </button>
      <div class="clearfix"></div>
    </h3>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let event of appointments |  async;">
          <td>
            <input
              type="text"
              class="form-control"
              placeholder="{{event.title}}"
              (keyup)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [value]="event.color.primary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [value]="event.color.secondary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              placeholder="{{event.start.toDate()}}"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              placeholder="{{event.end.toDate()}}"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="deleteEventDialog(event)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section> -->
</main>


