<main>
  <section class="guideline-activities" *ngIf="exercises && supps">
    <h2 class="section-title">Supplements</h2>
    <div class="activity">
        <app-exercise-list-item class="activity__left" [exercise]="exercises.eOne"></app-exercise-list-item>
        <div class="container">
          <div class="target-block">
            <h6>Before the training</h6>
            <p class="card-text" *ngFor="let meal of supps.beforeOneArray">
              {{meal.productName}}
            </p>
          </div>
          <div class="target-block">
            <h6>During the training</h6>
            <p class="card-text">
              {{supps.duringOne}}
            </p>
          </div>
          <div class="target-block">
            <h6>After the training</h6>
            <p class="card-text">
              {{supps.afterOne}}
            </p>
          </div>
        </div>
    </div>
    <div class="activity">
        <app-exercise-list-item class="activity__left" [exercise]="exercises.eTwo"></app-exercise-list-item>
        <div class="container">
          <div class="target-block">
            <h6>Before the training</h6>
            <p class="card-text">
              {{ supps.beforeTwo}}
            </p>
          </div>
          <div class="target-block">
            <h6>During the training</h6>
            <p class="card-text">
              {{ supps.duringTwo}}
            </p>
          </div>
          <div class="target-block">
            <h6>After the training</h6>
            <p class="card-text">
              {{ supps.afterTwo}}
            </p>
          </div>
        </div>
    </div>
    <div class="activity">
      <app-exercise-list-item class="activity__left" [exercise]="exercises.eThree"></app-exercise-list-item>
      <div class="container">
          <div class="target-block">
            <h6>Before the training</h6>
            <p class="card-text">
              {{ supps.beforeThree}}
            </p>
          </div>
          <div class="target-block">
            <h6>During the training</h6>
            <p class="card-text">
              {{ supps.duringThree}}
            </p>
          </div>
          <div class="target-block">
            <h6>After the training</h6>
            <p class="card-text">
              {{ supps.afterThree}}
            </p>
          </div>
      </div>
    </div>
  </section>
</main>
