<main class="detail-wrapper" *ngIf="!showThread && thread && auth.user | async as user">
  <mat-toolbar>
    <button mat-icon-button (click)="goBack()" class="back-btn not-mobile">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)="showThreads()" class="back-btn mobile">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h3 *ngIf="isCreator">{{thread.target.targetName}}</h3>
    <h3 *ngIf="!isCreator">{{thread.creator.creatorName}}</h3>

    <button mat-icon-button [matMenuTriggerFor]="menu"  [class.hidden]="!user.roles.specialist || !user.roles.admin">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteChat()">
          <mat-icon>delete</mat-icon>
          <span>Delete this chat</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <section class="chat-feed" #scroller>
    <app-chat-feed></app-chat-feed>
  </section>
  <section class="chat-input">
    <app-chat-input [user]="user"></app-chat-input>
  </section>
</main>
