<main class="detail-wrapper">
  <mat-toolbar>
    <button mat-icon-button routerLink="../../../" class="back-btn">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteChat()">
          <mat-icon>delete</mat-icon>
          <span>Delete this chat</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <section class="chat-feed" #scroller>
    <app-chat-feed></app-chat-feed>
  </section>
  <section class="chat-input">
    <app-chat-input></app-chat-input>
  </section>
</main>
