<div class="padding-layer">
  <main class="confirm-dialog-container">
    <ng-container *ngIf="data.uid">
      <h1>{{ 'global.buttons.delete' | translate }} {{ 'global.words.user' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.displayName}}</strong>?<br>
        {{ 'dialogs.confirm.delete_user_confirm' | translate }}!!
      </p>
    </ng-container>
    <ng-container *ngIf="data.clientID">
      <h1>{{ 'global.buttons.delete' | translate }} {{ 'global.words.client' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.clientName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.specialistID">
      <h1>{{ 'global.buttons.delete' | translate }} {{ 'global.words.specialist' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.firstName}} {{data.lastName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.packageID">
      <h1>{{ 'global.buttons.delete' | translate }} {{ 'pages.package.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.packageTitle}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.productID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'global.words.product' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.productName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.exerciseID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'pages.exercises.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.exerciseName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.gID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'pages.guideline.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.guidelineName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.mID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'pages.mealplan.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.mealplanName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.reviewID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'pages.review.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} {{ 'pages.review.general.this_review' | translate }}?
      </p>
    </ng-container>
    <ng-container *ngIf="data.eventID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'events.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.sure_delete' | translate }} <strong>{{data.eventTitle}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.thread">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'global.actions.chat' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.confirm.messages_confirm' | translate }}
      </p>
    </ng-container>

    <ng-container *ngIf="data.measurementID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'pages.measurement.title_s' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.confirm.erase_data' | translate }}
      </p>
    </ng-container>

    <ng-container *ngIf="data.ficID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'pages.first_consultation.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.confirm.erase_data' | translate }}
      </p>
    </ng-container>

    <ng-container *ngIf="data.fucID">
      <h1>{{ 'dialogs.confirm.delete_this' | translate }} {{ 'pages.follow_up.title' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.confirm.erase_data' | translate }}
      </p>
    </ng-container>

    <ng-container *ngIf="data.acceptedUser">
      <h1>{{ 'dialogs.confirm.accept_this' | translate }} {{ 'global.words.user' | translate }}?</h1>
      <p class="card-text">
        {{ 'dialogs.confirm.accept_user' | translate: {user: data.acceptedUser} }}
      </p>
    </ng-container>


    <section class="dialog-actions">
      <button type="button" class="text-link" [mat-dialog-close]="false">
        {{ 'global.words.no' | translate }}
      </button>
      <button class="text-link" [mat-dialog-close]="true">
        {{ 'global.words.yes' | translate }}, 
        <ng-container *ngIf="!data.acceptedUser">
          {{ 'global.buttons.delete' | translate }}
        </ng-container>
        <ng-container *ngIf="data.acceptedUser">
          {{ 'global.buttons.accept' | translate }}
        </ng-container>
      </button>
    </section>
  </main>
</div>