<div class="padding-layer">
  <main class="confirm-dialog-container">
    <ng-container *ngIf="data.uid">
      <h1>Delete User?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.displayName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.clientID">
      <h1>Delete Client?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.clientName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.specialistID">
      <h1>Delete Specialist?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.firstName}} {{data.lastName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.packageID">
      <h1>Delete Package?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.packageTitle}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.productID">
      <h1>Delete this Product?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.productName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.exerciseID">
      <h1>Delete this Exercise?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.exerciseName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.gID">
      <h1>Delete this Guideline?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.guidelineName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.mealplanID">
      <h1>Delete this Mealplan?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.mealplanName}}</strong>?
      </p>
    </ng-container>
    <ng-container *ngIf="data.reviewID">
      <h1>Delete this Review?</h1>
      <p class="card-text">
        Are you sure that you want to delete this review?
      </p>
    </ng-container>
    <ng-container *ngIf="data.eventID">
      <h1>Delete this Event?</h1>
      <p class="card-text">
        Are you sure that you want to delete <strong>{{data.eventTitle}}</strong>?
      </p>
    </ng-container>


    <section class="dialog-actions">
      <button type="button" class="text-link" [mat-dialog-close]="false">No</button>
      <button class="text-link" [mat-dialog-close]="true">Yes, delete</button>
    </section>
  </main>
</div>