@import './../../../../assets/scss/_master.scss';

main {
    .guideline-activities {
        height: auto;
        padding: 3em 3em 3em 5em;

        .activity {
            align-items: flex-start;
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            padding: 2em 0;
            justify-content: flex-start;
            width: 100%;

            &:last-child {
                padding-bottom: 0;
            }

            &__left {
                box-sizing: border-box;
                display: flex;
                flex-flow: column wrap;
                width: 40%;
                justify-content: flex-start;

                app-exercise-list-item {
                    margin: 0 0 3em;
                    height: auto;
                    width: 100%;
                }
            }

            &__right {
                box-sizing: border-box;
                align-items: center;
                display: flex;
                flex-flow: column wrap;
                width: 60%;

                .container {
                    box-sizing: border-box;
                    display: flex;
                    flex-flow: row wrap;
                    height: 385px;
                    margin: 0 0 3em;
                    padding: 2em 0 2em 3em;
                    align-items: center;
                    width: 100%;

                    .target-block {
                        width: 50%;
                        h6 {
                            text-transform: capitalize;
                        }

                        &__full-width {
                            width: 100%;
                            ul {
                                li {
                                    align-items: center;
                                    display: flex;
                                    flex-direction: row;
                                    margin: 1em 0;

                                    span, input {
                                        border-right: 1px solid $border-color;
                                        color: $text-black;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        font-size: 28px;
                                        font-weight: $bold;
                                        height: 65px;
                                        margin-right: 1em;
                                        text-align: center;
                                        width: 85px;
                                    }

                                    h4 {
                                        text-transform: capitalize;
                                        color: $secondary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}