<mat-card class="list-item-card" *ngIf="!detailOpen && user">
  <div class="type-chip">
    <i class="fa__icon fas fa-user-ninja" *ngIf="auth.specialistRoles(user)"></i>
    <i class="fa__icon fas fa-user-tie" *ngIf="auth.clientRoles(user)"></i>
  </div>
  <section class="profile-photo" *ngIf="user.photoURL" [style.backgroundImage]="'url('+ user.photoURL +')'">
  </section>
  <section class="profile-photo no-photo" *ngIf="!user.photoURL">
    <p>
      <i class="fa__icon far fa-sad-cry"></i> <br>
      {{ 'global.errors.no_photo' | translate }}
    </p>
  </section>
  <section class="middle">
    <div class="title">
        <h2>{{user.displayName}}</h2>
        <div class="dividing-circle"></div>
        <p class="location" *ngIf="user.basicData">{{user.basicData.country}} -
          <ng-container *ngIf="user.roles.admin">
            {{ 'global.words.admin' | translate }}
            <ng-container *ngIf="user.roles.specialist || user.roles.client">, </ng-container>
          </ng-container>
          <ng-container *ngIf="user.roles.specialist">
            {{ 'global.words.specialist' | translate }}
            <ng-container *ngIf="user.roles.client">, </ng-container>
          </ng-container>
          <ng-container *ngIf="user.roles.client">
            {{ 'global.words.client' | translate }}
          </ng-container>
        </p>
        <p class="location warning" *ngIf="!user.basicData">
          {{ 'global.errors.incomplete_profile' | translate }}
        </p>
    </div>

    <div class="quick-info">
      <p class="speciality-title"><strong>User ID</strong><br>
        {{user.uid}}
      </p>
      <p class="description" *ngIf="user.basicData">
        <strong>{{ 'pages.users.list_item.goal' | translate }}</strong><br>
        <ng-container *ngIf="user.basicData.mainGoal">{{user.basicData.mainGoal}}</ng-container>
        <ng-container *ngIf="!user.basicData.mainGoal">
          {{ 'pages.users.list_item.no_goal' | translate }}
        </ng-container>
      </p>
      <div class="btn-container">
        <button class="btn-icon-right__animated" (click)="linkToChild(user)">
          {{ 'global.buttons.more_info' | translate }}
        </button>
        <i class="fa__icon fas fa-long-arrow-alt-right"></i>
      </div>
      <ul class="contact-menu">
        <li>
          <i class="fa__icon far fa-envelope"></i>
          <a class="text-link" *ngIf="user.basicData" href="mailto:{{user.email}}">
            Email
          </a>
          <p class="card-text" *ngIf="!user.basicData">
            {{ 'global.words.none' | translate }}
          </p>
        </li>
        <li>
          <i class="fa__icon fas fa-mobile-alt"></i>
          <a class="text-link" *ngIf="user.basicData" href="tel:{{user.basicData.phoneNumber}}">
            {{ 'global.actions.call' | translate }}
          </a>
          <p class="card-text" *ngIf="!user.basicData">
            {{ 'global.words.none' | translate }}
          </p>
        </li>
        <li>
          <i class="fa__icon far fa-comment-alt"></i>
          <a class="text-link" (click)="chat()" *ngIf="user.basicData">
            {{ 'global.actions.chat' | translate }}
          </a>
          <p class="card-text" *ngIf="!user.basicData">
            {{ 'global.words.none' | translate }}
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="actions">
    <button type="button" (click)="deleteUserDialog(user)">
      <i class="fa__icon fas fa-trash"></i>
    </button>
    <!-- Disabled button when user hasn't completed signup yet -->
    <button mat-button *ngIf="!user?.status?.signUpCompleted "
      matTooltip="{{ 'pages.users.list_item.tooltip' | translate }}"
      matTooltipClass="tooltip-warning" [matTooltipPosition]="tooltipPosition" (click)="editUser(user)">
      <i class="fa__icon fas fa-edit"></i>
    </button>
    <!-- Accept user button when Signup is completed -->
    <button (click)="acceptUser(user)" *ngIf="!user?.status?.accepted && user?.status?.signUpCompleted">
      <i class="fa__icon fas fa-user-check"></i>
    </button>
    <!-- Edit button when user is accepted and has completed the signup process -->
    <button (click)="editUser(user)" *ngIf="user?.status?.signUpCompleted && user?.status?.accepted">
      <i class="fa__icon fas fa-edit"></i>
    </button>
  </section>

</mat-card>
