<mat-card class="list-item-card" *ngIf="!detailOpen && user">
  <div class="type-chip">
    <i class="fas fa-user-ninja" *ngIf="auth.specialistRoles(user)"></i>
    <i class="fas fa-user-tie" *ngIf="auth.clientRoles(user)"></i>
  </div>
  <section class="profile-photo" *ngIf="user.photoURL" [style.backgroundImage]="'url('+ user.photoURL +')'">
  </section>
  <section class="profile-photo no-photo" *ngIf="!user.photoURL">
    <p>
      <i class="far fa-sad-cry"></i> <br>
      No Photo Yet
    </p>
  </section>
  <section class="middle">
    <div class="title">
        <h2>{{user.displayName}}</h2>
        <div class="dividing-circle"></div>
        <p class="location" *ngIf="user.basicData">{{user.basicData.country}} - 
          <ng-container *ngIf="user.roles.admin">
            Admin<ng-container *ngIf="user.roles.specialist || user.roles.client">, </ng-container>
          </ng-container>
          <ng-container *ngIf="user.roles.specialist">Specialist<ng-container *ngIf="user.roles.client">, </ng-container>
          </ng-container>
          <ng-container *ngIf="user.roles.client">Client</ng-container>
        </p>
        <p class="location warning" *ngIf="!user.basicData">
          Incomplete profile
        </p>
    </div>

    <div class="quick-info">
      <p class="speciality-title"><span>User ID</span><br>
        {{user.uid}}
      </p>
      <p class="description" *ngIf="user.basicData">
        <span>Goal</span><br>
        <ng-container *ngIf="user.basicData.mainGoal">{{user.basicData.mainGoal}}</ng-container>
        <ng-container *ngIf="!user.basicData.mainGoal">No goal yet...</ng-container>
      </p>
      <div class="btn-container">
        <button class="btn-icon-right__animated" (click)="linkToChild(user)">
          More info
        </button>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
      <ul class="contact-menu">
        <li>
          <i class="far fa-envelope"></i>
          <a class="text-link" *ngIf="user.basicData" href="mailto:{{user.email}}">
            Email
          </a>
          <p class="card-text" *ngIf="!user.basicData">
            None
          </p>
        </li>
        <li>
          <i class="fas fa-mobile-alt"></i>
          <a class="text-link" *ngIf="user.basicData" href="tel:{{user.basicData.phoneNumber}}">
            Call
          </a>
          <p class="card-text" *ngIf="!user.basicData">
            None
          </p>
        </li>
        <li>
          <i class="far fa-comment-alt"></i>
          <a class="text-link" (click)="chat()" *ngIf="user.basicData">
            Chat
          </a>
          <p class="card-text" *ngIf="!user.basicData">
            None
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="actions">
    <button type="button" (click)="deleteUserDialog(user)">
      <i class="fas fa-trash"></i>
    </button>
    <!-- Disabled button when user hasn't completed signup yet -->
    <button mat-button *ngIf="!user.status.signUpCompleted " matTooltip="User hasn't completed the Signup process yet"
      matTooltipClass="tooltip-warning" [matTooltipPosition]="tooltipPosition" [class.icon-button-disabled]="!user.status.signUpCompleted">
      <i class="fas fa-ban"></i>
    </button>
    <!-- Accept user button when Signup is completed -->
    <button (click)="acceptUser(user)" *ngIf="!user.status.accepted && user.status.signUpCompleted">
      <i class="fas fa-user-check"></i>
    </button>
    <!-- Edit button when user is accepted and has completed the signup process -->
    <button (click)="editUser(user)" *ngIf="user.status.signUpCompleted && user.status.accepted">
      <i class="fas fa-edit"></i>
    </button>
  </section>

</mat-card>
