<main *ngIf="mondayMeals">
  <section class="meals-row">
    <div class="column" *ngIf="mondayMeals.mOneMealOneArr[0] && mondayMeals.mOneMealOneArr[0].amount > 0">
      <div class="column__meal">
        <span class="column__meal-title">{{mondayMeals.mOneMealOneTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mOneMealOneArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="column__meal" *ngIf="mondayMeals.mOneMealTwoArr[0] && mondayMeals.mOneMealTwoArr[0].amount > 0">
        <span class="column__meal-title">{{mondayMeals.mOneMealTwoTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mOneMealTwoArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="column" *ngIf="mondayMeals.mTwoMealOneArr[0] && mondayMeals.mTwoMealOneArr[0].amount > 0">
      <div class="column__meal">
        <span class="column__meal-title">{{mondayMeals.mTwoMealOneTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mTwoMealOneArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="column__meal" *ngIf="mondayMeals.mTwoMealTwoArr[0] && mondayMeals.mTwoMealTwoArr[0].amount > 0">
        <span class="column__meal-title">{{mondayMeals.mTwoMealTwoTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mTwoMealTwoArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="column" *ngIf="mondayMeals.mThreeMealOneArr[0] && mondayMeals.mThreeMealOneArr[0].amount > 0">
      <div class="column__meal">
        <span class="column__meal-title">{{mondayMeals.mThreeMealOneTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mThreeMealOneArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="column__meal" *ngIf="mondayMeals.mThreeMealTwoArr[0] && mondayMeals.mThreeMealTwoArr[0].amount > 0">
        <span class="column__meal-title">{{mondayMeals.mThreeMealTwoTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mThreeMealTwoArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="column" *ngIf="mondayMeals.mFourMealOneArr[0] && mondayMeals.mFourMealOneArr[0].amount > 0">
      <div class="column__meal">
        <span class="column__meal-title">{{mondayMeals.mFourMealOneTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mFourMealOneArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="column__meal" *ngIf="mondayMeals.mFourMealTwoArr[0] && mondayMeals.mFourMealTwoArr[0].amount > 0">
        <span class="column__meal-title">{{mondayMeals.mFourMealTwoTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mFourMealTwoArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="column" *ngIf="mondayMeals.mFiveMealOneArr[0] && mondayMeals.mFiveMealOneArr[0].amount > 0">
      <div class="column__meal">
        <span class="column__meal-title">{{mondayMeals.mFiveMealOneTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mFiveMealOneArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="column__meal" *ngIf="mondayMeals.mFiveMealTwoArr[0] && mondayMeals.mFiveMealTwoArr[0].amount > 0">
        <span class="column__meal-title">{{mondayMeals.mFiveMealTwoTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mFiveMealTwoArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="column" *ngIf="mondayMeals.mSixMealOneArr[0] && mondayMeals.mSixMealOneArr[0].amount > 0">
      <div class="column__meal">
        <span class="column__meal-title">{{mondayMeals.mSixMealOneTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mSixMealOneArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="column__meal" *ngIf="mondayMeals.mSixMealTwoArr[0] && mondayMeals.mSixMealTwoArr[0].amount > 0">
        <span class="column__meal-title">{{mondayMeals.mSixMealTwoTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mSixMealTwoArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="column" *ngIf="mondayMeals.mSevenMealOneArr[0] && mondayMeals.mSevenMealOneArr[0].amount > 0">
      <div class="column__meal">
        <span class="column__meal-title">{{mondayMeals.mSevenMealOneTitle}}</span>
        <ul>
          <li class="column__meal-item" *ngFor="let item of mondayMeals.mSevenMealOneArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="column__meal" *ngIf="mondayMeals.mSevenMealTwoArr[0] && mondayMeals.mSevenMealTwoArr[0].amount > 0">
        <span class="column__meal-title">{{mondayMeals.mSevenMealTwoTitle}}</span>
        <ul>
          <li class="column__meal-item"  *ngFor="let item of mondayMeals.mSevenMealTwoArr">
            {{item.product.productName}} - {{item.amount}} {{item.product.unit}}<br><span>{{item.prep.prepValue | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
