@import '_master';

div.router-wrapper {
    flex: 1;
    position: relative;

    ::ng-deep router-outlet + * {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

}

:host ::ng-deep router-outlet + * {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $middle-grey;
    position: absolute;
}

div.show-section {
    z-index: 500;
}

@media only screen and (max-width: 768px) {
    app-first-step-success {
        display: none;
    }
}