<div class="main-wrapper" *ngIf="(auth.user | async) || {} as user">
  <app-language-picker></app-language-picker>

  <div class="column" *ngIf="!user.uid">
    <section class="login-container">
        <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
        <h2>{{ 'pages.signup.title' | translate }}</h2>
        <p class="intro-text">
          {{ 'pages.signup.intro' | translate }}
        </p>
    
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="auth-form">
          <mat-form-field [formGroup]="signUpForm" appearance="standard">
            <input type="text" matInput placeholder="{{ 'global.form.email_placeholder' | translate }}"
              formControlName="email" [class.active]="!email.valid && email.touched"
              autocomplete="off" required>
            <mat-error class="input-error" *ngIf="!email.dirty">
              {{ 'global.form.errors.required' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="!email.valid && email.dirty">
              {{ 'global.form.errors.invalid_email' | translate }}
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="standard" class="password">
            <input class="form-input" type="password" matInput
            placeholder="{{ 'global.form.password_placeholder' | translate }}"
            [type]="hide ? 'password' : 'text'" 
            formControlName="password" [class.active]="!password.valid && password.touched" 
            autocomplete="new-password" required>
              <mat-error class="input-error" *ngIf="capsOn | async">
                {{ 'global.form.errors.capslock' | translate }}
              </mat-error>
              <mat-error class="input-error" *ngIf="!password.touched">
                {{ 'global.form.errors.required' | translate }}
              </mat-error>
              <mat-error class="input-error" *ngIf="password.errors?.minlength">
                {{ 'global.form.errors.not_enough_chars' | translate }}
              </mat-error>
              <mat-error class="input-error" *ngIf="password.errors?.pattern">
                {{ 'global.form.errors.password_special_char' | translate }}
              </mat-error>
          </mat-form-field>
    
          <div class="btn-area">
            <button class="btn-primary" type="submit">
              {{ 'pages.signup.buttons.create_account' | translate }}
            </button>
            <br>
            <button type="button" class="text-link" routerLink="../login">
              {{ 'pages.signup.buttons.already_have_account' | translate }}
            </button>
    
            <p class="light-text">- {{ 'global.words.or' | translate }} -</p>
    
            <button type="button" class="btn-icon-left" (click)="googleLogin()">
              <img src="./../../../../assets/img/icons/google.svg">
              <span>{{ 'pages.signup.buttons.signup_google' | translate }}</span>
            </button>

            <p class="light-text">{{ 'global.general.slogan' | translate }}</p>
          </div>
        </form>
    </section>
  </div>
  <ng-container *ngIf="user">
    <div class="show-section" *ngIf="!succesVisible && user.uid" (click)="toggleStepOverlay()">
      <button class="open-side-component">
        <i class="fa__icon fas fa-chevron-right"></i>
      </button>
    </div>
    <app-first-step-success *ngIf="user.uid && succesVisible" (close)="toggleStepOverlay()"></app-first-step-success>
  </ng-container>

  <ng-container *ngIf="user">
    <section class="photo-container" *ngIf="!user.uid">
    </section>
    <div class="router-wrapper" [@fadeAnimation]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    
  </ng-container>
  
</div>