<main class="dialog-wrapper">
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="infoForm">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>Info</ng-template>
        <h3>🍔 Mealplan Info for {{userData.displayName}}</h3>
        <p class="card-text">
          The mealplan for the client. This mealplan has to be filled out on the first meeting with the client(!).
          This document is of huge importance, since we can calculate heaps of things based on the values you'll enter
          here. Be precise and ask thouroughly to be as personal as possible for you client.
        </p>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Mealplan ID</mat-label>
          <input type="number" matInput name="mID" formControlName="mID" placeholder="Always a number" autocomplete="new-password">
          <mat-hint *ngIf="!infoForm['controls'].mID.dirty">Check the mealplan list for the numbers already taken.</mat-hint>
          <mat-error class="input-error" *ngIf="!infoForm['controls'].mID.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Mealplan name</mat-label>
          <input type="text" matInput name="mealplanName" formControlName="mealplanName" placeholder="Give the mealplan a name" autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].mealplanName.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="mealTimeForm">
      <form [formGroup]="mealTimeForm">
        <ng-template matStepLabel>Meal times</ng-template>
        <h3>⏲️ Meal Times for {{userData.displayName}}</h3>
        <p class="intro-text">
          Define the meal times for this client. You will have to fill out meals for all the meal times you enter. 
        </p>

        <div class="add-form-field-container" formArrayName="mealTimeArr">
          <h4>Add the Meal Times</h4>
          <section class="dynamic-form-field-container mealtimes" *ngFor="let mealTime of mealTimeForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <div class="form-fields">
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>Which meal times suit the client best?</mat-label>
                <mat-select matInput placeholder="Pick a Meal Time" formControlName="mealTime" 
                panelClass="dropdown-regular" autocomplete="off" (selectionChange)="updateMealTimes()" required>
                  <mat-option *ngFor="let time of times" [value]="time.value">⏰ {{time.value}}</mat-option>
                </mat-select>
                <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
              </mat-form-field>
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>Mealtime name</mat-label>
                <mat-select matInput placeholder="Attach a name to the time" formControlName="mealTimeName" 
                panelClass="dropdown-regular" autocomplete="off" (selectionChange)="updateMealTimes()" required>
                  <mat-option *ngFor="let name of mealTimeNames" [value]="name.value">{{name.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="btn-area">
              <button type="button"mat-icon-button type="button" class="delete-btn" (click)="deleteMealTime(i); checkMealTime();">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>


        <button type="button" *ngIf="showAddMealTime" class="add-form-field" (click)="addMealTime(); checkMealTime();">
          <i class="fa fa-plus"></i>
          Add a Meal Time
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>Supps</ng-template>
      <ng-container *ngIf="!mealTimeForms.dirty">
        <div class="not-there">
          <h5>🤦 Fill out the meal times in step 2 to see something here</h5>
          <p class="card-text">
            To be able to create meals and add ingredients for this client's mealplan, you have to first specify when the client is going to eat.
          </p>
        </div>
      </ng-container>
      <app-supps-form *ngIf="mealTimeForms.dirty" [foods]="foods">
      </app-supps-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          Back
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          Next
        </button>
      </section>
  
    </mat-step>

    <mat-step [stepControl]="">
    <ng-template matStepLabel>Monday</ng-template>
      <ng-container *ngIf="!mealTimeForms.dirty">
        <div class="not-there">
          <h5>🤦 Fill out the meal times in step 2 to see something here</h5>
          <p class="card-text">
            To be able to create meals and add ingredients for this client's mealplan, you have to first specify when the client is going to eat.
          </p>
        </div>
      </ng-container>
      <app-monday-form *ngIf="mealTimeForms.dirty" [foods]="foods" [mealTimes]="mealTimeArr">
      </app-monday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          Back
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          Next
        </button>
      </section>

    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>Tuesday</ng-template>
      <ng-container *ngIf="!mealTimeForms.dirty">
        <div class="not-there">
          <h5>🤦 Fill out the meal times in step 2 to see something here</h5>
          <p class="card-text">
            To be able to create meals and add ingredients for this client's mealplan, you have to first specify when the client is going to eat.
          </p>
        </div>
      </ng-container>
      <app-tuesday-form *ngIf="mealTimeForms.dirty" [foods]="foods" [mealTimes]="mealTimeArr">
      </app-tuesday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          Back
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          Next
        </button>
      </section>
  
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>Wednesday</ng-template>
      <ng-container *ngIf="!mealTimeForms.dirty">
        <div class="not-there">
          <h5>🤦 Fill out the meal times in step 2 to see something here</h5>
          <p class="card-text">
            To be able to create meals and add ingredients for this client's mealplan, you have to first specify when the client is going to eat.
          </p>
        </div>
      </ng-container>
      <app-wednesday-form *ngIf="mealTimeForms.dirty" [foods]="foods" [mealTimes]="mealTimeArr">
      </app-wednesday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          Back
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          Next
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>Thursday</ng-template>
      <ng-container *ngIf="!mealTimeForms.dirty">
        <div class="not-there">
          <h5>🤦 Fill out the meal times in step 2 to see something here</h5>
          <p class="card-text">
            To be able to create meals and add ingredients for this client's mealplan, you have to first specify when the client is going to eat.
          </p>
        </div>
      </ng-container>
      <app-thursday-form *ngIf="mealTimeForms.dirty" [foods]="foods" [mealTimes]="mealTimeArr">
      </app-thursday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          Back
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          Next
        </button>
      </section>
  
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>Friday</ng-template>
      <ng-container *ngIf="!mealTimeForms.dirty">
        <div class="not-there">
          <h5>🤦 Fill out the meal times in step 2 to see something here</h5>
          <p class="card-text">
            To be able to create meals and add ingredients for this client's mealplan, you have to first specify when the client is going to eat.
          </p>
        </div>
      </ng-container>
      <app-friday-form *ngIf="mealTimeForms.dirty" [foods]="foods" [mealTimes]="mealTimeArr">
      </app-friday-form>


      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          Back
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          Next
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="infoForm">
      <div class="not-there">
        <ng-template matStepLabel>End</ng-template>
        <h3>😅 Finally done... (or not)</h3>
        <p class="card-text">
          If you're done. Thanks for going through that process. Click the done button and see the mealplan appear live
          in the mealplan section of the client's profile!

          If not, the meal button won't be clickable. Check the rest of the steps to see if you missed something!
        </p>
      </div>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="submit" class="dialog-button" (click)="addMealplan()"
          [disabled]="!infoForm.valid || !mealTimeForm.valid"
          [class.disabled]="!infoForm.valid || !mealTimeForm.valid"
          mat-dialog-close
        >
          Done
        </button>
      </section>
    </mat-step>

  </mat-horizontal-stepper>
</main>
