@import './../../../../assets/scss/_master.scss';

.list-item-container {
    h1, p {
        width: 90%;
        margin: 0 auto 10px;
        text-align: left;
    }
    
    p {
        margin-bottom: 2em;
    }

}