<main *ngIf="eventArr; else noEvents">
  <div class="close-section mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> {{ 'global.buttons.back' | translate }}
    </button>
  </div>
  <div class="list-item-container" *ngIf="events | async as events; else loading">
    <h1>{{ 'requests.event_request_list.title' | translate }}</h1>
    <p class="card-text">
      {{ 'requests.event_request_list.description' | translate }}
    </p>
    <app-event-request-list-item *ngFor="let event of events" [specialist]="specialist" [event]="event"></app-event-request-list-item>
  </div>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</main>

<ng-template #noEvents>
  <h2 class="all-good">{{ 'requests.event_request_list.all_good' | translate }}</h2>
</ng-template>
