@import './../../../../../assets/scss/_master.scss';

form {
    .phone {
        input {
            border-bottom: $light-border;
        }
    }

    ::ng-deep input {
        font-family: $main-font;
        letter-spacing: 1.6px!important;
    }
}

section {

    &.chip-area {
        ::ng-deep mat-form-field {
            .mat-form-field-wrapper {
                padding-bottom: 0;

                .mat-form-field-flex {
                    padding-top: 0;

                    .mat-form-field-infix {
                        border-top: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    &.pick-colors {
        margin: 2em auto;
        width: 75%;

        .color-pickers {
            display: flex;
            flex-flow: row nowrap;
            margin-top: 0.5em;
            width: 100%;

            mat-form-field {
                width: 30%;
                margin-right: 10%;
                input {
                    height: 25px;
                    width: 25px;
                    border-bottom: none;
                }
            }

            .color-picker-field {
                ::ng-deep input {
                    width: 25px!important;
                    height:  25px!important;
                    border-bottom: none!important;
                }
            }
        }
    }

    &.pick-a-time {

        h4 {
            width: 75%;
            margin: 0 auto;
        }

        .timeline {

            &::before {
                height: 91.2%!important;
            }

            .add-date-time-container {
                flex-flow: column wrap;
            }


            // General
            .time {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-top: -15px!important;
                width: 100%;

                mat-form-field {
                    width: 45%;
                    margin-right: 5%;
                }
            }
        }
    }

    &.appointment-type {

        &.face-to-face {

        }

        &.online {

        }
    }

}

.date-picker {
    ::ng-deep .mat-form-field-infix {
        display: flex!important;
        flex-flow: row nowrap!important;

        input {
            margin-right: 1em;
        }
        .mat-icon-button svg {
            color: $secondary-color;
        }
    }
}