@import './../../../../assets/scss/_master.scss';

section.step-wrapper {
    justify-content: flex-start;
    padding: 2em 0 100px;
    height: auto;
    box-sizing: border-box;

    &.success {
        height: 100vh;
        justify-content: center;
    }

    &.not-success {
        .btn-area {
            button {
                @include respond-down($sm) {
                    background: transparent!important;
                    border: none!important;
                    box-shadow: none!important;
                }
            }
        }
    }

    .step-done {
        .btn-area {
            margin-top: 0;
        }
    }

}

section.slider-nav-container {
    position: absolute;
    top: 45%;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .control-btn {
        position: relative;
        height: 2em;
        width: 2em;
        font-size: 38px;

        svg {
            margin: 0 0 2px 3px;
        }
    }
}

app-specialist-item {
    width: 80%;
    height: auto;
    margin: 2em auto;
}

.specialist-container {
    overflow-y: hidden!important;
    height: auto;

    .package-slider {
        overflow-x: auto;
        overflow-y: hidden;
        width: fit-content!important;
        display: flex;
        padding: 1em 0;
    }

    .specialist-item {
        width: 70%;
        margin: 0 2.5em 0 2.5em;
        height: 100%;
        @include respond-down($sm) {
            width: 80vw;
            padding: 0;
            margin: 0 3vw!important;
        }

    }

    ::ng-deep .mat-radio-input {
        @include respond-down($sm) {
            padding: 0;
        }
    }
}