<ng-container *ngIf="(auth.user | async) || {} as user">
  <section class="step-wrapper" *ngIf="!user.specialist">
    <h5>Pick wisely, {{user.displayName || user.email}}</h5>
    <h1>Step 3: Choose a Specialist</h1>

    <section class="package-container specialist-container">
      <mat-radio-group class="package-slider" [(ngModel)]="chosenSpecialist">
          <mat-radio-button id="specialist{{i+1}}" class="package-item specialist-item"
          *ngFor="let specialist of specialists | async; let i=index" 
          [value]="specialist.specialistID" labelPostition="before"
          autofocus="none">
            <app-specialist-item [specialist]="specialist"></app-specialist-item>
          </mat-radio-button>
        <div class="right-scroll-margin">
          <p class="hide"></p>
        </div>
      </mat-radio-group>
    </section>

    <div class="btn-area">
      <button class="btn-icon-left" routerLink="../step-two">
        <i class="fas fa-chevron-left small"></i>
        <span>Previous step</span>
      </button>
      <button class="btn-icon-right" (click)="updateUser(user)" [class.btn-disabled]="chosenSpecialist === null" [disabled]="chosenSpecialist === null">
        <span>Next step</span>
        <i class="fas fa-chevron-right small"></i>
      </button>
    </div>
  </section>

  <section class="step-wrapper success" *ngIf="user.specialist">
    <h5>You've picked wisely, {{user.displayName || user.email}}</h5>
    <h1>Step 3: Choose a Specialist</h1>
    <div class="step-done">
      <p class="intro-text">
        Ooops! You already chose a specialist. Go to the next dashboard by clicking the button below. If you want to change your 
        specialist later. That's allowed after one week of trial.
      </p>
      <div class="btn-area">
        <button class="btn-icon-right" routerLink="../step-four">
          <span>Plan the consultation</span>
          <span class="emoji">📅</span>
        </button>
      </div>
    </div>
  </section>
</ng-container>
  