@import './../../../../assets/scss/_master.scss';

section.step-wrapper {
    justify-content: flex-start;
    padding: 2em 0 100px;
    height: auto;
    box-sizing: border-box;

    &.step-three {
        overflow: hidden;
    }

    @include respond-down($sm) {
        overflow-y: auto;
        padding: 2em 0 2em;
        height: auto!important;
    }

    &.success {
        height: 100vh!important;
        justify-content: center;
    }

    .step-done {
        .btn-area {
            margin-top: 0;
        }

        p {
            @include respond-down($sm) {
                width: 100%;
            }
        }
    }

    .btn-area {
        @include respond-down($sm) {
            margin-bottom: 3em;
        }


        .btn-icon-left {
            .fa__icon, .svg-inline--fa, svg, svg path {
                margin-right: 0 !important;
            }

            span {
                margin-left: 20px;
            }
        }
    }

}

section.slider-nav-container {
    position: absolute;
    top: 45%;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .control-btn {
        position: relative;
        height: 2em;
        width: 2em;
        font-size: 38px;

        .fa__icon, .svg-inline--fa, svg, svg path {
            margin: 0 0 2px 3px;
        }
    }
}

app-specialist-item {
    width: 80%;
    height: auto;
    margin: 2em auto;
}

.specialist-container {
    overflow-y: hidden!important;
    height: auto;
    width: auto;

    .package-slider {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        padding: 1em 1.5em;
        flex-flow: row nowrap;
        width: 100%;

        @include respond-down($sm) {
            padding: 0;
            width: 100vw;
        }
    }

    .specialist-item {
        width: 55vw;
        margin: 0 2.5em 0 2.5em;
        height: 100%;
        max-width: 60vw;
        overflow: hidden;

        @include respond-down($sm) {
            padding: 0;
            margin: 0 auto 50px !important;
            max-width: 70vw;
            width: 80%;
        }

    }

    ::ng-deep .mat-radio-input {
        @include respond-down($sm) {
            padding: 0;
        }
    }
}