<ng-container *ngIf="(auth.user | async) || {} as user">
  <section class="step-wrapper not-success step-three" *ngIf="!user.specialist">
    <h5>
      {{ 'pages.signup.step_three.subtitle' | translate }}, {{user.displayName || user.email}}
    </h5>
    <h1>{{ 'pages.signup.step_three.title' | translate }}</h1>

    <section class="package-container specialist-container">
      <mat-radio-group class="package-slider" [(ngModel)]="chosenSpecialist">
          <mat-radio-button id="specialist{{i+1}}" class="package-item specialist-item"
          *ngFor="let specialist of specialists | async; let i=index" 
          [value]="specialist.specialistID" labelPostition="before"
          autofocus="none">
            <app-specialist-item [specialist]="specialist"></app-specialist-item>
          </mat-radio-button>
          <div class="hidden">filler</div>
      </mat-radio-group>
    </section>

    <div class="btn-area">
      <button class="btn-icon-left" routerLink="../step-two">
        <i class="fa__icon fas fa-chevron-left small"></i>
        <span class="not-mobile">{{ 'global.buttons.previous_step' | translate }}</span>
        <span class="mobile">{{ 'global.buttons.previous' | translate }}</span>
      </button>
      <button class="btn-icon-right" (click)="updateUser(user)" [class.btn-disabled]="chosenSpecialist === null" [disabled]="chosenSpecialist === null">
        <span class="not-mobile">{{ 'global.buttons.next_step' | translate }}</span>
        <span class="mobile">{{ 'global.buttons.next' | translate }}</span>
        <i class="fa__icon fas fa-chevron-right small"></i>
      </button>
    </div>
  </section>

  <section class="step-wrapper success" *ngIf="user.specialist">
    <h5>
      {{ 'pages.signup.step_three.subtitle_success' | translate }}, {{user.displayName || user.email}}
    </h5>
    <h1>{{ 'pages.signup.step_three.title' | translate }}</h1>
    <div class="step-done">
      <p class="intro-text">
        {{ 'pages.signup.step_three.already_chosen' | translate }}
      </p>
      <div class="btn-area">
        <button class="btn-icon-right" routerLink="../step-four">
          <span>
            {{ 'pages.signup.step_three.buttons.plan_consultation' | translate }}
          </span>
          <span class="emoji">📅</span>
        </button>
      </div>
    </div>
  </section>
</ng-container>
  