@import './../../../assets/scss/_master.scss';
@import './../../../assets/scss/_forms.scss';

.placeholder-wrapper {
    margin: 3em auto;
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: darken($middle-grey, 10%);

    ::ng-deep svg {
        font-size: 36px;
        color: $grey;
        margin-bottom: 15px;
    }
}

.mat-form-field {
    width: 100%;
}

div.multiple-input {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    .mat-form-field {
        width: 84%;

        &:first-child {
            width: 14%;
            margin-right: 2%;
        }
    }
}

@media only screen and (max-width: 768px) {

    div.multiple-input {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    
        .mat-form-field {
            width: 65%;
    
            &:first-child {
                width: 32%;
                margin-right: 3%;
            }
        }
    }
}