<main class="dialog-wrapper" *ngIf="client && mealplan">
  <div class="close-section">
    <button mat-icon-button class="not-mobile close-btn" (click)="closeDialog()" type="button">
      <i class="fa__icon fas fa-times"></i>
    </button>

    <button class="mobile text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> {{ 'global.buttons.back' | translate }}
    </button>
  </div>
  <mat-horizontal-stepper #stepper (selectionChange)="onStepChange($event)">
    <mat-step [stepControl]="infoForm">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>Info</ng-template>
        <h3>🍔 {{ 'pages.mealplan.general.mealplan_info_for' | translate }} {{client.displayName}}</h3>
        <p class="card-text">
          {{ 'pages.mealplan.general.mealplan_add_intro' | translate }}
        </p>
        <p>
          <strong>{{ 'pages.mealplan.general.mealplan_id' | translate }}</strong><br>
          {{mealplan.mID}}
        </p>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.mealplan.form.mealplan_name' | translate }}</mat-label>
          <input type="text" matInput name="mealplanName" formControlName="mealplanName"
            placeholder="{{ 'pages.mealplan.form.mealplan_name_ph' | translate }}" autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].mealplanName.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>
              {{ 'pages.mealplan.general.mealplan_for' | translate }} {{client.displayName}}
            </mat-label>
            <mat-select matInput placeholder="Pick another client" formControlName="clientID" 
            panelClass="dropdown-regular" autocomplete="off" (selectionChange)="updateClient($event)" required>
              <mat-option *ngFor="let client of clients | async" [value]="client">
                {{client.displayName}}
              </mat-option>
            </mat-select>
            <mat-hint>
              {{ 'pages.mealplan.form.another_client' | translate }}!
            </mat-hint>
          </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="mealTimeForm">
      <form [formGroup]="mealTimeForm">
        <ng-template matStepLabel>{{ 'pages.mealplan.form.meal_times' | translate }}</ng-template>
        <h3>⏲️ {{ 'pages.mealplan.form.meal_times_for' | translate }} {{client.displayName}}</h3>
        <p class="intro-text">
          {{ 'pages.mealplan.form.meal_times_detail' | translate }}
        </p>

        <div class="add-form-field-container" formArrayName="mealTimeArr">
          <h4>Add the Meal Times</h4>
          <section class="dynamic-form-field-container mealtimes" *ngFor="let mealTime of mealTimeForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <div class="form-fields">
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>{{ 'pages.mealplan.form.best_time' | translate }}</mat-label>
                <mat-select matInput
                  placeholder="{{ 'pages.mealplan.form.pick_mealtime' | translate }}"
                  formControlName="mealTime" panelClass="dropdown-regular"
                  autocomplete="off" (selectionChange)="updateMealTimes()" required>
                  <mat-option *ngFor="let time of times" [value]="time.value">
                    {{time.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>
                  {{ 'pages.mealplan.form.mealtime_name' | translate }}
                </mat-label>
                <mat-select matInput panelClass="dropdown-regular" autocomplete="off"
                placeholder="{{ 'pages.mealplan.form.attach_name' | translate }}"
                formControlName="mealTimeName" (selectionChange)="updateMealTimes()"
                required>
                  <mat-option *ngFor="let name of mealTimeNames" [value]="name.value">
                    {{name.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="btn-area">
              <button type="button"mat-icon-button type="button" class="delete-btn"
                (click)="deleteMealTime(i); checkMealTime();">
                <i class="fa__icon fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>


        <button type="button" *ngIf="showAddMealTime" class="add-form-field"
          (click)="addMealTime(); checkMealTime();">
          <i class="fa__icon fa fa-plus"></i>
          {{ 'pages.mealplan.buttons.add_mealtime' | translate }}
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>{{ 'pages.mealplan.general.supps_short' | translate }}</ng-template>
      <app-edit-supps-form *ngIf="mealplan.supplementation" [foods]="foods"
        [client]="client" [supplementation]="mealplan.supplementation">
      </app-edit-supps-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
  
    </mat-step>

    <mat-step [stepControl]="">
    <ng-template matStepLabel>{{ 'events.monday' | translate }}</ng-template>
      <app-edit-monday-form [foods]="foods" [mealTimes]="mealTimeArr" [mealplan]="mealplan" [client]="client">
      </app-edit-monday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>

    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>{{ 'events.tuesday' | translate }}</ng-template>
      <app-edit-tuesday-form [foods]="foods" [mealTimes]="mealTimeArr" [mealplan]="mealplan" [client]="client">
      </app-edit-tuesday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
  
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>{{ 'events.wednesday' | translate }}</ng-template>
      <app-edit-wednesday-form [foods]="foods" [mealTimes]="mealTimeArr" [mealplan]="mealplan" [client]="client">
      </app-edit-wednesday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>{{ 'events.thursday' | translate }}</ng-template>
      <app-edit-thursday-form [foods]="foods" [mealTimes]="mealTimeArr" [mealplan]="mealplan" [client]="client">
      </app-edit-thursday-form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
  
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>{{ 'events.friday' | translate }}</ng-template>
      <app-edit-friday-form [foods]="foods" [mealTimes]="mealTimeArr" [mealplan]="mealplan" [client]="client">
      </app-edit-friday-form>


      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="infoForm">
      <div class="not-there last-step">
        <ng-template matStepLabel>{{ 'global.words.end' | translate }}</ng-template>
        <h3>😅 {{ 'pages.mealplan.form.finally_done' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.mealplan.form.finally_done_intro_1' | translate }}

          {{ 'pages.mealplan.form.finally_done_intro_2' | translate }}
        </p>

        <form [formGroup]="infoForm">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.words.extra_notes' | translate }}</mat-label>
            <textarea matInput matTextareaAutosize formControlName="extraNotes"></textarea>
          </mat-form-field>
        </form>
      </div>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="submit" class="dialog-button" (click)="updateMealplan()"
          [disabled]="!infoForm.valid || !mealTimeForm.valid"
          [class.disabled]="!infoForm.valid || !mealTimeForm.valid">
          {{ 'global.buttons.done' | translate }}
        </button>
      </section>
    </mat-step>

  </mat-horizontal-stepper>
</main>
