@import './../../../../assets/scss/_master.scss';
@import './../../../../assets/scss/_dialogs.scss';
@import './../../../../assets/scss/_forms.scss';

// Ng Deeps

::ng-deep .mat-dialog-container {
    overflow-y: auto;
    padding: 0;

    .dialog-wrapper {
        width: 100%;
        height: auto;
        padding: 0;
        position: relative;
        margin: 0;

        .mat-horizontal-stepper-header-container {
            width: 95%;
            margin-right: 2.5%;

            @include  respond-down($sm) {
                width: 100%;
                margin: 0!important;
                overflow-x: auto;
            }

            mat-step-header {
                @include respond-down($sm) {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    justify-content: center;
                }
                .mat-step-label {
                    @include respond-down($sm) {
                        display: none;
                    }
                }

                .mat-step-icon {
                    @include respond-down($sm) {
                        margin-right: 0;
                    }
                }
            }
        }

        .close-section {
            position: absolute;
            right: 10px;
            top: 10px;

            .close-btn {
                svg {
                    margin-right: 10px;
                }
            }

            @include respond-down($sm) {
                top: 4em;
                left: 0.5em;
            }
        }
    }
}

::ng-deep .mealplan-dialog {
    min-width: 100vw!important;
    min-height: 100vh!important;
}

::ng-deep mat-form-field {
    &.text-field {

        textarea {
            min-height: 230px;
            height: auto;
            line-height: 1.4;
        }    
    }
}

// Component Css
.not-there {
    min-height: 73vh;
    padding: 2em 3em 3em;
    width: 100%;

    @include respond-down($sm) {
        padding: 0 1em!important;
        margin-top: 4em;
        min-height: 72vh;
        width: 100%;
        box-sizing: border-box;
    }

    h5 {
        margin-bottom: 1em;
    }

    h3 {
        margin: 0 0 1em;
    }

    p {
        width: 60%;
        margin: 0;
        @include respond-down($sm) {
            width: 100%;
        }
    }
}

form {
    margin: 2em auto 3em;
    min-height: 73vh;
    padding: 0 4em;
    display: flex;
    flex-flow: column wrap;
    @include respond-down($sm) {
        margin: 4em 0 2em;
        padding: 0 16px;
    }

    h3 {
        margin: 0;
        @include respond-down($sm) {
            box-sizing: border-box;
            width: 100%;
        }
    }

    p.card-text {
        margin: 0.5em 0 1.5em;
        @include respond-down($sm) {
            box-sizing: border-box;
            width: 100%;
        }
    }

    .dynamic-form-field-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
        margin: 2em 0;

        div.number-id {
            @extend %flex-center;
            width: 10%;
            border: $light-border;
            background: darken($light-grey, 5%);

            h1 {
                margin: 0;
                padding: 0;
                font-size: 22px;
                font-weight: $bold;
                color: $primary-color;
            }
        }

        &.mealtimes {
            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                .btn-area {
                    display: none;
                }
            }

            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                .form-fields {
                    width: 80%;
                }
            }

            .form-fields {
                width: 90%;
                border-right: $light-border;
            }
        }

        .form-fields {
            width: 80%;
            display: flex;
            flex-flow: row wrap;
            box-sizing: border-box;
            border-top: $light-border;
            border-bottom: $light-border;

            @include  respond-down($sm) {
                flex-flow: column wrap;
            }
        }

        mat-form-field.mat-form-field {
            box-sizing: border-box;
            width: 50%;
            padding: 5px 30px 5px 20px;
            @include respond-down($sm) {
                width: 100%;
            }

            &:nth-child(1n) {
                margin-right: 0;
            }

            &.language-name {
                border-right: $light-border;
            }

            .mat-error {
                margin-top: 1.2em;
            }
        }

        div.btn-area {
            @extend %flex-center;
            width: 10%;
            border-radius: 0;
            border: $light-border;
            transition: all 300ms ease-in-out;
            svg {
                margin: 0;
                padding: 0;
            }

            &:hover, &:focus {
                background: darken($light-grey, 5%);
                cursor: pointer; 
                
                svg {
                    transition: transform 300ms ease-in-out;
                    transform: scale(1.1);
                }
            }
        }

        .multiple-lines {
            border-top: $light-border;
            border-bottom: $light-border;
            mat-form-field.mat-form-field {
                border: none;
                width: 50%;
            }

            div.btn-area {
                max-height: auto;
            }
        }

    }

    &.supp-form {
        mat-form-field {
            
            &.guideline {
                width: 50%;
                @include respond-down($sm) {
                    margin: 0 5%;
                    width: 90%;
                }
            }
        }

        .target-block {
            width: 50%;
            margin-bottom: 2rem;

            &__value, &__value input {
                font-size: 42px;
                font-weight: $bold;
                font-family: $main-font;
                text-align: center;
                width: 85%;
                color: $title-light-black;
            }

            span::first-letter {
                text-transform: capitalize;
            }
        }

        .guideline-activities {
            height: auto;
            padding: 3em 0 3em 2em;
            @include respond-down($sm) {
                padding: 2em 0 2em 0;
                width: 100%;
                box-sizing: border-box;
            }

            .activity {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                height: 100%;
                padding: 1em 0;
                justify-content: flex-start;
                width: 100%;

                @include respond-down($sm) {
                    align-items: flex-start;
                    flex-flow: column wrap;
                }

                app-exercise-list-item {
                    margin: 0 0 3em;
                    height: auto;
                    width: 30%;

                    @include respond-down($sm) {
                        margin: 0;
                        position: relative;
                        width: 70%;
                        z-index: 100;
                    }
                }

                &:last-child {
                    padding-bottom: 0;
                }

                .container {
                    box-sizing: border-box;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    background: lighten($light-grey, 2.5%);
                    border: 1px solid lighten($border-color, 5%);
                    max-height: 455px;
                    margin: 0 0 3em;
                    overflow-y: scroll;
                    padding: 2em 0 1em 3em;
                    align-items: center;

                    @include  respond-down($sm) {
                        width: 100vw;
                        margin: -50px 0 10px -16px;
                        padding: 80px 16px 0;
                    }

                    .target-block {
                        width: 100%;
                        h6 {
                            text-transform: capitalize;
                        }

                        &__full-width {
                            width: 100%;
                            ul {
                                li {
                                    align-items: center;
                                    display: flex;
                                    flex-direction: row;
                                    margin: 1em 0;

                                    span, input {
                                        border-right: 1px solid $border-color;
                                        color: $text-black;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        font-size: 28px;
                                        font-weight: $bold;
                                        height: 65px;
                                        margin-right: 1em;
                                        text-align: center;
                                        width: 85px;
                                    }

                                    h4 {
                                        text-transform: capitalize;
                                        color: $secondary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
    // Food/product item chips
    .add-form-field-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1em;

        .chip-container {
            border-radius: 25px;
            border: 1.5px solid $secondary-color;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            height: 50px;
            margin: 0 1em 1em;
            padding: 0 1em 0 2em;
            width: auto;

            @include respond-down($sm) {
                box-sizing: border-box;
                margin: 0 0 1em;
                width: fit-content;
            }

            mat-form-field * {
                padding: 0!important;
                border-top: 0!important;
            }

            mat-form-field:nth-child(1) {
                width: 120px;
                @include respond-down($sm) {
                    width: 70px;
                    &.ng-invalid {
                        width: 160px;
                    }
    
                    &.ng-valid {
                        width: 70px;
                    }
                }
            }

            .unit {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-left: 1.5em;

                @include respond-down($sm) {
                    box-sizing: border-box;
                    margin-left: 1em;
                    width: 100%;
                }

                mat-form-field {
                    width: 50px;
                    @include respond-down($sm) {
                        width: 30px;
                    }

                    &.select {
                        width: 150px;
                        margin-left: 1.2em;
                        @include respond-down($sm) {
                            margin-left: 0.75em;
                            width: 75px;
                        }
                    }
                }

                span {
                    margin-left: 1em;
                    @include respond-down($sm) {
                        margin-left: 0.5em;
                    }
                }
            }

            &:first-child {
                .btn-area {
                    display: none;
                }
            }

            mat-select {
                border: none;
                box-shadow: none;
            }

            .icon-btn {
                margin-left: 1em;
                svg {
                    font-size: 18px;
                    color: $secondary-color;
                }
            }
        }

        .add-chip {
            width: 60px;
            height: 50px;
            border-radius: 25px;
            border: 1.5px solid $secondary-color;
            margin: 0 1em 1em;
            svg {
                color: $secondary-color;
            }

            &:hover {
                background: $secondary-color;
                svg {
                    color:  #fff;
                }
            }
        }
    }

    .guideline-activities {
        .activity {
            &__right {
                .add-form-field-container {
                    margin-left: -1.5em;

                    .chip-container {
                        margin: 0 0 1em 1em;
                    }
                }
            }
        }
    }

    // CSS for all the child forms
    &.day-form {
        .time-container {
            min-height: 100px;
            max-width: 90vw;
            box-sizing: border-box;
            @include respond-down($sm) {
                box-sizing: border-box;
                width: 100%;
            }

            section.header {
                box-sizing: border-box;
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                padding: 0 3em 0 0;
                align-items: center;
                justify-content: space-between;
                @include respond-down($sm) {
                    padding: 0;
                }

                .title {
                    h4 {
                        font-size: 26px;
                        text-align: left;
                        &.not-filled {
                            color: $grey;
                        }
                        @include respond-down($sm) {
                            font-size: 24px;
                        }
                    }
                }
                .time {
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    @include respond-down($sm) {
                        top: 1px;
                        font-size: 19px;
                    }

                    svg {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }

            .meals {
                position: relative;
                padding-bottom: 3em;
                margin: 3em 0 0;

                &::after {
                    content:  '';
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    background: $light-grey;
                }

                &:nth-child(2) {
                    margin-top: 1em;
                }

                &:nth-child(3){
                    &::after {
                        display: none;
                    }
                }

                &__title {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-flow: row nowrap;
                    h1 {
                        width: 10%;
                        margin-top: -25px;
                        font-size: 45px;
                        font-weight: $semi-bold;

                        @include respond-down($sm) {
                            font-size: 40px;
                            margin: -15px 25px 0 0;
                        }
                    }

                    mat-form-field {
                        width: 75%;
                    }
                }
            }
        }
        
        .btn-area {
            width: 100%;
            margin: 3em auto;
            .add-form-field {
                width: 50%;
                margin: 0 auto;
                font-size: 20px;
                @extend %flex-column-center;
                .icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: #fff;
                    box-shadow: $card-shadow;
                    margin-bottom: 1em;
                    transition: transform 300ms ease-in-out;
                    @extend %flex-center;

                    svg {
                        margin: 0;
                        font-size: 20px;
                        color: $secondary-color;
                    }
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}