<form class="day-form"  [formGroup]="fridayMealForm">
  <h3>🥜 Friday Meals for {{userData.displayName}}</h3>
  <p class="intro-text">
    Add ingredients and meals to the meal times you specified earlier. Add a maximum of 2 meals per meal time.
  </p>


  <!------------------------------>
  <!------------------------------>
  <!--         Meal one         -->
  <!------------------------------>
  <!------------------------------>

  <ng-container *ngIf="mealTimes">
  <div class="time-container" *ngIf="mealTimes.controls[0] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mOneMealOneTitle" name="mealTitle" placeholder="Name the meal based on the products" 
          autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mOneMealOneArr">
        <section class="chip-container" *ngFor="let food of mOneMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product" 
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mOneMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(11, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(11);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mOneMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mOneMealTwoTitle" name="mealTitle" placeholder="Name the meal based on the products" 
            autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mOneMealTwoArr">
        <section class="chip-container" *ngFor="let food of mOneMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product">{{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mOneMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(12, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(12);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mOneMealTwoShow" class="add-form-field" (click)="mOneMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mOneMealTwoShow" class="add-form-field" (click)="mOneMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer 1 -->


  <!------------------------------>
  <!------------------------------>
  <!--         Meal two         -->
  <!------------------------------>
  <!------------------------------>

  <div class="time-container" *ngIf="mealTimes.controls[1] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mTwoMealOneTitle" name="mealTitle" 
          placeholder="Name the meal based on the products" autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mTwoMealOneArr">
        <section class="chip-container" *ngFor="let food of mTwoMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product" 
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mTwoMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(21, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(21);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mTwoMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mTwoMealTwoTitle" name="mealTitle" 
            placeholder="Name the meal based on the products" autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mTwoMealTwoArr">
        <section class="chip-container" *ngFor="let food of mTwoMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product">{{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mTwoMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(22, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(22);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mTwoMealTwoShow" class="add-form-field" (click)="mTwoMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mTwoMealTwoShow" class="add-form-field" (click)="mTwoMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer 2 -->



  <!------------------------------>
  <!------------------------------>
  <!--       Meal three         -->
  <!------------------------------>
  <!------------------------------>


  <div class="time-container" *ngIf="mealTimes.controls[2] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mThreeMealOneTitle" name="mealTitle" placeholder="Name the meal based on the products" 
          autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mThreeMealOneArr">
        <section class="chip-container" *ngFor="let food of mThreeMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product" 
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mThreeMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(31, i)">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(31)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mThreeMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mThreeMealTwoTitle" name="mealTitle" 
            placeholder="Name the meal based on the products" autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mThreeMealTwoArr">
        <section class="chip-container" *ngFor="let food of mThreeMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product">{{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mThreeMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(32, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(32);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mThreeMealTwoShow" class="add-form-field" (click)="mThreeMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mThreeMealTwoShow" class="add-form-field" (click)="mThreeMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer 3 -->



  <!------------------------------>
  <!------------------------------>
  <!--         Meal four        -->
  <!------------------------------>
  <!------------------------------>


  <div class="time-container" *ngIf="mealTimes.controls[3] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mFourMealOneTitle" name="mealTitle" 
          placeholder="Name the meal based on the products" autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mFourMealOneArr">
        <section class="chip-container" *ngFor="let food of mFourMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mFourMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(41, i)">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(41)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mFourMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mFourMealTwoTitle" name="mealTitle" 
            placeholder="Name the meal based on the products" autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mFourMealTwoArr">
        <section class="chip-container" *ngFor="let food of mFourMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product">{{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mFourMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(42, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(42);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mFourMealTwoShow" class="add-form-field" (click)="mFourMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mFourMealTwoShow" class="add-form-field" (click)="mFourMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer 4 -->



  <!------------------------------>
  <!------------------------------>
  <!--        Meal Five         -->
  <!------------------------------>
  <!------------------------------>


  <div class="time-container" *ngIf="mealTimes.controls[4] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mFiveMealOneTitle" name="mealTitle" placeholder="Name the meal based on the products" 
          autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mFiveMealOneArr">
        <section class="chip-container" *ngFor="let food of mFiveMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mFiveMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(51, i)">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(51)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mFiveMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mFiveMealTwoTitle" name="mealTitle" 
            placeholder="Name the meal based on the products" autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mFiveMealTwoArr">
        <section class="chip-container" *ngFor="let food of mFiveMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product">{{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mFiveMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(52, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(52);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mFiveMealTwoShow" class="add-form-field" (click)="mFiveMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mFiveMealTwoShow" class="add-form-field" (click)="mFiveMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer 5 -->



  <!------------------------------>
  <!------------------------------>
  <!--         Meal Six         -->
  <!------------------------------>
  <!------------------------------>


  <div class="time-container" *ngIf="mealTimes.controls[5] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mSixMealOneTitle" name="mealTitle" 
          placeholder="Name the meal based on the products" autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mSixMealOneArr">
        <section class="chip-container" *ngFor="let food of mSixMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mSixMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(61, i)">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(61)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mSixMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mSixMealTwoTitle" name="mealTitle" 
            placeholder="Name the meal based on the products" autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mSixMealTwoArr">
        <section class="chip-container" *ngFor="let food of mSixMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product">{{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mSixMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(62, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(62);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mSixMealTwoShow" class="add-form-field" (click)="mSixMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mSixMealTwoShow" class="add-form-field" (click)="mSixMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer 6 -->



  <!------------------------------>
  <!------------------------------>
  <!--        Meal Seven        -->
  <!------------------------------>
  <!------------------------------>


  <div class="time-container" *ngIf="mealTimes.controls[6] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mSevenMealOneTitle" name="mealTitle" 
          placeholder="Name the meal based on the products" autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mSevenMealOneArr">
        <section class="chip-container" *ngFor="let food of mSevenMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mSevenMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(71, i)">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(71)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mSevenMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mSevenMealTwoTitle" name="mealTitle" 
            placeholder="Name the meal based on the products" autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mSevenMealTwoArr">
        <section class="chip-container" *ngFor="let food of mSevenMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product">{{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mSevenMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!fridayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.unit}}</span>
            <mat-form-field appearance="standard" class="select">
              <mat-select matInput class="f-input select" placeholder="Preperation"
              panelClass="dropdown-regular" autocomplete="off" formControlName="prep" required>
                <mat-option *ngFor="let prep of prodObj.preperations" [value]="prep"> {{prep.prepValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(72, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(72);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mSevenMealTwoShow" class="add-form-field" (click)="mSevenMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mSevenMealTwoShow" class="add-form-field" (click)="mSevenMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer 7 -->
</ng-container>
</form>