<div class="wrapper">
    <header>
        <section class="title">
            <h1>{{ 'pages.exercises.general.saved_exercises' | translate }}</h1>
            <div class="overview-search-bar not-mobile" mat-button>
                <input type="text" (input)="onChangeSearch($event)" class="overview-search-bar__input"
                    placeholder="{{ 'global.actions.search.search_by_name' | translate }}">
                <i class="fa__icon fas fa-search"></i>
            </div>
            <button class="icon-button" (click)="openDialog()">
                <i class="fa__icon fas fa-plus"></i>
            </button>
        </section>
        
        <p class="intro-text">
            {{ 'pages.exercises.intro' | translate }}
        </p>
    </header>

    <div class="overview-search-bar mobile" mat-button>
        <input type="text" (input)="onChangeSearch($event)" class="overview-search-bar__input"
            placeholder="{{ 'global.actions.search.search_by_name' | translate }}">
        <i class="fa__icon fas fa-search"></i>
    </div>
    <app-exercise-list [exercises]="exercises" *ngIf="!searchActive"></app-exercise-list>
    <app-exercise-list [exercises]="searchExercises" *ngIf="searchActive"></app-exercise-list>
    <p class="card-text no-search-result" *ngIf="searchActive && searchExercises && searchExercises.length == 0">
        {{ 'global.actions.search.no_results_name' | translate }}
        <a class="text-link" (click)="searchActive = !searchActive">
            {{ 'global.buttons.show_all' | translate }}
        </a>
    </p>
</div>

