<section class="list-display measurement-list" *ngIf="measurements && client">
  <h1 class="section-title">Measurements</h1>
  <div class="list-display__container">
    <div class="list-display__container-header">
      <h3>#</h3>
      <h3 class="created">Created</h3>
      <h3 class="not-mobile">Edited</h3>
      <h3 class="not-mobile">Specialist</h3>
      <h3>Weight</h3>
    </div>
    <div *ngFor="let measurement of measurements; let i=index">
    <app-measurement-list-item
    [client]="client" [measurement]="measurement" [i]="i">
    </app-measurement-list-item>
    </div>
    <p class="card-text nothing-here" *ngIf="!measurements.length">
      No measurements yet
    </p>
  </div>
</section>
