<!-- <button mat-icon-button class="back-btn" (click)="goBack()" type="button">
    <i class="fas fa-arrow-left"></i>
</button> -->
<div class="wrapper">
    <header>
        <section class="title">
            <h1>The Users of LifeLifting</h1>
            <button class="filter" mat-button [matMenuTriggerFor]="filterMenu">
                Filter
                <i class="fas fa-sort-down"></i>
            </button>
            <mat-menu #filterMenu="matMenu">
                <button mat-menu-item (click)="toggleQuery(filterSelection = 'all')" [class.active]="allUsers">
                    <i class="fas fa-users"></i>
                    All users
                </button>
                <button mat-menu-item (click)="toggleQuery(filterSelection = 'accepted')" [class.active]="acceptedUsers">
                    <i class="fas fa-user-check"></i>
                    Accepted users
                </button>
                <button mat-menu-item (click)="toggleQuery(filterSelection = 'unaccepted')" [class.active]="unacceptedUsers">
                    <i class="fas fa-user-times"></i>
                    Unaccepted users
                </button>
            </mat-menu>
            <button class="icon-button" (click)="openDialog()">
                <i class="fas fa-plus"></i>
            </button>
        </section>
        
        <p class="intro-text">In this section you have a quick overview of the users. You can view quick 
            contact info and edit/delete them directly from the list. With the top right button you add one. <span class="emoji">😃</span>
        </p>
    </header>

    <app-user-list [users]="users"></app-user-list>

</div>

