<main class="fic-detail-container body-functions" *ngIf="bodyFunctions">
  <section class="fic-detail-container__diuresis">
    <h3>{{ 'pages.first_consultation.body_functions.diuresis' | translate }}</h3>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-water"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.urinate_a_day' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.diuresis.urinateAmount}}x</p>
      </div>
    </div>
    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-cloud-moon-rain"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.wakeup_urinate' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.diuresis.middleNightUrinate}}</p>
      </div>
    </div>
  </section>

  <section class="fic-detail-container__bowel-movements">
    <h3>{{ 'pages.first_consultation.body_functions.bowel_movement' | translate }}</h3>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-toilet-paper"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.bowel_every_day' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.bowelMovements.everyDay}}</p>
        <p class="value sub-title" *ngIf="!bodyFunctions.bowelMovements.timesPerDay && bodyFunctions.bowelMovements.timesPerWeek">
          {{bodyFunctions.bowelMovements.timesPerWeek}}x 
          {{ 'events.per_week' | translate }}
        </p>
        <p class="value sub-title" *ngIf="bodyFunctions.bowelMovements.timesPerDay">
          {{bodyFunctions.bowelMovements.timesPerDay}}x 
          {{ 'events.per_week' | translate }}
        </p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-calendar-check"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">{{ 'pages.first_consultation.general.always_same_schedule' | translate }}</span>
        <p class="value big">{{bodyFunctions.bowelMovements.sameSchedule}}</p>
      </div>
    </div>
  </section>

  <section class="fic-detail-container__appetite">
    <h3>{{ 'pages.first_consultation.body_functions.appetite' | translate }}</h3>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-cookie-bite"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">{{ 'pages.first_consultation.general.most_hungry' | translate }}</span>
        <p class="value big">{{bodyFunctions.appetite.mostHungryMoment}}</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-utensils"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">{{ 'pages.first_consultation.general.appetite_1_10' | translate }}</span>
        <p class="value big">{{bodyFunctions.appetite.hungryScale}}</p>
      </div>
    </div>
  </section>

  <section class="fic-detail-container__female">
    <h3>{{ 'pages.first_consultation.body_functions.sleep' | translate }}</h3>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-bed"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.sleep_status' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.sleep.sleepingStatus}}</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-stopwatch"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.body_functions.form.average_sleep' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.sleep.averageHours}}</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-ban"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.trouble_sleep' | translate }}
        </span>
        <p class="value big">{{ bodyFunctions.sleep.troubleFallingAsleep | translate }}</p>
        <p class="value sub-title" *ngIf="bodyFunctions.sleep.troubleFallingAsleepNote">
          {{bodyFunctions?.sleep?.troubleFallingAsleepNote}} min
        </p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-battery-full"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.wake_up_energized' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.sleep.wakeUpEnergized}}</p>
      </div>
    </div>

  </section>

  <section class="fic-detail-container__female" *ngIf="isFemale">
    <h3>
      {{ 'pages.first_consultation.body_functions.female.title' | translate }}
    </h3>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-fist-raised"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.first_period' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.female.firstMenstrualPeriod}} y/old</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-infinity"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.first_period' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.female.regularCycle}}</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-capsules"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.first_period' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.female.birthControlPills}}</p>
        <p class="value sub-title" *ngIf="bodyFunctions.female.birthControlPillsNote">{{bodyFunctions.female.birthControlPillsNote}}</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon far fa-calendar-check"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">{{ 'global.form.every_x_days' | translate }}</span>
        <p class="value big">{{bodyFunctions.female.periodXDays}}</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-band-aid"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.per_x_day_bleeding' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.female.bleedingXDays}}</p>
      </div>
    </div>

    <div class="form-field info-card">
      <div class="info-card__icon">
        <i class="fa__icon fas fa-child"></i>
      </div>
      <div class="info-card__content">
        <span class="label small">
          {{ 'pages.first_consultation.general.pregnancy_nr' | translate }}
        </span>
        <p class="value big">{{bodyFunctions.female.pregnancies}}</p>
      </div>
    </div>
  </section>
</main>
