@import './../../../assets/scss/_master.scss';

// General
p {
    white-space: normal;
}

h5 {
    &.purple {
        color: $secondary-color;
    }
}

main.specialist-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5em 1em;

    .action-toolbar-top {
        @include respond-down($sm) {
            padding: 0;
        }
        button.icon-button {
            position: inherit;
        }
    
    }
}

section.specialist-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;

    @include respond-down($sm) {
        flex-direction: column;
        height: 100%;
    }

    div.profile-picture {
        width: 40%;
        height: 380px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        background-color: darken($light-grey, 10%);
        @extend %flex-center;
        @include respond-down($sm) {
            width: 100%;
            height: 210px;
        }

        span {
            font-size: 18px;
            font-weight: $semi-bold;
        }

    }

    .uid {
        @include respond-down($sm) {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: wrap;
        }
    }

    div.quick-info {
        flex-flow: column wrap;
        width: 50%;
        padding: 1em 2em;
        position: relative;
        @extend %flex-center;
        @include respond-down($sm) {
            padding: 1.5em 2em 1em!important;
            width: 100%!important;
        }

        p {
            margin-top: 0.5em;
        }

        .timezone {
            position: absolute;
            right: 2em;
            top: 0.5em;
            border: 3px solid $middle-grey;
            border-radius: 50px;
            width: auto;
            height: 15px;
            padding:  1em 2em;
            font-size: 15px;
            font-weight: $bold;
            color: $text-black;
            box-sizing: border-box;
            @extend %flex-center;
            @include respond-down($sm) {
                background: #f0f1f5;
                position: absolute;
                top: -25px!important;
                right: auto;
            }
        }

        .top, .bottom {
            display: flex;
            height: 50%;
            width: 100%;
        }

        .top {
            flex-flow: column wrap;

            h5, h2 {
                text-transform: capitalize;
            }

            div.icon-fact-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 1rem 0 1.5rem;
                @include respond-down($sm) {
                    flex-direction: column;
                }

                .fact {
                    width: 40%;
                    padding-bottom: 1vh;

                    svg {
                        width: 10%;
                        font-size: 24px;
                        margin-right: 15%;
                        color: $grey;
                    }

                    span {
                        margin: 0;
                        padding: 0;
                        font-family: $main-font;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-weight: $semi-bold;
                        text-transform: capitalize;
                        color: $grey;
                    }

                    @include respond-down($sm) {
                        margin-bottom: 1em;
                        width: 100%;

                        svg {
                            font-size: 18px;
                            margin-right: 2em;
                        }
                    }
                }
            }
        }

        .bottom {
            flex-flow: row nowrap;
            border-top: 1px solid $border-color;
            padding-top: 0;

            p.tab {
                flex-flow: column wrap;
                text-align: center;
                width: 50%;
                @extend %flex-center;
                @include respond-down($sm) {
                    justify-content: flex-start;
                }

                span {
                    color: $primary-color;
                    font-size: 48px;
                    font-weight: $bold;
                    text-align: center;
                    margin: 0 0 -4px -7px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

section.about {
    width: 100%;
    box-sizing: border-box;
    margin: 2em 0;
    padding: 1.5em 2em;
    background: #fff;
    box-shadow: $card-shadow;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 70px;
    }

    .text-link {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-down($sm) {
            margin: 1em auto 0;
        }

        svg {
            margin: 0 10px 0 0;
            font-size: 12px;
        }
    }
}

section.middle {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;
    @include respond-down($sm) {
        flex-flow: column wrap;
        margin-bottom: 2em;
    }

    >div {
        padding-left: 2em;
        @include respond-down($sm) {
            padding-left: 0;
            width: 100%!important;
        }

        h5 {
            margin-bottom: 2vh;
        }
    }

    div.contact-info {
        width: 50%;

        ul.contact-menu {

            li {
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 10px;

                svg {
                    @extend %flex-center;
                    width: 20px;
                    height: 20px;
                    color: $grey;
                    margin-right: 1em;
                    margin-top: 3px;
                }
                a {
                    font-size: 18px;
                    font-weight: $regular;
                }

                p {
                    font-size: 18px;
                    margin: 0;
                    text-align: left;
                }
            }
        }
    }

    div.languages {
        width: 50%;
        @include respond-down($sm) {
            margin-top: 1em;
        }

        ul {
            li {
                &:first-child {
                    @include respond-down($xs) {
                        width: 60%;
                    }
                }
            }
        }
    }


}

section.reviews-opened {
    padding-left: 2em;
    width: calc(100% + 4em);

    h5 {
        padding-left: 2em;
    }
}


.guidelines {
    height: auto;
    width: calc(100% + 4em);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    padding: 0;
    margin: 2em 0 2em -2em;
    @include respond-down($sm) {
        margin: 0 0 0 -2em;
    }

    h1 {
        margin: 0.5em 0 0 3em;
        text-align: left;
        @include respond-down($sm) {
            margin-left: 2em;
        }
    }

    &__container {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: auto;
        padding: 4em 4em;
        margin: 0 0 2em;
        width: auto;
        @include respond-down($sm) {
            padding: 1em;
            margin-bottom: 0;
            width: 100%;
        }

        app-guideline-list-item, app-mealplan-list-item {
            display: flex;
            max-width: 300px;
            margin-right: 2em;
            box-sizing: border-box;
            flex: 1;

            &:first-child {
                margin-left: 1.5em;
            }
        }

        &__filler {
            width: 0px;
            height: 100%;
            display: flex;
            flex: 1;
            visibility: hidden;
            z-index: -1;
        }
    }

}

section.switches {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 2em 3em; 
    background: #fff;
    box-shadow: $card-shadow;
    margin-top: 2em;
    display: flex;
    flex-flow: column wrap;
    @include respond-down($sm) {
        padding: 2em 1em;
    }

    h1 {
        @include respond-down($sm) {
            margin: 0 auto;
            padding: 0;
        }
    }

    .switch-container {
        display:  flex;
        flex-flow: row nowrap;
        width: 100%;
        @include respond-down($sm) {
            flex-flow: column wrap;
        }

        > div {
            box-sizing: border-box;
            padding: 2em 0 2em 2em;
            width: 49%;

            @include respond-down($sm) {
                width: 100%;
            }

            &:first-child {
                border-right: 1px solid $border-color;
                @include respond-down($sm) {
                    border-right: none;
                    border-bottom: 1px solid $border-color;
                }
            }

            h1, h3 {
                text-align: left;
            }

            h3 {
                @include respond-down($sm) {
                    margin: 0 0 10px 0;
                    font-weight: 400;
                    @include rem(font-size, 14px);
                }
            }

            p {
                font-size: 18px;
                margin: 1em 0;
                svg {
                    font-size: 22px;
                    margin-right: 1em;
                    padding-right: 1em;
                    border-right: 1px solid $primary-color;

                    &.fa-ban {
                        color: $brand-danger;
                    }

                    &.fa-check-circle {
                        color: $brand-green;
                    }
                }
            }
        }
    }
}

section.reviews-opened {
    padding-left: 2em;
    width: calc(100% + 4em);

    h5 {
        padding-left: 2em;
    }
}

div.review-container {
    width: auto;
    height: auto;
    padding: 1em 0;
    margin-left: -2em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    mat-card.review-item {
        flex: 0 0 auto;
        height: 100%;
        width: 400px;
        margin: 0.5em 2em;
        padding: 1.5em 1em;
        box-sizing: border-box;
        box-shadow: $card-shadow;

        &:first-child {
            margin-left: 2em;
        }

        p {
            white-space: normal;
            width: 100%;
        }
    }

    div.placeholder {
        width: 15px;
        height: 30px;
        visibility: hidden;
    }
}

section.btn-area {
    padding-left: 3em;

    button.text-link {
        margin: 1em 0;
        svg {
            font-size: 12px;
            margin-left: 5px;
        }     
    }
}