@import './../../../assets/scss/_master.scss';
@import './../../../assets/scss/_animations.scss';

.measurement-item-container {
    align-items: center;
    box-sizing:  border-box;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 60px;
    padding: 1em;
    width: 100%;
    
    &:hover {
        background: $light-grey;
    }
    
    h2 {
        font-size: 18px;
        margin: 0;
        width: 65px;
    }

    .info-container {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        width: auto;
        max-width: 80%;
        
        h3 {
            font-weight: $bold;
            font-size: 16px;
            margin: 0;
            width: 170px;

            &.weight {
                width: 50px;
            }
        }
    }

    .edit-btn {
        margin: 0 30px 0 auto;
    }
}