<ng-container  *ngIf="auth.user | async as user">
  <div class="measurement-item-container" *ngIf="measurement && client && i">
    <h1>{{i}}</h1>
    <div class="created">
      <i class="far fa-clock"></i>
      <h3>{{measurement.created.toDate() | date: 'short'}}</h3>
    </div>
    <button class="edit-btn" *ngIf="user.roles.admin || user.roles.specialist" 
    (click)="toggleEdit()">
      <i class="far fa-edit"></i>
    </button>
    <button class="edit-btn" *ngIf="user.roles.admin || user.roles.specialist" 
    (click)="deleteMeasurement(measurement)">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
</ng-container>