@import './../../../assets/scss/_master.scss';


mat-toolbar {
    background: $black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: $toolbar-shadow;

    button:nth-child(2) {
        margin-left: auto;
    }
    mat-icon {
        color: #fff;
    }
}

main.thread-container {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;

    section {
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        overflow-y: auto;
        box-sizing: border-box;

        &.chat-sidebar {
            width: 25vw;
            background: #fff;
            box-shadow: $sidebar-shadow;
            z-index: 125;

            app-chat-thread {
                &.active {
                    background: $light-grey;
                }
            }
        }
        &.router-wrapper {
            width: 75vw;
            position: relative;

            ::ng-deep app-chat-detail {
                width: 100%;
                background: $light-grey;
                position: relative;
                z-index: 123;
            }

            .no-chat-container {
                @extend %flex-center;
                flex-flow: column wrap;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 3;
            }
        }
    }
}