<main class="thread-container" *ngIf="threads | async as threads">
  <section class="chat-sidebar" *ngIf="showThreads">
    <div class="close-section mobile">
      <button class="text-link close-btn" (click)="goToDashboard()" type="button">
        <i class="fa__icon fas fa-arrow-left back-arrow"></i> {{ 'global.buttons.back' | translate }}
      </button>
    </div>
    <h6 class="big-title">{{ 'chat.title' | translate }}</h6>
    <app-chat-thread *ngFor="let thread of threads" [thread]="thread" (click)="linkToChild(thread); hideThreads()" routerLinkActive="active">
    </app-chat-thread>
    <ng-container *ngIf="auth.user | async as user">
      <div class="no-threads" *ngIf="threads.length < 1">
        <i class="fa__icon fas fa-ban"></i>
        <p class="card-text">
          {{ 'chat.no_chats' | translate}}<br>
          <ng-container *ngIf="user.roles.admin">
            <a class="text-link" routerLink="../dashboard/users">
              {{ 'chat.users' | translate }}
            </a>
          </ng-container>
          <ng-container *ngIf="user.roles.specialist && !user.roles.admin">
            <a class="text-link" routerLink="../dashboard/my-clients">
              {{ 'chat.your_clients' | translate }}
            </a>
          </ng-container>
          <ng-container *ngIf="user.roles.client && !user.roles.specialist && !user.roles.admin">
            <a class="text-link" routerLink="../dashboard/my-specialist">
              {{ 'chat.your_specialist' | translate }}
            </a>
          </ng-container>
        </p>
      </div>
    </ng-container>
  </section>
  <section class="router-wrapper">
    <router-outlet #o="outlet"></router-outlet>
    <div class="no-chat-container">
      <h1>{{ 'chat.welcome' | translate }}</h1>
      <p class="subtitle">
        <a (click)="showChatThreads()">{{ 'chat.buttons.select_thread' | translate }}</a>
         {{ 'chat.start_chatting' | translate }}
      </p>
      <button class="btn-primary" routerLink="../">
        {{ 'chat.buttons.back_to_dashboard' | translate }}
      </button>
    </div>
  </section>
</main>