<main class="thread-container" *ngIf="threads | async as threads">
  <section class="chat-sidebar" *ngIf="showThreads">
    <app-chat-thread *ngFor="let thread of threads" [thread]="thread" (click)="linkToChild(thread); hideThreads()" routerLinkActive="active">
    </app-chat-thread>
  </section>
  <section class="router-wrapper">
    <router-outlet #o="outlet"></router-outlet>
    <div class="no-chat-container">
      <h1>Welcome to Chat!</h1>
      <p class="subtitle"><a (click)="showChatThreads()">Select a thread</a> to start chatting. &nbsp; <span class="emoji">💬</span></p>
      <button class="btn-primary" routerLink="../">
        Back to Dashboard
      </button>
    </div>
  </section>
</main>