<!-- <button mat-icon-button class="back-btn" (click)="goBack()" type="button">
    <i class="fas fa-arrow-left"></i>
</button> -->
<div class="wrapper">
    <header>
        <section class="title">
            <h1>My Reviews</h1>
            <!-- <button class="icon-button">
                <i class="fas fa-plus"></i>
            </button> -->
        </section>
        
        <p class="intro-text">In this section you have a quick overview of your reviews. 
            Try to keep your reviews positive, so new clients will be more likely to choose you. 
            The reviews are sorted on date.
            <span class="emoji">😃</span>
        </p>
    </header>

    <app-my-review-list></app-my-review-list>

</div>

