<div class="branding">
  <hr>
  <img src="./../../../assets/img/logo-icon.svg" />
  <hr>
</div>

<main *ngIf="supplementation">
  <section class="notes-container" *ngIf="notes">
    <span class="label">Specialist's notes/recommendations</span>
    <div class="notes">
      <p class="notes__text">
        {{notes}}
      </p>
    </div>
  </section>
  <section class="activity activity__one" *ngIf="supplementation.supps.beforeOneArr && supplementation.supps.beforeOneArr.length > 0">
    <div class="exercise-container" *ngIf="supplementation.exercises.exerciseOne as exerciseOne">
      <h1>{{exerciseOne.exerciseName}}</h1>
    </div>
    <div class="meal-container">
      <div class="activity__meals">
        <div class="activity__time-section" *ngIf="supplementation.supps.beforeOneArr[0].amount > 0">
          <h1>Before the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.beforeOneArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
        <div class="activity__time-section" *ngIf="supplementation.supps.duringOneArr[0].amount > 0">
          <h1>During the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.duringOneArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
        <div class="activity__time-section" *ngIf="supplementation.supps.afterOneArr[0].amount > 0">
          <h1>After the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.afterOneArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="activity activity__two" *ngIf="supplementation.supps.beforeTwoArr && supplementation.supps.beforeTwoArr.length > 0">
    <div class="exercise-container" *ngIf="supplementation.exercises.exerciseTwo as exerciseTwo">
      <h1>{{exerciseTwo.exerciseName}}</h1>
    </div>
    <div class="meal-container">
      <div class="activity__meals">
        <div class="activity__time-section" *ngIf="supplementation.supps.beforeTwoArr[0].amount > 0">
          <h1>Before the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.beforeTwoArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
        <div class="activity__time-section" *ngIf="supplementation.supps.duringTwoArr[0].amount > 0">
          <h1>During the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.duringTwoArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
        <div class="activity__time-section" *ngIf="supplementation.supps.afterTwoArr[0].amount > 0">
          <h1>After the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.afterTwoArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="activity activity__three" *ngIf="supplementation.supps.beforeThreeArr && supplementation.supps.beforeThreeArr.length > 0">
    <div class="exercise-container" *ngIf="supplementation.exercises.exerciseThree as exerciseThree">
      <h1>{{exerciseThree.exerciseName}}</h1>
    </div>
    <div class="meal-container">
      <div class="activity__meals">
        <div class="activity__time-section" *ngIf="supplementation.supps.beforeThreeArr[0].amount > 0">
          <h1>Before the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.beforeThreeArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
        <div class="activity__time-section" *ngIf="supplementation.supps.duringThreeArr[0].amount > 0">
          <h1>During the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.duringThreeArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
        <div class="activity__time-section" *ngIf="supplementation.supps.afterThreeArr[0].amount > 0">
          <h1>After the training</h1>
          <ul>
            <li *ngFor="let item of supplementation.supps.afterThreeArr">
              {{item.product.productName}} - {{item.amount}} {{item.product.unit}} <br><span>Prep: {{item.prep.prepValue}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
