<main class="specialist-wrapper fic-wrapper" *ngIf="firstConsultation">
  <section class="action-toolbar-top">
    <div class="left" *ngIf="auth.user | async as user">
      <button type="button" class="icon-button" (click)="goBack()">
          <i class="fa__icon fas fa-arrow-left"></i>
      </button>
      <button type="button" class="icon-button hidden not-mobile">
      </button>
    </div>

    <div class="middle">
      <h1 *ngIf="client; else gID">
        For {{client.displayName}}
        <h5 class="not-mobile">
          Current weight: {{client.currentWeight}}kg
        </h5>
      </h1>
      <ng-template #gID>
        <h1>FirstConsultation ID: {{firstConsultation?.mID}}</h1>
      </ng-template>
    </div>

    <div class="right" *ngIf="user">
      <div class="not-mobile">
        <ng-container *ngIf="user.roles.admin || user.roles.specialist">
          <button type="button" class="icon-button not-mobile" (click)="deleteFirstConsultationDialog(firstConsultation)" 
          *ngIf="user.roles.admin || user.roles.specialist">
            <i class="fa__icon fas fa-trash"></i>
          </button>
          <button type="button" class="icon-button" (click)="editFirstConsultation(firstConsultation)">
            <i class="fa__icon fas fa-edit"></i>
          </button>
        </ng-container>
      </div>

      <div class="mobile">
        <button class="icon-button edit-button" *ngIf="actionMenuOpen; else plus" (click)="toggleButtonMenu()">
          <i class="fa__icon fas fa-minus"></i>
        </button>
        <ng-template #plus>
          <button class="icon-button edit-button" (click)="toggleButtonMenu()">
            <i class="fa__icon fas fa-plus"></i>
          </button>
        </ng-template>

        <div class="specialist-actions">
          <ng-container  *ngIf="user.roles.admin || user.roles.specialist">
            <button type="button" class="icon-button action-btn" (click)="editFirstConsultation(firstConsultation)">
              <i class="fa__icon fas fa-edit"></i>
            </button>

            <button type="button" class="icon-button action-btn" (click)="deleteFirstConsultationDialog(firstConsultation)">
              <i class="fa__icon fas fa-trash"></i>
            </button>
          </ng-container>
        </div>
      </div>

    </div>
  </section>

  <div class="package-container">
    <mat-card class="list-item-card">
        <section *ngIf="client" class="card-circle"
          [style.background]="'url('+ client.photoURL +')'">
          <div class="no-photo" *ngIf="!client.photoURL">
            <i class="fa__icon fas fa-sad-tear"></i>
            <p class="card-text">No photo</p>
          </div>
        </section>
        <section class="chip-area">
          <p class="secondary-chip">
            Created: {{firstConsultation?.creationDate?.toDate() | date: 'MM/dd/yy'}}
          </p>
          <p *ngIf="firstConsultation?.lastEdited" class="secondary-chip">
            Last edited: {{firstConsultation?.lastEdited?.toDate() | date: 'M/d/yy, h:mm a'}}
          </p>
        </section>

        <section class="introduction">
          <h2>First Consultation</h2>
          <h5>
            Consultation ID: {{firstConsultation?.ficID}}
          </h5>
          <a class="text-link" (click)="openNotesDialog()">
            See extra notes
          </a>
        </section>

        <section class="navigation">
          <nav class="first-consultation-nav" #firstConsultationNav>
            <a class="nav-item active" id="monday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)" #firstNavItem
            >
              <ng-container *ngIf="!isMobile">Basic info</ng-container>
              <ng-container *ngIf="isMobile"><i class="fa__icon far fa-user"></i></ng-container>
            </a>
            <a class="nav-item" id="tuesday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
              <ng-container *ngIf="!isMobile">Habits</ng-container>
              <ng-container *ngIf="isMobile"><i class="fa__icon fas fa-redo"></i></ng-container>
            </a>
            <a class="nav-item" id="wednesday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
              <ng-container *ngIf="!isMobile">Body functions</ng-container>
              <ng-container *ngIf="isMobile"><i class="fa__icon fas fa-running"></i></ng-container>
            </a>
            <a class="nav-item" id="thursday" (click)="updateTabStates($event);" 
            (mouseenter)="highlightLinks($event)">
              <ng-container *ngIf="!isMobile">General info</ng-container>
              <ng-container *ngIf="isMobile"><i class="fa__icon far fa-file-alt"></i></ng-container>
            </a>
          </nav>
        </section>

        <section class="day-section basic-data" *ngIf="mondayTab">
          <app-first-consult-basic [firstConsultation]="firstConsultation"></app-first-consult-basic>
        </section>
        <section class="day-section habits" *ngIf="tuesdayTab">
          <app-first-consult-habits [firstConsultation]="firstConsultation"></app-first-consult-habits>
        </section>
        <section class="day-section body-functions" *ngIf="wednesdayTab">
          <app-first-consult-body [firstConsultation]="firstConsultation"></app-first-consult-body>
        </section>
        <section class="day-section general-info" *ngIf="thursdayTab">
          <app-first-consult-general [firstConsultation]="firstConsultation"></app-first-consult-general>
        </section>

    </mat-card>
  </div>
</main>
  
<ng-container *ngIf="!firstConsultation">
  <div class="not-available">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>
