<main class="dialog-wrapper">
  <div class="close-section  mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> Back
    </button>
  </div>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="infoForm">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>{{ 'global.words.info' | translate }}</ng-template>
        <h3>🏋️ {{ 'pages.exercises.form.exercise_info' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.exercises.form.exercise_info_detail' | translate }}
        </p>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.exercises.exercise_id' | translate }}</mat-label>
          <input type="number" matInput name="title" formControlName="exerciseID"
            placeholder="{{ 'global.form.always_number' | translate }}"
            autocomplete="new-password">
          <mat-hint *ngIf="!infoForm['controls'].exerciseID.dirty">
            {{ 'pages.exercises.form.exercises_taken' | translate }}
          </mat-hint>
          <mat-error class="input-error" *ngIf="!infoForm['controls'].exerciseID.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.exercises.form.exercise_name' | translate }}</mat-label>
          <input type="text" matInput name="title" formControlName="exerciseName"
            placeholder="{{ 'pages.exercises.form.exercise_name_label' | translate }}"
            autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].exerciseName.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>METs {{ 'global.words.value' | translate }}</mat-label>
          <input type="text" matInput name="title" formControlName="metsValue"
            placeholder="{{ 'pages.exercises.form.met_value' | translate }}" autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].metsValue.valid">
            {{ 'global.errors.required' | translate }}
          </mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step class="image-uploader-container">
      <ng-template matStepLabel>{{ 'global.words.picture' | translate }}</ng-template>
      <section class="photo-title">
          <h3>📷 {{ 'pages.exercises.form.exercise_image' | translate }}</h3>
          <p class="card-text image-subtitle">
            {{ 'pages.exercises.form.exercise_image_detail' | translate }}
          </p>
      </section>

      <div class="image-uploader">
        <app-file-upload-exercise (imageEvent)="receiveDownloadURL($event)">
        </app-file-upload-exercise>
      </div>
      <section class="btn-area">
        <button class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>
    </mat-step>

    <mat-step [stepControl]="categoryForm">
      <form [formGroup]="categoryForm">
        <ng-template matStepLabel>{{ 'global.words.categories' | translate }}</ng-template>
        <h3>🏅 {{ 'global.words.categories' | translate }}</h3>
        <p class="intro-text">
           {{ 'pages.exercises.form.category_detail' | translate }}
        </p>
        <div class="add-form-field-container" formArrayName="categoryArr">
          <section class="dynamic-form-field-container" *ngFor="let category of categoryForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>
                {{ 'pages.exercises.form.category_description' | translate }}
              </mat-label>
              <mat-select matInput formControlName="categoryValue" required
                placeholder="{{ 'pages.exercises.form.describe_category' | translate }}"
                autocomplete="off" panelClass="dropdown-regular">
                <mat-option *ngFor="let category of categories" [value]="category.categoryValue"> {{category.categoryValue}}</mat-option>
              </mat-select>
              <mat-error class="input-error" *ngIf="!categoryValue.valid && categoryForm.touched">This is <strong>required</strong></mat-error>
            </mat-form-field>
            <div class="btn-area">
              <button type="button" mat-icon-button type="button" class="delete-btn"
                (click)="deleteCategory(i)">
                <i class="fa__icon fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>

        <button type="button" class="add-form-field" (click)="addCategory()">
          <i class="fa__icon fa fa-plus"></i>
          {{ 'pages.exercises.buttons.add_category' | translate }}
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="button" class="dialog-button" matStepperNext>
          {{ 'global.buttons.next' | translate }}
        </button>
      </section>

    </mat-step>

    <mat-step [stepControl]="locationForm">
      <form [formGroup]="locationForm">
        <ng-template matStepLabel>{{ 'pages.exercises.form.locations' | translate }}</ng-template>
        <h3>🗿 {{ 'pages.exercises.form.locations' | translate }}</h3>
        <p class="intro-text">
          {{ 'pages.exercises.form.locations_detail' | translate }}  
        </p>
        <div class="add-form-field-container" formArrayName="locationArr">
          <section class="dynamic-form-field-container" *ngFor="let location of locationForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>{{ 'pages.exercises.form.type_of_place' | translate }}</mat-label>
              <mat-select matInput formControlName="locationValue" required
                placeholder="{{ 'pages.exercises.form.place_description' | translate }}"  
                panelClass="dropdown-regular" autocomplete="off">
                <mat-option *ngFor="let location of locations" [value]="location.locationValue">
                  {{location.locationValue}}
                </mat-option>
              </mat-select>
              <mat-error class="input-error" *ngIf="!locationValue.valid && locationForm.touched">
                {{ 'global.errors.required' | translate }}
              </mat-error>
            </mat-form-field>
            <div class="btn-area">
              <button type="button" mat-icon-button type="button" class="delete-btn"
                (click)="deleteLocation(i)">
                <i class="fa__icon fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>

        <button type="button" class="add-form-field" (click)="addLocation()">
          <i class="fa__icon fa fa-plus"></i>
          {{ 'pages.exercises.buttons.add_location' | translate }}
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>
          {{ 'global.buttons.back' | translate }}
        </button>
        <button type="submit" class="dialog-button" (click)="addExercise()"
          [disabled]="!infoForm.valid || !categoryForm.valid || !locationForm.valid || !locationForm.valid"
          [class.disabled]="!infoForm.valid || !categoryForm.valid  || !locationForm.valid || !locationForm.valid"
          mat-dialog-close>
          {{ 'global.buttons.done' | translate }}
        </button>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
</main>
