<main class="dialog-wrapper">
  <div class="close-section  mobile">
    <button class="text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> Back
    </button>
  </div>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="infoForm">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>Info</ng-template>
        <h3>🏋️ Exercise Info</h3>
        <p class="card-text">
          Basic data that we need from the package. This data will be displayed at step 2 of the signup process.
          This can be important in the decision making process of the future client.
        </p>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Activity ID</mat-label>
          <input type="number" matInput name="title" formControlName="exerciseID" placeholder="Always a number" autocomplete="new-password">
          <mat-hint *ngIf="!infoForm['controls'].exerciseID.dirty">Check the exercise list for the numbers already taken.</mat-hint>
          <mat-error class="input-error" *ngIf="!infoForm['controls'].exerciseID.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Product name</mat-label>
          <input type="text" matInput name="title" formControlName="exerciseName" placeholder="Give the exercise a name" autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].exerciseName.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>METs value</mat-label>
          <input type="text" matInput name="title" formControlName="metsValue" placeholder="What is the METs value?" autofocus="none">
          <mat-error class="input-error" *ngIf="!infoForm['controls'].metsValue.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step class="image-uploader-container">
      <ng-template matStepLabel>Picture</ng-template>
      <section class="photo-title">
          <h3>📷  Exercise Image</h3>
          <p class="card-text image-subtitle">
            Please choose a clear picture that represents the appearance of this exercise item.
          </p>
      </section>

      <div class="image-uploader">
        <app-file-upload-exercise (imageEvent)="receiveDownloadURL($event)"></app-file-upload-exercise>
      </div>
      <section class="btn-area">
        <button class="dialog-button" matStepperPrevious>Back</button>
        <button class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="categoryForm">
      <form [formGroup]="categoryForm">
        <ng-template matStepLabel>Categories</ng-template>
        <h3>🏅 Categories</h3>
        <p class="intro-text">
          Describe and add a few categories that describe the exercise/activity. Let's be detailed here, 
          because we can maybe build a filter function later.  
        </p>
        <div class="add-form-field-container" formArrayName="categoryArr">
          <section class="dynamic-form-field-container" *ngFor="let category of categoryForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Category description</mat-label>
              <mat-select matInput placeholder="What describes the category the best?" formControlName="categoryValue" 
              autocomplete="off" required panelClass="dropdown-regular">
                <mat-option *ngFor="let category of categories" [value]="category.categoryValue"> {{category.categoryValue}}</mat-option>
              </mat-select>
              <mat-error class="input-error" *ngIf="!categoryValue.valid && categoryForm.touched">This is <strong>required</strong></mat-error>
            </mat-form-field>
            <div class="btn-area">
              <button type="button" mat-icon-button type="button" class="delete-btn" (click)="deleteCategory(i)">
                <i class="fa__icon fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>

        <button type="button" class="add-form-field" (click)="addCategory()">
          <i class="fa__icon fa fa-plus"></i>
          Add a Category
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>

    </mat-step>

    <mat-step [stepControl]="locationForm">
      <form [formGroup]="locationForm">
        <ng-template matStepLabel>Locations</ng-template>
        <h3>🗿 Locations</h3>
        <p class="intro-text">
          Describe and add a few locations where you can execute the exercise/activity. 
          Be detailed, because we can maybe build a filter function later.  
        </p>
        <div class="add-form-field-container" formArrayName="locationArr">
          <section class="dynamic-form-field-container" *ngFor="let location of locationForms.controls; let i=index" [formGroupName]="i">
            <div class="number-id">
              <h1>{{i+1}}</h1>
            </div>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Type of place</mat-label>
              <mat-select matInput placeholder="What describes the place the best?" formControlName="locationValue" 
              panelClass="dropdown-regular" autocomplete="off" required>
                <mat-option *ngFor="let location of locations" [value]="location.locationValue"> {{location.locationValue}}</mat-option>
              </mat-select>
              <mat-error class="input-error" *ngIf="!locationValue.valid && locationForm.touched">This is <strong>required</strong></mat-error>
            </mat-form-field>
            <div class="btn-area">
              <button type="button" mat-icon-button type="button" class="delete-btn" (click)="deleteLocation(i)">
                <i class="fa__icon fa fa-trash"></i>
              </button>
            </div>
          </section>
        </div>

        <button type="button" class="add-form-field" (click)="addLocation()">
          <i class="fa__icon fa fa-plus"></i>
          Add a Location
        </button>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="submit" class="dialog-button" (click)="addExercise()"
          [disabled]="!infoForm.valid || !categoryForm.valid || !locationForm.valid || !locationForm.valid"
          [class.disabled]="!infoForm.valid || !categoryForm.valid  || !locationForm.valid || !locationForm.valid"
          mat-dialog-close
        >
          Done
        </button>
      </section>

    </mat-step>

  </mat-horizontal-stepper>
</main>
