@import './../../../assets/scss/_master.scss';

// General
p {
    white-space: normal;
}

h5 {
    &.purple {
        color: $secondary-color;
    }
}



main.specialist-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5em 2em;

    .action-toolbar-top {

        button.icon-button {
            position: inherit;
            margin-left: 0;
        }

        .left {
            button:first-child {
                margin-right: 2em;
            }
        }

        .right {
            button:first-child {
                margin-right: 2em;
            }
        }
    
    }

    .target-block {
        width: 50%;
        margin-bottom: 2rem;

        // &__title {

        // }

        &__value, &__value input {
            font-size: 42px;
            font-weight: $bold;
            font-family: $main-font;
            text-align: center;
            width: 85%;
            color: $title-light-black;
        }

        span::first-letter {
            text-transform: capitalize;
        }
    }

    #level {
        text-transform: capitalize;
    }


    .middle {
        h1, h5 {
            text-align: center;
        }
    }

    .package-container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .package-controls {
            @extend %flex-center;
            width: 15%;
        }

        mat-card.list-item-card {
            width: 80%;
            margin: 6.5em auto 3em;
            cursor: auto;

            .chip-area {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                margin: 1.5em 0 0.5em;

                .secondary-chip {
                    margin: 0 1em;
                    background: $primary-light;
                    padding: 10px 1em;
                    width: auto;
                    height: auto;
                    color: $primary-color;
                    font-weight: $semi-bold;
                    font-size: 16px;
                    border-left: 3px solid $primary-color;
                    border-radius: 2px 6px 6px 2px;

                    &:nth-child(2n) {
                        background: lighten($secondary-color, 52%);
                        color: $secondary-color;
                        border-left: 3px solid $secondary-color;
                    }
                }

            }

        section {

            .section-title {
                position: relative;
                &::after {
                    content: '';
                    background: $primary-light;
                    height: 3px;
                    width: 10%;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                }
            }

            .icon-circle {
                width: 70px;
                height: 70px;
                box-shadow: $card-shadow;
                background: #fff;
                border-radius: 50%;
                margin-bottom: 1rem;
                @extend %flex-center;

                svg {
                    font-size: 38px;
                    color: $primary-color;
                }
            }

            &.introduction {
                position: relative;
                padding: 0;
                margin: 0 0 3rem;
                height: 170px;

                &::after {
                    content: '';
                    position: absolute;
                    width: 80%;
                    left: 10%;
                    bottom: 0;
                    background: $border-color;
                    height: 1px;
                }

                h2, input {
                    font-size: 38px;
                    font-weight: $semi-bold;
                    margin: 1em auto 0.25em;
                    width: 80%;
                    text-align: center;
                }

                h5 {
                    color: lighten($grey, 10%);
                    font-weight: $regular;
                    text-align: center;
                    width: 70%;
                    margin: 0 auto;
                }
            }

            &.guideline-targets {
                padding: 0 1em 0 5em;
                margin: 0 0 2rem;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 80%;
                    left: 10%;
                    bottom: 0;
                    background: $border-color;
                    height: 1px;
                }

                .target-container {
                    margin: 2rem 0;
                    display: flex;
                    flex-flow: row nowrap;

                    &__left {
                        width: 65%;
                        display: flex;
                        flex-flow: row wrap;
                        position: relative;

                        &::after {
                            content: '';
                            width: 1px;
                            background-color: $border-color;
                            position: absolute;
                            height: 80%;
                            top: 10%;
                            right: 0;
                        }
                    }

                    &__right {
                        @extend %flex-center;
                        width: 35%;
                        flex-flow: column wrap;

                        h6 {
                            text-transform: capitalize;
                            font-size: 20px;
                            font-weight: $semi-bold;
                        }
                    }
                }
            }

            &.calorie-metrics, &.macro-metrics {
                position: relative;
                padding: 3rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                &::after {
                    content: '';
                    position: absolute;
                    width: 80%;
                    left: 10%;
                    bottom: 0;
                    background: $border-color;
                    height: 1px;
                }

                .metric {
                    width: 30%;
                    margin-bottom: 2rem;
                    display: flex;
                    align-items: center;
                    flex-direction: flex-start;
                    flex-flow: column wrap;

                    &__value {
                        color: $primary-color;
                        font-size: 42px;
                        font-weight: $bold;
                        font-family: $main-font;
                        text-align: center;
                        margin-bottom: 1rem;
                        width: 80%;
                    }

                    &__title {
                        text-align: center;
                        font-weight: $regular!important;
                    }

                    .icon-circle {
                        background: $primary-color;
                        height: 75px;
                        margin-top: -2rem;
                        width: 75px;
                        svg {
                            color: #fff;
                        }
                    }
                }

                &.macros {
                    background: $primary-color;
                    border: none;
                    position: relative;
                    padding: 4em 3em 2.5em 3em;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    box-shadow: $gold-glow;

                    &::after {
                        content: none;
                        display: none;
                    }
                    
                    h2 {
                        color: #fff;
                        text-align: center;

                        &::after {
                            width: 30%;
                            left: 35%;
                            bottom: -1em;
                        }
                    }
                    
                    .container {
                        display: flex;
                        flex-flow: row nowrap;
                        width: 100%;
                        height: auto;
                        align-items: center;
                        justify-content: center;
                        margin-top: 5em;
                    }

                    .metric {
                        &__value {
                            color: #fff;
                        }

                        &__title {
                            font-weight: $semi-bold;
                            font-size: 24px;
                            color: #fff;
                            text-transform: capitalize;
                        }

                        .icon-circle {
                            background: #fff;
                            color: $primary-color;
                            font-size: 18px;
                            font-weight: $semi-bold;
                            height: 75px;
                            margin-top: -2rem;
                            width: 75px;
                            border: 2.5px solid $primary-color;
                            box-shadow: 0 0 0 3.5px #fff;

                            input {
                                color: $primary-color;
                                width: 35px;
                                text-align: right;
                                height: auto;
                                font-size: 18px;
                                font-family: $main-font;
                                font-weight: $semi-bold;
                            }
                        }
                    }
                }
            }

            &.guideline-activities {
                height: auto;
                padding: 3em 3em 3em 5em;

                .activity {
                    align-items: flex-start;
                    display: flex;
                    flex-flow: row nowrap;
                    height: 100%;
                    padding: 2em 0;
                    justify-content: flex-start;
                    width: 100%;

                    &:last-child {
                        padding-bottom: 0;
                    }

                    &__left {
                        box-sizing: border-box;
                        display: flex;
                        flex-flow: column wrap;
                        width: 40%;
                        justify-content: flex-start;

                        app-exercise-list-item {
                            margin: 0 0 3em;
                            height: auto;
                            width: 100%;
                        }
                    }

                    &__right {
                        box-sizing: border-box;
                        align-items: center;
                        display: flex;
                        flex-flow: column wrap;
                        width: 60%;

                        .container {
                            box-sizing: border-box;
                            display: flex;
                            flex-flow: row wrap;
                            height: 385px;
                            margin: 0 0 3em;
                            padding: 2em 0 2em 3em;
                            align-items: center;
                            width: 100%;

                            .target-block {
                                h6 {
                                    text-transform: capitalize;
                                }

                                &__full-width {
                                    width: 100%;
                                    ul {
                                        li {
                                            align-items: center;
                                            display: flex;
                                            flex-direction: row;
                                            margin: 1em 0;

                                            span, input {
                                                border-right: 1px solid $border-color;
                                                color: $text-black;
                                                display: flex;
                                                align-items: center;
                                                justify-content: flex-start;
                                                font-size: 28px;
                                                font-weight: $bold;
                                                height: 65px;
                                                margin-right: 1em;
                                                text-align: center;
                                                width: 85px;
                                            }

                                            h4 {
                                                text-transform: capitalize;
                                                color: $secondary-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

            .quick-info {
                p {
                    text-align: center;
                }
            }

            .card-circle {
                @extend %flex-center;
                flex-flow: column wrap;
                width: 175px;
                height: 175px;
                margin: -85px auto 0;
                box-shadow: $card-shadow;
                background-size: cover!important;
                background-position: center!important;
                border-radius: 50%;
                border: 4px solid #fff;

                svg {
                    font-size: 38px;
                }
            }

            .product-photo {
                height: 250px;
                position: relative;
                background-size: cover!important;
                background-position: center!important;
            }


            .preperation-container {
                ul {
                    li {
                        display: block;
                        margin: 1em 0;
                    }
                }
            }
        }
    }
}



section.btn-area {
    padding-left: 3em;

    button.text-link {
        margin: 1em 0;
        svg {
            font-size: 12px;
            margin-left: 5px;
        }     
    }
}

div.not-available {
    @extend %flex-center;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}