<ng-container *ngIf="guideline && auth.user | async as user">
  <main class="specialist-wrapper" *ngIf="!editShow">

    <section class="action-toolbar-top">
      <div class="left">
        <button type="button" class="icon-button" (click)="goBack()">
            <i class="fa__icon fas fa-arrow-left"></i>
        </button>
        <button type="button" class="icon-button edit-button not-mobile" (click)="deleteGuidelineDialog(guideline)" 
        *ngIf="!editShow && auth.adminRoles(user)">
          <i class="fa__icon fas fa-trash"></i>
        </button>
      </div>
      
      <div class="middle">
        <h1 *ngIf="client; else gID">
          {{ 'pages.guideline.general.guideline_for' | translate }} {{client.displayName}}
          <h5 *ngIf="guideline.formulaData.weight">
            {{ 'global.user.current_weight' | translate }}: {{guideline.formulaData.weight}}kg
          </h5>
          <h5 *ngIf="!guideline.formulaData.weight">
            {{ 'pages.guideline.errors.weight_not_measured' | translate }}
          </h5>
        </h1>
        <ng-template #gID>
          <h1>
            {{ 'pages.guideline.general.guideline_id' | translate }}: {{guideline.gID}}
          </h1>
        </ng-template>
      </div>

      <div class="right" *ngIf="user">
        <div class="not-mobile">
          <ng-container *ngIf="user.roles.admin || user.roles.specialist">
            <button type="button" class="hidden">
            </button>
            <button type="button" class="icon-button edit-button" (click)="toggleEdit()">
              <i class="fa__icon fas fa-edit"></i>
            </button>
          </ng-container>
        </div>
    
        <div class="mobile">
          <button class="icon-button edit-button" *ngIf="actionMenuOpen; else plus" (click)="toggleButtonMenu()">
            <i class="fa__icon fas fa-minus"></i>
          </button>
          <ng-template #plus>
            <button class="icon-button edit-button" (click)="toggleButtonMenu()">
              <i class="fa__icon fas fa-plus"></i>
            </button>
          </ng-template>
  
          <div class="specialist-actions">
            <button type="button" class="icon-button action-btn" (click)="deleteGuidelineDialog(guideline)">
              <i class="fa__icon fas fa-trash"></i>
            </button>
            <button type="button" class="icon-button action-btn" (click)="toggleEdit()">
              <i class="fa__icon fas fa-edit"></i>
            </button>
          </div>
        </div>
      </div>
    </section>

    <div class="package-container">
      <mat-card class="list-item-card" *ngIf="guideline">
          <section *ngIf="client" class="card-circle" [style.background-image]="'url('+ client.photoURL +')'">
            <div class="no-photo" *ngIf="!client.photoURL">
              <i class="fa__icon fas fa-sad-tear"></i>
              <p class="card-text">No photo</p>
            </div>
          </section>
          <section class="chip-area">
            <p class="secondary-chip">
              {{ 'pages.guideline.general.guideline_number' | translate }}: {{guideline.guidelineNR}}
            </p>
            <p class="secondary-chip">
              {{ 'global.words.created' | translate }}: {{guideline.creationDate.toDate() | date: 'MM/dd/yy'}}
            </p>
            <p *ngIf="guideline.lastEdited" class="secondary-chip">
              {{ 'global.words.edited' | translate }}: {{guideline.lastEdited.toDate() | date: 'M/d/yy, h:mm a'}}
            </p>
          </section>

          <section class="introduction">
            <h2>{{guideline.guidelineName}}</h2>
            <h5>
              {{ 'pages.guideline.general.guideline_id' | translate }}: {{guideline.gID}}
            </h5>

            <div class="link-container">
              <a class="text-link" (click)="linkToMeasurement()">
                {{ 'pages.guideline.general.linked_measurement' | translate }}
              </a>
              <a class="text-link" (click)="linkToFic(guideline.ficID)"
                *ngIf="user?.roles?.specialist || user?.roles?.admin">
                {{ 'pages.guideline.general.linked_consultation' | translate }}
              </a>
            </div>
          </section>

          <section class="guideline-targets" *ngIf="guideline">
            <h2 class="section-title">
              {{ 'pages.guideline.general.targets' | translate }}
            </h2>
            <div class="target-container">
              <div class="target-container__left">
                <div class="target-block">
                  <h6 class="target-block__title">
                    {{ 'pages.guideline.form.ideal_weight' | translate }}
                  </h6>
                  <span class="target-block__value">{{guideline.idealWeight}} kg</span>
                </div>
                <div class="target-block">
                  <h6 class="target-block__title">
                    {{ 'pages.guideline.form.amount_of' | translate }} {{guideline.target}}
                  </h6>
                  <span class="target-block__value">{{guideline.totalTarget}} kg</span>
                </div>
                <div class="target-block" *ngIf="guideline.idealKiloOfMuscle">
                  <h6 class="target-block__title">
                    {{ 'pages.guideline.form.ideal_muscle_weight' | translate }}
                  </h6>
                  <span class="target-block__value">{{guideline.idealKiloOfMuscle}} kg</span>
                </div>
                <div class="target-block" *ngIf="guideline.idealKiloOfMuscle">
                  <h6 class="target-block__title">
                    {{ 'pages.guideline.form.total_duration' | translate }}
                  </h6>
                  <span class="target-block__value">
                    {{guideline.targetDuration}} {{ 'events.weeks' | translate }}
                  </span>
                </div>
              </div>

              <div class="target-container__right">
                <div class="icon-circle">
                  <ng-container *ngIf="!gainWeight">
                    <i class="fa__icon fas fa-angle-double-down"></i>
                  </ng-container>
                  <ng-container *ngIf="gainWeight">
                    <i class="fa__icon fas fa-angle-double-up"></i>
                  </ng-container>
                </div>
                <h6>{{guideline.target}} {{ 'global.user.weight' | translate }}</h6>
              </div>
            </div>
          </section>

          <section class="calorie-metrics" *ngIf="guideline">
            <div class="metric">
              <span class="metric__value">{{guideline.increaseAmount}}</span>
              <h6 class="metric__title">
                {{ 'pages.guideline.form.kcal_change' | translate }}
              </h6>
            </div>
            <div class="metric golden">
              <div class="icon-circle">
                <ng-container *ngIf="increaseCals">
                  <i class="fa__icon fas fa-level-up-alt"></i>
                </ng-container>
                <ng-container *ngIf="!increaseCals">
                  <i class="fa__icon fas fa-level-down-alt"></i>
                </ng-container>
              </div>
              <h6 class="metric__title">
                <ng-container *ngIf="increaseCals">
                  {{ 'pages.guideline.form.increase' | translate }}
                </ng-container>
                <ng-container *ngIf="!increaseCals">
                  {{ 'pages.guideline.form.decrease' | translate }}
                </ng-container>
                {{ 'pages.guideline.form.basal_metobolism' | translate }}
              </h6>
            </div>
            <div class="metric">
              <span class="metric__value">x{{guideline.factorCalorie}}</span>
              <h6 class="metric__title">
                {{ 'pages.guideline.general.factor_calorie' | translate }}
              </h6>
            </div>
          </section>

          <section class="calorie-metrics formulas" *ngIf="guideline">
            <h2 class="section-title">
              {{ 'pages.guideline.general.calculated_values' | translate }}
            </h2>
            <div class="metric">
              <span class="metric__value" *ngIf="guideline.formulaData.maxCalories; else noValue">
                {{guideline.formulaData.maxCalories | number: '1.0-0'}}
              </span>
              <h6 class="metric__title">
                {{ 'pages.guideline.general.max_amount_kcal' | translate }}
              </h6>
            </div>
            <div class="metric">
              <span class="metric__value" *ngIf="guideline.formulaData.bmi; else noValue">{{guideline.formulaData.bmi | number: '1.0-0'}}</span>
              <h6 class="metric__title">
                {{ 'pages.guideline.general.bmi' | translate }}
              </h6>
            </div>
            <div class="metric" *ngIf="guideline.formulaData.fatPercentageAthlete">
              <span class="metric__value">{{guideline.formulaData.fatPercentageAthlete | number: '1.1-1'}}%</span>
              <h6 class="metric__title">
                {{ 'pages.guideline.general.fat_athlete' | translate }}
              </h6>
            </div>
            <div class="metric" *ngIf="guideline.formulaData.fatPercentageRegular">
              <span class="metric__value">{{guideline.formulaData.fatPercentageRegular | number: '1.1-1'}}%</span>
              <h6 class="metric__title">
                {{ 'pages.guideline.general.fat_regular' | translate }}
              </h6>
            </div>
            <div class="metric" *ngIf="!guideline.formulaData.fatPercentageRegular && !guideline.formulaData.fatPercentageAthlete">
              <span class="metric__value">-</span>
              <h6 class="metric__title">
                {{ 'pages.guideline.errors.measurement_incomplete' | translate }}
              </h6>
            </div>

            <ng-template #noValue>
              <span class="metric__value">-</span>
            </ng-template>

          </section>
          
          <section class="guideline-activities" *ngIf="guideline && guideline.activities && guideline.activities.length > 0">
            <h2 class="section-title">
              {{ 'pages.guideline.general.activities' | translate }}
            </h2>
            <div class="activity">
              <div class="activity__left" *ngIf="exerciseOne">
                <app-exercise-list-item class="activity__left" [exercise]="exerciseOne"></app-exercise-list-item>
                <ng-container *ngIf="exerciseTwo">
                  <app-exercise-list-item class="activity__left" [exercise]="exerciseTwo"></app-exercise-list-item>
                </ng-container>

                <ng-container *ngIf="exerciseThree">
                  <app-exercise-list-item class="activity__left" [exercise]="exerciseThree"></app-exercise-list-item>
                </ng-container>

              </div>
              <div class="activity__right" *ngIf="guideline?.activities?.length">
                <div class="container" *ngFor="let activity of guideline?.activities;">
                  <div class="target-block" *ngIf="activity?.activityPerWeek">
                    <h6 class="target-block__title">
                      {{ 'pages.guideline.form.per_week' | translate }}
                    </h6>
                    <span class="target-block__value">{{activity.activityPerWeek}}x</span>
                  </div>
                  <div class="target-block" *ngIf="activity.activityDuration">
                    <h6 class="target-block__title">
                      {{ 'pages.guideline.form.how_long' | translate }}
                    </h6>
                    <span class="target-block__value">{{activity.activityDuration}} min</span>
                  </div>
                  <div class="target-block" *ngIf="activity.activityLevel">
                    <h6 class="target-block__title">
                      {{ 'pages.guideline.form.level' | translate }}
                    </h6>
                    <span class="target-block__value" id="level">{{activity.activityLevel}}</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section class="macro-metrics macros" *ngIf="guideline">
            <h2 class="section-title">
              {{ 'pages.guideline.general.macro_distribution' | translate }}
            </h2>
            <div class="container">
              <div class="metric">
                <div class="icon-circle">
                  {{guideline.macroDistribution.proteinValue}}%
                </div>
                <h6 class="metric__title">
                  {{ 'pages.guideline.form.protein' | translate }}
                </h6>
              </div>
              <div class="metric">
                <div class="icon-circle">
                  {{guideline.macroDistribution.carbValue}}%
                </div>
                <h6 class="metric__title">
                  {{ 'pages.guideline.form.carbs' | translate }}
                </h6>
              </div>
              <div class="metric">
                <div class="icon-circle">
                  {{guideline.macroDistribution.fatValue}}%
                </div>
                <h6 class="metric__title">
                  {{ 'pages.guideline.form.fat' | translate }}
                </h6>
              </div>
            </div>
          </section>
      </mat-card>
    </div>
  </main>

  <ng-container *ngIf="editShow">
    <app-edit-guideline [client]="client" [exercise]="exercise"
      [guideline]="guideline"></app-edit-guideline>
  </ng-container>

</ng-container>
  
<ng-container *ngIf="!guideline">
  <div class="not-available">
    <h3>{{ 'pages.guideline.errors.not_available' | translate }}</h3>
    <p>
      {{ 'pages.guideline.errors.not_available_detail' | translate }}
    </p>
    <button type="button" class="btn-primary" [routerLink]="['../']">
      {{ 'global.buttons.go_back' | translate }}
    </button>
  </div>
</ng-container>
