@import './../../../../assets/scss/_master.scss';

div.success-wrapper {
    width: 30vw!important;
    height: 100vh;
    overflow: auto;

    @include  respond-down($sm) {
        width: 100vw!important;
    }
    @include respond-down($xs) {
        overflow-y: auto;
    }

    .login-container {
        @extend %flex-column-center;
        padding: 2em 0;
        align-items: center!important;
        position: relative;

        @include respond-down($sm) {
            overflow: auto;
            height: 100%;
            padding: 0 16px;
        }

        @include respond-down($xs) {
            overflow: auto;
            height: auto;
            padding: 1em 16px;
        }

        .close-section {
            position: absolute;
            top: 0;
            right: 5px;

            .fa__icon, .svg-inline--fa, svg, svg path {
                color: $grey;
            }
        }

        img.logo {
            width: 60%;
            margin-top: 0;
            max-width: 210px;

            @include respond-down($sm) {
                margin-bottom: 20px;
                width: 40%;
            }
        }

        ul.checklist {
            margin: 20px auto;
            width: 75%;

            @include respond-down($sm) {
                margin: 20px 0;
            }

            @include respond-down($xs) {
                width: 90%;
            }

            li {
                display: flex;
                color: $grey;
                align-items: center;
                justify-content: flex-start;
                margin: 11px 0;
                text-align: left;

                a {
                    color: $grey;
                    padding: 0.1em 0;
                    margin: 0;
                    text-align: left;
                }

                &.activated {
                    color: $secondary-color;
                    a {
                        color: $secondary-color;
                    }
                }
                
                ::ng-deep .fa__icon, .svg-inline--fa, svg, svg path {
                    color: $secondary-color;
                    margin: 0.1em 1.5em 0 0;
                }

                .placeholder {
                    width: 12px;
                    height: 12px;
                    border: 1.5px solid lighten($grey, 5%);
                    border-radius: 2px;
                    box-shadow: none;
                    margin-right: 1.5em;
                }
            }
        }

        p.intro-text {
            width: 80%;

            @include  respond-down($sm) {
                margin: 0;
                width: 100% !important;
            }
        }

        .btn-area {
            flex-flow: column wrap;
            margin: 10px auto 0;
            width: 60%;

            @include respond-down($md-m) {
                width: 90%;
            }
            @include respond-down($sm) {
                margin-top: 10px;
            }

            .btn-disabled {
                cursor: not-allowed;
                background: $middle-grey;
            }

            .text-link {
                width: 50%;
                margin: 1.5em auto 0;
            }
        }
    }
}