<div class="success-wrapper" *ngIf="user">
  <section class="login-container">
    <div class="close-section">
      <button mat-icon-button class="close-btn" (click)="closeSection()" type="button">
        <i class="fa__icon fas fa-times"></i>
      </button>
    </div>
    <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
    <h2>{{ 'pages.signup.step_success.title' | translate }}</h2>
    <p class="intro-text">{{ 'global.words.thanks' | translate }}, {{user.email}}</p>
    <p class="intro-text">
      {{ 'pages.signup.step_success.intro' | translate }}
    </p>

    <ul class="checklist" *ngIf="user.status">
      <li [class.activated]="user.basicData">
        <div class="placeholder" *ngIf="!user.basicData"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.basicData"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-one">
          
        </a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-one')">
            {{ 'pages.signup.step_success.step_one' | translate }}
          </a>
        </ng-container>
      </li>
      <li [class.activated]="user.packageChoice">
        <div class="placeholder" *ngIf="!user.packageChoice"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.packageChoice"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-two" *ngIf="user.basicData">Step 2: Choose a package</a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-two')" *ngIf="user.basicData">
            {{ 'pages.signup.step_success.step_two' | translate }}
          </a>
        </ng-container>
        
        <ng-container *ngIf="!user.basicData">
          {{ 'pages.signup.step_success.step_one' | translate }}
        </ng-container>
      </li>
      <li [class.activated]="user.specialist">
        <div class="placeholder" *ngIf="!user.specialist"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.specialist"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-three" *ngIf="user.packageChoice">
          {{ 'pages.signup.step_success.step_three' | translate }}
        </a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-three')" *ngIf="user.packageChoice">
            {{ 'pages.signup.step_success.step_three' | translate }}
          </a>
      </ng-container>
        
        <ng-container *ngIf="!user.packageChoice">
          {{ 'pages.signup.step_success.step_three' | translate }}
        </ng-container>
      </li>
      <li [class.activated]="user.status.appointment">
        <div class="placeholder" *ngIf="!user.status.appointment"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.status.appointment"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-four" *ngIf="user.specialist">
          {{ 'pages.signup.step_success.step_four' | translate }}
        </a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-four')" *ngIf="user.specialist">
            {{ 'pages.signup.step_success.step_four' | translate }}
          </a>
        </ng-container>
        
        <ng-container *ngIf="!user.specialist">
          {{ 'pages.signup.step_success.step_four' | translate }}
        </ng-container>
      </li>
      <li [class.activated]="user.status.accepted">
        <div class="placeholder" *ngIf="!user.status.accepted"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.status.accepted"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="limbo" *ngIf="user.status.appointment">Step 5: Finishing up</a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-five')" *ngIf="user.status.appointment">
            {{ 'pages.signup.step_success.step_five' | translate }}
          </a>
      </ng-container>
        
        <ng-container *ngIf="!user.status.appointment">
          {{ 'pages.signup.step_success.step_five' | translate }}
        </ng-container>
      </li>
    </ul>
    <div class="btn-area" *ngIf="user.status">
      <button type="link" class="btn-primary" 
      [class.btn-disabled]="!user.status.accepted"
      [disabled]="!user.status.accepted"
      routerLink="../dashboard">
        {{ 'global.buttons.go_to_mirror' | translate }}
      </button>
      <br>
      <button type="link" class="text-link" (click)="logout()">
        {{ 'global.buttons.go_back' | translate }}
      </button>
    </div>
  </section>
</div>
