@import './../../../../assets/scss/_master.scss';

div.success-wrapper {
    width: 30vw!important;
    height: 100vh;
    overflow: hidden;

    .login-container {
        @extend %flex-column-center;
        padding: 0;
        align-items: center!important;
        position: relative;

        .close-section {
            position: absolute;
            top: 0;
            right: 5px;

            svg {
                color: $grey;
            }
        }

        img.logo {
            width: 60%;
            margin-top: 0;
        }

        ul.checklist {
            margin: 20px auto;
            width: 80%;

            li {
                color: $grey;
                display: flex;
                justify-content: flex-start;
                padding-left: 2.5em;
                margin: 0.5em auto;

                &.activated {
                    color: $secondary-color;
                }
                
                svg {
                    color: $secondary-color;
                    margin: 0.1em 1.5em 0 0;
                }

                .placeholder {
                    width: 14px;
                    margin-right: 1.5em;
                }
            }
        }

        p.intro-text {
            width: 80%;
        }
    }
}