<div class="success-wrapper" *ngIf="user">
  <section class="login-container">
    <div class="close-section">
      <button mat-icon-button class="close-btn" (click)="closeSection()" type="button">
        <i class="fa__icon fas fa-times"></i>
      </button>
    </div>
    <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
    <h2>Account created!</h2>
    <p class="intro-text">Thanks, {{user.email}}</p>
    <p class="intro-text">Please complete the following steps to use the LifeLifting Mirror.</p>

    <ul class="checklist" *ngIf="user.status">
      <li [class.activated]="user.basicData">
        <div class="placeholder" *ngIf="!user.basicData"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.basicData"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-one">Step 1: Fill out basic data</a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-one')">
            Step 1: Fill out basic data
          </a>
        </ng-container>
      </li>
      <li [class.activated]="user.packageChoice">
        <div class="placeholder" *ngIf="!user.packageChoice"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.packageChoice"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-two" *ngIf="user.basicData">Step 2: Choose a package</a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-two')" *ngIf="user.basicData">
            Step 2: Choose a package
          </a>
        </ng-container>
        
        <ng-container *ngIf="!user.basicData">Step 2: Choose a package</ng-container>
      </li>
      <li [class.activated]="user.specialist">
        <div class="placeholder" *ngIf="!user.specialist"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.specialist"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-three" *ngIf="user.packageChoice">Step 3: Choose a specialist</a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-three')" *ngIf="user.packageChoice">
            Step 3: Choose a specialist
          </a>
      </ng-container>
        
        <ng-container *ngIf="!user.packageChoice">Step 3: Choose a specialist</ng-container>
      </li>
      <li [class.activated]="user.status.appointment">
        <div class="placeholder" *ngIf="!user.status.appointment"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.status.appointment"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="step-four" *ngIf="user.specialist">Step 4: Request appointment</a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-four')" *ngIf="user.specialist">
            Step 4: Request appointment
          </a>
        </ng-container>
        
        <ng-container *ngIf="!user.specialist">Step 4: Request appointment</ng-container>
      </li>
      <li [class.activated]="user.status.accepted">
        <div class="placeholder" *ngIf="!user.status.accepted"></div>
        <i class="fa__icon fas fa-check-square" *ngIf="user.status.accepted"></i>

        <ng-container *ngIf="!isMobile"><a routerLink="limbo" *ngIf="user.status.appointment">Step 5: Finishing up</a></ng-container>
        <ng-container *ngIf="isMobile">
          <a (click)="closeSection('step-five')" *ngIf="user.status.appointment">
            Step 5: Finishing up
          </a>
      </ng-container>
        
        <ng-container *ngIf="!user.status.appointment">Step 5: Finishing up</ng-container>
      </li>
    </ul>
    <div class="btn-area" *ngIf="user.status">
      <button type="link" class="btn-primary" 
      [class.btn-disabled]="!user.status.accepted"
      [disabled]="!user.status.accepted"
      routerLink="../dashboard">Go to Mirror</button>
      <br>
      <button type="link" class="text-link" (click)="logout()">Go back</button>
    </div>
  </section>
</div>
