@import './../../../assets/scss/_master.scss';

main.specialist-list-wrapper {
    margin: 0;
    padding: 0;

    // section.specialist-filters {

    // }

    section.card-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        app-guideline-list-item {
            margin: 1.5em 2.5%;
            width: 28%;
        }

    }

}