<div class="main-wrapper">
  <div class="column">
  <section class="login-container">
    <img class="logo" src="./../../../../assets/img/logo-extended.svg" title="Logo" alt="Logo">
    <h2>Welcome Back</h2>
    <p class="intro-text">Login to your account to access your personal plans and goals.</p>


    <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="auth-form">
      <mat-form-field [formGroup]="signInForm" appearance="standard">
        <input type="text" matInput placeholder="E-mail address" formControlName="email" 
                [class.active]="!email.valid && email.touched" autocomplete="off" required
        >
        <mat-error class="input-error" *ngIf="!email.touched">This is <strong>required</strong></mat-error>
        <mat-error class="input-error" *ngIf="!email.valid && email.touched">That's <strong>not</strong> a valid e-mail address!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" class="password">
        <input class="form-input" type="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" 
        formControlName="password" [class.active]="!password.valid && password.touched" 
        autocomplete="new-password" required
        >
        <!-- <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon> -->
        <mat-hint class="forgot-password" align="end">
          <a class="small-text" routerLink="/forgot-password">Forgot password?</a>
        </mat-hint>
        <mat-error class="input-error" *ngIf="capsOn | async"><strong>&#x26A0; Warning</strong> Caps lock is turned on</mat-error>
        <mat-error class="input-error" *ngIf="!password.touched">This is <strong>required</strong></mat-error>
        <mat-error class="input-error" *ngIf="password.errors?.minlength"><strong>Not enough</strong> characters, try harder!</mat-error>
        <mat-error class="input-error" *ngIf="password.errors?.maxlength">Too <strong>much</strong> characters, slow down there.</mat-error>
        <mat-error class="input-error" *ngIf="password.errors?.pattern">Password contains <strong>a special character</strong>, or lacks a <strong>number/letter</strong>.</mat-error>
      </mat-form-field>

      <div class="btn-area">
        <button class="btn-primary" type="submit" [disabled]="!signInForm.valid">Login</button>
        <br>
        <ng-container *ngIf="(auth.user | async) || {} as user">
          <button type="button" class="text-link" routerLink="../signup" *ngIf="!user.uid">Sign up for an account</button>
          <button type="button" class="text-link" routerLink="../dashboard" *ngIf="user.uid">Sign up for an account</button>
        </ng-container>

        <p class="light-text">- or -</p>

        <button type="button" class="btn-icon-left" (click)="googleLogin()">
          <i class="fab fa-google"></i>
          <span>Login with Google</span>
        </button>
      </div>

    </form>

  </section>
  </div>
  <section class="photo-container">
    
  </section>
</div>