@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '_master';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $light-grey;
}


//////////////////
//////////////////
// Buttons

button {
    @extend %input-reset;
    font-family: $main-font;
    &:hover, &:focus, &:active {
        cursor: pointer;
    }
}

// Menu Buttons


// Main CTA's

.btn-primary {
    @include round-btn;
    color: $primary-color;
    border: 2px solid $primary-color;
    background-color: transparent;
    

    &:hover, &:focus, &:active {
        background-color: $primary-color;
        color: $light-grey;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  
    }
}

.btn-secondary-outline {
    @include round-btn;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    background-color: transparent;
    

    &:hover, &:focus, &:active {
        background-color: $secondary-color;
        color: $light-grey;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  
    }
}

.btn-accent-outline {
    @include round-btn;
    color: $brand-accent;
    border: 2px solid $brand-accent;
    background-color: transparent;
    

    &:hover, &:focus, &:active {
        background-color: $brand-accent;
        color: $light-grey;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  
    }
}

.btn-icon-left, .btn-icon-right {
    @include round-btn;
    color: $grey;
    background: #fff;
    box-shadow: $card-shadow;
    padding: 5px 3em;
    font-weight: $semi-bold;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        color: $secondary-color;
        margin-right: 20px;
        font-size: 16px;
        &.small {
            font-size: 13px;
        }
    }

    span {
        
        padding: 0;
    }
    

    &:hover, &:focus, &:active {
        background-color: $secondary-color;
        color: #fff;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  

        svg {
            transition: all 300ms ease-in-out;
            color: #fff;
        }
    }
}

.btn-icon-left {
    svg {
        margin: 0 20px 0 0px;
    }
}
.btn-icon-right {
    svg {
        margin: 0 0px 0 20px;
    }
}

.btn-disabled {
    @include round-btn;
    color: $grey;
    padding: 5px 3em;
    border: 2px solid $middle-grey;
    background-color: $middle-grey;
    box-shadow: none!important;
    font-weight: $semi-bold;
    

    &:hover, &:focus, &:active {
        // box-shadow: 0 0 0 rgba(255, 255, 255, 1)!important;
        cursor: inherit!important;
        background: $middle-grey;
        color: $grey;
        // animation: pulse-blue 2s infinite;  
    }
}

.open-side-component {
    position: absolute;
    left: -5px;
    top: 5em;
    width: 45px;
    height: 50px;
    border-radius: 5px;
    background: $light-grey;
    box-shadow: $card-shadow;

    svg {
        font-size: 16px;
        color: $grey;
        margin-left: 5px;
    }
}

.close-btn {
    svg {
        font-size: 16px;
    }
}

//////////////////
//////////////////
// Headers & Text

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 1.2px;
    font-family: $title-font;
}

h1 {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: $bold;
    color: $title-black;

    &.section-title {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
        margin: 0 auto 15px auto;        
    }

    &.border-bottom {
        // Bottom Border
        &::after {
            content: "";
            background: $border-color;
            top: 20px;
            left: 45%;
            display: flex;
            height: 2px;
            position: relative;
            width: 10%;
        }
    }
}

h2 {
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: $semi-bold;
    color: $title-black;

    &.card-title {
        margin-bottom: 30px;
    }

    &.border-bottom {
        // Bottom Border
        &::after {
            content: "";
            background: $border-color;
            top: 15px;
            left: 20%;
            display: flex;
            height: 2px;
            position: relative;
            width: 60%;
        }
    }
}

h3 {
    color: $title-black;
    font-size: 22px;
    font-weight: $bold;
    margin-left: 1em;
}

h4 {
    color: $title-black;
    font-size: 20px;
    font-weight: $semi-bold;
    font-family: $main-font;
}

h5 {
    color: $text-black;
    font-size: 18px;
    font-weight: $semi-bold;
    font-family: $main-font;

    &.border-bottom {
        // Bottom Border
        &::after {
            content: "";
            background: $grey;
            top: 15px;
            left: 0;
            display: flex;
            height: 2px;
            position: relative;
            width: 30%;
        }
    }
}

h6 {
    font-family: $main-font;
    font-size: 16px;
    font-weight: $regular;
    color: $grey;
    letter-spacing: 2px;

    &.subtitle {
        margin: 0 5px 0 3px;
    }
}

p {
    font-family: $main-font;
    letter-spacing: 1px;
    line-height: 1.6;

    &.section-text {
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        color: $text-black;
        font-weight: $regular;
    }

    &.card-text {
        margin: 0 auto;
        font-size: 14px;
        color: $text-black;
        font-weight: $regular;
    }

    &.light-text {
        font-size: 14px;
        color: $grey;
        font-weight: semi-bold;
    }
}

//////////////////
//////////////////
// Links

a {
    text-decoration: none;

    &:hover, &:focus, &:active {
        cursor: pointer;
    }

    &.inverted {
        &::after {
            pointer-events: none;
            opacity: 0.8;
            border-bottom: 1.8px solid $middle-grey!important;
        }
    }
}

.text-link, button.text-link {
    color: $primary-color;
    font-family: $main-font;
    font-weight: $regular;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 5px;

    &:hover, &:focus {
        color: $primary-color;
        transition: all 0.4s ease-in-out;

        &::after {
            height: 4px;
            width: 98%;
            opacity: 0.8;
            border-bottom: 1.2px solid $primary-color;
            right: 0!important;
            pointer-events: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        display: flex;
        height: 4px!important;
        bottom: 0;
        width: 0;
        border-bottom: 1.2px solid transparent;
        transition: all 0.4s ease-in-out;
        pointer-events: none;
    }
}

//////////////////
//////////////////
// Lists

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 5px 0;
        list-style: none;
        font-family: $main-font;
        font-weight: $regular;
        font-size: 16px;
        color: $black;
        letter-spacing: 1px;

        a {
            text-decoration: none;
            
        }
    }
}


.main-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

// Dividers 

.circle-divider {
    width: 3px;
    height: 3px;
    background: $secondary-color;
    border-radius: 50%;
    margin: 0 1em;
}

// Mat Cards

mat-card {
    &.dark-card {
        background: $black!important;
        box-shadow: $card-shadow;
        border-radius: 5px;
        padding: 20px 1.5em;
    }
}

//////////////////
//////////////////
// Forms

form {
    .mat-form-field {
        mat-label {
            font-family: $main-font;
            font-size: 18px;
            font-weight: $semi-bold;
            letter-spacing: 1px;
        }
        input, textarea, mat-select, ::placeholder {
            font-family: $main-font;
            font-size: 16px;
            letter-spacing: 1px;
        }

        input, textarea, mat-select {
            font-weight: $bold!important;
            color: $black!important;
            padding: 10px 0.2em!important;
            caret-color: $primary-color!important;
            border-bottom: 1.5px solid $middle-grey!important;

            &.active {
                transition: all 400ms ease-in; 
                border-bottom: 1.5px solid lighten($brand-danger, 10%)!important;
            }
        }

        ::placeholder {
            font-weight: $regular;
            color: $text-black;
        }

        
    }

    .mat-form-field-underline {
        display: none!important;
    }
    mat-hint {
        a {
            font-family: $main-font;
            font-size: 14px;
            font-weight: $regular;
            color: $text-black;
        }
    }

    mat-error {
        color: $brand-danger!important;
        margin-bottom: 5px;
        font-size: 12px;
    }

}