@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import './assets/scss/_master.scss';
@import './assets/scss/_mealplans.scss';

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: $middle-grey;
    overflow-y: auto;
    overflow-x: hidden;
}


//////////////////
//////////////////
// Buttons

button {
    @extend %input-reset;
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: $semi-bold;

    &:hover, &:focus, &:active {
        cursor: pointer;
    }
}

button.icon-button, a.icon-button {
    @extend %flex-center;
    width: 55px;
    height: 55px;
    box-shadow: $card-shadow;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    position: relative;
    right: -2em;
    top: 0;

    @include respond-down($sm) {
        width: 50px;
        height: 50px;
        right: 0;
    }
    
    svg {
        color: $icon-black;
        font-size: 14px;
        transition: all 100ms ease-in-out;
    }

    &:hover, &:focus {
        transition: transform 200ms ease-in-out;
        transform: scale(1.1);
    }

    &-disabled {
        background: $middle-grey;
        svg {
            color: $grey;
        }

        &:hover, &:focus {
            transform: scale(1);
            cursor: not-allowed;

            svg {
                transform: scale(1)!important;
            }
        }
    }

    &.action-btn {
        background: $primary-color;
        width: 65px;
        height: 65px;
        @include respond-down($sm) {
            width: 55px;
            height: 55px;
        }
    
        svg {
            color:  #fff;
            font-size: 28px;
            @include  respond-down($sm) {
                font-size: 24px;
            }
        }
    
    
        &:hover, &:focus {
            transition: all 300ms ease-in-out;
            transform: scale(1.1);
        }
    }

}

button.slide-control-btn {
    transition: all 300ms ease-in-out;

    svg {
        font-size: 28px;
        color: $grey;
    }

    &:hover {
        transition: all 300ms ease-in-out;
        svg {
            font-size: 32px;
            color: $icon-black;
        }
    }

    &.disabled {
        cursor: not-allowed;
        svg {
            color: $middle-grey;
        }
    }
}

// Menu Buttons

a.menu-link, button.menu-link {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    font-weight: $semi-bold;
    color: $text-black;
    border-left: 3px solid transparent;

    &:hover, &:focus, &.active {
        background: $primary-light; 
        border-left: 3px solid $primary-color;
        color: $primary-color;
        font-weight: $bold;
    
        svg {
            color: $primary-color;
        }
    }

    svg {
        font-size: 16px;
        width: 20px!important;
        color: darken($middle-grey, 10%);
        margin: 0 2em;
        @include respond-down($sm) {
            width: 1em!important;
        }
    }
}

.popup-menu {
    a.menu-link, button.menu-link {
        svg {
            margin-left: 0;
        }

        &:hover, &:focus {
            background: transparent;
        }
    }
}

// Main CTA's

.btn-primary {
    @include round-btn;
    color: $primary-color;
    border: 2px solid $primary-color;
    background-color: transparent;
    

    &:hover, &:focus, &:active {
        background-color: $primary-color;
        color: $light-grey;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  
    }
}

.btn-secondary-outline {
    @include round-btn;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    background-color: transparent;
    

    &:hover, &:focus, &:active {
        background-color: $secondary-color;
        color: $light-grey;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  
    }
}

.btn-accent-outline {
    @include round-btn;
    color: $brand-accent;
    border: 2px solid $brand-accent;
    background-color: transparent;
    

    &:hover, &:focus, &:active {
        background-color: $brand-accent;
        color: $light-grey;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  
    }
}

.btn-icon-left, .btn-icon-right {
    @include round-btn;
    color: $grey;
    background: #fff;
    box-shadow: $card-shadow;
    padding: 5px 3em;
    font-weight: $semi-bold;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-down($sm) {
        padding: 5px 42px
    }

    svg {
        color: $secondary-color;
        margin-right: 20px;
        font-size: 16px;
        &.small {
            font-size: 13px;
        }
    }

    span {
        
        padding: 0;
    }
    

    &:hover, &:focus, &:active {
        background-color: $secondary-color;
        color: #fff;
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        // animation: pulse-blue 2s infinite;  

        svg {
            transition: all 300ms ease-in-out;
            color: #fff;
        }
    }

    // @include respond-down($sm) {
    //     color: $secondary-color;
    //     background: none;
    //     box-shadow: none;
    // }
}

.btn-icon-left {
    svg {
        margin: 0 20px 0 0px;
    }
}
.btn-icon-right {
    svg, span.emoji {
        margin: 1px 0 0 20px;
    }

    span.emoji {
        font-size: 18px;
    }
}

.btn-disabled {
    @include round-btn;
    color: $grey;
    padding: 5px 3em;
    border: 2px solid $middle-grey;
    background-color: $middle-grey;
    box-shadow: none!important;
    font-weight: $semi-bold;
    

    &:hover, &:focus, &:active {
        // box-shadow: 0 0 0 rgba(255, 255, 255, 1)!important;
        cursor: inherit!important;
        background: $middle-grey;
        color: $grey;
        // animation: pulse-blue 2s infinite;  
    }

    @include respond-down($sm) {
        background: none;
        border: none;
    }
}

.open-side-component {
    position: absolute;
    left: -5px;
    top: 4em;
    width: 45px;
    height: 50px;
    border-radius: 5px;
    background: $light-grey;
    box-shadow: $card-shadow;

    @include respond-down($sm) {
        top: -1em;
        transform: rotate(90deg);
        left: calc(50% - 22.5px);
    }

    svg {
        font-size: 16px;
        color: $grey;
        margin-left: 5px;
    }
}

.close-btn {
    @extend %flex-center;
    font-weight: $bold;
    span {
        margin: 0;
    }
    svg {
        font-size: 16px;
        margin: -1px 0 0 -1px;
    }
}

    
button.add-form-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    color: $secondary-color;
    margin: 1em 0 3em 1em;

    svg {
        margin-right: 1em;
        font-size: 14px;
        color: $secondary-color;
    }
}

//////////////////
//////////////////
// Headers & Text

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 1.2px;
    font-family: $title-font;
}

h1 {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: $extra-bold;
    color: $title-black;

    &.section-title {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
        margin: 0 auto 15px auto;

        @include  respond-down($sm) {
            margin: 0;
        }
    }

    &.border-bottom {
        // Bottom Border
        &::after {
            content: "";
            background: $border-color;
            top: 20px;
            left: 45%;
            display: flex;
            height: 2px;
            position: relative;
            width: 10%;
        }
    }
}

h2, h2 input {
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: $bold;
    color: $title-black;

    &.card-title {
        margin-bottom: 30px;
    }

    &.border-bottom {
        // Bottom Border
        &::after {
            content: "";
            background: $border-color;
            top: 15px;
            left: 20%;
            display: flex;
            height: 2px;
            position: relative;
            width: 60%;
        }
    }
}

h3 {
    color: $title-black;
    font-size: 22px;
    font-weight: $extra-bold;
    margin-left: 1em;
}

h4 {
    color: $title-black;
    font-size: 20px;
    font-weight: $bold;
    font-family: $main-font;
}

h5, .h5 {
    color: $text-black;
    font-size: 18px;
    font-weight: $bold;
    font-family: $main-font;
    letter-spacing: 1.2px;

    &.border-bottom {
        // Bottom Border
        &::after {
            content: "";
            background: $grey;
            top: 15px;
            left: 0;
            display: flex;
            height: 2px;
            position: relative;
            width: 30%;
        }
    }
}

h6 {
    font-family: $main-font;
    font-size: 16px;
    font-weight: $regular;
    color: $grey;
    letter-spacing: 2px;

    &.subtitle {
        margin: 0 5px 0 3px;
    }
}

p, span {
    font-family: $main-font;
    letter-spacing: 1px;
    line-height: 1.6;

    &.section-text {
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        color: $text-black;
        font-weight: $regular;
    }

    &.card-text {
        margin: 0 auto;
        font-size: 14px;
        color: $text-black;
        font-weight: $regular;
    }

    &.light-text {
        font-size: 14px;
        color: $grey;
        font-weight: semi-bold;
    }

    &.half-width {
        width: 49%;
    }

    &.read-more {
        overflow: visible;
        height: auto!important;

        @include respond-down($sm) {
            &::after {
                display: none;
            }
        }
    }

    &.has-read-more {
        height: 70px;
        position: relative;

        @include respond-down($sm) {
            height: 70px;

            &::after {
                content: '';
                width: 100%;
                height: 100%;    
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(transparent 30px, white);
            }
        }
    }
}

//////////////////
//////////////////
// Links

a {
    text-decoration: none;

    &:hover, &:focus, &:active {
        cursor: pointer;
    }

    &.inverted {
        &::after {
            pointer-events: none;
            opacity: 0.8;
            border-bottom: 1.8px solid $middle-grey!important;
        }
    }
}

.text-link, button.text-link {
    color: $primary-color;
    font-family: $main-font;
    font-weight: $regular;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 5px;

    &:hover, &:focus {
        color: $primary-color;
        transition: all 0.4s ease-in-out;

        &::after {
            height: 4px;
            width: 98%;
            opacity: 0.8;
            border-bottom: 1.2px solid $primary-color;
            right: 0!important;
            pointer-events: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        display: flex;
        height: 4px!important;
        bottom: 0;
        width: 0;
        border-bottom: 1.2px solid transparent;
        transition: all 0.4s ease-in-out;
        pointer-events: none;
    }
}

//////////////////
//////////////////
// Lists

ul {
    margin: 0;
    padding: 0;

    li, li input {
        margin: 0;
        padding: 5px 0;
        list-style: none;
        font-family: $main-font;
        font-weight: $regular;
        font-size: 16px;
        color: $black;
        letter-spacing: 1px;

        a {
            text-decoration: none;
            
        }
    }
}


.main-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

// Dividers 

.circle-divider {
    width: 3px;
    height: 3px;
    background: $secondary-color;
    border-radius: 50%;
    margin: 0 1em;
}


//////////////////
// Search bars
//

.overview-search-bar {
    align-items: center;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: auto;
    width: 150px;

    &__input {
        background: none;
        border: solid $border-color;
        border-width: 0 0 1px 0;
        color: $text-black;
        font-size: 14px;
        font-weight: $regular;
        font-family: $main-font;
        height: 100%;
        letter-spacing: 1px;
        width: 80%;

        &:hover, &:focus {
            outline: 0;
            border-bottom: 2px solid $border-color;
        }
    }

    svg {
        font-size: 16px;
        color: $icon-black;
        margin-left: -10px;
    }
}

.no-search-result {
    text-align: center;
    width: 80%;

    a.text-link {
        font-size: 12px;
        display: flex;
        margin: 1em auto;
        text-align: center;
        justify-content: center;
        width: 70px;
    }
}

// Mat overlays

::ng-deep {
    .mat-drawer-transition .mat-drawer-backdrop {
            display: none;
    }

    .mat-drawer-backdrop.mat-drawer-shown {
            visibility: hidden;
            background-color: transparent;
    }
}

// Mat Cards

mat-card {
    &.dark-card {
        background: $black!important;
        box-shadow: $card-shadow;
        border-radius: 5px;
        padding: 20px 1.5em;
    }
}

// Mat Snackbar

.success-snackbar {
    background: $icon-black!important;
    span {
        font-family: $main-font;
        font-size: 14px;
        font-weight: $regular;
        color: rgba(255, 255, 255, 0.75);
        letter-spacing: 0.8px;
    }
    .mat-button-wrapper {
        background: transparent;
        color: #fff;
        font-family: $main-font;
        font-weight: $semi-bold;
        &:hover, &:focus {
            transform: scale(1.1);
        }
    }
}

// Mat Menu
.mat-menu-panel {
    .list-item-menu {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 10px;

        button {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            svg {
                margin-right: 10px;
                width: 20px;
            }
        }
    }
}

//////////////////
//////////////////
// Toolbars

.action-toolbar-top {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 1em 1em;
    border-bottom: 2px solid $middle-grey;
    margin-bottom: 2em;


    .left, .right {
        @extend %flex-center;
        flex-flow: row nowrap;
        height: 100%;
        width: auto;
    }

    h1 {
        @include respond-down($sm) {
            font-size: 22px;
            text-align: center;
            margin-top: 0;
            width: 60%;
        }
    }

    .right {
        button {
            margin-left: 2em;
            svg {
                font-size: 16px;
            }

            &.edit-button {
                svg {
                    margin: 0 0 0 -1px;
                }
            }

            &.action-btn {
                svg {
                    font-size: 20px;
                }
            }
        }
    }
}

//////////////////
//////////////////
// Forms

form {
    mat-label, .mat-step-label {
        font-family: $main-font;
        font-size: 18px;
        font-weight: $semi-bold;
        letter-spacing: 1px;
    }
    
    .mat-form-field {
        input, textarea, mat-select, ::placeholder {
            font-family: $main-font!important;
            font-size: 16px!important;
            letter-spacing: 1.5px!important;
            font-weight: $regular!important;
        }

        input, textarea, mat-select {
            font-weight: $extra-bold!important;
            color: $black!important;
            padding: 10px 0.2em!important;
            caret-color: $primary-color!important;
            border-bottom: 1.5px solid $middle-grey!important;

            &.active {
                transition: all 400ms ease-in;
            }
        }

        mat-select {
            &.active {
                border-bottom: 2px solid $grey!important;
            }
        }

        ::placeholder {
            color: $text-black;
        }
    }

    .mat-form-field-underline {
        display: none!important;
    }

    .mat-form-field-label, .mat-form-field-invalid .mat-form-field-label {
        font-family: $main-font!important;
        font-weight: $regular!important;
        font-size: 16px!important;
        letter-spacing: 1px!important;
        color: $primary-color!important;
    }

    .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
        border-bottom: 1.5px solid $middle-grey!important;
        caret-color: $brand-danger!important;
    }

    mat-hint {
        a {
            font-family: $main-font;
            font-size: 14px;
            font-weight: $regular;
            color: $text-black;
        }
    }

    mat-error {
        color: $brand-danger!important;
        margin-bottom: 5px;
        font-size: 12px;
    }

}

// Override styling for mat selects arrow bug
.ng-touched .mat-select-arrow-wrapper {
    transform: translateY(0%)!important;
}

.mat-select-disabled 
.mat-select-arrow-wrapper
{
    transform: translateY(0%)!important;
}

mat-select.ng-dirty{
    .mat-select-arrow-wrapper {
        transform: translateY(0%)!important;
    } 
}

.mat-form-field-appearance-standard.mat-form-field-has-label .mat-select:not(.mat-select-empty) .mat-select-arrow-wrapper {
    transform: translateY(0%)!important;
}

// Mat Stepper

.mat-step-icon {
    border-radius: 5%!important;

    &-selected {
        background: $icon-black!important;
    }
    &-state-edit {
        background: $primary-color!important;
    }
}

.mat-step-label {
    font-family: $main-font!important;
    font-size: 16px!important;
    font-weight: $regular!important;
}

.mat-step-label-active {
    font-family: $main-font!important;
    font-size: 16px!important;
    font-weight: $semi-bold!important;
}

// Mat select

.dropdown-regular  {
    border-radius: 0;
    min-width: 100%!important;
    box-shadow: $card-shadow;

    mat-option {
        font-family: $main-font;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: $semi-bold;
        color: $text-black;
    }
    .mat-option.mat-selected:not(.mat-option-disabled){
        color: $secondary-color;
    }
}

// Mat Tooltip

.tooltip {
    &-warning, &-info {
        font-size: 14px;
        font-family: $main-font;
        letter-spacing: 0.5px;
        text-align: center;
    }

    &-warning {
        background-color: $brand-danger;
    }
    &-info {
        background-color: $primary-color;
    }
}

// MISC

.hidden {
    position: relative;
    visibility: hidden;
    pointer-events: none;
    height: 0;
    z-index: -5;
}

.no-photo {
    @extend %flex-center;
    background: darken($light-grey, 5%);
    font-size: 18px;
    font-family: $main-font;
    text-align: center;
    font-weight: $semi-bold;
    p {
        color: $primary-color;
    }

    svg {
        font-size: 42px;
        margin-bottom: 1vh;
    }
}

.emoji {
    font-size: 22px;
    vertical-align: middle
}

// Detail view

.specialist-wrapper {
    min-height: calc(100vh - 66px);
    min-width: 75vw;
    max-width: 75vw;
    height: 100%;

    @include respond-down($sm) {
        min-width: 100vw;
        max-width: 100vw;
    }

    .specialist-header {
        background: #fff;
        box-shadow: $card-shadow;
        border-radius: 4px;
        height: 380px; 
        .profile-picture {
            border-radius:  4px 0 0 4px!important;
        }
        div.quick-info {
            flex-flow: column wrap!important;
            width: 60%!important;
            padding: 1.5em 3.5em 1em!important;
            position: relative!important;
            box-sizing: border-box;

            .timezone {
                top: 1em!important;
                color: $secondary-color!important;
                border: 2px solid $secondary-color!important;
            }

            .fact {
                svg {
                    color: $secondary-color!important;
                }
            }
        }
    }
    section {
        &.middle {
            background: #fff;
            box-shadow: $card-shadow;
            padding: 2em;

            h5 {
                @include  respond-up($sm) {
                    display: block;
                }
            }
        }
    }

    section.list-display{
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: $card-shadow;
        margin: 2em 0;
        padding: 1em 2em 2em;
        height: auto;
        width: 100%;

        @include respond-down($sm) {
            padding: 1em 1.5em 2em;
        }
    
        .section-title {
            text-align: left;
            margin: 0.5em 0 0 0.5em;
        }
    
        .list-display__container {
            box-sizing: border-box;
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            width: 100%;

            &-header {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                height: 40px;
                margin: 0;
                padding: 0 15px;
                width: 100%;

                @include respond-down($sm) {
                    padding: 1em 5px;
                    margin-right: 0;
                }

                h3 {
                    font-size: 16px;
                    margin: 0;
                    width: 170px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    @include respond-down($sm) {
                        width: 90px;
                    }

                    &:first-child {
                        width: 65px;

                        @include respond-down($sm) {
                            margin: 0;
                            width: 40px;
                        }
                    }

                    &.created {
                        @include respond-down($sm) {
                            width: 165px
                        }
                    }
                }

                .number {
                    @include respond-down($sm) {
                        min-width: 30px!important;
                        width: 30px!important;
                    }
                }
            }


        }
    }
}

// General responsive styles

.not-mobile {
    display: flex;
    @include respond-down($sm) {
        display: none!important;
    }
}

.mobile {
    display: flex;
    @include respond-up($sm) {
        display: none!important;
    }
}


.swipe {
    margin: 25px 0 0 40vw!important;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    color: $grey;

    svg {
        margin: 2px 0 0 10px;
        font-size: 15px;
        color: $grey;
    }
}