@import './../../../assets/scss/master';
@import './../../../assets/scss/dialogs';
@import './../../../assets/scss/forms';

::ng-deep {
    .mat-slider-thumb, .mat-slider-thumb-label, .mat-slider-track-fill {
        background-color: $primary-color !important;
    }
}

::ng-deep .first-consultation-dialog {
    height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    width: 100vw;

    .mat-dialog-container {
        padding: 0;

        @include respond-down($sm) {
            border-radius: 0;
        }

        .close-section {
            z-index: 150;

            @include respond-down($sm) {
                position: relative;
                top: 4.5em;
            }

            .close-btn {
                &.not-mobile {
                    position: fixed;
                    right: 15px;
                    top: 15px;
                    z-index: 1500;

                    svg {
                        margin-right: 0;
                    }
                }

                &.mobile {
                    position: relative;
                    top: 10px;
                    left: 20px;

                    svg {
                        margin-right: 10px;
                    }
                }
            }
        }

        main.dialog-wrapper {
            display: flex;
            flex-flow: row nowrap;
            position: relative;
            max-height: 100vh;
            overflow: hidden;

            @include respond-down($sm) {
                display: block;
                max-height: none;
                overflow: auto;
            }
        }

        .navigation {
            border-right: 1px solid $border-color;
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            width: 25%;
            padding: 40px 0 calc(40px - 1.5em) 40px;
            overflow-y: auto;
            position: relative;

            @include respond-down($sm) {
                display: none;
            }

            &__link-container {
                display: flex;
                flex-flow: column nowrap;
                height: auto;
                margin-bottom: 1.5em;
                width: 100%;

                ul {
                    li {
                        margin: 10px 0 0 7px;
                        color: lighten($text-black, 5%);
                        font-size: 14px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                h4 {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    font-size: 16px;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    svg {
                        display: none;
                    }

                    &.valid {
                        svg {
                            display: block;
                            color: $primary-color;
                            font-size: 18px;
                            margin-left: .75em;
                        }
                    }
                }
            }
        }

        .mat-stepper-horizontal {
            height: 100%;
            overflow-y: auto;
            width: 75%;

            .mat-horizontal-stepper-header-container {
                margin: 0 auto 0 0;
                width: 94%;

                @include respond-up($md) {
                    display: none;
                }
            }

            .mat-step-label {
                @include respond-down($sm) {
                    display: none;
                }
            }

            .mat-horizontal-content-container {
                position: relative;
                min-height: 98vh;

                @include respond-down($sm) {
                    border: none;
                }

                .title-area {
                    padding: 4em 4em 1em;
                    margin: 0 0 1em;

                    @include respond-down($sm) {
                        padding: 0;
                        margin: 4em 0 1em;
                    }

                    h3 {
                        margin: 0;
                    }
                }

                form {
                    align-items: flex-start;
                    box-sizing: border-box;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    padding: 0em 4em 2em;
                    margin-bottom: 70px;
                    min-height: calc(100vh - 210px);
                    width: 100%;

                    @include respond-down($sm) {
                        flex-flow: column nowrap;
                        padding: 0;
                        margin: 1em 0 5em;
                        height: auto;
                    }

                    &.personal-form {
                        min-height: calc(100vh - 257px);
                    }

                    .time-range {
                        display: flex;
                        flex-flow: column nowrap;
                        margin-right: 5%;
                        width: 45%;

                        @include respond-down($sm) {
                            margin: 0;
                            width: 100%;
                        }

                        label {
                            color: $primary-color;
                            font-family: $main-font;
                            font-size: 14px;
                            position: relative;
                            top: 15px;
                            width: 100%;
                        }

                        .time-form-container {
                            display: flex;
                            flex-flow: row nowrap;
                            margin-top: -9px;
                            width: 100%;

                            mat-form-field {
                                margin-right: 10% !important;
                                width: 40%;
                            }
                        }
                    }

                    .radio-form-field {
                        display: flex;
                        flex-flow: row wrap;
                        margin: 20px 5% 20px 0;
                        width: 45%;
                        
                        @include respond-down($sm) {
                            margin: 20px 0;
                            width: 100%;
                        }

                        &.activity-confirmations {
                            margin: 20px 0;
                            width: 100%;
                        }

                        &.gastritis {
                            margin: auto 1em;
                        }

                        .radio-form-label {
                            margin-bottom: 10px;
                            color: $primary-color;
                            font-family: $main-font;
                            font-weight: $regular;
                            font-size: 14px;
                            letter-spacing: .25px;
                            width: 100%;
                        }

                        mat-radio-group {
                            width: 30%;

                            mat-form-field {
                                ::ng-deep .mat-form-field-infix {
                                    margin: -30px 0 0;
                                    padding: 0;
                                }
                            }

                            mat-radio-button {
                                margin: 10px 0;

                                .mat-radio-label-content {
                                    font-size: 15px;
                                    margin: 1px 0 0 10px;
                                }
                            }
                        }

                        mat-form-field {
                            width: 60%;
                        }
                    }

                    .slider-container {
                        display: flex;
                        flex-flow: row nowrap;
                        width: 100%;

                        @include respond-down($sm) {
                            flex-flow: column nowrap;
                        }

                        .mat-form-field {
                            margin-right: 5%;
                        }
                    }

                    .form-slider-field {
                        background: #fff;
                        box-shadow: $card-shadow;
                        margin: 12px 12px 30px 0;
                        padding: 2em 3em;
                        height: auto !important;
                        width: 48%;

                        @include respond-down($sm) {
                            box-sizing: border-box;
                            margin: 0 0 30px !important;
                            padding: 1.5em 2em 2em 2em;
                            width: 100%;
                        }

                        .label {
                            max-width: 70%;

                            @include respond-down($sm) {
                                max-width: 70%;
                            }
                        }

                        &:first-child {
                            margin-right: 2em;
                        }
                    }

                    .slider {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        margin-top: 19px;
                        width: 100%;

                        @include respond-down($sm) {
                            width: 87%;
                        }

                        mat-slider {
                            position: relative;
                            min-width: 70%;

                            &::before, &::after {
                                font-size: 14px;
                                font-family: $main-font;
                                font-weight: $bold;
                                height: 15px;
                                letter-spacing: 1px;
                                position: absolute;
                                top: 3em;
                                width: 15px;
                            }

                            &.hungry {
                                &::before {
                                    content: '0';
                                    left: 0;
                                }

                                &::after {
                                    content: '10';
                                    right: 0;
                                }
                            }

                            &.home-work {
                                &::before {
                                    content: '0';
                                    left: 0;
                                }

                                &::after {
                                    content: '180';
                                    right: 0;
                                }
                            }
                        }

                        .percentage-circle {
                            background-color: $primary-color;
                            border-radius: 50%;
                            border: 2px solid #fff;
                            box-sizing: border-box;
                            color: #fff;
                            font-size: 17px;
                            font-weight: $bold;
                            height: 63px;
                            letter-spacing: 0.5px;
                            margin-top: -30px;
                            position: relative;
                            right: -5px;
                            width: 63px;
                            z-index: 10;

                            @extend %flex-center;
                            @include respond-down($sm) {
                                right: -35px;
                                top: 10px;
                            }

                            &::before {
                                border-radius: 50%;
                                border: 2px solid $primary-color;
                                content: '';
                                position: absolute;
                                width: 65px;
                                height: 65px;
                                left: -5px;
                                top: -5px;
                                z-index: 5;
                            }

                            span {
                                margin-left: 0;
                                font-weight: $extra-bold;
                            }
                        }
                    }

                    .big-category {
                        border-top: 1px solid $border-color;
                        border-bottom: 1px solid $border-color;
                        display: flex;
                        flex-flow: row wrap;     
                        height: 100%;
                        padding: 2em 0;
                        width: 100%;

                        &__title {
                            width: 100%;
                        }

                        &.dinner {
                            border-bottom: none;
                        }

                        &.weekends {
                            border-bottom: none;
                            border-top: none;
                        }

                        .time-range {
                            width: 45%;
                            margin-right: 5%;

                            @include respond-down($sm) {
                                margin: 0;
                                width: 100%;
                            }
                        }
                    }

                    .add-form-field-container {
                        margin: 0 0 1em;
                        width: 100%;

                        h3 {
                            width: 100%;
                        }

                        .number-id {
                            height: 110px;

                            @include respond-down($sm) {
                                height: 108px;
                            }
                        }

                        mat-form-field {
                            margin: 0 !important;
                            width: 100%;
                        }

                        .btn-area {
                            height: 100%;
                            min-height: 110px;
                            position: relative;
                            width: 80px;

                            @include respond-down($sm) {
                                min-height: 108px;
                            }
                        }

                        .dynamic-form-field-container {
                            margin: 20px 5% 20px 0;
                            width: 45%;

                            @include respond-down($sm) {
                                margin: 20px 0;
                                height: 110px;
                                width: 100%;
                            }

                            &.multiple-fields {
                                display: flex;
                                height: auto;
                                margin: 20px 0;
                                width: 100%;

                                @include respond-down($sm) {
                                    flex-flow: column nowrap;
                                }

                                .number-id, .btn-area {
                                    height: 421px;
                                    min-height: 421px;

                                    @include respond-down($sm) {
                                        height: 60px;
                                        min-height: 60px;
                                        width: 100%;
                                    }
                                }

                                .form-fields {
                                    align-items: flex-start;
                                    border: solid $light-border-color;
                                    border-width: 1px 0 1px 0;
                                    display: flex;
                                    flex-flow: row wrap;
                                    height: 420px;
                                    justify-content: flex-start;
                                    width: 100%;

                                    @include respond-down($sm) {
                                        border-width: 0 1px;
                                        flex-flow: column nowrap;
                                        height: 100%;
                                    }

                                    .time-form-container {
                                        @include respond-down($sm) {
                                            mat-form-field {
                                                width: 45%;
                                            }
                                        }
                                    }
    
                                    mat-form-field, .time-range {
                                        box-sizing: border-box;
                                        border: none;
                                        height: 100px;
                                        margin: 0 10px 0 0;
                                        width: 45%;

                                        @include respond-down($sm) {
                                            width: 100%;
                                        }
                                    }

                                    mat-form-field {
                                        &.number {
                                            input {
                                                margin-top: 0;
                                            }
                                        }
                                    }

                                    .time-range {
                                        label {
                                            left: 20px;
                                            top: 19px;
                                        }

                                        .time-form-container {
                                            margin-top: -18px;
                                        }
                                    }
                                }
                            }
                        }

                        .add-form-field {
                            width: 70%;

                            @include respond-down($sm) {
                                margin: 0.5em 0 0 1em;
                            }
                        }
                    }
    
                    mat-form-field, .mat-form-field {
                        margin-top: 1em;
                        height: 100%;
                        width: 40%;

                        @include respond-down($sm) {
                            width: 100%;
                            margin-bottom: 0px;
                            height: auto;
                        }
    
                        &:nth-child(1n) {
                            margin-right: 10%;
                        }

                        &:first-child, &:nth-child(2) {
                            margin-top:  0;
                        }

                        &.number {
                            input {
                                margin-top: 10px;
                                width: 55px;

                                @include respond-down($sm) {
                                    margin-top: 0;
                                }
                            }

                            .specifier {
                                position: relative;
                                top: -9px;
                            }
                        }

                        textarea {
                            border: 1.5px solid $middle-grey !important;
                            caret-color: $primary-color !important;
                            line-height: 29px;
                            margin-top: 0.75em;
                            padding: 0.75em 1em 2em!important;
                            background: $light-grey;

                            @include respond-down($sm) {
                                width: 100%;
                                box-sizing: border-box;
                                min-height: 100px !important;
                            }

                            &::placeholder {
                                color: $grey;
                            }
                        }


                        &.date-picker {
                            input {
                                margin: 12px 20px 0 0;
                                width: 60%;

                                @include respond-down($sm) {
                                    width: 80%;
                                }
                            }
                        }
                    }

                    .mat-form-field {
                        .label {
                            color: $primary-color;
                            display: flex;
                            font-family: $main-font;
                            font-size: 14px;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            max-width: 80%;

                            @include respond-down($sm) {
                                max-width: 100%;
                            }
                        }
                    }

                    .phone-number {
                        display: flex;
                        flex-flow: row nowrap;
                        margin: 15px 25% 0 0;
                        width: 25%;
                        
                        mat-form-field {
                            &:first-child {
                                width: 40%;
                            }

                            &:last-child {
                                width: 60%;

                                input {
                                    margin-top: 10px;
                                }
                            }
                        }
                        @include respond-down($sm) {
                            width: 100%;

                            mat-form-field {

                                &:first-child {
                                    margin-right: 0;
                                    width: 30%;

                                    input {
                                        margin-top: 0;
                                    }
                                }

                                &:last-child {
                                    margin: 10px 0 0 10%;
                                    width: 60%;
                                }
                            }
                        }
                    }

                    section {
                        box-sizing: border-box;
                        display: flex;
                        flex-flow: row wrap;
                        width: 100%;

                        h3 {
                            margin: 1em 0;
                            width: 100%;
                        }

                        mat-form-field {
                            @include respond-down($sm) {
                                margin-right: 0!important;
                            }

                            &:nth-child(1n) {
                                margin-right: 10%;
                            }

                            &:nth-child(3) {
                                margin-top: 0;
                            }
                        }
                    }
                }

                .btn-area, .btn-area-one {
                    background-color: #fff;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}