<section class="admin-menu">
    <div class="title-container">
      <h5 class="sidebar-title" [class.active]="!linksOpened">
        Admin
      </h5>
      <section class="btn-area">
        <button type="button" (click)="toggle()" *ngIf="linksOpened">
          <i class="fas fa-minus"></i>Hide
        </button>
        <button type="button" (click)="toggle()" *ngIf="!linksOpened">
          <i class="fas fa-plus"></i>Show
        </button>
      </section>

    </div>
    <ul class="link-container" [@openClose]="linksOpened ? 'open' : 'closed'">
      <li>
        <a class="menu-link" routerLink="users" routerLinkActive="active">
          <i class="fas fa-users"></i>
          All Users
        </a>
      </li>
      <li>
        <a class="menu-link" routerLink="specialists" routerLinkActive="active">
          <i class="fas fa-user-ninja"></i>
          Specialists
        </a>
      </li>
      <li>
        <a class="menu-link" routerLink="clients" routerLinkActive="active">
          <i class="fas fa-user-tie"></i>
          Clients
        </a>
      </li>
      <li>
        <a class="menu-link" routerLink="user-requests" routerLinkActive="active">
          <i class="fas fa-check-circle"></i>
          User requests
        </a>
      </li>
      <li>
        <a class="menu-link" routerLink="packages" routerLinkActive="active">
          <i class="fas fa-box"></i>
          Packages
        </a>
      </li>
      <li>
        <a class="menu-link" routerLink="booking" routerLinkActive="active">
          <i class="fas fa-calendar-alt"></i>
          Calendar
        </a>
      </li>
    </ul>
  </section>
