<main class="dialog-wrapper">
    <div class="close-section  mobile">
      <button class="text-link close-btn" (click)="closeDialog()" type="button">
        <i class="mobile fas fa-arrow-left"></i> {{ 'global.buttons.back' | translate }}
      </button>
    </div>

    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="signUpForm">
          <form [formGroup]="signUpForm">
          <ng-template matStepLabel>{{ 'pages.client.form.general_info' | translate }}</ng-template>
          <h3>👩‍🦰 {{ 'pages.client.form.account_settings' | translate }}</h3>
          <p class="card-text">
            {{ 'pages.specialist.form.account_settings_detail' | translate }}
          </p>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.client.form.email_as_user' | translate }}</mat-label>
            <input type="text" matInput autocomplete="off" required
              placeholder="{{ 'pages.specialist.form.your_email' | translate }}"
              formControlName="email" [class.active]="!email.valid && email.touched"
              autofocus>
            <mat-error class="input-error" *ngIf="!email.dirty">
              {{ 'global.errors.required' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="!email.valid && email.dirty">
              {{ 'global.form.errors.invalid_email' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.client.form.type_pass' | translate }}</mat-label>
            <input class="form-input" type="password" matInput required
              placeholder="{{ 'pages.specialist.safe_warning_s' | translate }}"
              [type]="hide ? 'password' : 'text'" formControlName="password"
              [class.active]="!password.valid && password.touched"
              autocomplete="new-password">
            <mat-error class="input-error" *ngIf="!password.dirty">
              {{ 'global.errors.required' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="password.errors?.minlength">
              {{ 'global.form.errors.not_enough_chars' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="password.errors?.maxlength">
              {{ 'global.form.errors.too_much_chars' | translate }}
            </mat-error>
            <mat-error class="input-error" *ngIf="password.errors?.pattern">
              {{ 'global.form.errors.password_special_char' | translate }}
            </mat-error>
          </mat-form-field>

          </form>
          <section class="btn-area-one">
            <button class="dialog-button" matStepperNext>
              {{ 'global.buttons.next' | translate }}
            </button>
          </section>
        </mat-step>
        <mat-step [stepControl]="personalForm">
          <form [formGroup]="personalForm">
          <ng-template matStepLabel>{{ 'pages.client.form.personal' | translate}}</ng-template>
          <h3>📖 {{ 'pages.client.form.important_info' | translate}}</h3>
          <p class="card-text">
            {{ 'pages.specialist.form.personal_data' | translate }}
          </p>
      
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.specialist.general.specialist_id' | translate }}</mat-label>
            <input type="text" matInput formControlName="specialistID" placeholder="Serves as a quick lookup helper" autocomplete="new-password">
            <mat-hint *ngIf="!personalForm['controls'].specialistID.dirty">
              {{ 'pages.specialist.errors.8_chars' | translate }}
            </mat-hint>
            <mat-error class="input-error" *ngIf="!personalForm['controls'].specialistID.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.form.first_name' | translate }}</mat-label>
            <input type="text" matInput formControlName="firstName"
              placeholder="{{ 'pages.specialist.form.specialist_name_ph' | translate }}"
              autofocus="none">
            <mat-error class="input-error" *ngIf="!personalForm['controls'].firstName.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.form.last_name' | translate }}</mat-label>
            <input type="text" matInput formControlName="lastName"
              placeholder="The last name" autocomplete="off">
            <mat-error class="input-error" *ngIf="!personalForm['controls'].lastName.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>

          </form>
          <section class="btn-area">
            <button class="dialog-button" matStepperPrevious>
              {{ 'global.buttons.back' | translate }}
            </button>
            <button class="dialog-button" matStepperNext>
              {{ 'global.buttons.next' | translate }}
            </button>
          </section>
        </mat-step>

        <mat-step class="image-uploader-container">
          <ng-template matStepLabel>{{ 'global.words.picture' | translate }}</ng-template>
          <div class="image-uploader-container">
            <section class="photo-title">
                <h3>📷 {{ 'pages.specialist.form.profile_image' | translate }}</h3>
                <p class="card-text image-subtitle">
                  {{ 'pages.specialist.form.profile_image_detail' | translate }}
                </p>
            </section>

            <div class="image-uploader">
              <app-file-upload (imageEvent)="receiveDownloadURL($event)"></app-file-upload>
            </div>
          </div>

          <section class="btn-area">
            <button class="dialog-button" matStepperPrevious>
              {{ 'global.buttons.back' | translate }}
            </button>
            <button class="dialog-button" matStepperNext>
              {{ 'global.buttons.next' | translate }}
            </button>
          </section>
        </mat-step>

        <mat-step [stepControl]="aboutForm">
          <form [formGroup]="aboutForm">
          <ng-template matStepLabel>{{ 'global.words.about' | translate }}</ng-template>
          <h3>👨🏻‍⚕️ {{ 'pages.specialist.form.about_specialist' | translate }}</h3>
          <p class="card-text">
            {{ 'pages.specialist.form.about_specialist_ph' | translate }}
          </p>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.form.short_desc' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="description"
              placeholder="{{ 'global.form.short_desc_ph' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off">
            </textarea>
            <mat-error class="input-error" *ngIf="!aboutForm['controls'].description.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.form.phone_number' | translate }}</mat-label>
            <input type="number" matInput formControlName="phoneNumber"
              placeholder="{{ 'pages.specialist.form.phone_nr_ph' | translate }}"
              autofocus="off" autocomplete="off">
            <mat-error class="input-error" *ngIf="!aboutForm['controls'].phoneNumber.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
          </form>

          <section class="btn-area">
            <button class="dialog-button" matStepperPrevious>
              {{ 'global.buttons.back' | translate }}
            </button>
            <button class="dialog-button" matStepperNext>
              {{ 'global.buttons.next' | translate }}
            </button>
          </section>
        </mat-step>

        <mat-step [stepControl]="experienceForm">
          <form [formGroup]="experienceForm">
          <ng-template matStepLabel>{{ 'pages.specialist.general.experience' | translate }}</ng-template>
          <h3>🏆 {{ 'pages.specialist.general.experience' | translate }}</h3>
          <p class="card-text">
            {{ 'pages.specialist.form.experience_detail' | translate }}
          </p>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>
              {{ 'pages.specialist.form.position' | translate }}
            </mat-label>
            <input type="text" matInput formControlName="position" autocomplete="off"
              placeholder="{{ 'pages.specialist.form.position_ph' | translate }}"
              autofocus="off">
            <mat-error class="input-error" *ngIf="!experienceForm['controls'].position.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.specialist.general.speciality' | translate }}</mat-label>
            <input type="text" matInput formControlName="speciality"
              placeholder="{{ 'pages.specialist.form.speciality_detail' | translate }}"
              autofocus="off" autocomplete="off">
            <mat-error class="input-error" *ngIf="!experienceForm['controls'].speciality.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.specialist.general.years_experience' | translate }}</mat-label>
            <input type="number" matInput formControlName="yearsOfExperience"
              placeholder="{{ 'pages.specialist.form.amount_nr' | translate }}" autofocus="off" maxlength="2" autocomplete="off">
            <mat-error class="input-error" *ngIf="!experienceForm['controls'].yearsOfExperience.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.specialist.form.total_patients' | translate }}</mat-label>
            <input type="number" matInput formControlName="patientsTotal"
              placeholder="{{ 'pages.specialist.form.total_patients_ph' | translate }}"
              autofocus="off" autocomplete="off">
            <mat-error class="input-error"
              *ngIf="!experienceForm['controls'].patientsTotal.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>

          </form>
          <section class="btn-area">
            <button class="dialog-button" matStepperPrevious>
              {{ 'global.buttons.back' | translate }}
            </button>
            <button class="dialog-button" matStepperNext>
              {{ 'global.buttons.next' | translate }}
            </button>
          </section>
        </mat-step>

        <mat-step [stepControl]="locationForm">
            <form [formGroup]="locationForm">
          <ng-template matStepLabel>{{ 'global.words.location' | translate }}</ng-template>
          <h3>🗺️ {{ 'global.word.location' | translate }}</h3>
          <p class="card-text">
            {{ 'pages.specialist.form.specialist_location' | translate }}
          </p>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.specialist.form.pick_timezone' | translate }}</mat-label>
            <mat-select matInput placeholder="Which timezone is he/she in?"
              [(value)]="selectedTimezone" panelClass="dropdown-regular"
              formControlName="timeZone" autocomplete="off" required>
              <mat-option *ngFor="let timezone of timezones | async"
                [value]="timezone.gmtValue">
                {{timezone.city}}, {{timezone.country}} / {{timezone.gmtValue}}
              </mat-option>
            </mat-select>
            <mat-error class="input-error" *ngIf="!locationForm['controls'].timeZone.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.words.city' | translate }}</mat-label>
            <input type="text" matInput formControlName="city" autofocus="off" autocomplete="off">
            <mat-error class="input-error" *ngIf="!locationForm['controls'].city.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'global.words.country' | translate }}</mat-label>
            <input type="text" matInput formControlName="country" autofocus="off" autocomplete="off">
            <mat-error class="input-error" *ngIf="!locationForm['controls'].country.valid">
              {{ 'global.errors.required' | translate }}
            </mat-error>
          </mat-form-field>

          </form>
          <section class="btn-area">
            <button class="dialog-button" matStepperPrevious>
              {{ 'global.buttons.back' | translate }}
            </button>
            <button class="dialog-button" matStepperNext>
              {{ 'global.buttons.next' | translate }}
            </button>
          </section>
        </mat-step>

        <mat-step [stepControl]="extrasForm">
            <form [formGroup]="extrasForm">
          <ng-template matStepLabel>{{ 'pages.specialist.form.extras' | translate }}</ng-template>
          <h3>🈳 {{ 'pages.specialist.general.languages' | translate }}</h3>
          <p class="intro-text">
            {{ 'pages.specialist.form.languages_detail' | translate }}
          </p>
          <div class="add-form-field-container" formArrayName="languageArr">
            <section class="dynamic-form-field-container" *ngFor="let language of languageForms.controls; let i=index" [formGroupName]="i">
              <div class="number-id">
                <h1>{{i+1}}</h1>
              </div>

              <div class="form-fields">
                <mat-form-field appearance="standard" floatLabel="always">
                  <mat-label>{{ 'pages.specialist.form.which_lang' | translate }}</mat-label>
                  <mat-select matInput required panelClass="dropdown-regular"
                    placeholder="{{ 'global.form.pick_language' | translate }}" 
                    formControlName="languageValue" autocomplete="off">
                    <mat-option *ngFor="let language of languages" [value]="language.name">
                      {{language.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error class="input-error" *ngIf="!languageValue.valid && extrasForm.touched">
                    {{ 'global.errors.required' | translate }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" floatLabel="always">
                  <mat-label>{{ 'pages.specialist.form.what_level' | translate }}</mat-label>
                  <mat-select matInput autocomplete="off" panelClass="dropdown-regular" 
                    placeholder="{{ 'pages.specialist.form.proficiency' | translate }}"
                    required formControlName="languageLevel" >
                    <mat-option *ngFor="let level of languageLevels" [value]="level.value">
                      {{level.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error class="input-error"
                    *ngIf="!languageLevel.valid && extrasForm.touched">
                    {{ 'global.errors.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="btn-area">
                <button mat-icon-button type="button" class="delete-btn"
                  (click)="deleteLanguage(i)">
                  <i class="fa__icon fa fa-trash"></i>
                </button>
              </div>
            </section>
          </div>

          <button type="button" class="add-form-field" (click)="addLanguage()">
            <i class="fa__icon fa fa-plus"></i>
            {{ 'pages.specialist.buttons.add_language' | translate }}
          </button>

          </form>

          <section class="btn-area">
            <button class="dialog-button" matStepperPrevious>
              {{ 'global.buttons.back' | translate }}
            </button>
            <button class="dialog-button" (click)="specialistSignUp()"
             [disabled]="!personalForm.valid || !aboutForm || !locationForm || !experienceForm || !extrasForm"
             [class.disabled]="!personalForm.valid || !aboutForm || !locationForm || !experienceForm || !extrasForm"
             mat-dialog-close>
              {{ 'global.buttons.done' | translate }}
            </button>
          </section>
      </mat-step>
    </mat-horizontal-stepper>
</main>
