<ng-container *ngIf="(auth.user | async) || {} as user">
  <section class="step-wrapper step-one" *ngIf="!user.basicData">
    <h5>{{ 'global.words.welcome' | translate }}, {{user.displayName || user.email}}</h5>
    <h1>{{ 'pages.signup.step_one.title' | translate }}</h1>

    <form [formGroup]="basicUserDataForm" (ngSubmit)="updateUser(user)" class="auth-form" *ngIf="!user.basicData">
      <div class="animated-container">
        <!-- Name -->
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'global.form.first_name' | translate }}</mat-label>
          <input type="text" matInput placeholder="John" formControlName="firstName" 
            autocomplete="off" required>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'global.form.last_name' | translate }}</mat-label>
          <input type="text" matInput placeholder="Doe" formControlName="lastName" 
            autocomplete="off" required>
        </mat-form-field>

        <!-- Age -->
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.signup.step_one.form.age_label' | translate }}</mat-label>
          <input type="number" matInput formControlName="age" 
            placeholder="{{ 'pages.signup.step_one.form.age_placeholder' | translate }}"
            autocomplete="off" min="18" max="90" required>
        </mat-form-field>

        <!-- Gender -->
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.signup.step_one.form.gender_label' | translate }}</mat-label>
          <mat-select matInput placeholder="{{ 'pages.signup.step_one.form.gender_placeholder' | translate }}"
            [(value)]="selectedGender" formControlName="gender" 
            panelClass="dropdown-regular" autocomplete="off" required>
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.viewValue | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Country of Residence -->
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.signup.step_one.form.country_label' | translate }}</mat-label>
          <mat-select matInput placeholder="{{ 'pages.signup.step_one.form.country_placeholder' | translate }}"
          panelClass="dropdown-regular" formControlName="country" autocomplete="off" required>
            <mat-option *ngFor="let country of countries" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Main Goal -->
        <mat-form-field class="textarea-field" appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.signup.step_one.form.main_goal_label' | translate }}</mat-label>
          <textarea matInput required
            placeholder="{{ 'pages.signup.step_one.form.main_goal_placeholder' | translate }}"
            formControlName="mainGoal" autocomplete="off" matTextareaAutosize>
          </textarea>
        </mat-form-field>

        <!-- Current weight -->
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.signup.step_one.form.current_weight_label' | translate }}</mat-label>
          <input type="number" matInput formControlName="currentWeight" 
            placeholder="{{ 'pages.signup.step_one.form.current_weight_placeholder' | translate }}"
            autocomplete="off" required>
        </mat-form-field>

        <!-- Phone Number -->
        <div class="multiple-input phone-field" formGroupName="phoneNumber">
          <mat-form-field class="area-code" appearance="standard" floatLabel="always">
              <mat-label>{{ 'pages.signup.step_one.form.area_code_label' | translate }}</mat-label>
              <mat-select matInput placeholder="+1"
              panelClass="dropdown-area-code" formControlName="phoneAreaCode" autocomplete="off" required>
                <mat-option *ngFor="let code of areaCodes" value="{{code.dial_code}}" class="dial-code">
                  <img 
                  src="./../../../../assets/img/icons/flags/{{code.name.toString().split(' ').join('-').replace(',', '').split('.').join('').split('(').join('').split(')').join('').toLowerCase() }}.svg">
                  <div class="country-content">
                    <span class="country-content__title">{{code.name}}</span>
                    <span class="country-content__code">{{code.dial_code}}</span>
                  </div>
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>{{ 'global.form.phone_number' | translate }}</mat-label>
              <input type="number"formControlName="phoneRest"  matInput placeholder="123456789" autocomplete="off">
          </mat-form-field>
        </div>

        <!-- How did you hear from us -->
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.signup.step_one.form.hear_from_us_label' | translate }}</mat-label>
          <mat-select matInput autocomplete="off" required formControlName="heardFromUs"
            placeholder="{{ 'pages.signup.step_one.form.hear_from_us_placeholder' | translate }}"
            panelClass="dropdown-regular">
            <mat-option *ngFor="let medium of mediums" [value]="medium.viewValue">
              {{ medium.viewValue | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="btn-area mobile">
          <button class="btn-icon-right no-bg" 
          [class.btn-disabled]="!basicUserDataForm.valid" 
          [disabled]="!basicUserDataForm.valid"
          type="submit">
            <span>{{ 'global.buttons.next_step' | translate }}</span>
            <i class="fa__icon fas fa-chevron-right small"></i>
          </button>
        </div>

      </div>

      <div class="btn-area not-mobile">
        <button class="btn-icon-right" 
        [class.btn-disabled]="!basicUserDataForm.valid" 
        [disabled]="!basicUserDataForm.valid"
        type="submit">
          <span>{{ 'global.buttons.next_step' | translate }}</span>
          <i class="fa__icon fas fa-chevron-right small"></i>
        </button>
      </div>
    </form>

    <div class="step-done" *ngIf="user.basicData"></div>

  </section>

  <section class="step-wrapper success" *ngIf="user.basicData">
    <h5>{{ 'global.words.welcome' | translate }}, {{user.displayName || user.email}}</h5>
    <h1>{{ 'pages.signup.step_one.title' | translate }}</h1>
    <p class="intro-text">
      {{ 'pages.signup.step_one.intro' | translate}}
    </p>
    <div class="btn-area">
      <button class="btn-icon-right" routerLink="../step-two">
        <span>{{ 'pages.signup.step_one.buttons.pick_package' | translate }} 📦</span>
      </button>
    </div>
  </section>
</ng-container>
