@import '_master';
@import '_animations';

.step-wrapper {
    @extend %flex-column-center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;

    form .animated-container {
        position: relative;
        // max-height: 20px;
        animation: increase-height 1s;
        overflow: hidden;
    }

    form .animated-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
        margin: 3em auto;

        .mat-form-field {
            width: 40%;
            margin: 10px 5%;
            input, mat-select, textarea {
                padding-top: 0.5em!important;
            }
        }
    }

    .package-container {
        width: 90%;
        margin: 40px auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        mat-card {
            @extend %flex-column-center;
            width: 40%;
            padding: 5em 3em;
            
            &:first-child {
                margin-right: 3em;
            }

            &:hover, &:focus {
                cursor: pointer;
                transition: transform 300ms ease-in-out;
                transform: scale(1.1);
            }
        }
    }

    .btn-area {
        width: 100%;
        display: flex;
        justify-content: center;
        
        .btn-icon-left {
            margin-right: 4em;
        }
    }

    .step-done {
        @extend %flex-column-center;
        text-align: center;
        width: 80%;
        height: auto;
        margin: 0 auto;

        .btn-area {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .step-wrapper {
        padding: 3em 1em;
    }
}