<main class="dialog-wrapper" *ngIf="client">
  <div class="close-section">
    <button mat-icon-button class="not-mobile close-btn" (click)="closeDialog()" type="button">
      <i class="fa__icon fas fa-times"></i>
    </button>

    <button class="mobile text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> Back
    </button>
  </div>

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>Recap</ng-template>
      
      <div class="title-area">
        <h3>🧠 A quick recap</h3>
        <p class="card-text">
          Please get as much information from the client as you can, in order to make a better and more
          personal meal plan the next time.
        </p>
      </div>

      <form [formGroup]="followUpForm">
        <h6 *ngIf="!hasMealplans">
          There is no mealplan for {{ client.displayName}} yet.
        </h6>

        <mat-form-field class="mealplans" appearance="standard" floatLabel="always" *ngIf="hasMealplans">
          <mat-label>Import a mealplan you created for {{ client.displayName}}</mat-label>
          <mat-select matInput class="f-input select" placeholder="Pick a Meal plan" required
          panelClass="dropdown-regular" autocomplete="off" formControlName="mealplanID">
            <mat-option *ngFor="let mealplan of mealplans" [value]="mealplan.mID">
              {{mealplan.mealplanName}} - 
              <ng-container *ngIf="mealplan.lastEdited">
                Last edited: {{mealplan.lastEdited.toDate() | date: 'short'}}
              </ng-container>
              <ng-container *ngIf="!mealplan.lastEdited">
                Created: {{mealplan.creationDate.toDate() | date: 'short'}}
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="mat-form-field form-slider">
          <span class="label">Diet following percentage</span>
          <div class="slider">
            <mat-slider class="form-slider" [(value)]="dietFollowPercentage" thumbLabel min="0" max="100">
            </mat-slider>
            <div class="percentage-circle">
              {{dietFollowPercentage}}
              <ng-container *ngIf="!dietFollowPercentage">0</ng-container>
              <span>%</span>
            </div>
          </div>
        </div>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>What did you like most?</mat-label>
          <textarea type="text" matInput formControlName="likeMost" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].likeMost.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>What did you like least?</mat-label>
          <textarea type="text" matInput formControlName="likeLeast" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].likeLeast.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>What do you want to change and never see again?</mat-label>
          <textarea type="text" matInput formControlName="neverSeeAgain" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].neverSeeAgain.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>What would you like to see on your meal plans?</mat-label>
          <textarea type="text" matInput formControlName="mealplanPreferences" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].mealplanPreferences.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>Routine</ng-template>

      <div class="title-area">
        <h3>🚴 Routine</h3>
        <p class="card-text">
          Please get as much information from the client as you can, in order to make a better and more
          personal meal plan the next time.
        </p>
      </div>

      <form [formGroup]="followUpForm">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>How is your bowel Movement Frequency?</mat-label>
          <textarea type="text" matInput formControlName="bowelMovementFrequency" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].bowelMovementFrequency.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>How are you sleeping?</mat-label>
          <textarea type="text" matInput formControlName="sleepingHabits" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].sleepingHabits.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>How is your water intake going?</mat-label>
          <textarea type="text" matInput formControlName="waterIntake" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].waterIntake.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <section class="activities">
          <h3>The Activities</h3>
        
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>What did you think about the frequency of the activity?</mat-label>
            <textarea type="text" matInput formControlName="frequency" placeholder="Write a short summary" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].frequency.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>What did you think about the activity itself?</mat-label>
            <textarea type="text" matInput formControlName="activityType" placeholder="Write a short summary" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].activityType.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Would you like to change something?</mat-label>
            <textarea type="text" matInput formControlName="changes" placeholder="Write a short summary" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].changes.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>What did you think about the supplementation proposed?</mat-label>
            <textarea type="text" matInput formControlName="supplementation" placeholder="Write a short summary" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].supplementation.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>

        </section>

      </form>

      <section class="btn-area">
        <button class="dialog-button" matStepperPrevious>Back</button>
        <button class="dialog-button" matStepperNext>Next</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>Meals & Habits</ng-template>
      
      <div class="title-area">
        <h3>🍜 Meals and habits</h3>
        <p class="card-text">
          Please get as much information from the client as you can, in order to make a better and more
          personal meal plan the next time.
        </p>
      </div>  

      <form [formGroup]="followUpForm">
                
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Are the portion sizes ok?</mat-label>
          <textarea type="text" matInput formControlName="portionSizes" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].portionSizes.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Were you feeling hungry? </mat-label>
          <textarea type="text" matInput formControlName="hungry" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].hungry.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Are you having trouble with any of the preparations? </mat-label>
          <textarea type="text" matInput formControlName="preperationTrouble" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].preperationTrouble.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <section class="weekend-diet">
          <h3>During the weekend</h3>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>What was your sleeping schedule?</mat-label>
            <textarea type="text" matInput formControlName="sleepingSchedule" placeholder="Write a short summary" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].sleepingSchedule.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Did you eat outside?</mat-label>
            <textarea type="text" matInput formControlName="eatingOutside" placeholder="Write a short summary" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].eatingOutside.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>What about cheat meals?</mat-label>
            <textarea type="text" matInput formControlName="cheatMeals" placeholder="Write a short summary" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].cheatMeals.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always" class="number">
            <mat-label>The amount of meals you ate per day</mat-label>
            <input type="number" matInput name="mealsPerDay" formControlName="mealsPerDay" placeholder="5" autofocus="none" required>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].mealsPerDay.valid">This is <strong>required</strong></mat-error>
          </mat-form-field>
        </section>

      </form>

      <section class="btn-area">
        <button class="dialog-button" matStepperPrevious>Back</button>
        <button class="dialog-button" matStepperNext>Next</button>
      </section>

    </mat-step>

    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>Comments</ng-template>
      
      <div class="title-area">
        <h3>👀 Personal comments</h3>
        <p class="card-text">
          Please get as much information from the client as you can, in order to make a better and more
          personal meal plan the next time.
        </p>
      </div>

      <form [formGroup]="followUpForm" class="personal-form">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Subjectively, how are you feeling?</mat-label>
          <textarea type="text" matInput formControlName="howYouFeeling" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].howYouFeeling.valid && followUpForm['controls'].howYouFeeling.touched">This is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Do you have any questions?</mat-label>
          <textarea type="text" matInput formControlName="questions" placeholder="Write a short summary" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].questions.valid">This is <strong>required</strong></mat-error>
        </mat-form-field>

        <section class="specialist-notes">
          <h3>Observations Specialist</h3>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Extra notes taken by specialist</mat-label>
            <textarea type="text" matInput formControlName="specialistNotes" placeholder="Anything you noticed or is worth writing down.." 
            matTextareaAutosize autofocus="off" autocomplete="off">
            </textarea>
          </mat-form-field>
        </section>

      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>Back</button>
        <button type="submit" class="dialog-button" (click)="editFollowUpConsultation()"
          [class.disabled]="!followUpForm.valid" [disabled]="!followUpForm.valid" mat-dialog-close
          >
          Done
        </button>
      </section>
    </mat-step>

  </mat-horizontal-stepper>
</main>
