<main class="dialog-wrapper" *ngIf="client">
  <div class="close-section">
    <button mat-icon-button class="not-mobile close-btn" (click)="closeDialog()" type="button">
      <i class="fa__icon fas fa-times"></i>
    </button>

    <button class="mobile text-link close-btn" (click)="closeDialog()" type="button">
      <i class="mobile fas fa-arrow-left"></i> {{ 'global.buttons.back' | translate }}
    </button>
  </div>

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>{{ 'pages.follow_up.form.recap' | translate }}</ng-template>
      
      <div class="title-area">
        <h3>🧠 {{ 'pages.follow_up.form.recap_title' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.follow_up.form.recap_intro' | translate }}
        </p>
      </div>

      <form [formGroup]="followUpForm">
        <h6 *ngIf="!hasMealplans">
          {{ 'pages.follow_up.errors.no_mealplan_for' | translate: {name: client.displayName} }}
        </h6>

        <mat-form-field class="mealplans" appearance="standard" floatLabel="always" *ngIf="hasMealplans">
          <mat-label>{{ 'pages.follow_up.form.import_mealplan' | translate }} {{ client.displayName}}</mat-label>
          <mat-select matInput class="f-input select" formControlName="mealplanID"
            placeholder="{{ 'pages.follow_up.form.pick_a_mealplan' | translate }}"
            panelClass="dropdown-regular" autocomplete="off" required>
            <mat-option *ngFor="let mealplan of mealplans" [value]="mealplan.mID">
              {{mealplan.mealplanName}} - 
              <ng-container *ngIf="mealplan.lastEdited">
                {{ 'global.words.edited' | translate }}: {{mealplan.lastEdited.toDate() | date: 'short'}}
              </ng-container>
              <ng-container *ngIf="!mealplan.lastEdited">
                {{ 'global.words.created' | translate }}: {{mealplan.creationDate.toDate() | date: 'short'}}
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="mat-form-field form-slider">
          <span class="label">{{ 'pages.follow_up.form.diet_following' | translate }}</span>
          <div class="slider">
            <mat-slider class="form-slider" [(value)]="dietFollowPercentage" thumbLabel min="0" max="100">
            </mat-slider>
            <div class="percentage-circle">
              {{dietFollowPercentage}}
              <ng-container *ngIf="!dietFollowPercentage">0</ng-container>
              <span>%</span>
            </div>
          </div>
        </div>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.like_the_most' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="likeMost" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].likeMost.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.like_the_least' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="likeLeast" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].likeLeast.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.change_never_again' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="neverSeeAgain" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].neverSeeAgain.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.see_on_mealplans' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="mealplanPreferences" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].mealplanPreferences.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
      </form>

      <section class="btn-area-one">
        <button type="button" class="dialog-button" matStepperNext>{{ 'global.buttons.next' | translate }}</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>{{ 'pages.follow_up.form.routine' | translate }}</ng-template>

      <div class="title-area">
        <h3>🚴 {{ 'pages.follow_up.form.routine' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.follow_up.form.routine_detail' | translate }}
        </p>
      </div>

      <form [formGroup]="followUpForm">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>
            {{ 'pages.follow_up.form.bowel_freq' | translate }}
          </mat-label>
          <textarea type="text" matInput formControlName="bowelMovementFrequency" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].bowelMovementFrequency.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.sleeping_habit' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="sleepingHabits" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].sleepingHabits.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.water_intake' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="waterIntake" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].waterIntake.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>

        <section class="activities">
          <h3>{{ 'pages.guideline.general.activities' | translate }}</h3>
        
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.follow_up.form.activity_frequency' | translate }}}</mat-label>
            <textarea type="text" matInput formControlName="frequency" placeholder="{{ 'global.form.short_summary' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].frequency.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.follow_up.form.activity_opinion' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="activityType" placeholder="{{ 'global.form.short_summary' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].activityType.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.follow_up.form.change_something' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="changes" placeholder="{{ 'global.form.short_summary' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].changes.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.follow_up.form.supp_opinion' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="supplementation" placeholder="{{ 'global.form.short_summary' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].supplementation.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>

        </section>

      </form>

      <section class="btn-area">
        <button class="dialog-button" matStepperPrevious>{{ 'global.buttons.back' | translate }}</button>
        <button class="dialog-button" matStepperNext>{{ 'global.buttons.next' | translate }}</button>
      </section>
    </mat-step>

    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>{{ 'pages.follow_up.form.meals_habits' | translate }}</ng-template>
      
      <div class="title-area">
        <h3>🍜 {{ 'pages.follow_up.form.meals_habits' | translate }}}</h3>
        <p class="card-text">
          {{ 'pages.follow_up.form.meals_habits_detail' | translate }}
        </p>
      </div>  

      <form [formGroup]="followUpForm">
                
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.portion_sizes' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="portionSizes" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].portionSizes.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.feeling_hungry' | translate }}} </mat-label>
          <textarea type="text" matInput formControlName="hungry" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].hungry.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.preperation_trouble' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="preperationTrouble" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].preperationTrouble.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>

        <section class="weekend-diet">
          <h3>{{ 'pages.follow_up.form.during_weekend' | translate }}</h3>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.follow_up.form.sleeping_schedule' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="sleepingSchedule" placeholder="{{ 'global.form.short_summary' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].sleepingSchedule.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.follow_up.form.eat_outside' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="eatingOutside" placeholder="{{ 'global.form.short_summary' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].eatingOutside.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>{{ 'pages.follow_up.form.cheat_meals' | translate }}</mat-label>
            <textarea type="text" matInput formControlName="cheatMeals" placeholder="{{ 'global.form.short_summary' | translate }}" 
            matTextareaAutosize autofocus="off" autocomplete="off" required>
            </textarea>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].cheatMeals.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always" class="number">
            <mat-label>{{ 'pages.follow_up.form.meals_per_day' | translate }}</mat-label>
            <input type="number" matInput name="mealsPerDay" formControlName="mealsPerDay" placeholder="5" autofocus="none" required>
            <mat-error class="input-error" *ngIf="!followUpForm['controls'].mealsPerDay.valid">{{ 'global.errors.required' | translate }}</mat-error>
          </mat-form-field>
        </section>

      </form>

      <section class="btn-area">
        <button class="dialog-button" matStepperPrevious>{{ 'global.buttons.back' | translate }}</button>
        <button class="dialog-button" matStepperNext>{{ 'global.buttons.next' | translate }}</button>
      </section>

    </mat-step>

    <mat-step [stepControl]="followUpForm">
      <ng-template matStepLabel>{{ 'global.words.comments' | translate }}</ng-template>
      
      <div class="title-area">
        <h3>👀 {{ 'pages.follow_up.form.personal_comments' | translate }}</h3>
        <p class="card-text">
          {{ 'pages.follow_up.form.routine_detail' | translate }}
        </p>
      </div>

      <form [formGroup]="followUpForm" class="personal-form">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'pages.follow_up.form.how_you_feeling' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="howYouFeeling" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].howYouFeeling.valid && followUpForm['controls'].howYouFeeling.touched">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>{{ 'global.questions.any_questions' | translate }}</mat-label>
          <textarea type="text" matInput formControlName="questions" placeholder="{{ 'global.form.short_summary' | translate }}" 
          matTextareaAutosize autofocus="off" autocomplete="off" required>
          </textarea>
          <mat-error class="input-error" *ngIf="!followUpForm['controls'].questions.valid">{{ 'global.errors.required' | translate }}</mat-error>
        </mat-form-field>

        <section class="specialist-notes">
          <h3>{{ 'pages.follow_up.form.observation_specialist' | translate }}</h3>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>
              {{ 'pages.follow_up.form.notes_specialist' | translate }}
            </mat-label>
            <textarea type="text" matInput formControlName="specialistNotes" placeholder="{{ 'global.form.short_summary' | translate }}" 
              matTextareaAutosize autofocus="off" autocomplete="off">
            </textarea>
          </mat-form-field>
        </section>
      </form>

      <section class="btn-area">
        <button type="button" class="dialog-button" matStepperPrevious>{{ 'global.buttons.back' | translate }}</button>
        <button type="submit" class="dialog-button" (click)="editFollowUpConsultation()"
          [class.disabled]="!followUpForm.valid" [disabled]="!followUpForm.valid" mat-dialog-close>
          {{ global.buttons.done | translate }}
        </button>
      </section>
    </mat-step>

  </mat-horizontal-stepper>
</main>
