<ng-container *ngIf="food">
  <main class="specialist-wrapper" *ngIf="!editShow">

    <section class="action-toolbar-top">
      <div class="left">
        <button class="icon-button" [routerLink]="['../']">
            <i class="fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="middle">
        <h1>Package: {{food.packageID}}</h1>
      </div>
      <div class="right">
        <button class="icon-button edit-button" (click)="toggleEdit()" *ngIf="!editShow">
          <i class="fas fa-edit"></i>
        </button>
      </div>
    </section>

    <div class="package-container">

      <section class="package-controls last-package">
          <button class="slide-control-btn" (click)="linkToPrevious(package)" 
          [class.disabled]="food.packageID === 1"
          [disabled]="food.packageID === 1"
          >
              <i class="fas fa-chevron-left"></i>
          </button>
      </section>
      <section class="package-item" *ngIf="!editShow">
        <h2>{{food.packageTitle}}</h2>
        <div class="quick-facts">
          <p class="quick-fact">
            ${{food.packagePrice}} USD
          </p>
          <div class="circle-divider"></div>
          <p class="quick-fact">
            {{food.packageDuration}} 
            <span *ngIf="food.packageDuration === 1">week</span>
            <span *ngIf="food.packageDuration !== 1">weeks</span>
          </p>
        </div>
        <p class="card-text">
          {{food.packageDescription}}
        </p>
        <div class="list-container">
          <ul>
            <li *ngFor="let benefit of food.packageBenefits">
              <i class="fas fa-check"></i>
              {{benefit.benefitValue}}
            </li>
          </ul>
        </div>
      </section>
      <section class="package-controls next-package">
        <button class="slide-control-btn" (click)="linkToNext(package)"
          [class.disabled]="food.packageID === 3"
          [disabled]="food.packageID === 3"
          >
            <i class="fas fa-chevron-right"></i>
        </button>
      </section>

    </div>
  </main>

  <ng-container *ngIf="editShow">
    <app-edit-food [food]="food"></app-edit-food>
  </ng-container>

</ng-container>
  
<ng-container *ngIf="!food">
  <div class="not-available">
    <h3>😔 Woops! This food is not (yet) avaliable.</h3>
    <p>Please go back to the available foods on the foods tab.</p>
    <button class="btn-primary" [routerLink]="['../']">
      Go back
    </button>
  </div>
</ng-container>
