@import './../../../assets/scss/_master.scss';

// General
p {
    white-space: normal;
}

h5 {
    &.purple {
        color: $secondary-color;
    }
}

main.specialist-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5em 2em;
    @include respond-down($sm) {
        padding: 1em 0 2em;
    }

    .action-toolbar-top {

        button.icon-button {
            position: inherit;
            &.hidden {
                opacity: 0;
                position: relative;
                z-index: -5;
            }
        }

        h1 {
            @include respond-down($sm) {
                width: 100%;
                text-align: center;
            }
        }

        .right {
            button {
                @include respond-down($sm) {
                    margin-left: 0;
                }
            }
        }
    
    }

    .package-container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .package-controls {
            width: 15%;
            @extend %flex-center;
            @include respond-down($sm) {
                display: none;
            }
        }

        mat-card.list-item-card {
            width: 60%;
            margin: 1.5em;
            cursor: auto;
            @include respond-down($sm) {
                width: 90%;
            }

            .subtitle {
                width: 90%;
            }

            .product-photo {
                height: 250px;
                position: relative;
            }

            .middle {
                .contact-menu {
                    margin-top: 10px;
                    @include respond-down($sm) {
                        flex-flow: row nowrap;
                    }

                    li {
                        text-transform: capitalize;
                        @include  respond-down($sm) {
                            width: auto;
                            margin: 1em 2em 0.5em 0;
                        }
                    }
                }
            }

            .shopping-list-container {
                width: calc(100% + 4em);
                margin-left: -2em;
                background: $section-grey;
                padding: 2em;
                margin: 1.5em -2em 2.5em;
                box-sizing: border-box;
                h3 {
                    margin: 0 0 15px;
                    text-align: left;

                    ::ng-deep svg {
                        color: darken($section-grey, 20%);
                        font-size: 21px;
                        margin-right: 10px;
                    }
                }

                p {
                    margin: 10px 0;
                }
            }

            .list-container {
                display: flex;
                flex-flow: row nowrap;

                @include respond-down($sm) {
                    flex-flow: column wrap;
                }

                .preperations-container {
                    width: 45%;

                    @include respond-down($sm) {
                        margin: 0.5em 0;
                        width: 100%;
                    }

                    &:first-child {
                        margin-right: 5%;
                    }
                    ul {
                        li {
                            display: block;
                            margin: 1em 0;
                        }
                    }
                    &.mealtimes {
                        h4 {
                            margin-bottom: 1.5em;
                        }
                    }
                }
            }
        }
    }
}



section.btn-area {
    padding-left: 3em;

    button.text-link {
        margin: 1em 0;
        ::ng-deep svg {
            font-size: 12px;
            margin-left: 5px;
        }     
    }
}

div.not-available {
    @extend %flex-center;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}