<ng-container *ngIf="food">
  <main class="specialist-wrapper" *ngIf="!editShow">
    <section class="action-toolbar-top">
      <div class="left">
        <button class="icon-button" (click)="goBack()">
            <i class="fa__icon fas fa-arrow-left"></i>
        </button>
      </div>
      <div class="middle">
        <h1>{{ 'pages.food.product_id' | translate }}: {{food.productID}}</h1>
      </div>
      <div class="right">
        <button class="icon-button edit-button" (click)="toggleEdit()" *ngIf="!editShow && auth.adminRoles(user)">
          <i class="fa__icon fas fa-edit"></i>
        </button>
        <button class="icon-button edit-button hidden"*ngIf="!editShow && !auth.adminRoles(user)">
          <i class="fa__icon fas fa-edit"></i>
        </button>
      </div>
    </section>

    <div class="package-container">

      <section class="package-controls last-package not-mobile">
          <button class="slide-control-btn" (click)="linkToPrevious(food)" 
          [class.disabled]="food.productID === 1"
          [disabled]="food.productID === 1">
              <i class="fa__icon fas fa-chevron-left"></i>
          </button>
      </section>

      <mat-card class="list-item-card" *ngIf="food">
          <section class="product-photo" [style.background]="'url('+ food.productPhoto +')'">
          </section>
          <p class="subtitle">
            {{(food.categories.nutritionType) | translate}}
          </p>
          <section class="middle">
            <div class="title">
                <h2>{{food.productName}}</h2>
            </div>
        
            <div class="quick-info">
              <p class="speciality-title">
                {{ 'pages.food.product_id' | translate }}: {{food.productID}}</p>
              <ul class="contact-menu">
                <li>
                  <i class="fa__icon fas fa-balance-scale"></i>
                  {{(food.unit) | translate}}
                </li>
                <li>
                  <i class="fa__icon fas fa-times"></i>
                  {{food.factor}}
                </li>
                <li>
                  <i class="fa__icon fas fa-list-ul"></i>
                  {{(food.shoppingUnit) | translate}}
                </li>
              </ul>
            </div>
            <div class="shopping-list-container">
              <h3><i class="fa__icon fas fa-shopping-cart"></i>
                {{ 'pages.food.detail.shopping_list_info' | translate }}
              </h3>
              <p class="card-text">
                {{ 'pages.food.detail.shopping_list_name' | translate }}: <strong>{{food.shoppingListName}}</strong>
              </p>
              <p class="card-text">
                {{ 'pages.food.detail.shopping_list_unit' | translate }}: <strong>{{(food.shoppingUnit) | translate}}</strong>
              </p>
              <p class="card-text">
                {{ 'pages.food.general.calc_factor' | translate }}: <strong>{{food.factor}}</strong></p>
            </div>   
            <div class="list-container">
              <div class="preperations-container">
                <h4>{{ 'pages.food.general.ways_of_preperation' | translate }}</h4>
                <ul class="contact-menu">
                  <li *ngFor="let preperation of food.preperations">
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.none'" class="emoji">
                      🙅
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.cooked'" class="emoji">
                      🥘
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.cooked_spinach'" class="emoji">
                      🥬
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.sauteed_veggies'" class="emoji">
                      🍆
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.grated'" class="emoji">
                      🧀
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.steamed'" class="emoji">
                      ♨️
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.raw'" class="emoji">
                      🍣
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.whole'" class="emoji">
                      🍎
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.snacked'" class="emoji">
                      🍿
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.scrambled' || 
                                preperation.prepValue === 'pages.food.preperations.omelette' || 
                                preperation.prepValue === 'pages.food.preperations.hard_boiled'" class="emoji">
                      🍳
                    </span>
                    <span *ngIf="preperation.prepValue === 'pages.food.preperations.diced' || 
                                preperation.prepValue === 'pages.food.preperations.chopped' || 
                                preperation.prepValue === 'pages.food.preperations.sliced'" class="emoji">
                      🔪
                    </span>
                    {{preperation.prepValue | translate}}
                  </li>
                </ul>
              </div>
              <div class="preperations-container">
                <h4>
                  {{ 'pages.food.general.mostly_consumed' | translate }}
                </h4>
                <ul class="contact-menu">
                  <li *ngFor="let name of food.categories.productMealTimes">
                      <span *ngIf="name.mealTimeValue === 'global.meals.breakfast'" class="emoji">
                        🥞
                      </span>
                      <span *ngIf="name.mealTimeValue === 'global.meals.lunch'" class="emoji">
                        🥪
                      </span>
                      <span *ngIf="name.mealTimeValue === 'global.meals.dinner'" class="emoji">
                        🍝
                      </span>
                      <span *ngIf="name.mealTimeValue === 'global.meals.collation'" class="emoji">
                        🍕
                      </span>
                    {{name.mealTimeValue | translate}}
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </mat-card>
      <section class="package-controls next-package not-mobile">
        <button class="slide-control-btn" (click)="linkToNext(food)"
          [class.disabled]="food.packageID === 3"
          [disabled]="food.packageID === 3">
            <i class="fa__icon fas fa-chevron-right"></i>
        </button>
      </section>
    </div>
  </main>

  <ng-container *ngIf="editShow">
    <app-edit-food [food]="food"></app-edit-food>
  </ng-container>

</ng-container>
  
<ng-container *ngIf="!food">
  <div class="not-available">
    <h3>{{ 'pages.food.errors.not_available' | translate }}</h3>
    <p>{{ 'pages.food.errors.not_available_detail' | translate }}</p>
    <button class="btn-primary" [routerLink]="['../']">
      {{ 'global.buttons.go_back' | translate }}
    </button>
  </div>
</ng-container>
