<ng-container *ngIf="!editActive">
  <mat-card class="review-card" *ngIf="review">
    <button class="edit-btn delete" (click)="deleteReviewDialog(review)" *ngIf="auth.adminRoles(user)">
      <i class="fa__icon far fa-trash-alt"></i>
    </button>
    <button class="edit-btn" (click)="openEditDialog(review, specialist)" *ngIf="auth.adminRoles(user)">
      <i class="fa__icon far fa-edit"></i>
    </button>
    <section class="introduction">
        <div *ngIf="review.reviewerPhoto" class="profile-pic-bubble" [style.backgroundImage]="'url('+ review.reviewerPhoto +')'"></div>
        <div *ngIf="!review.reviewerPhoto" class="profile-pic-bubble no-pic" [style.backgroundImage]="none">
          <i class="fa__icon fas fa-sad-tear"></i>
          <p class="card-text">No photo</p>
        </div>
        <h2>{{review.reviewerName}}</h2>
        <p class="card-text">Country: {{review.reviewerCountry}}</p>
        <p class="card-text">Created at {{review.createdAt.toDate() | date: 'MM/dd/yy'}}</p>
    </section>
    <section class="review-text">
      <p class="card-text" [class.opened]="textOpened">
        {{review.reviewText}}
      </p>
    </section>
    <button class="icon-btn" type="button" (click)="toggleReviewText()" [class.opened]="textOpened">
      <p *ngIf="!textOpened">
        <i class="fa__icon fa fa-chevron-down"></i>
      </p>
      <p *ngIf="textOpened">
        <i class="fa__icon fa fa-chevron-up"></i>
      </p>
    </button>
  </mat-card>
</ng-container>
