<form class="day-form"  [formGroup]="mondayMealForm">
  <h3>🥜 Monday Meals for {{userData.displayName}}</h3>
  <p class="intro-text">
    Add ingredients and meals to the meal times you specified earlier. Add a maximum of 2 meals per meal time.
  </p>

  <ng-container *ngIf="mealTimes">
  <div class="time-container" *ngIf="mealTimes.controls[0] as time">
    <section class="header">
      <div class="title">
        <h4 class="not-filled" *ngIf="!time.value.mealTimeName">
          This meal doesn't contain a meal time yet..
        </h4>
        <h4 class="not-filled" *ngIf="time.value.mealTimeName">
          {{time.value.mealTimeName}}
        </h4>
      </div>
      <h5 class="time" *ngIf="time.value.mealTime">
        <i class="far fa-clock"></i>
        {{time.value.mealTime}}
      </h5>
      <h5 class="time" *ngIf="!time.value.mealTime">
        <i class="far fa-clock"></i>
        hh.mm
      </h5>
    </section>

    <div class="add-form-field-container meals">
      <div class="meals__title">
        <h1>01</h1>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>The title of the meal</mat-label>
          <input class="f-input" type="text" matInput formControlName="mOneMealOneTitle" name="mealTitle" placeholder="Name the meal based on the products" 
          autofocus="none">
          <!-- <mat-error class="input-error" *ngIf="!mondayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
        </mat-form-field>
      </div>

      <div class="add-form-field-container" formArrayName="mOneMealOneArr">
        <section class="chip-container" *ngFor="let food of mOneMealOneForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always" >
            <mat-select matInput class="f-input select" placeholder="Pick a Product" (selectionChange)="checkArray()"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mOneMealOneForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!mondayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.portion.unit}}</span>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(11, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(11);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="add-form-field-container meals" *ngIf="mOneMealTwoShow">
        <div class="meals__title">
          <h1>02</h1>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>The title of the meal</mat-label>
            <input class="f-input" type="text" matInput formControlName="mOneMealTwoTitle" name="mealTitle" placeholder="Name the meal based on the products" 
            autofocus="none">
            <!-- <mat-error class="input-error" *ngIf="!mondayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
        </div>

      <div class="add-form-field-container" formArrayName="mOneMealTwoArr">
        <section class="chip-container" *ngFor="let food of mOneMealTwoForms.controls; let i=index" 
        [formGroupName]="i">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-select matInput class="f-input select" placeholder="Pick a Product" [(value)]="selectedProduct"
            panelClass="dropdown-regular" autocomplete="off" formControlName="product" required>
              <mat-option *ngFor="let product of foods" [value]="product"> {{product.productName}}</mat-option>
            </mat-select>
            <!-- <mat-error class="input-error" *ngIf="!mealTimeID.touched">This is <strong>required</strong></mat-error> -->
          </mat-form-field>
          <div class="unit" *ngIf="mOneMealTwoForms.controls[i].value.product as prodObj">
            <mat-form-field appearance="standard" floatLabel="always">
              <input class="f-input" type="number" matInput formControlName="amount" name="amount" placeholder="0" 
              autofocus="none">
              <!-- <mat-error class="input-error" *ngIf="!mondayForm['controls'].mealTitle.valid">This is <strong>required</strong></mat-error> -->
            </mat-form-field>
            <span>{{prodObj.portion.unit}}</span>
          </div>
          <button type="button" mat-icon-button type="button" class="icon-btn" (click)="deleteProduct(12, i);">
            <i class="fas fa-ban"></i>
          </button>
        </section>
        <button type="button" *ngIf="showAddProduct" class="add-chip" (click)="addProduct(12);">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="btn-area">
      <button type="button" *ngIf="!mOneMealTwoShow" class="add-form-field" (click)="mOneMealTwoShow = true">
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        Add a second Meal
      </button>

      <button type="button" *ngIf="mOneMealTwoShow" class="add-form-field" (click)="mOneMealTwoShow = false">
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
        Remove the second Meal
      </button>
    </div>
  </div> <!-- End Timecontainer -->
</ng-container>
</form>