<section class="admin-menu">
    <div class="title-container">
      <h5 class="sidebar-title" [class.active]="!linksOpened">
        Specialist
      </h5>
      <section class="btn-area">
        <button type="button" (click)="toggle()" *ngIf="linksOpened">
          <i class="fas fa-minus"></i>Hide
        </button>
        <button type="button" (click)="toggle()" *ngIf="!linksOpened">
          <i class="fas fa-plus"></i>Show
        </button>
      </section>

    </div>
    <ul class="link-container" [@openClose]="linksOpened ? 'open' : 'closed'">
      <li>
        <a (click)="closeMenu()" class="menu-link" routerLink="my-clients" routerLinkActive="active">
          <i class="fas fa-user-tie"></i>
          My Clients
        </a>
      </li>
      <li>
        <a (click)="closeMenu()" class="menu-link" routerLink="guidelines" routerLinkActive="active">
          <i class="far fa-file-alt"></i>
          My Guidelines
        </a>
      </li>
      <li>
        <a (click)="closeMenu()" class="menu-link" routerLink="mealplans" routerLinkActive="active">
          <i class="fas fa-weight"></i>
          My Mealplans
        </a>
      </li>
      <li>
        <a (click)="closeMenu()" class="menu-link" routerLink="my-reviews" routerLinkActive="active">
          <i class="far fa-star"></i>
          My Reviews
        </a>
      </li>
      <li>
        <a (click)="closeMenu()" class="menu-link" routerLink="my-calendar" routerLinkActive="active">
          <i class="fas fa-calendar-alt"></i>
          My Appointments
        </a>
      </li>
    </ul>
  </section>
